.basic_list {
	@include padded_xl_bottom;

	position: relative;

	margin-top: 50px;

	@media #{$min_md} {
		margin-top: 75px;
	}
}

.basic_list_nav {}

.basic_list_link {
	@include button_plain;

	display: block;

	@media #{$min_sm} {
		display: inline-block;
		margin-right: 35px;	
	}
}

.basic_list_link_label {

	.page_layout_cover & {
		color: #fff;
	}
}

.basic_list_link_icon {

	.page_layout_cover &:not(svg) {
		color: $yellow;
	}
}