@mixin theme_now() {

	@each $label, $color in $theme_colors {

		.theme_#{$label} {

			.now_caption {

				strong {

					@media #{$max_lg} {
						border-bottom-color: $color;
					}

					&:after {

						@media #{$min_lg} {
							background: $color;
						}
					}
				}
			}

			.now_item_figure {

				&:before,
				&:after {
					background: $color;
				}
			}
		}
	}
}

.now {
	@include padded_lg_top;
	@include padded_xl_bottom;
	@include theme_now;

	background: #fff;
	overflow: hidden;

	&.theme_sky {
		background: #F5F7F9;
	}
}

.now_header {
	margin-bottom: 19px;

	@media #{$min_lg} {
		margin-bottom: 77px;
	}
}

.now_header_inner {

	@media #{$min_lg} {
		max-width: 600px;

		margin: 0 auto;
		text-align: center;
	}
}

.now_label {
	@include u(500);

	color: $navy;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 1.8px;
	margin-bottom: 7px;
	text-transform: uppercase;

	@media #{$min_lg} {
		font-size: 15px;
		margin-bottom: 12px;
	}
}

.now_title {
	@include m(700);

	color: $dark;
	font-size: 22px;
	line-height: (33 / 22);
	margin: 0;

	@media #{$min_md} {
		font-size: 28px;
		line-height: (40 / 28);
	}

	@media #{$min_lg} {
		font-size: 34px;
		line-height: (48 / 34);
	}
}

.now_inner {
	position: relative;
}

.now_items {
	padding-top: 50px;

	@media print {
		min-height: inherit !important;
	}

	@media #{$min_lg} {
		width: 50%;

		align-items: center;
		display: flex;
		padding-top: 0;
		padding-right: 60px;
	}

	@media #{$min_xl} {
		padding-right: 120px;
	}

	.fs-carousel-pagination {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.now_item {
	width: 100%;
	
	margin-right: 10px;

	@media #{$min_lg} {
		border-bottom: 1px solid #EAE5DF;
	}

	&:last-child {
		
		@media #{$min_lg} {
			border-bottom: 0;
		}
	}
}

.now_item_figure {
	margin-bottom: 15px;

	@media print {
		display: none;
	}

	@media #{$min_lg} {
		width: 50%;

		position: absolute;
		top: 50%;
		left: 50%;
		
		pointer-events: none;
		transform: translate(0, -50%);
	}

	&:before,
	&:after {

		@media #{$min_lg} {
			height: 100%;

			position: absolute;
			left: 0;
			z-index: 8;

			background: $navy;
			content: "";
			transform-origin: left center;
			transition: transform .5s;
		}
	}

	&:before {

		@media #{$min_lg} {
			width: 16px;

			top: 50%;

			margin-left: -8px;
			transform:
				translate(0, -50%)
				scaleY(0);
		}
	}

	&:after {

		@media #{$min_lg} {
			width: 100%;

			top: 0;

			transform: 
				translate(0, 0)
				scaleX(0);
		}

		.is-ie & {
			display: none;
		}
	}

	.active & {

		@media #{$min_lg} {
			z-index: 8;
		}

		&:before {
			transform:
				translate(0, -50%)
				scaleY(.85);
		}

		&:after {
			animation: wipe-right .5s forwards;
		}
	}
}

@keyframes wipe-right {

	50% {
		transform: 
			translate(0, 0)
			scaleX(1);
	}

	100% {
		transform: 
			translate(100%, 0)
			scaleX(1);
	}
}

.now_item_image {
	width: 100%;

	display: block;

	@media #{$min_lg} {
		opacity: 0;
		transition: opacity .25s .15s;
	}

	.active & {
		
		@media #{$min_lg} {
			opacity: 1;
		}
	}
}

.now_body {
	display: block;

	@media #{$max_lg} {
		opacity: 0;
		transition: opacity .25s;
	}

	@media #{$min_lg} {
		padding: 43px 0 42px;
	}

	.fs-carousel-visible & {

		@media #{$max_lg} {
			opacity: 1;
		}
	}
}

.now_caption {
	@include u(300);

	color: $dark;
	display: inline;
	font-size: 18px;
	line-height: (30 / 18);

	@media #{$min_md} {
		font-size: 20px;
		line-height: (34 / 20);
	}

	@media #{$min_xl} {
		font-size: 24px;
		line-height: (38 / 24);
	}
	
	strong {
		@include u(700);

		position: relative;

		border-bottom: 2px solid transparent;
		transition:
			border .25s,
			color .25s;

		@media #{$max_lg} {
			color: $blue;
		}

		&:after {
			
			@media #{$min_lg} {
				height: 2px;
				width: 100%;

				position: absolute;
				bottom: 0;
				left: 0;

				content: "";
				transform: scaleX(0);
				transform-origin: left center;
				transition: transform .25s;
			}
		}

		.now_item:focus &,
		.now_item:hover & {
			
			@media #{$min_lg} {
				color: $blue;
			}

			&:after {

				@media #{$min_lg} {
					transform: scaleX(1);
				}
			}
		}
	}
}

.now_icon {
	position: relative;
	top: -2px;
	
	color: $blue;
	display: inline-block;
	vertical-align: middle;
	
	@media #{$min_lg} {
		opacity: 0;
		transition: opacity .25s;
	}

	.now_item:focus &,
	.now_item:hover & {
		
		@media #{$min_lg} {
			opacity: 1;
		}
	}
}