<!DOCTYPE html>
<html class="no-js" lang="en" itemscope="" itemtype="http://schema.org/WebPage">

	
					
	
		
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<title>HTML Elements | Trinity College</title>
		<meta name="description" content="">

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
		<!-- G+ & Facebook -->
		<meta property="og:title" content="HTML Elements">
		<meta property="og:type" content="website">
		<meta property="og:image" content="//www.trincoll.edu/images/og-image.jpg">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="og:description" content="">
		<meta property="og:site_name" content="Trinity College">

		
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

		
		<link rel="stylesheet" href="../../css/site.css">

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-57MQD6L');</script>
		<!-- End Google Tag Manager -->
	</head>

	<body class="preload fs-grid page_layout_style-guide">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-57MQD6L"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

							
							
							
							
							
							
							
							
							
							
		
		
		<!-- Skip-to-Content Link -->
		<a class="skip_link" id="skip_to_content" href="#main_content">Skip to Main Content</a>

		
		<!-- Page Wrapper -->
		<div class="page_wrapper">
			
			<!-- Page -->
			<div class="page_inner">
				<!-- Page Feature -->
				<div class="page_feature">
														</div>
				<!-- END: Page Feature -->

								<!-- Page Header -->
								<div class="page_header">
										<div class="page_header_inner">
						<div class="fs-row">
							<!-- Main Content -->
							<div class="fs-cell fs-lg-11 fs-xl-10 fs-xl-push-1 content_wrapper">
								<div class="page_header_body">
									<a class="page_back" href="#">
										<span class="page_back_icon"><svg class="icon icon_back">
	<use xlink:href="../../images/icons.svg#back"></use>
</svg>
</span>
										<span class="page_back_label">Back to Master Sub</span>
									</a>

																		<h1 class="page_title">HTML Elements</h1>
									
									
																			

	
<nav class="sub_nav " aria-label="In This Section" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="sub_nav_header">
		<h2 class="sub_nav_title">In This Section</h2>
	</div>
	<button class="js-swap js-sub-nav-handle sub_nav_handle" data-swap-target=".sub_nav_list" data-swap-title="In This Section" aria-haspopup="true" aria-expanded="false">
		<span class="sub_nav_handle_label">In This Section</span>
		<span class="sub_nav_handle_icon sub_nav_handle_icon_open"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
	</button>
	<div class="js-sub-nav-list sub_nav_list">
				<div class="sub_nav_item">
			<a class="sub_nav_link" href="../" itemprop="url">
				<span class="sub_nav_link_label" itemprop="name">Sitemap</span>
			</a>
					</div>
				<div class="sub_nav_item">
			<a class="sub_nav_link" href="dev-feature.html" itemprop="url">
				<span class="sub_nav_link_label" itemprop="name">Page Feature Components</span>
			</a>
					</div>
				<div class="sub_nav_item">
			<a class="sub_nav_link" href="dev-full-width.html" itemprop="url">
				<span class="sub_nav_link_label" itemprop="name">Full Width Components</span>
			</a>
					</div>
				<div class="sub_nav_item">
			<a class="sub_nav_link" href="dev-in-content.html" itemprop="url">
				<span class="sub_nav_link_label" itemprop="name">In Content Components</span>
			</a>
					</div>
				<div class="sub_nav_item">
			<a class="sub_nav_link" href="dev-sidebar.html" itemprop="url">
				<span class="sub_nav_link_label" itemprop="name">Sidebar Components</span>
			</a>
					</div>
				<div class="sub_nav_item">
			<a class="sub_nav_link" href="dev-html.html" itemprop="url">
				<span class="sub_nav_link_label" itemprop="name">HTML Elements</span>
			</a>
					</div>
			</div>
</nav>
									
																										</div>
							</div>
						</div>
					</div>
														</div>
								<!-- END: Page Header -->
				
				<!-- Page Content -->
				<div class="page_content">
											<div class="fs-row">
							<!-- Main Content -->
							<div class="fs-cell fs-lg-11 fs-xl-9 fs-xl-push-1 content_wrapper">
								<main class="main_content" id="main_content" itemprop="mainContentOfPage">
									<!-- WYSIWYG - wrap all WYSIWYG text areas in `.typography` -->
									<div class="typography">
											<div class="crl_type">
	<h2>Type</h2>

	<!-- Type Styles -->
	<div class="cr_heading">Headings</div>

	<!-- Headings -->
	<h1>H1 Crass Viverra Ante Vitate Dictum</h1>

	<div class="intro">
		<p>Cras viverra ante vitae dictum vestibulum. Nam placerat nulla eu dolor scelerisque mattis et in diam. Quisque tempor ullamcorper odio sit amet vestibulum.</p>
	</div>

	<h2>H2 Crass Viverra Ante Vitate Dictum</h2>

	<p>Cras viverra ante vitae dictum vestibulum. Nam <a href="#">placerat</a> nulla eu dolor scelerisque mattis et in diam. Quisque tempor <a href="#">ullamcorper</a> odio sit amet vestibulum. Praesent cursus tellus nunc, ut venenatis lacus scelerisque sed. Pellentesque mi risus, ultrices id fringilla non, sodales non mi. In feugiat lorem id efficitur euismod.</p>

	<p>Praesent elit nibh, mattis ut faucibus eu, varius et felis. Integer ex nulla, semper in mauris a, malesuada consectetur tellus. Nullam sit amet felis odio. Nunc venenatis condimentum mi, vitae sodales sapien congue at. Nam convallis orci eget elit rhoncus, quis euismod Sed laoreet nulla eu posuere luctus. Maecenas libero ligula.</p>

	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>

	<h3>H3 Crass Viverra Ante Vitate Dictum</h3>

	<p>Praesent elit nibh, mattis ut faucibus eu, varius et felis. Integer ex nulla, semper in mauris a, malesuada consectetur tellus. Nullam sit amet felis odio. Nunc venenatis condimentum mi, vitae sodales sapien congue at. Nam convallis orci eget elit rhoncus, quis euismod Sed laoreet nulla eu posuere luctus. Maecenas libero ligula.</p>

	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>

	<h4>H4 Crass Viverra Ante Vitate Dictum</h4>

	<p>Praesent elit nibh, mattis ut faucibus eu, varius et felis. Integer ex nulla, semper in mauris a, malesuada consectetur tellus. Nullam sit amet felis odio. Nunc venenatis condimentum mi, vitae sodales sapien congue at. Nam convallis orci eget elit rhoncus, quis euismod Sed laoreet nulla eu posuere luctus. Maecenas libero ligula.</p>

	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>

	<h5>H5 Crass Viverra Ante Vitate Dictum</h5>

	<p>Praesent elit nibh, mattis ut faucibus eu, varius et felis. Integer ex nulla, semper in mauris a, malesuada consectetur tellus. Nullam sit amet felis odio. Nunc venenatis condimentum mi, vitae sodales sapien congue at. Nam convallis orci eget elit rhoncus, quis euismod Sed laoreet nulla eu posuere luctus. Maecenas libero ligula.</p>

	<h6>H6 Crass Viverra Ante Vitate Dictum</h6>

	<p>Praesent elit nibh, mattis ut faucibus eu, varius et felis. Integer ex nulla, semper in mauris a, malesuada consectetur tellus. Nullam sit amet felis odio. Nunc venenatis condimentum mi, vitae sodales sapien congue at. Nam convallis orci eget elit rhoncus, quis euismod Sed laoreet nulla eu posuere luctus. Maecenas libero ligula.</p>

	<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>

	<figure class="block_right">
		<img class="test_image" src="//images.fastspot.com/trinity-redesign/740x416/1" alt="image">

		<figcaption>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue.</figcaption>
	</figure>

	<p>Praesent elit nibh, mattis ut faucibus eu, varius et felis. Integer ex nulla, semper in mauris a, malesuada consectetur tellus. Nullam sit amet felis odio. Nunc venenatis condimentum mi, vitae sodales sapien congue at. Nam convallis orci eget elit rhoncus, quis euismod Sed laoreet nulla eu posuere luctus. Maecenas libero ligula.</p>

	<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>

	<p>Praesent elit nibh, mattis ut faucibus eu, varius et felis. Integer ex nulla, semper in mauris a, malesuada consectetur tellus. Nullam sit amet felis odio. Nunc venenatis condimentum mi, vitae sodales sapien congue at. Nam convallis orci eget elit rhoncus, quis euismod Sed laoreet nulla eu posuere luctus. Maecenas libero ligula.</p>

	<figure class="block_left">
		<img class="test_image" src="//images.fastspot.com/trinity-redesign/740x416/2" alt="image">

	</figure>

	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor.</p>

	<p>Praesent elit nibh, mattis ut faucibus eu, varius et felis. Integer ex nulla, semper in mauris a, malesuada consectetur tellus. Nullam sit amet felis odio. Nunc venenatis condimentum mi, vitae sodales sapien congue at. Nam convallis orci eget elit rhoncus, quis euismod Sed laoreet nulla eu posuere luctus. Maecenas libero ligula.</p>

	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor.</p>

	<figure class="block_center">
		<img class="test_image" src="//images.fastspot.com/trinity-redesign/980x552/1" alt="image">

		<figcaption>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue.</figcaption>
	</figure>

	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor.</p>

	<!-- Blockquote - WYSIWYG -->
	<div class="cr_heading">WYSIWYG Blockquote</div>

	<blockquote>
		<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper.</p>
	</blockquote>

	<div class="cr_heading">WYSIWYG Blockquote Template</div>

	<figure class="quote">
		<blockquote class="quote_content">
			<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper.</p>
		</blockquote>
		<figcaption class="quote_caption">
			<span class="quote_caption_name">Aenean massa - </span><span class="quote_caption_title">Nullam dictum felis</span>
		</figcaption>
	</figure>

	<div class="cr_heading">Lists</div>

	<!-- Unordered List -->
	<ul>
		<li><strong>Morbi leo risus</strong>, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </li>
		<li><strong>Porta ac consectetur ac</strong>, vestibulum at eros. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
		<li>
			<strong>Cum sociis natoque penatibus</strong> et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.
			<ul>
				<li>Donec ullamcorper nulla non metus auctor fringilla.</li>
				<li>Donec id elit non mi porta gravida at eget metus.</li>
				<li>
					Morbi leo risus, porta ac consectetur ac, vestibulum at eros
					<ul>
						<li>Donec id elit non mi porta gravida at eget metus.</li>
						<li>Morbi leo risus, porta ac consectetur ac, vestibulum at eros</li>
					</ul>
				</li>
			</ul>
		</li>
		<li><strong>Vestibulum at eros.</strong> Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
	</ul>

	<!-- Ordered List -->
	<ol>
		<li><strong>Morbi leo risus</strong>, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </li>
		<li><strong>Porta ac consectetur ac</strong>, vestibulum at eros. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
		<li>
			<strong>Cum sociis natoque penatibus</strong> et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.
			<ul>
				<li>Donec ullamcorper nulla non metus auctor fringilla.</li>
				<li>Donec id elit non mi porta gravida at eget metus.</li>
				<li>
					Morbi leo risus, porta ac consectetur ac, vestibulum at eros
					<ul>
						<li>Donec id elit non mi porta gravida at eget metus.</li>
						<li>Morbi leo risus, porta ac consectetur ac, vestibulum at eros</li>
					</ul>
				</li>
			</ul>
		</li>
		<li><strong>Vestibulum at eros.</strong> Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
	</ol>

	<div class="cr_heading">Tables</div>

	<!-- Table -->
			<table class="">
	<thead>
		<tr>
						<th>Colors</td>
						<th>Shapes</td>
						<th>Numbers</td>
						<th>Percentages</td>
					</tr>
	</thead>
	<tbody>
				<tr>
						<td>Black</td>
						<td>Circle</td>
						<td>One</td>
						<td>10% of Lorem ipsum dolor sit amet, consectetur.</td>
					</tr>
				<tr>
						<td>Blue</td>
						<td>Square</td>
						<td>Two</td>
						<td>33% of Donec ullamcorper nulla non metus auctor.</td>
					</tr>
				<tr>
						<td>Green</td>
						<td>Triangle</td>
						<td>Three</td>
						<td>5% of Integer posuere erat a ante venenatis.</td>
					</tr>
				<tr>
						<td>Red</td>
						<td>Rectangle</td>
						<td>Four</td>
						<td>90% of Aenean eu leo quam vestibulum.</td>
					</tr>
				<tr>
						<td>White</td>
						<td>Oval</td>
						<td>Five</td>
						<td>100% of Cum sociis natoque penatibus et mus.</td>
					</tr>
			</tbody>
</table>

			<table class="">
	<thead>
		<tr>
						<th>Colors</td>
						<th>Shapes</td>
						<th>Numbers</td>
						<th>Percentages</td>
					</tr>
	</thead>
	<tbody>
				<tr>
						<td>Black</td>
						<td>Circle</td>
						<td>One</td>
						<td>10% of Lorem ipsum dolor sit amet, consectetur.</td>
					</tr>
				<tr>
						<td>Blue</td>
						<td>Square</td>
						<td>Two</td>
						<td>33% of Donec ullamcorper nulla non metus auctor.</td>
					</tr>
				<tr>
						<td>Green</td>
						<td>Triangle</td>
						<td>Three</td>
						<td>5% of Integer posuere erat a ante venenatis.</td>
					</tr>
				<tr>
						<td>Red</td>
						<td>Rectangle</td>
						<td>Four</td>
						<td>90% of Aenean eu leo quam vestibulum.</td>
					</tr>
				<tr>
						<td>White</td>
						<td>Oval</td>
						<td>Five</td>
						<td>100% of Cum sociis natoque penatibus et mus.</td>
					</tr>
			</tbody>
</table>

	</div>

	<div class="typography">
	<h2>Forms</h2>
	<form action="#" class="form-builder" style="margin: 50px 0;">
		<fieldset>
			<h5>Text Field</h5>
			<div class="form_column">
				<div class="input_wrapper">
	<input class="input_field" type="email" id="email_address"  aria-label="" />
	<label class="input_label" for="email_address">Email Address</label>
</div>

			</div>
		</fieldset>
		<fieldset>
			<h5>Comment</h5>
			<div class="form_column">
				<div class="textarea_wrapper">
	<textarea class="textarea_field" id="comments"></textarea>
	<label class="textarea_label" for="comments">Comments</label>
</div>

			</div>
		</fieldset>
		<fieldset>
			<div class="form_column_2">
				<div class="choices_wrapper">
				<label class="choices_label" for="option_one">
		<input class="js-checkbox choices_field" type="checkbox" name="" id="option_one" value="Option One">
		<span class="choices_name">Option One</span>
		</label>
				<label class="choices_label" for="option_two">
		<input class="js-checkbox choices_field" type="checkbox" name="" id="option_two" value="Option Two">
		<span class="choices_name">Option Two</span>
		</label>
				<label class="choices_label" for="option_three">
		<input class="js-checkbox choices_field" type="checkbox" name="" id="option_three" value="Option Three">
		<span class="choices_name">Option Three</span>
		</label>
	</div>

				<div class="choices_wrapper">
				<label class="choices_label" for="option_one">
		<input class="js-radio choices_field" type="radio" name="" id="option_one" value="Option One">
		<span class="choices_name">Option One</span>
		</label>
				<label class="choices_label" for="option_two">
		<input class="js-radio choices_field" type="radio" name="" id="option_two" value="Option Two">
		<span class="choices_name">Option Two</span>
		</label>
				<label class="choices_label" for="option_three">
		<input class="js-radio choices_field" type="radio" name="" id="option_three" value="Option Three">
		<span class="choices_name">Option Three</span>
		</label>
	</div>

			</div>
		</fieldset>
		<fieldset>
			<div class="form_column">
				<label for="dropdown">Select</label>
				<select id="dropdown">
					<option value="1">Pharetra Quam</option>
					<option value="2">Magna Vulputate</option>
					<option value="3">Condimentum</option>
					<option value="4">Magna Tellus Cras</option>
					<option value="5">Sit Ridiculus</option>
				</select>
			</div>
		</fieldset>
		<fieldset>
			<h5>Name</h5>
			<div class="form_column_2">
				<div class="input_wrapper">
	<input class="input_field" type="text" id="first_name"  placeholder="First Name" aria-label="" />
	<label class="input_label" for="first_name">First Name</label>
</div>

				<div class="input_wrapper">
	<input class="input_field" type="text" id="last_name"  placeholder="Last Name" aria-label="" />
	<label class="input_label" for="last_name">Last Name</label>
</div>

			</div>
		</fieldset>
		<fieldset>
			<h5>Date</h5>
			<div class="form_column_flex">
				<div class="input_wrapper">
	<input class="input_field" type="number" id="mm"  aria-label="" />
	<label class="input_label" for="mm">MM</label>
</div>

				<div class="input_wrapper">
	<input class="input_field" type="number" id="dd"  aria-label="" />
	<label class="input_label" for="dd">DD</label>
</div>

				<div class="input_wrapper">
	<input class="input_field" type="number" id="yyyy"  aria-label="" />
	<label class="input_label" for="yyyy">YYYY</label>
</div>

			</div>
		</fieldset>
		<fieldset>
			<h5>Address</h5>
			<div class="form_column">
				<div class="input_wrapper">
	<input class="input_field" type="text" id="street_address"  placeholder="Street Address" aria-label="" />
	<label class="input_label" for="street_address">Street Address</label>
</div>

			</div>
			<div class="form_column_2">
				<div class="input_wrapper">
	<input class="input_field" type="text" id="street_address_line_1"  placeholder="Street Address Line 1" aria-label="" />
	<label class="input_label" for="street_address_line_1">Street Address Line 1</label>
</div>

				<div class="input_wrapper">
	<input class="input_field" type="text" id="city"  placeholder="City" aria-label="" />
	<label class="input_label" for="city">City</label>
</div>

			</div>
			<div class="form_column_2">
				<div class="input_wrapper">
	<input class="input_field" type="text" id="state_/_province_/_region"  placeholder="State / Province / Region" aria-label="" />
	<label class="input_label" for="state_/_province_/_region">State / Province / Region</label>
</div>

				<div class="input_wrapper">
	<input class="input_field" type="text" id="postal_/_zip_code"  placeholder="Postal / Zip Code" aria-label="" />
	<label class="input_label" for="postal_/_zip_code">Postal / Zip Code</label>
</div>

			</div>
		</fieldset>
		<fieldset>
			<h5>Phone Number</h5>
			<div class="form_column_flex">
				<div class="input_wrapper">
	<input class="input_field" type="number" id="###"  aria-label="" />
	<label class="input_label" for="###">###</label>
</div>

				<div class="input_wrapper">
	<input class="input_field" type="number" id="###"  aria-label="" />
	<label class="input_label" for="###">###</label>
</div>

				<div class="input_wrapper">
	<input class="input_field" type="number" id="####"  aria-label="" />
	<label class="input_label" for="####">####</label>
</div>

			</div>
		</fieldset>
		<fieldset>
			<input type="submit" value="Submit">
		</fieldset>
	</form>
</div>
									</div>
									<!-- END: WYSIWYG -->

																		
									<!-- In Content Callouts -->
									<div class="in_content_callouts">
																													</div>
									<!-- END: In Content Callouts -->
								</main>
							</div>
							<!-- END: Main Content -->
						</div>
					
					<!-- Full Width Callouts -->
					<div class="full_width_callouts">
																	</div>
					<!-- END: Full Width Callouts -->
				</div>
				<!-- END: Page Content -->
			</div>
			<!-- END: Page -->

					</div>
		<!-- END: page_wrapper -->

		<div class="js-mobile-sidebar mobile_sidebar" id="mobile_sidebar" tabindex="-1">
			

<div class="site_search site_search_sm" id="site_search_sm" itemscope itemtype="http://schema.org/WebSite" role="search">
	<meta itemprop="url" content="http://www.trincoll.edu">
	<form class="site_search_form" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
		<meta itemprop="target" content="http://www.trincoll.edu/static/templates/page-search.html?q={search_term_string_sm}">
		<label class="site_search_label" for="search_term_string_sm">Search</label>
		<input aria-live="polite" class="site_search_input" itemprop="query-input" type="search" id="search_term_string_sm" name="search_term_string_sm" placeholder="Search by keyword">
		<button class="site_search_button" type="submit" title="submit" aria-label="submit">
			<span class="site_search_button_label">Submit Search Query</span>
			<span class="site_search_button_icon"><svg class="icon icon_search">
	<use xlink:href="../../images/icons.svg#search"></use>
</svg>
</span>
		</button>
	</form>
</div>

			

<nav class="js-main-nav js-main-nav-sm main_nav main_nav_sm" aria-label="Mobile Site Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="main_nav_list" role="navigation">
				<div class="js-main-nav-item-1 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">Admissions & Aid</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-1" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
				<div class="js-main-nav-item-2 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">Academics</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
				<div class="js-main-nav-item-3 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">Student Life</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-3" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
				<div class="js-main-nav-item-4 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">About</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-4" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
				<div class="js-main-nav-item-5 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">Athletics</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-5" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
			</div>
</nav>

			

<nav class="secondary_nav secondary_nav_sm" aria-label="Mobile Secondary Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="secondary_nav_list" role="navigation">
				<div class="secondary_nav_item">
			<a class="secondary_nav_link arrow_right" href="#" itemprop="url">
								<span class="secondary_nav_link_icon"><svg class="icon icon_arrow_right">
	<use xlink:href="../../images/icons.svg#arrow_right"></use>
</svg>
</span>
								<span class="secondary_nav_link_label" itemprop="name">News</span>
			</a>
					</div>
				<div class="secondary_nav_item">
			<a class="secondary_nav_link arrow_right" href="#" itemprop="url">
								<span class="secondary_nav_link_icon"><svg class="icon icon_arrow_right">
	<use xlink:href="../../images/icons.svg#arrow_right"></use>
</svg>
</span>
								<span class="secondary_nav_link_label" itemprop="name">Events</span>
			</a>
					</div>
			</div>
</nav>

			

<nav class="utility_nav utility_nav_sm" aria-label="Utility Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="utility_nav_list" role="navigation">
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Apply</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Visit</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Contact</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Give</span>
			</a>
					</div>
			</div>
</nav>
		</div>

		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../";
		</script>
		<script src="../../js/site.js"></script>

		
				<!-- Grid Bookmarklet -->
		<script>
			(function(){if(typeof FSGridBookmarklet==='undefined'){document.body.appendChild(document.createElement('script')).src='//formstone.it/js/bookmarklet/grid.js';}else{FSGridBookmarklet();}} )();
		</script>
			</body>
</html>