<!DOCTYPE html>
<html class="no-js" lang="en" itemscope="" itemtype="http://schema.org/WebPage">

	
					
	
		
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<title>Life On Campus | Trinity College</title>
		<meta name="description" content="">

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
		<!-- G+ & Facebook -->
		<meta property="og:title" content="Life On Campus">
		<meta property="og:type" content="website">
		<meta property="og:image" content="//www.trincoll.edu/images/og-image.jpg">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="og:description" content="">
		<meta property="og:site_name" content="Trinity College">

		
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

		
		<link rel="stylesheet" href="../../css/site.css">

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-57MQD6L');</script>
		<!-- End Google Tag Manager -->
	</head>

	<body class="preload fs-grid page_layout_default page_theme_image">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-57MQD6L"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

							
							
							
							
							
							
							
							
							
							
		
		
		<!-- Skip-to-Content Link -->
		<a class="skip_link" id="skip_to_content" href="#main_content">Skip to Main Content</a>

					

<section class="js-alert alert" role="alert" data-time="2:00pm">
	<button class="js-toggle_handle js-alert-close alert_close">
		<span class="alert_close_label">Close Alert</span>
		<span class="alert_close_icon"><svg class="icon icon_close">
	<use xlink:href="../../images/icons.svg#close"></use>
</svg>
</span>
	</button>
	<div class="fs-row">
		<div class="fs-cell fs-lg-10">
			<div class="alert_body">
				<div class="alert_content">
					<header class="alert_header">
						<h1 class="alert_title">
														<span class="alert_title_icon"><svg class="icon icon_bell">
	<use xlink:href="../../images/icons.svg#bell"></use>
</svg>
</span>
							<span class="alert_title_label">Campus Closed — Tuesday, April 8</span>
													</h1>
					</header>
					<div class="alert_description">
						<p>Due to inclement weather, all of campus will be closed on Tuesday, April 8, 2018. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
					</div>
					<footer class="alert_footer">
						<a class="alert_link" href="#">
	<span class="alert_link_label">Learn More</span>
		<span class="alert_link_icon" aria-hidden="true">
		<svg class="icon icon_arrow_right">
			<use xlink:href="../../images/icons.svg#arrow_right"></use>
		</svg>
	</span>
	</a>

					</footer>
				</div>
			</div>
		</div>
	</div>
</section>
		
		<!-- Page Wrapper -->
		<div class="page_wrapper">
							<!-- Header -->
				<header class="header" id="header" itemscope itemtype="http://schema.org/WPHeader">
					<div class="header_ribbon">
						<div class="fs-row">
							<div class="fs-cell">
								<div class="header_ribbon_inner">
									

<div class="logo logo_header logo_icon" itemscope itemtype="http://schema.org/Organization">
	<a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">Trinity College</span>
				<span class="logo_link_icon"><svg class="icon icon_logo">
	<use xlink:href="../../images/icons.svg#logo"></use>
</svg>
</span>
			</a>
	<meta content="../../images/logo-schema.png" itemprop="logo"> 
	</div>
									
									<div class="header_group">
										

<nav class="utility_nav utility_nav_lg" aria-label="Utility Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="utility_nav_list" role="navigation">
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Apply</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Visit</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Contact</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Give</span>
			</a>
					</div>
			</div>
</nav>

										

<button class="js-mobile-sidebar-handle mobile_sidebar_handle mobile_sidebar_handle_primary">
	<span class="mobile_sidebar_handle_icon mobile_sidebar_handle_icon_open"><svg class="icon icon_menu">
	<use xlink:href="../../images/icons.svg#menu"></use>
</svg>
</span>
	<span class="mobile_sidebar_handle_icon mobile_sidebar_handle_icon_close"><svg class="icon icon_close">
	<use xlink:href="../../images/icons.svg#close"></use>
</svg>
</span>
	<span class="mobile_sidebar_handle_label mobile_sidebar_handle_label_primary">Menu</span>
</button>
									</div>
								</div>
							</div>
						</div>
					</div>
										<div class="breadcrumb_nav_wrapper">
						<div class="fs-row">
							<div class="fs-cell fs-xl-10 fs-xl-push-1">
								<div class="breadcrumb_nav_inner">
									

<div class="breadcrumb_nav">
	<div class="breadcrumb_list" itemscope itemtype="http://schema.org/BreadcrumbList">
		<div class="breadcrumb_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
			<a class="breadcrumb_link" href="page-home.html" itemprop="item">
				<span class="breadcrumb_name" itemprop="name">
											<span class="breadcrumb_name_icon"><svg class="icon icon_home">
	<use xlink:href="../../images/icons.svg#home"></use>
</svg>
</span>
										<span class="breadcrumb_name_label_hide">Home</span>
				</span>
			</a>
			<meta itemprop="position" content="1">
		</div>
					<div class="breadcrumb_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
				<a class=" breadcrumb_name" itemprop="name" >
					<span class="breadcrumb_name_label">Master Sub</span>
									</a>
				<meta itemprop="position" content="2">
							</div>
					<div class="breadcrumb_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
				<button class="js-swap breadcrumb_name_switch breadcrumb_name" itemprop="name" data-swap-target=".breadcrumb_dropdown_2" data-swap-group="breadcrumb_dropdown">
					<span class="breadcrumb_name_label">Life On Campus</span>
											<span class="breadcrumb_name_icon"><svg class="icon icon_expand">
	<use xlink:href="../../images/icons.svg#expand"></use>
</svg>
</span>
									</button>
				<meta itemprop="position" content="3">
									<nav class="breadcrumb_dropdown breadcrumb_dropdown_2">
													<a class="breadcrumb_dropdown_item" href="#">Not Page</a>
													<a class="breadcrumb_dropdown_item" href="#">Master Sub</a>
													<a class="breadcrumb_dropdown_item" href="#">Not Page</a>
											</nav>
							</div>
			</div>
</div>
								</div>
							</div>
						</div>
					</div>
									</header>
				<!-- END: Header -->
			
			<!-- Page -->
			<div class="page_inner">
				<!-- Page Feature -->
				<div class="page_feature">
									</div>
				<!-- END: Page Feature -->

								<!-- Page Header -->
								<div class="page_header">
											

<div class="js-background page_background" data-background-options='{"source": {
"0px": "//images.fastspot.com/trinity-redesign/740x555/5", "500px": "//images.fastspot.com/trinity-redesign/980x552/5", "980px": "//images.fastspot.com/trinity-redesign/1220x686/5", "1220px": "//images.fastspot.com/trinity-redesign/1440x617/5"}}'></div>
										<div class="page_header_inner">
						<div class="fs-row">
							<!-- Main Content -->
							<div class="fs-cell fs-lg-11 fs-xl-10 fs-xl-push-1 content_wrapper">
								<div class="page_header_body">
									<a class="page_back" href="#">
										<span class="page_back_icon"><svg class="icon icon_back">
	<use xlink:href="../../images/icons.svg#back"></use>
</svg>
</span>
										<span class="page_back_label">Back to Master Sub</span>
									</a>

																		<h1 class="page_title">Life On Campus</h1>
									
									
																			

	
<nav class="sub_nav " aria-label="In This Section" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="sub_nav_header">
		<h2 class="sub_nav_title">In This Section</h2>
	</div>
	<button class="js-swap js-sub-nav-handle sub_nav_handle" data-swap-target=".sub_nav_list" data-swap-title="In This Section" aria-haspopup="true" aria-expanded="false">
		<span class="sub_nav_handle_label">In This Section</span>
		<span class="sub_nav_handle_icon sub_nav_handle_icon_open"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
	</button>
	<div class="js-sub-nav-list sub_nav_list">
				<div class="sub_nav_item">
			<a class="sub_nav_link" href="../" itemprop="url">
				<span class="sub_nav_link_label" itemprop="name">Sitemap</span>
			</a>
					</div>
				<div class="sub_nav_item">
			<a class="sub_nav_link" href="dev-feature.html" itemprop="url">
				<span class="sub_nav_link_label" itemprop="name">Page Feature Components</span>
			</a>
					</div>
				<div class="sub_nav_item">
			<a class="sub_nav_link" href="dev-full-width.html" itemprop="url">
				<span class="sub_nav_link_label" itemprop="name">Full Width Components</span>
			</a>
					</div>
				<div class="sub_nav_item">
			<a class="sub_nav_link" href="dev-in-content.html" itemprop="url">
				<span class="sub_nav_link_label" itemprop="name">In Content Components</span>
			</a>
					</div>
				<div class="sub_nav_item">
			<a class="sub_nav_link" href="dev-sidebar.html" itemprop="url">
				<span class="sub_nav_link_label" itemprop="name">Sidebar Components</span>
			</a>
					</div>
				<div class="sub_nav_item">
			<a class="sub_nav_link" href="dev-html.html" itemprop="url">
				<span class="sub_nav_link_label" itemprop="name">HTML Elements</span>
			</a>
					</div>
			</div>
</nav>
									
																										</div>
							</div>
						</div>
					</div>
														</div>
								<!-- END: Page Header -->
				
				<!-- Page Content -->
				<div class="page_content">
											<div class="fs-row">
							<!-- Main Content -->
							<div class="fs-cell fs-lg-11 fs-xl-9 fs-xl-push-1 content_wrapper">
								<main class="main_content" id="main_content" itemprop="mainContentOfPage">
									<!-- WYSIWYG - wrap all WYSIWYG text areas in `.typography` -->
									<div class="typography">
											<p class="intro">We are a small college and proud of it. No matter where you go on our campus, it will feel familiar. We have just over 2,000 undergraduates, and over 90% of them live on campus, so friendly faces are never far away.</p>
	<p>Though we’re close-knit, this campus also has room for students to pursue diverse interests. We have over <a href="">140 student clubs and organizations</a>, all spearheaded by students like you. We have music festivals, movies, concerts, lectures, parties, student government meetings, a cappella practice, mock trials, art shows, and almost every type of athletic event you can imagine. And when you leave campus, Hartford has farmers’ markets, shopping, concerts, theater shows, food, music, an incredible science center, and the oldest public art museum in the country.</p>
	<h3>Support for Every Student</h3>
	<p>Though students take the lead on our campus, you’ll also have a strong network of support. We have resources to help you navigate whatever challenges you face.</p>
									</div>
									<!-- END: WYSIWYG -->

																		
									<!-- In Content Callouts -->
									<div class="in_content_callouts">
											<div class="topic_block">
	<div class="topic_items">
				<article class="topic_item">
			<div class="topic_item_inner">
								<figure class="topic_figure">
										<a class="topic_figure_link" href="#">
											<img class="topic_image" src="//images.fastspot.com/trinity-redesign/500x334/1" alt="image">

																</a>
									</figure>
								<div class="topic_wrapper">
					<header class="topic_header">
						<h2 class="topic_title">
														<a class="topic_title_link" href="#">
															A Community of Diversity
														</a>
													</h2>
					</header>
					<div class="topic_body">
						<div class="topic_caption">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra lorem et maximus tempus. Pellentesque vitae ultrices orci. Ut lobortis faucibus turpis quis tincidunt.</p>
						</div>
					</div>
										<footer class="topic_footer">
						<a class="topic_link" href="#">
	<span class="topic_link_label">Learn More</span>
		<span class="topic_link_icon" aria-hidden="true">
		<svg class="icon icon_arrow_right">
			<use xlink:href="../../images/icons.svg#arrow_right"></use>
		</svg>
	</span>
	</a>

					</footer>
									</div>
			</div>
		</article>
				<article class="topic_item">
			<div class="topic_item_inner">
								<figure class="topic_figure">
										<a class="topic_figure_link" href="#">
											<img class="topic_image" src="//images.fastspot.com/trinity-redesign/500x334/2" alt="image">

																</a>
									</figure>
								<div class="topic_wrapper">
					<header class="topic_header">
						<h2 class="topic_title">
														<a class="topic_title_link" href="#">
															Student Clubs & Involvement
														</a>
													</h2>
					</header>
					<div class="topic_body">
						<div class="topic_caption">
							<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas cursus eleifend tristique. Integer ullamcorper tincidunt metus, nec sodales neque ornare eu.</p>
						</div>
					</div>
										<footer class="topic_footer">
						<a class="topic_link" href="#">
	<span class="topic_link_label">Learn More</span>
		<span class="topic_link_icon" aria-hidden="true">
		<svg class="icon icon_arrow_right">
			<use xlink:href="../../images/icons.svg#arrow_right"></use>
		</svg>
	</span>
	</a>

					</footer>
									</div>
			</div>
		</article>
			</div>
</div>

	

<!-- Linked List -->
<div class="linked_list" itemscope itemtype="http://schema.org/ItemList">
		<header class="linked_list_header">
		<h2 class="linked_list_title" itemprop="name">
						<span class="linked_list_title_icon"><svg class="icon icon_link">
	<use xlink:href="../../images/icons.svg#link"></use>
</svg>
</span>
						<span class="linked_list_title_label">Campus Life Resources</span>
		</h2>
	</header>
		<div class="linked_list_body">
		<ul class="linked_list_group">
						<li class="linked_list_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
				<a class="linked_list_link" href="#" itemprop="url">
					<span class="linked_list_link_inner">
						<span class="linked_list_label" itemprop="name">Housing & Dining</span>
						<span class="linked_list_icon"><svg class="icon icon_arrow_right">
	<use xlink:href="../../images/icons.svg#arrow_right"></use>
</svg>
</span>
					</span>
				</a>
			</li>
						<li class="linked_list_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
				<a class="linked_list_link" href="#" itemprop="url">
					<span class="linked_list_link_inner">
						<span class="linked_list_label" itemprop="name">Community-Based Housing</span>
						<span class="linked_list_icon"><svg class="icon icon_arrow_right">
	<use xlink:href="../../images/icons.svg#arrow_right"></use>
</svg>
</span>
					</span>
				</a>
			</li>
						<li class="linked_list_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
				<a class="linked_list_link" href="#" itemprop="url">
					<span class="linked_list_link_inner">
						<span class="linked_list_label" itemprop="name">Greek Life</span>
						<span class="linked_list_icon"><svg class="icon icon_arrow_right">
	<use xlink:href="../../images/icons.svg#arrow_right"></use>
</svg>
</span>
					</span>
				</a>
			</li>
						<li class="linked_list_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
				<a class="linked_list_link" href="#" itemprop="url">
					<span class="linked_list_link_inner">
						<span class="linked_list_label" itemprop="name">Health & Wellness</span>
						<span class="linked_list_icon"><svg class="icon icon_arrow_right">
	<use xlink:href="../../images/icons.svg#arrow_right"></use>
</svg>
</span>
					</span>
				</a>
			</li>
						<li class="linked_list_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
				<a class="linked_list_link" href="#" itemprop="url">
					<span class="linked_list_link_inner">
						<span class="linked_list_label" itemprop="name">Safety & Support</span>
						<span class="linked_list_icon"><svg class="icon icon_arrow_right">
	<use xlink:href="../../images/icons.svg#arrow_right"></use>
</svg>
</span>
					</span>
				</a>
			</li>
						<li class="linked_list_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
				<a class="linked_list_link" href="#" itemprop="url">
					<span class="linked_list_link_inner">
						<span class="linked_list_label" itemprop="name">Recreation & Fitness</span>
						<span class="linked_list_icon"><svg class="icon icon_arrow_right">
	<use xlink:href="../../images/icons.svg#arrow_right"></use>
</svg>
</span>
					</span>
				</a>
			</li>
						<li class="linked_list_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
				<a class="linked_list_link" href="#" itemprop="url">
					<span class="linked_list_link_inner">
						<span class="linked_list_label" itemprop="name">Spiritual & Religious Life</span>
						<span class="linked_list_icon"><svg class="icon icon_arrow_right">
	<use xlink:href="../../images/icons.svg#arrow_right"></use>
</svg>
</span>
					</span>
				</a>
			</li>
						<li class="linked_list_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
				<a class="linked_list_link" href="#" itemprop="url">
					<span class="linked_list_link_inner">
						<span class="linked_list_label" itemprop="name">Offices</span>
						<span class="linked_list_icon"><svg class="icon icon_arrow_right">
	<use xlink:href="../../images/icons.svg#arrow_right"></use>
</svg>
</span>
					</span>
				</a>
			</li>
					</ul>
	</div>
</div>
<!-- END: Linked List -->
									</div>
									<!-- END: In Content Callouts -->
								</main>
							</div>
							<!-- END: Main Content -->
						</div>
					
					<!-- Full Width Callouts -->
					<div class="full_width_callouts">
							

<div class="media_gallery">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="js-swap media_gallery_inner" data-swap-target=".media_gallery_body" data-swap-group="media_gallery" data-swap-linked="media_gallery">
				

<div class="js-background media_gallery_background" data-background-options='{"source": {
"0px": "//images.fastspot.com/trinity-redesign/740x740/", "500px": "//images.fastspot.com/trinity-redesign/740x416/", "740px": "//images.fastspot.com/trinity-redesign/980x654/", "980px": "//images.fastspot.com/trinity-redesign/1220x686/", "1220px": "//images.fastspot.com/trinity-redesign/1220x523/"}}'></div>
				<header class="media_gallery_header">
					<button class="js-swap media_gallery_trigger" title="open gallery" data-swap-target=".media_gallery_body" data-swap-group="media_gallery" data-swap-linked="media_gallery">
						<span class="media_gallery_trigger_icon"><svg class="icon icon_stretcher">
	<use xlink:href="../../images/icons.svg#stretcher"></use>
</svg>
</span>
					</button>
					<div class="media_gallery_details">
						<span class="media_gallery_label">Explore the Gallery</span>
						<h2 class="media_gallery_title">A Community & Life as Vibrant as You Are</h2>
					</div>
					<div class="media_gallery_count">
						<span class="media_gallery_count_icon"><svg class="icon icon_grid">
	<use xlink:href="../../images/icons.svg#grid"></use>
</svg>
</span>
						<span class="media_gallery_count_label">3</span>
					</div>
				</header>
			</div>
			<div class="media_gallery_body">
				<button class="js-swap media_gallery_close" title="open gallery" data-swap-target=".media_gallery_body" data-swap-group="media_gallery" data-swap-linked="media_gallery">
					<span class="media_gallery_close_icon"><svg class="icon icon_close">
	<use xlink:href="../../images/icons.svg#close"></use>
</svg>
</span>
				</button>
				<div class="media_gallery_body_inner">
					<div class="media_gallery_body_contents">
						<div class="media_gallery_body_header">
							<div class="media_gallery_body_details">
								<span class="media_gallery_body_label">Explore the Gallery</span>
								<h3 class="media_gallery_body_title">A Community & Life as Vibrant as You Are</h3>
							</div>
							<div class="media_gallery_item_stickers" aria-hidden="true">
																	<div class="media_gallery_item_sticker">
										<span class="media_gallery_item_count">1 / 3</span>
										<div class="media_gallery_item_caption">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra lorem et maximus tempus. Pellentesque vitae ultrices orci. Ut lobortis faucibus turpis quis.</p>
										</div>
									</div>
																	<div class="media_gallery_item_sticker">
										<span class="media_gallery_item_count">2 / 3</span>
										<div class="media_gallery_item_caption">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra lorem et maximus tempus.</p>
										</div>
									</div>
																	<div class="media_gallery_item_sticker">
										<span class="media_gallery_item_count">3 / 3</span>
										<div class="media_gallery_item_caption">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra lorem et maximus tempus. Pellentesque vitae ultrices orci. Ut lobortis faucibus turpis quis.</p>
										</div>
									</div>
															</div>
						</div>
						<div class="media_gallery_items">
															<div class="media_gallery_item">
									<figure class="media_gallery_item_figure">
																					<img class="media_gallery_item_image" src="//images.fastspot.com/trinity-redesign/740x494/1" alt="image">

																															<button class="video_item_video" title="play video" data-url="https://www.youtube.com/embed/Oz3mm3tPKfg">
												<span class="video_item_video_hint">
													<span class="video_item_video_hint_icon_bubble">
														<span class="video_item_video_hint_icon"><svg class="icon icon_play">
	<use xlink:href="../../images/icons.svg#play"></use>
</svg>
</span>
													</span>
													<span class="video_item_video_hint_label">Watch the Video</span>
												</span>
											</button>
																			</figure>
									<div class="media_gallery_item_details">
										<span class="media_gallery_item_count">1 / 3</span>
										<div class="media_gallery_item_caption">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra lorem et maximus tempus. Pellentesque vitae ultrices orci. Ut lobortis faucibus turpis quis.</p>
										</div>
									</div>
								</div>
															<div class="media_gallery_item">
									<figure class="media_gallery_item_figure">
																					<img class="media_gallery_item_image" src="//images.fastspot.com/trinity-redesign/555x740/2" alt="image">

																													</figure>
									<div class="media_gallery_item_details">
										<span class="media_gallery_item_count">2 / 3</span>
										<div class="media_gallery_item_caption">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra lorem et maximus tempus.</p>
										</div>
									</div>
								</div>
															<div class="media_gallery_item">
									<figure class="media_gallery_item_figure">
																					<img class="media_gallery_item_image" src="//images.fastspot.com/trinity-redesign/740x494/1" alt="image">

																													</figure>
									<div class="media_gallery_item_details">
										<span class="media_gallery_item_count">3 / 3</span>
										<div class="media_gallery_item_caption">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra lorem et maximus tempus. Pellentesque vitae ultrices orci. Ut lobortis faucibus turpis quis.</p>
										</div>
									</div>
								</div>
													</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="share">
	<div class="fs-row">
		<div class="fs-cell fs-xl-10 fs-all-justify-center">
			<div class="share_inner">
				<span class="share_label">Share This Page</span>
				<div class="share_tools">
											<a class="share_link" href="#">
							<span class="share_link_label">facebook</span>
							<span class="share_link_icon"><svg class="icon icon_facebook">
	<use xlink:href="../../images/icons.svg#facebook"></use>
</svg>
</span>
						</a>
											<a class="share_link" href="#">
							<span class="share_link_label">twitter</span>
							<span class="share_link_icon"><svg class="icon icon_twitter">
	<use xlink:href="../../images/icons.svg#twitter"></use>
</svg>
</span>
						</a>
											<a class="share_link" href="#">
							<span class="share_link_label">forward</span>
							<span class="share_link_icon"><svg class="icon icon_forward">
	<use xlink:href="../../images/icons.svg#forward"></use>
</svg>
</span>
						</a>
									</div>
			</div>
		</div>
	</div>
</div>					</div>
					<!-- END: Full Width Callouts -->
				</div>
				<!-- END: Page Content -->
			</div>
			<!-- END: Page -->

						<!-- Footer -->
			<footer class="footer" id="footer" itemscope itemtype="http://schema.org/WPFooter">
				<div class="footer_ribbon">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="footer_ribbon_inner">
								<div class="footer_ribbon_group">
									

<div class="logo logo_footer logo_icon" itemscope itemtype="http://schema.org/Organization">
	<a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">Trinity College</span>
				<span class="logo_link_icon"><svg class="icon icon_logo">
	<use xlink:href="../../images/icons.svg#logo"></use>
</svg>
</span>
			</a>
	<meta content="../../images/logo-schema.png" itemprop="logo"> 
	</div>

									<div class="footer_ribbon_mini_group">
										

<div class="footer_address" itemscope itemtype="http://schema.org/PostalAddress">
	<a class="footer_address_link" href="https://www.google.com/maps/place/300+Summit+St,+Hartford,+CT+06106/data=!4m2!3m1!1s0x89e6533b575037eb:0xae1c576e17982be3?sa=X&ved=0ahUKEwjrhPqIyr_bAhUDxVkKHesqBlgQ8gEIJjAA" target="_blank">
		<span class="footer_address_name" itemprop="name">Trinity College</span>
		<span class="footer_address_street" itemprop="streetAddress">300 Summit Street, </span>
		<span class="footer_address_city" itemprop="addressLocality">Hartford</span>
		<span class="footer_address_state" itemprop="addressRegion">CT</span>
		<span class="footer_address_zip" itemprop="postalCode">06106</span>
	</a>
			<a class="footer_address_phone" itemprop="telephone" href="tel:(860) 297-2000">
		<span class="footer_address_label">(860) 297-2000</span>
	</a>
		</div>
									</div>
								</div>

								<div class="footer_ribbon_group">
									

<div class="social_nav social_nav_base" itemscope itemtype="http://schema.org/Organization">
	<link itemprop="url" href="//www.trincoll.edu">
			<div class="social_nav_header">
			<h2 class="social_nav_title">Social Navigation</h2>
		</div>
		<div class="social_nav_list">
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.facebook.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_facebook">
	<use xlink:href="../../images/icons.svg#facebook"></use>
</svg>
</span>
								<span class="social_nav_label">Facebook</span>
			</a>
		</div>
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.twitter.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_twitter">
	<use xlink:href="../../images/icons.svg#twitter"></use>
</svg>
</span>
								<span class="social_nav_label">Twitter</span>
			</a>
		</div>
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.youtube.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_youtube">
	<use xlink:href="../../images/icons.svg#youtube"></use>
</svg>
</span>
								<span class="social_nav_label">Youtube</span>
			</a>
		</div>
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.linkedin.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_linkedin">
	<use xlink:href="../../images/icons.svg#linkedin"></use>
</svg>
</span>
								<span class="social_nav_label">Linkedin</span>
			</a>
		</div>
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.instagram.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_instagram">
	<use xlink:href="../../images/icons.svg#instagram"></use>
</svg>
</span>
								<span class="social_nav_label">Instagram</span>
			</a>
		</div>
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.flickr.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_flickr">
	<use xlink:href="../../images/icons.svg#flickr"></use>
</svg>
</span>
								<span class="social_nav_label">Flickr</span>
			</a>
		</div>
			</div>
</div>

									<div class="quick_nav_wrapper">
										<header class="quick_nav_header">
											<h2 class="quick_nav_title">Information For</h2>
										</header>
										

<nav class="quick_nav" aria-label="" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="quick_nav_list" role="navigation">
				<div class="quick_nav_item">
			<a class="quick_nav_link" href="#" itemprop="url">
								<span class="quick_nav_link_label" itemprop="name">Current Student</span>
			</a>
					</div>
				<div class="quick_nav_item">
			<a class="quick_nav_link" href="#" itemprop="url">
								<span class="quick_nav_link_label" itemprop="name">Alumni</span>
			</a>
					</div>
				<div class="quick_nav_item">
			<a class="quick_nav_link" href="#" itemprop="url">
								<span class="quick_nav_link_label" itemprop="name">Faculty</span>
			</a>
					</div>
				<div class="quick_nav_item">
			<a class="quick_nav_link" href="#" itemprop="url">
								<span class="quick_nav_link_label" itemprop="name">Staff</span>
			</a>
					</div>
			</div>
</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer_sole">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="footer_sole_inner">
								

<nav class="footer_nav" aria-label="Footer Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="footer_nav_list" role="navigation">
				<div class="footer_nav_item">
			<a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Inclusion</span>
			</a>
					</div>
				<div class="footer_nav_item">
			<a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Campus Map</span>
			</a>
					</div>
				<div class="footer_nav_item">
			<a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Employment</span>
			</a>
					</div>
				<div class="footer_nav_item">
			<a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">People Directory</span>
			</a>
					</div>
				<div class="footer_nav_item">
			<a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Department Directory</span>
			</a>
					</div>
			</div>
</nav>
								<p class="footer_copyright">©2018</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- END: Footer -->
					</div>
		<!-- END: page_wrapper -->

		<div class="js-mobile-sidebar mobile_sidebar" id="mobile_sidebar" tabindex="-1">
			

<div class="site_search site_search_sm" id="site_search_sm" itemscope itemtype="http://schema.org/WebSite" role="search">
	<meta itemprop="url" content="http://www.trincoll.edu">
	<form class="site_search_form" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
		<meta itemprop="target" content="http://www.trincoll.edu/static/templates/page-search.html?q={search_term_string_sm}">
		<label class="site_search_label" for="search_term_string_sm">Search</label>
		<input aria-live="polite" class="site_search_input" itemprop="query-input" type="search" id="search_term_string_sm" name="search_term_string_sm" placeholder="Search by keyword">
		<button class="site_search_button" type="submit" title="submit" aria-label="submit">
			<span class="site_search_button_label">Submit Search Query</span>
			<span class="site_search_button_icon"><svg class="icon icon_search">
	<use xlink:href="../../images/icons.svg#search"></use>
</svg>
</span>
		</button>
	</form>
</div>

			

<nav class="js-main-nav js-main-nav-sm main_nav main_nav_sm" aria-label="Mobile Site Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="main_nav_list" role="navigation">
				<div class="js-main-nav-item-1 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">Admissions & Aid</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-1" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
				<div class="js-main-nav-item-2 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">Academics</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
				<div class="js-main-nav-item-3 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">Student Life</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-3" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
				<div class="js-main-nav-item-4 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">About</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-4" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
				<div class="js-main-nav-item-5 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">Athletics</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-5" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
			</div>
</nav>

			

<nav class="secondary_nav secondary_nav_sm" aria-label="Mobile Secondary Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="secondary_nav_list" role="navigation">
				<div class="secondary_nav_item">
			<a class="secondary_nav_link arrow_right" href="#" itemprop="url">
								<span class="secondary_nav_link_icon"><svg class="icon icon_arrow_right">
	<use xlink:href="../../images/icons.svg#arrow_right"></use>
</svg>
</span>
								<span class="secondary_nav_link_label" itemprop="name">News</span>
			</a>
					</div>
				<div class="secondary_nav_item">
			<a class="secondary_nav_link arrow_right" href="#" itemprop="url">
								<span class="secondary_nav_link_icon"><svg class="icon icon_arrow_right">
	<use xlink:href="../../images/icons.svg#arrow_right"></use>
</svg>
</span>
								<span class="secondary_nav_link_label" itemprop="name">Events</span>
			</a>
					</div>
			</div>
</nav>

			

<nav class="utility_nav utility_nav_sm" aria-label="Utility Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="utility_nav_list" role="navigation">
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Apply</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Visit</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Contact</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Give</span>
			</a>
					</div>
			</div>
</nav>
		</div>

		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../";
		</script>
		<script src="../../js/site.js"></script>

		
				<!-- Grid Bookmarklet -->
		<script>
			(function(){if(typeof FSGridBookmarklet==='undefined'){document.body.appendChild(document.createElement('script')).src='//formstone.it/js/bookmarklet/grid.js';}else{FSGridBookmarklet();}} )();
		</script>
			</body>
</html>