<!DOCTYPE html>
<html class="no-js" lang="en" itemscope="" itemtype="http://schema.org/WebPage">

	
					
	
		
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<title>Fulbright U.S. Scholar Grants Awarded to Trinity Faculty | Trinity College</title>
		<meta name="description" content="">

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
		<!-- G+ & Facebook -->
		<meta property="og:title" content="Fulbright U.S. Scholar Grants Awarded to Trinity Faculty">
		<meta property="og:type" content="website">
		<meta property="og:image" content="//www.trincoll.edu/images/og-image.jpg">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="og:description" content="">
		<meta property="og:site_name" content="Trinity College">

		
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

		
		<link rel="stylesheet" href="../../css/site.css">

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-57MQD6L');</script>
		<!-- End Google Tag Manager -->
	</head>

	<body class="preload fs-grid page_layout_default page_theme_default">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-57MQD6L"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

							
							
							
							
							
							
							
							
							
							
		
		
		<!-- Skip-to-Content Link -->
		<a class="skip_link" id="skip_to_content" href="#main_content">Skip to Main Content</a>

		
		<!-- Page Wrapper -->
		<div class="page_wrapper">
							<!-- Header -->
				<header class="header" id="header" itemscope itemtype="http://schema.org/WPHeader">
					<div class="header_ribbon">
						<div class="fs-row">
							<div class="fs-cell">
								<div class="header_ribbon_inner">
									

<div class="logo logo_header logo_icon" itemscope itemtype="http://schema.org/Organization">
	<a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">Trinity College</span>
				<span class="logo_link_icon"><svg class="icon icon_logo">
	<use xlink:href="../../images/icons.svg#logo"></use>
</svg>
</span>
			</a>
	<meta content="../../images/logo-schema.png" itemprop="logo"> 
	</div>
									
									<div class="header_group">
										

<nav class="utility_nav utility_nav_lg" aria-label="Utility Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="utility_nav_list" role="navigation">
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Apply</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Visit</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Contact</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Give</span>
			</a>
					</div>
			</div>
</nav>

										

<button class="js-mobile-sidebar-handle mobile_sidebar_handle mobile_sidebar_handle_primary">
	<span class="mobile_sidebar_handle_icon mobile_sidebar_handle_icon_open"><svg class="icon icon_menu">
	<use xlink:href="../../images/icons.svg#menu"></use>
</svg>
</span>
	<span class="mobile_sidebar_handle_icon mobile_sidebar_handle_icon_close"><svg class="icon icon_close">
	<use xlink:href="../../images/icons.svg#close"></use>
</svg>
</span>
	<span class="mobile_sidebar_handle_label mobile_sidebar_handle_label_primary">Menu</span>
</button>
									</div>
								</div>
							</div>
						</div>
					</div>
										<div class="breadcrumb_nav_wrapper">
						<div class="fs-row">
							<div class="fs-cell fs-xl-10 fs-xl-push-1">
								<div class="breadcrumb_nav_inner">
									

<div class="breadcrumb_nav">
	<div class="breadcrumb_list" itemscope itemtype="http://schema.org/BreadcrumbList">
		<div class="breadcrumb_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
			<a class="breadcrumb_link" href="page-home.html" itemprop="item">
				<span class="breadcrumb_name" itemprop="name">
											<span class="breadcrumb_name_icon"><svg class="icon icon_home">
	<use xlink:href="../../images/icons.svg#home"></use>
</svg>
</span>
										<span class="breadcrumb_name_label_hide">Home</span>
				</span>
			</a>
			<meta itemprop="position" content="1">
		</div>
					<div class="breadcrumb_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
				<a class=" breadcrumb_name" itemprop="name" >
					<span class="breadcrumb_name_label">Master Sub</span>
									</a>
				<meta itemprop="position" content="2">
							</div>
					<div class="breadcrumb_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
				<button class="js-swap breadcrumb_name_switch breadcrumb_name" itemprop="name" data-swap-target=".breadcrumb_dropdown_2" data-swap-group="breadcrumb_dropdown">
					<span class="breadcrumb_name_label">Fulbright U.S. Scholar Grants Awarded to Trinity Faculty</span>
											<span class="breadcrumb_name_icon"><svg class="icon icon_expand">
	<use xlink:href="../../images/icons.svg#expand"></use>
</svg>
</span>
									</button>
				<meta itemprop="position" content="3">
									<nav class="breadcrumb_dropdown breadcrumb_dropdown_2">
													<a class="breadcrumb_dropdown_item" href="#">Not Page</a>
													<a class="breadcrumb_dropdown_item" href="#">Master Sub</a>
													<a class="breadcrumb_dropdown_item" href="#">Not Page</a>
											</nav>
							</div>
			</div>
</div>
								</div>
							</div>
						</div>
					</div>
									</header>
				<!-- END: Header -->
			
			<!-- Page -->
			<div class="page_inner">
				<!-- Page Feature -->
				<div class="page_feature">
									</div>
				<!-- END: Page Feature -->

								<!-- Page Header -->
								<div class="page_header">
										<div class="page_header_inner">
						<div class="fs-row">
							<!-- Main Content -->
							<div class="fs-cell fs-lg-11 fs-xl-10 fs-xl-push-1 content_wrapper">
								<div class="page_header_body">
									<a class="page_back" href="#">
										<span class="page_back_icon"><svg class="icon icon_back">
	<use xlink:href="../../images/icons.svg#back"></use>
</svg>
</span>
										<span class="page_back_label">Back to Master Sub</span>
									</a>

																		<h1 class="page_title">Fulbright U.S. Scholar Grants Awarded to Trinity Faculty</h1>
									
									
									
										<div class="news_item_details_block">
	<div class="news_item_details_inner">
		<div class="news_item_details">
							<span class="news_item_detail">
					<span class="news_item_label">Academics</span>
				</span>
										<span class="news_item_detail">
					<span class="news_item_date">posted <time class="news_item_time">Apr 30</time></span>
				</span>
										<span class="news_item_detail news_item_detail_author">
					<span class="news_item_author">by <strong class="news_item_author_name">Author, </strong></span>
				</span>
										<span class="news_item_detail">
					<a class="news_item_source" href="#">Source</a>
				</span>
					</div>
	</div>
</div>								</div>
							</div>
						</div>
					</div>
														</div>
								<!-- END: Page Header -->
				
				<!-- Page Content -->
				<div class="page_content">
											<div class="fs-row">
							<!-- Main Content -->
							<div class="fs-cell fs-lg-11 fs-xl-9 fs-xl-push-1 content_wrapper">
								<main class="main_content" id="main_content" itemprop="mainContentOfPage">
									<!-- WYSIWYG - wrap all WYSIWYG text areas in `.typography` -->
									<div class="typography">
											<p class="intro">Three Trinity College faculty members have been awarded 2018-19 Fulbright U.S. Scholar Grants to conduct research internationally.</p>
	<p>Kent D. Dunlap, Charles A. Dana Research Professor of Biology, will travel to Portugal to pursue collaborative research on brain cell production; Professor of Computer Science Peter A. Yoon will teach computer science in Ethiopia, realizing a long-standing goal to honor the Ethiopian soldiers who protected his family during the Korean War; and Visiting Assistant Professor of Religious Studies Justin Fifield will study caregiving practices in Buddhist monasteries of Sri Lanka.</p>
	<h3>About the Recipients</h3>
	<h4>Kent D. Dunlap, Professor of Biology</h4>
	<figure class="block_right">
		<img class="test_image" src="//images.fastspot.com/trinity-redesign/225x300/1" alt="image">

		<figcaption>Professor Kent D. Dunlap</figcaption>
	</figure>
	<p>Dunlap plans to investigate how social interactions enhance the recovery from injury in fish. This project stems from a 15-year interest Dunlap has had in the birth of brain cells during adulthood. “My interest in this research was originally sparked by a Trinity student. This student came to me and wanted to study cell death in the brain. It made me think about the opposite: cell birth and the production of new cells in the brain. I’ve been studying it ever since, and now I have the chance to pursue a new branch of this research in Portugal,” Dunlap said.</p>
	<p>This award is the second time that Dunlap has received a Fulbright grant. In 2009, he traveled to Uruguay to study brain cell production on a Fulbright U.S. Scholar Grant. “Through that international experience, I formed connections with scientists all over the world, and that was how I made contact with my future Fulbright collaborator in Portugal,” Dunlap said. With this previous research to look back on, Dunlap is eager to begin his next project in Lisbon at the Gulbenkian Institute, which promotes interdisciplinary research in the life sciences. Dunlap will also help organize the 14th International Congress of Neuroethology that will be held in Lisbon in 2020. “An added benefit of traveling and doing this research is to learn new techniques and bring them back to my Trinity students,” Dunlap said. Dunlap received his B.A. at Macalester College and his Ph.D. at the University of Washington, Seattle.</p>
	<h4>Peter A. Yoon, Professor of Computer Science</h4>
	<figure class="block_right">
		<img class="test_image" src="//images.fastspot.com/trinity-redesign/225x300/2" alt="image">

		<figcaption>Professor Peter A. Yoon</figcaption>
	</figure>
	<p>Yoon will travel to Ethiopia to research and teach scientific computing and high-performance computing. “I have been teaching computer science at Trinity since 2000, and have had the privilege of working with students from all over the world. In particular, students from Ethiopia made a long-lasting impression on me,” Yoon said. “I am deeply indebted to Ethiopia. Between June 1951 and April 1954, Emperor of the Kingdom of Ethiopia Haile Selassie sent over 3,000 Ethiopian soldiers to serve as part of the United Nations forces in the Korean War. Many were wounded or killed in battle as they were trying to fend off the North Korean Communists. I was born in Korea a decade after the conflict, but, ever since I learned about the Ethiopian involvement in the war, I have been looking for an opportunity to give back to the country that helped protect the current generation of my family,” Yoon said.</p>
	<p>In Yoon’s grant proposal, he wrote, “One of the most pressing issues of higher-education in Ethiopia today [is] a shortage of qualified faculty in computing at colleges and universities.” With the Fulbright grant, Yoon will work to address this issue in collaboration with hosts at the School of Electrical and Computer Engineering at Jimma University to help build that institution’s graduate program in computer science. Yoon earned his B.S. at North Carolina State University, his M.S. at Purdue University, and his Ph.D. at Pennsylvania State University.</p>
	<h4>Peter A. Yoon, Professor of Computer Science</h4>
	<figure class="block_right">
		<img class="test_image" src="//images.fastspot.com/trinity-redesign/225x300/1" alt="image">

		<figcaption>Assistant Professor Justin Fifield</figcaption>
	</figure>
	<p>Fifield (right) plans to conduct a qualitative research project on caregiving—caring for the sick, disabled, and elderly—within Buddhist monasteries in Sri Lanka. “This project extends the work of my dissertation on Buddhist monastic ethics with a specific case study in a contemporary context,” Fifield wrote in his proposal. “The Fulbright grant will enable me to develop as an early-career academic and build interdisciplinary connections between religious studies and medical anthropology.” Through participant observation at several monasteries and concomitant research on the Sri Lankan health-care system, Fifield will examine the increasingly urgent issue of providing care for elderly monks in an era of modernization and social change. Fifield will also offer formal lectures on Buddhist anthropology and methodology of religious studies at the Postgraduate Institute of Pali and Buddhist Studies at the University of Kelaniya.</p>
	<h3>About the Grants</h3>
	<p>The Fulbright U.S. Scholar Grants are highly competitive and emphasize the notability of the work by Dunlap, Yoon, and Fifield. Timothy J. Cresswell, Trinity College dean of the faculty and vice president for academic affairs, said, “The awards are prestigious and they reflect well on the college as well as the scholars involved. Perhaps more importantly, the grants are specifically designed for scholars who are engaging with the world beyond the U.S.A. – so these three awards are evidence of the global engagement that is central to Trinity’s mission.”</p>
	<p>The Fulbright Program, the flagship international educational exchange program sponsored by the U.S. government, is designed to increase mutual understanding between the people of the United States and the people of other countries. The Fulbright Program offers grants to study, teach and conduct research for U.S. citizens to go abroad and for non-U.S. citizens to come to the United States. The primary source of funding is an annual appropriation by the U.S. Congress to the U.S. Department of State’s Bureau of Educational and Cultural Affairs (ECA).</p>
	<p>A Trinity student also was recently awarded a Fulbright grant. Alicia Abbaspour ’18 has received an English Teaching Assistantship (ETA) through the Fulbright U.S. Student Program and will travel to Malaysia for 10 months to teach English to secondary school students. </p>
									</div>
									<!-- END: WYSIWYG -->

																		
									<!-- In Content Callouts -->
									<div class="in_content_callouts">
																			</div>
									<!-- END: In Content Callouts -->
								</main>
							</div>
							<!-- END: Main Content -->
						</div>
					
					<!-- Full Width Callouts -->
					<div class="full_width_callouts">
							<div class="share">
	<div class="fs-row">
		<div class="fs-cell fs-xl-10 fs-all-justify-center">
			<div class="share_inner">
				<span class="share_label">Share This Page</span>
				<div class="share_tools">
											<a class="share_link" href="#">
							<span class="share_link_label">facebook</span>
							<span class="share_link_icon"><svg class="icon icon_facebook">
	<use xlink:href="../../images/icons.svg#facebook"></use>
</svg>
</span>
						</a>
											<a class="share_link" href="#">
							<span class="share_link_label">twitter</span>
							<span class="share_link_icon"><svg class="icon icon_twitter">
	<use xlink:href="../../images/icons.svg#twitter"></use>
</svg>
</span>
						</a>
											<a class="share_link" href="#">
							<span class="share_link_label">forward</span>
							<span class="share_link_icon"><svg class="icon icon_forward">
	<use xlink:href="../../images/icons.svg#forward"></use>
</svg>
</span>
						</a>
									</div>
			</div>
		</div>
	</div>
</div>					</div>
					<!-- END: Full Width Callouts -->
				</div>
				<!-- END: Page Content -->
			</div>
			<!-- END: Page -->

						<!-- Footer -->
			<footer class="footer" id="footer" itemscope itemtype="http://schema.org/WPFooter">
				<div class="footer_ribbon">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="footer_ribbon_inner">
								<div class="footer_ribbon_group">
									

<div class="logo logo_footer logo_icon" itemscope itemtype="http://schema.org/Organization">
	<a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">Trinity College</span>
				<span class="logo_link_icon"><svg class="icon icon_logo">
	<use xlink:href="../../images/icons.svg#logo"></use>
</svg>
</span>
			</a>
	<meta content="../../images/logo-schema.png" itemprop="logo"> 
	</div>

									<div class="footer_ribbon_mini_group">
										

<div class="footer_address" itemscope itemtype="http://schema.org/PostalAddress">
	<a class="footer_address_link" href="https://www.google.com/maps/place/300+Summit+St,+Hartford,+CT+06106/data=!4m2!3m1!1s0x89e6533b575037eb:0xae1c576e17982be3?sa=X&ved=0ahUKEwjrhPqIyr_bAhUDxVkKHesqBlgQ8gEIJjAA" target="_blank">
		<span class="footer_address_name" itemprop="name">Trinity College</span>
		<span class="footer_address_street" itemprop="streetAddress">300 Summit Street, </span>
		<span class="footer_address_city" itemprop="addressLocality">Hartford</span>
		<span class="footer_address_state" itemprop="addressRegion">CT</span>
		<span class="footer_address_zip" itemprop="postalCode">06106</span>
	</a>
			<a class="footer_address_phone" itemprop="telephone" href="tel:(860) 297-2000">
		<span class="footer_address_label">(860) 297-2000</span>
	</a>
		</div>
									</div>
								</div>

								<div class="footer_ribbon_group">
									

<div class="social_nav social_nav_base" itemscope itemtype="http://schema.org/Organization">
	<link itemprop="url" href="//www.trincoll.edu">
			<div class="social_nav_header">
			<h2 class="social_nav_title">Social Navigation</h2>
		</div>
		<div class="social_nav_list">
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.facebook.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_facebook">
	<use xlink:href="../../images/icons.svg#facebook"></use>
</svg>
</span>
								<span class="social_nav_label">Facebook</span>
			</a>
		</div>
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.twitter.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_twitter">
	<use xlink:href="../../images/icons.svg#twitter"></use>
</svg>
</span>
								<span class="social_nav_label">Twitter</span>
			</a>
		</div>
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.youtube.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_youtube">
	<use xlink:href="../../images/icons.svg#youtube"></use>
</svg>
</span>
								<span class="social_nav_label">Youtube</span>
			</a>
		</div>
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.linkedin.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_linkedin">
	<use xlink:href="../../images/icons.svg#linkedin"></use>
</svg>
</span>
								<span class="social_nav_label">Linkedin</span>
			</a>
		</div>
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.instagram.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_instagram">
	<use xlink:href="../../images/icons.svg#instagram"></use>
</svg>
</span>
								<span class="social_nav_label">Instagram</span>
			</a>
		</div>
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.flickr.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_flickr">
	<use xlink:href="../../images/icons.svg#flickr"></use>
</svg>
</span>
								<span class="social_nav_label">Flickr</span>
			</a>
		</div>
			</div>
</div>

									<div class="quick_nav_wrapper">
										<header class="quick_nav_header">
											<h2 class="quick_nav_title">Information For</h2>
										</header>
										

<nav class="quick_nav" aria-label="" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="quick_nav_list" role="navigation">
				<div class="quick_nav_item">
			<a class="quick_nav_link" href="#" itemprop="url">
								<span class="quick_nav_link_label" itemprop="name">Current Student</span>
			</a>
					</div>
				<div class="quick_nav_item">
			<a class="quick_nav_link" href="#" itemprop="url">
								<span class="quick_nav_link_label" itemprop="name">Alumni</span>
			</a>
					</div>
				<div class="quick_nav_item">
			<a class="quick_nav_link" href="#" itemprop="url">
								<span class="quick_nav_link_label" itemprop="name">Faculty</span>
			</a>
					</div>
				<div class="quick_nav_item">
			<a class="quick_nav_link" href="#" itemprop="url">
								<span class="quick_nav_link_label" itemprop="name">Staff</span>
			</a>
					</div>
			</div>
</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer_sole">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="footer_sole_inner">
								

<nav class="footer_nav" aria-label="Footer Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="footer_nav_list" role="navigation">
				<div class="footer_nav_item">
			<a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Inclusion</span>
			</a>
					</div>
				<div class="footer_nav_item">
			<a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Campus Map</span>
			</a>
					</div>
				<div class="footer_nav_item">
			<a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Employment</span>
			</a>
					</div>
				<div class="footer_nav_item">
			<a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">People Directory</span>
			</a>
					</div>
				<div class="footer_nav_item">
			<a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Department Directory</span>
			</a>
					</div>
			</div>
</nav>
								<p class="footer_copyright">©2018</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- END: Footer -->
					</div>
		<!-- END: page_wrapper -->

		<div class="js-mobile-sidebar mobile_sidebar" id="mobile_sidebar" tabindex="-1">
			

<div class="site_search site_search_sm" id="site_search_sm" itemscope itemtype="http://schema.org/WebSite" role="search">
	<meta itemprop="url" content="http://www.trincoll.edu">
	<form class="site_search_form" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
		<meta itemprop="target" content="http://www.trincoll.edu/static/templates/page-search.html?q={search_term_string_sm}">
		<label class="site_search_label" for="search_term_string_sm">Search</label>
		<input aria-live="polite" class="site_search_input" itemprop="query-input" type="search" id="search_term_string_sm" name="search_term_string_sm" placeholder="Search by keyword">
		<button class="site_search_button" type="submit" title="submit" aria-label="submit">
			<span class="site_search_button_label">Submit Search Query</span>
			<span class="site_search_button_icon"><svg class="icon icon_search">
	<use xlink:href="../../images/icons.svg#search"></use>
</svg>
</span>
		</button>
	</form>
</div>

			

<nav class="js-main-nav js-main-nav-sm main_nav main_nav_sm" aria-label="Mobile Site Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="main_nav_list" role="navigation">
				<div class="js-main-nav-item-1 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">Admissions & Aid</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-1" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
				<div class="js-main-nav-item-2 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">Academics</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
				<div class="js-main-nav-item-3 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">Student Life</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-3" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
				<div class="js-main-nav-item-4 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">About</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-4" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
				<div class="js-main-nav-item-5 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">Athletics</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-5" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
			</div>
</nav>

			

<nav class="secondary_nav secondary_nav_sm" aria-label="Mobile Secondary Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="secondary_nav_list" role="navigation">
				<div class="secondary_nav_item">
			<a class="secondary_nav_link arrow_right" href="#" itemprop="url">
								<span class="secondary_nav_link_icon"><svg class="icon icon_arrow_right">
	<use xlink:href="../../images/icons.svg#arrow_right"></use>
</svg>
</span>
								<span class="secondary_nav_link_label" itemprop="name">News</span>
			</a>
					</div>
				<div class="secondary_nav_item">
			<a class="secondary_nav_link arrow_right" href="#" itemprop="url">
								<span class="secondary_nav_link_icon"><svg class="icon icon_arrow_right">
	<use xlink:href="../../images/icons.svg#arrow_right"></use>
</svg>
</span>
								<span class="secondary_nav_link_label" itemprop="name">Events</span>
			</a>
					</div>
			</div>
</nav>

			

<nav class="utility_nav utility_nav_sm" aria-label="Utility Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="utility_nav_list" role="navigation">
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Apply</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Visit</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Contact</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Give</span>
			</a>
					</div>
			</div>
</nav>
		</div>

		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../";
		</script>
		<script src="../../js/site.js"></script>

		
				<!-- Grid Bookmarklet -->
		<script>
			(function(){if(typeof FSGridBookmarklet==='undefined'){document.body.appendChild(document.createElement('script')).src='//formstone.it/js/bookmarklet/grid.js';}else{FSGridBookmarklet();}} )();
		</script>
			</body>
</html>