<!DOCTYPE html>
<html class="no-js" lang="en" itemscope="" itemtype="http://schema.org/WebPage">

	
					
	
		
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<title>Well, we took a shot… | Trinity College</title>
		<meta name="description" content="">

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
		<!-- G+ & Facebook -->
		<meta property="og:title" content="Well, we took a shot…">
		<meta property="og:type" content="website">
		<meta property="og:image" content="//www.trincoll.edu/images/og-image.jpg">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="og:description" content="But we can’t seem to find the page you are looking for. It has either moved or no longer exists. Let us help you find what you need!">
		<meta property="og:site_name" content="Trinity College">

		
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

		
		<link rel="stylesheet" href="../../css/site.css">

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-57MQD6L');</script>
		<!-- End Google Tag Manager -->
	</head>

	<body class="preload fs-grid page_layout_default page_theme_image page_layout_cover">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-57MQD6L"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

							
							
							
							
							
							
							
							
							
							
		
		
		<!-- Skip-to-Content Link -->
		<a class="skip_link" id="skip_to_content" href="#main_content">Skip to Main Content</a>

		
		<!-- Page Wrapper -->
		<div class="page_wrapper">
							<!-- Header -->
				<header class="header" id="header" itemscope itemtype="http://schema.org/WPHeader">
					<div class="header_ribbon">
						<div class="fs-row">
							<div class="fs-cell">
								<div class="header_ribbon_inner">
									

<div class="logo logo_header logo_icon" itemscope itemtype="http://schema.org/Organization">
	<a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">Trinity College</span>
				<span class="logo_link_icon"><svg class="icon icon_logo">
	<use xlink:href="../../images/icons.svg#logo"></use>
</svg>
</span>
			</a>
	<meta content="../../images/logo-schema.png" itemprop="logo"> 
	</div>
									
									<div class="header_group">
										

<nav class="utility_nav utility_nav_lg" aria-label="Utility Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="utility_nav_list" role="navigation">
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Apply</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Visit</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Contact</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Give</span>
			</a>
					</div>
			</div>
</nav>

										

<button class="js-mobile-sidebar-handle mobile_sidebar_handle mobile_sidebar_handle_primary">
	<span class="mobile_sidebar_handle_icon mobile_sidebar_handle_icon_open"><svg class="icon icon_menu">
	<use xlink:href="../../images/icons.svg#menu"></use>
</svg>
</span>
	<span class="mobile_sidebar_handle_icon mobile_sidebar_handle_icon_close"><svg class="icon icon_close">
	<use xlink:href="../../images/icons.svg#close"></use>
</svg>
</span>
	<span class="mobile_sidebar_handle_label mobile_sidebar_handle_label_primary">Menu</span>
</button>
									</div>
								</div>
							</div>
						</div>
					</div>
										<div class="breadcrumb_nav_wrapper">
						<div class="fs-row">
							<div class="fs-cell fs-xl-10 fs-xl-push-1">
								<div class="breadcrumb_nav_inner">
									

<div class="breadcrumb_nav">
	<div class="breadcrumb_list" itemscope itemtype="http://schema.org/BreadcrumbList">
		<div class="breadcrumb_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
			<a class="breadcrumb_link" href="page-home.html" itemprop="item">
				<span class="breadcrumb_name" itemprop="name">
											<span class="breadcrumb_name_icon"><svg class="icon icon_home">
	<use xlink:href="../../images/icons.svg#home"></use>
</svg>
</span>
										<span class="breadcrumb_name_label_hide">Home</span>
				</span>
			</a>
			<meta itemprop="position" content="1">
		</div>
					<div class="breadcrumb_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
				<a class=" breadcrumb_name" itemprop="name" >
					<span class="breadcrumb_name_label">Master Sub</span>
									</a>
				<meta itemprop="position" content="2">
							</div>
					<div class="breadcrumb_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
				<button class="js-swap breadcrumb_name_switch breadcrumb_name" itemprop="name" data-swap-target=".breadcrumb_dropdown_2" data-swap-group="breadcrumb_dropdown">
					<span class="breadcrumb_name_label">Well, we took a shot…</span>
											<span class="breadcrumb_name_icon"><svg class="icon icon_expand">
	<use xlink:href="../../images/icons.svg#expand"></use>
</svg>
</span>
									</button>
				<meta itemprop="position" content="3">
									<nav class="breadcrumb_dropdown breadcrumb_dropdown_2">
													<a class="breadcrumb_dropdown_item" href="#">Not Page</a>
													<a class="breadcrumb_dropdown_item" href="#">Master Sub</a>
													<a class="breadcrumb_dropdown_item" href="#">Not Page</a>
											</nav>
							</div>
			</div>
</div>
								</div>
							</div>
						</div>
					</div>
									</header>
				<!-- END: Header -->
			
			<!-- Page -->
			<div class="page_inner">
				<!-- Page Feature -->
				<div class="page_feature">
														</div>
				<!-- END: Page Feature -->

								<!-- Page Header -->
								<div class="page_header">
											

<div class="js-background page_background" data-background-options='{"source": {
"0px": "//images.fastspot.com/trinity-redesign/740x555/1", "500px": "//images.fastspot.com/trinity-redesign/980x552/1", "980px": "//images.fastspot.com/trinity-redesign/1220x686/1", "1220px": "//images.fastspot.com/trinity-redesign/1440x617/1"}}'></div>
										<div class="page_header_inner">
						<div class="fs-row">
							<!-- Main Content -->
							<div class="fs-cell fs-lg-11 fs-xl-10 fs-xl-push-1 content_wrapper">
								<div class="page_header_body">
									<a class="page_back" href="#">
										<span class="page_back_icon"><svg class="icon icon_back">
	<use xlink:href="../../images/icons.svg#back"></use>
</svg>
</span>
										<span class="page_back_label">Back to Master Sub</span>
									</a>

																		<h1 class="page_title">Well, we took a shot…</h1>
									
																		<p class="page_intro">But we can’t seem to find the page you are looking for. It has either moved or no longer exists. Let us help you find what you need!</p>
									
									
																										</div>
							</div>
						</div>
					</div>
						<div class="site_search_results">
	<div class="fs-row">
		<div class="fs-cell fs-xl-10 fs-all-justify-center">
			<script>
				(function() {
					var cx = '003057575606112920428:wyvfmmicypq';
					var gcse = document.createElement('script');
					gcse.type = 'text/javascript';
					gcse.async = true;
					gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
					var s = document.getElementsByTagName('script')[0];
					s.parentNode.insertBefore(gcse, s);
				})();
			</script>
			<div class="gcse-search"></div>
			<noscript>
				<div class="typography">
					<p>The site search requires a JavaScript enabled browser. You can also search the site using <a href="//www.google.com/#q=site:www.trincoll.edu">Google</a>.</p>
				</div>
			</noscript>
		</div>
	</div>
</div>
	
	<div class="basic_list">
	<div class="fs-row">
		<div class="fs-cell fs-xl-10 fs-all-justify-center">
			<nav class="basic_list_nav">
									<a class="basic_list_link" href="page-home.html?query=programs">
	<span class="basic_list_link_label">Find Programs</span>
		<span class="basic_list_link_icon" aria-hidden="true">
		<svg class="icon icon_arrow_right">
			<use xlink:href="../../images/icons.svg#arrow_right"></use>
		</svg>
	</span>
	</a>

									<a class="basic_list_link" href="page-home.html?query=people">
	<span class="basic_list_link_label">Find People</span>
		<span class="basic_list_link_icon" aria-hidden="true">
		<svg class="icon icon_arrow_right">
			<use xlink:href="../../images/icons.svg#arrow_right"></use>
		</svg>
	</span>
	</a>

									<a class="basic_list_link" href="#">
	<span class="basic_list_link_label">News Listing</span>
		<span class="basic_list_link_icon" aria-hidden="true">
		<svg class="icon icon_arrow_right">
			<use xlink:href="../../images/icons.svg#arrow_right"></use>
		</svg>
	</span>
	</a>

									<a class="basic_list_link" href="#">
	<span class="basic_list_link_label">Events listing</span>
		<span class="basic_list_link_icon" aria-hidden="true">
		<svg class="icon icon_arrow_right">
			<use xlink:href="../../images/icons.svg#arrow_right"></use>
		</svg>
	</span>
	</a>

							</nav>
		</div>
	</div>
</div>				</div>
								<!-- END: Page Header -->
				
				<!-- Page Content -->
				<div class="page_content">
											<div class="fs-row">
							<!-- Main Content -->
							<div class="fs-cell fs-lg-11 fs-xl-9 fs-xl-push-1 content_wrapper">
								<main class="main_content" id="main_content" itemprop="mainContentOfPage">
									<!-- WYSIWYG - wrap all WYSIWYG text areas in `.typography` -->
									<div class="typography">
																													</div>
									<!-- END: WYSIWYG -->

																		
									<!-- In Content Callouts -->
									<div class="in_content_callouts">
																													</div>
									<!-- END: In Content Callouts -->
								</main>
							</div>
							<!-- END: Main Content -->
						</div>
					
					<!-- Full Width Callouts -->
					<div class="full_width_callouts">
											</div>
					<!-- END: Full Width Callouts -->
				</div>
				<!-- END: Page Content -->
			</div>
			<!-- END: Page -->

						<!-- Footer -->
			<footer class="footer" id="footer" itemscope itemtype="http://schema.org/WPFooter">
				<div class="footer_ribbon">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="footer_ribbon_inner">
								<div class="footer_ribbon_group">
									

<div class="logo logo_footer logo_icon" itemscope itemtype="http://schema.org/Organization">
	<a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">Trinity College</span>
				<span class="logo_link_icon"><svg class="icon icon_logo">
	<use xlink:href="../../images/icons.svg#logo"></use>
</svg>
</span>
			</a>
	<meta content="../../images/logo-schema.png" itemprop="logo"> 
	</div>

									<div class="footer_ribbon_mini_group">
										

<div class="footer_address" itemscope itemtype="http://schema.org/PostalAddress">
	<a class="footer_address_link" href="https://www.google.com/maps/place/300+Summit+St,+Hartford,+CT+06106/data=!4m2!3m1!1s0x89e6533b575037eb:0xae1c576e17982be3?sa=X&ved=0ahUKEwjrhPqIyr_bAhUDxVkKHesqBlgQ8gEIJjAA" target="_blank">
		<span class="footer_address_name" itemprop="name">Trinity College</span>
		<span class="footer_address_street" itemprop="streetAddress">300 Summit Street, </span>
		<span class="footer_address_city" itemprop="addressLocality">Hartford</span>
		<span class="footer_address_state" itemprop="addressRegion">CT</span>
		<span class="footer_address_zip" itemprop="postalCode">06106</span>
	</a>
			<a class="footer_address_phone" itemprop="telephone" href="tel:(860) 297-2000">
		<span class="footer_address_label">(860) 297-2000</span>
	</a>
		</div>
									</div>
								</div>

								<div class="footer_ribbon_group">
									

<div class="social_nav social_nav_base" itemscope itemtype="http://schema.org/Organization">
	<link itemprop="url" href="//www.trincoll.edu">
			<div class="social_nav_header">
			<h2 class="social_nav_title">Social Navigation</h2>
		</div>
		<div class="social_nav_list">
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.facebook.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_facebook">
	<use xlink:href="../../images/icons.svg#facebook"></use>
</svg>
</span>
								<span class="social_nav_label">Facebook</span>
			</a>
		</div>
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.twitter.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_twitter">
	<use xlink:href="../../images/icons.svg#twitter"></use>
</svg>
</span>
								<span class="social_nav_label">Twitter</span>
			</a>
		</div>
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.youtube.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_youtube">
	<use xlink:href="../../images/icons.svg#youtube"></use>
</svg>
</span>
								<span class="social_nav_label">Youtube</span>
			</a>
		</div>
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.linkedin.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_linkedin">
	<use xlink:href="../../images/icons.svg#linkedin"></use>
</svg>
</span>
								<span class="social_nav_label">Linkedin</span>
			</a>
		</div>
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.instagram.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_instagram">
	<use xlink:href="../../images/icons.svg#instagram"></use>
</svg>
</span>
								<span class="social_nav_label">Instagram</span>
			</a>
		</div>
				<div class="social_nav_item">
			<a class="social_nav_link" href="//www.flickr.com" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_flickr">
	<use xlink:href="../../images/icons.svg#flickr"></use>
</svg>
</span>
								<span class="social_nav_label">Flickr</span>
			</a>
		</div>
			</div>
</div>

									<div class="quick_nav_wrapper">
										<header class="quick_nav_header">
											<h2 class="quick_nav_title">Information For</h2>
										</header>
										

<nav class="quick_nav" aria-label="" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="quick_nav_list" role="navigation">
				<div class="quick_nav_item">
			<a class="quick_nav_link" href="#" itemprop="url">
								<span class="quick_nav_link_label" itemprop="name">Current Student</span>
			</a>
					</div>
				<div class="quick_nav_item">
			<a class="quick_nav_link" href="#" itemprop="url">
								<span class="quick_nav_link_label" itemprop="name">Alumni</span>
			</a>
					</div>
				<div class="quick_nav_item">
			<a class="quick_nav_link" href="#" itemprop="url">
								<span class="quick_nav_link_label" itemprop="name">Faculty</span>
			</a>
					</div>
				<div class="quick_nav_item">
			<a class="quick_nav_link" href="#" itemprop="url">
								<span class="quick_nav_link_label" itemprop="name">Staff</span>
			</a>
					</div>
			</div>
</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer_sole">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="footer_sole_inner">
								

<nav class="footer_nav" aria-label="Footer Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="footer_nav_list" role="navigation">
				<div class="footer_nav_item">
			<a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Inclusion</span>
			</a>
					</div>
				<div class="footer_nav_item">
			<a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Campus Map</span>
			</a>
					</div>
				<div class="footer_nav_item">
			<a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Employment</span>
			</a>
					</div>
				<div class="footer_nav_item">
			<a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">People Directory</span>
			</a>
					</div>
				<div class="footer_nav_item">
			<a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Department Directory</span>
			</a>
					</div>
			</div>
</nav>
								<p class="footer_copyright">©2018</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- END: Footer -->
					</div>
		<!-- END: page_wrapper -->

		<div class="js-mobile-sidebar mobile_sidebar" id="mobile_sidebar" tabindex="-1">
			

<div class="site_search site_search_sm" id="site_search_sm" itemscope itemtype="http://schema.org/WebSite" role="search">
	<meta itemprop="url" content="http://www.trincoll.edu">
	<form class="site_search_form" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
		<meta itemprop="target" content="http://www.trincoll.edu/static/templates/page-search.html?q={search_term_string_sm}">
		<label class="site_search_label" for="search_term_string_sm">Search</label>
		<input aria-live="polite" class="site_search_input" itemprop="query-input" type="search" id="search_term_string_sm" name="search_term_string_sm" placeholder="Search by keyword">
		<button class="site_search_button" type="submit" title="submit" aria-label="submit">
			<span class="site_search_button_label">Submit Search Query</span>
			<span class="site_search_button_icon"><svg class="icon icon_search">
	<use xlink:href="../../images/icons.svg#search"></use>
</svg>
</span>
		</button>
	</form>
</div>

			

<nav class="js-main-nav js-main-nav-sm main_nav main_nav_sm" aria-label="Mobile Site Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="main_nav_list" role="navigation">
				<div class="js-main-nav-item-1 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">Admissions & Aid</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-1" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
				<div class="js-main-nav-item-2 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">Academics</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
				<div class="js-main-nav-item-3 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">Student Life</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-3" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
				<div class="js-main-nav-item-4 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">About</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-4" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
				<div class="js-main-nav-item-5 main_nav_item main_nav_has_children">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true" aria-expanded="false" >
					<span class="main_nav_link_label" itemprop="name">Athletics</span>
				</a>
								<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-5" data-swap-group="main_nav">
					<span class="main_nav_toggle_label">Expand Navigation</span>
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button>
							</div>
						<div class="js-main-nav-children main_nav_children">
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">One Child</span>
					</a>
				</div>
								<div class="main_nav_child_item">
					<a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Two Child</span>
					</a>
				</div>
							</div>
					</div>
			</div>
</nav>

			

<nav class="secondary_nav secondary_nav_sm" aria-label="Mobile Secondary Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="secondary_nav_list" role="navigation">
				<div class="secondary_nav_item">
			<a class="secondary_nav_link arrow_right" href="#" itemprop="url">
								<span class="secondary_nav_link_icon"><svg class="icon icon_arrow_right">
	<use xlink:href="../../images/icons.svg#arrow_right"></use>
</svg>
</span>
								<span class="secondary_nav_link_label" itemprop="name">News</span>
			</a>
					</div>
				<div class="secondary_nav_item">
			<a class="secondary_nav_link arrow_right" href="#" itemprop="url">
								<span class="secondary_nav_link_icon"><svg class="icon icon_arrow_right">
	<use xlink:href="../../images/icons.svg#arrow_right"></use>
</svg>
</span>
								<span class="secondary_nav_link_label" itemprop="name">Events</span>
			</a>
					</div>
			</div>
</nav>

			

<nav class="utility_nav utility_nav_sm" aria-label="Utility Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="utility_nav_list" role="navigation">
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Apply</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Visit</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Contact</span>
			</a>
					</div>
				<div class="utility_nav_item">
			<a class="utility_nav_link" href="#" itemprop="url">
								<span class="utility_nav_link_label" itemprop="name">Give</span>
			</a>
					</div>
			</div>
</nav>
		</div>

		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../";
		</script>
		<script src="../../js/site.js"></script>

		
				<!-- Grid Bookmarklet -->
		<script>
			(function(){if(typeof FSGridBookmarklet==='undefined'){document.body.appendChild(document.createElement('script')).src='//formstone.it/js/bookmarklet/grid.js';}else{FSGridBookmarklet();}} )();
		</script>
			</body>
</html>