/* ==========================================================================
	Secondary Navigation Common
============================================================================= */

.secondary_nav {
	
	&.secondary_nav_lg {

		@media #{$max_lg} {
			display: none;
		}
	}
}

.secondary_nav_header {}

.secondary_nav_title {
	@include visually_hide;
}


// Seconadry Links
// =============================================================================

.secondary_nav_list {}

.secondary_nav_item {}

.secondary_nav_link {
	@include u(500);

	position: relative;

	color: $yellow;
	display: inline-block;
	font-size: 14px;
	letter-spacing: 1.6px;
	overflow: hidden;
	padding: 10px 20px 10px 0;
	text-transform: uppercase;
	transition: color .25s;

	@media #{$min_md} {
		font-size: 16px;
		letter-spacing: 2.6px;
		padding: 15px 20px 15px 0;
	}

	&:focus,
	&:hover {
		color: rgba($yellow, .75);
	}
}

.secondary_nav_link_label {
	display: inline-block;
	transform: translate(-100%, 0);
	transition: transform .5s;

	@for $i from 1 through 7 {

		.fs-swap-active .secondary_nav_item:nth-child(#{$i}) & {
			transition: transform .75s .05s * $i + .5s;
		}
	}

	.fs-swap-active & {
		transform: translate(0, 0);
	}
}

.secondary_nav_link_icon {
	position: absolute;
	top: 50%;
	right: 0;

	opacity: 0;
	transform: translate(-5px, -50%);
	transition: 
		opacity .25s,
		transform .25s;

	.secondary_nav_link:focus &,
	.secondary_nav_link:hover & {
		opacity: 1;
		transform: translate(0, -50%);
	}
}
