<!DOCTYPE html>
<html lang="en" class="no-js">

	@@include('../partials/_head.html', {
		"title": "Colors and Fonts"
	})

	<body class="fs-grid">

		<!-- Skip-to-Content Link -->
		<a href="#page" id="skip_to_content" class="skip_link">Skip to Main Content</a>

		<div class="page_wrapper js-navigation_push">

			<!-- Header -->
			@@include('../partials/_header.html')

			<!-- Page : Main Content -->
			<main id="page" class="page_main" tabindex="-1">

				<!-- Breadcrumb -->
				<div class="fs-row">
					<div class="fs-cell">
						@@include('../partials/breadcrumb/page-master.html')
					</div>
				</div>

				<!-- Page Header -->

				<!-- END: Page Header -->

				<!-- Page Content -->
				<div class="page_content_area">
					<div class="fs-row">

						<!-- Right Sidebar Navigation -->
						<aside class="fs-cell fs-cell-right fs-lg-3">

						<nav class="subnavigation_wrap">
								<h2 class="subnavigation_handle fs-lg-hide">Additional Navigation</h2>
								<div class="subnavigation js-navigation fs-navigation-element fs-navigation-toggle-nav fs-navigation__1 fs-light" data-navigation-handle=".subnavigation_handle" data-navigation-options="{&quot;labels&quot;:{&quot;open&quot;:&quot;Close&quot;,&quot;closed&quot;:&quot;Additional Navigation&quot;}}">
								<ul id="menu-main-navigation-2" class="menu">
									<li class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-41 current_page_item menu-item-48">
										<a rel="page" href="http://dev.fastspot.com/clients/fielding-static/static/templates/home.html">Home</a>
									</li>

									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-51">
										<a rel="page" href="http://dev.fastspot.com/clients/fielding-static/static/templates/style-guide.html">Style Guide </a>
										<ul class="sub-menu">
											<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50 current-menu-item">
												<a href="http://dev.fastspot.com/clients/fielding-static/static/templates/colors-fonts.html" rel="page">Colors and Fonts</a>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-115 menu-item-117">
												<a href="http://dev.fastspot.com/clients/fielding-static/static/templates/basic-page-content.html" rel="page">Basic Page Content</a>
											</li>
											<li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118">
												<a href="http://dev.fastspot.com/clients/fielding-static/static/templates/content-blocks-callouts.html" rel="page">Content Blocks and Callouts</a>
											</li>
										</ul>
									</li>
								</ul>
								</div>
							</nav>
						</aside>

						<!-- Left Content Area -->
						<div class="fs-cell fs-lg-8 page_content">


							<!-- WYSIWYG Content -->
							<div class="typography">

								<h1>Colors and Fonts</h1>

								<div class="fs-row">

									<div class="fs-cell-contained fs-xs-3 fs-sm-third fs-md-third fs-lg-third">

										<div class="color_block" style="background-color:#B62551;">
											<div class="content">#B62551</div>
										</div>
										<div class="color_block slim color_white" style="background-color:#6A6764;">
											<div class="content">#6A6764</div>
										</div>
									</div>

									<div class="fs-cell-contained fs-xs-3 fs-sm-third fs-md-third fs-lg-third">
										<div class="color_block" style="background-color:#7F1028;">
											<div class="content">#7F1028<br>Merlot</div>
										</div>
										<div class="color_block slim" style="background-color:#1A1917;">
											<div class="content">#1A1917</div>
										</div>
										<div class="color_block slim color_gray" style="background-color:#F0F0F0;">
											<div class="content">#F0F0F0</div>
										</div>
									</div>


									<div class="fs-cell-contained fs-xs-3 fs-sm-third fs-md-third fs-lg-third">
										<div class="color_block red_gradient" style="background-color:#7F1028;">
											<div class="content">Gradient<br></div>
										</div>
									</div>
								</div>

								<br><br>

								<div class="fs-row">

									<div class="fs-cell-contained fs-xs-3 fs-sm-third fs-md-third fs-lg-third">

										<div class="color_block slim" style="background-color:#ABBEC9;">
											<div class="content">#ABBEC9</div>
										</div>
										<div class="color_block slim color_white" style="background-color:#43C0C1;">
											<div class="content">#43C0C1</div>
										</div>
										<div class="color_block slim" style="background-color:#DFB172;">
											<div class="content">#DFB172</div>
										</div>
										<div class="color_block slim" style="background-color:#6D3E77;">
											<div class="content">#6D3E77</div>
										</div>
									</div>

									<div class="fs-cell-contained fs-xs-3 fs-sm-third fs-md-third fs-lg-third">

										<div class="color_block slim" style="background-color:#738998;">
											<div class="content">#738998</div>
										</div>
										<div class="color_block slim" style="background-color:#269596;">
											<div class="content">#269596</div>
										</div>
										<div class="color_block slim" style="background-color:#F09920;">
											<div class="content">#F09920</div>
										</div>
										<div class="color_block slim" style="background-color:#3B1D42;">
											<div class="content">#3B1D42</div>
										</div>
									</div>


									<div class="fs-cell-contained fs-xs-3 fs-sm-third fs-md-third fs-lg-third">
										<div class="color_block slim gray_gradient">
											<div class="content">Gradient</div>
										</div>

										<div class="color_block slim teal_gradient">
											<div class="content">Gradient</div>
										</div>

										<div class="color_block slim orange_gradient">
											<div class="content">Gradient</div>
										</div>

										<div class="color_block slim purple_gradient">
											<div class="content">Gradient</div>
										</div>
									</div>

								</div>

								<h2>Fonts</h2>

								<h5>HEADLINE ONE - Adobe Garamond Pro</h5>
								<h1>Pharetra Fermentum Sem Porta</h1>
								<hr>
								<h5>HEADLINE Two - Adobe Garamond Pro</h5>
								<h2>Pharetra Fermentum Sem Porta</h2>
								<hr>
								<h5>HEADLINE Three - Adobe Garamond Pro</h5>
								<h3>Pharetra Fermentum Sem Porta</h3>
								<hr>
								<h5>HEADLINE Four - Adobe Garamond Pro</h5>
								<h4>Pharetra Fermentum Sem Porta</h4>
								<hr>
								<h5>HEADLINE FIve - Avenir Book</h5>
								<h5>Pharetra Fermentum Sem Porta</h5>
								<hr>
								<h5>HEADLINE Six - Avenir Black</h5>
								<h6>Pharetra Fermentum Sem Porta</h6>
								<hr>
							</div><!-- END: typography -->
						</div><!-- END: Left Content Area -->
					</div><!-- END: Row -->

					<!-- Full Width Components -->
					<div class="full_width_components">
						<div class="fs-row">
							<div class="fs-cell">

							</div>
						</div>
					</div>

				</div><!-- END: Page Content -->

			</main><!-- END: page -->

			<!-- Footer -->
			@@include('../partials/_footer.html')

		</div> <!-- END: page_wrapper -->

		@@include('../partials/_mobile-navigation.html')

		@@include('../partials/_footer-js.html')
	</body>
</html>
