<!DOCTYPE html>
<html lang="en" class="no-js">

	@@include('../partials/_head.html', {
		"title": "Master Sub"
	})

	<body class="fs-grid">

		<!-- Skip-to-Content Link -->
		<a href="#page" id="skip_to_content" class="skip_link">Skip to Main Content</a>

		<div class="page_wrapper js-navigation_push">

			<!-- Header -->
			@@include('../partials/_header.html')

			<!-- Page : Main Content -->
			<main id="page" class="page_main" tabindex="-1">

				<!-- Breadcrumb -->
				<div class="fs-row">
					<div class="fs-cell">
						@@include('../partials/breadcrumb/page-master.html')
					</div>
				</div>

				<!-- Page Content -->
				<div class="page_content_area">
					<div class="fs-row">

						<!-- Right Sidebar Navigation -->
						<aside class="fs-cell fs-cell-right fs-lg-3">
							@@include('../partials/components/sub-navigation.html')
							@@include('../partials/components/contact-info.html')
						</aside>

						<!-- Left Content Area -->
						<div class="fs-cell fs-lg-8 page_content">

						<!-- Page Header -->
						@@include('../partials/_page-header.html', {
							"class": "",
							"heading": "Mentoring &amp; Advising",
							"page_header": "Our accomplished faculty and staff helps tailor your Fielding experience to your personalized interests and career goals."
						})
						<!-- END: Page Header -->

							<!-- WYSIWYG Content -->
							<div class="typography">

								<h2>Our Faculty</h2>
								<p>Our faculty is made up of some of the world’s finest minds. They are senior scholar-practitioners who excel in academia as well as their professions and practices. Many have taught at other leading universities and have been published widely. At the same time, our faculty represent a unique diversity of disciplines, ethnicity, cultures, professions, and academic interests. That's important, because at Fielding, you are in the driver's seat.</p>
								<div class="block_right">
									<picture>
										<!--[if IE 9]><video style="display: none;"><![endif]-->
										<source media="(min-width: 980px)" srcset="http://spacehold.it/500x375/fielding/3.jpg">
										<source media="(min-width: 740px)" srcset="http://spacehold.it/740x555/fielding/3.jpg">
										<source media="(min-width: 500px)" srcset="http://spacehold.it/500x375/fielding/3.jpg">
										<!--[if IE 9]></video><![endif]-->
										<img src="http://spacehold.it/500x375/fielding/3.jpg" alt="" draggable="false">
									</picture>
									<div class="content_image_caption">Your Graduate Program Advisor works in partnership with your program.</div>
								</div>
								<p>Matching your research to your career goals is a major part of what we do. We believe that you have  many valuable things to contribute to your learning process, so what we try to accomplish in our programs is to define that sweet spot, that unique intersection between your professional expertise and academic interests, and the unique theoretical knowledge of our professors. We are dedicated to finding that intersection and nurturing your doctoral competency to make it a reality.</p>
								<h2>Student Advising</h2>
								<p>As a student at Fielding, you may need additional advice in order to continue progressing smoothly through your program. Your administrative resource for answering questions about the program is your Graduate Program Advisor. Among other topics, your Graduate Program Advisor can provide you with resources (or support) for the following:</p>
								<ul>
									<li>Student program planning/scheduling to meet degree and tuition milestones</li>
									<li>Policies and procedures</li>
									<li>Program requirements</li>
									<li>Academic progress requirements and reviews</li>
									<li>Taking time off from your Fielding program</li>
									<li>Services for students with disabilities</li>
								</ul>

								<ol>
									<li>Student program planning/scheduling to meet degree and tuition milestones</li>
									<li>Policies and procedures</li>
									<li>Program requirements</li>
									<li>Academic progress requirements and reviews</li>
									<li>Taking time off from your Fielding program</li>
									<li>Services for students with disabilities</li>
								</ol>

							</div><!-- END: typography -->

							<!-- Related Links Component -->
							@@include('../partials/components/related-links.html')
							<!-- END: Related Links Component -->

							<div class="typography">
								<h3>Additional Contact Information</h3>
								<!-- Table -->
								<table>
									<thead>
										<tr>
											<th>Department</th>
											<th>Phone Number</th>
											<th>Email Address</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>School of Educational Leadership for Change</td>
											<td>805.898.4065</td>
											<td><a href="mailto:ELCadvisor@fielding.edu">ELCadvisor@fielding.edu</a></td>
										</tr>
										<tr>
											<td>School of Educational Leadership for Change</td>
											<td>805.898.4065</td>
											<td><a href="mailto:ELCadvisor@fielding.edu">ELCadvisor@fielding.edu</a></td>
										</tr>
										<tr>
											<td>School of Educational Leadership for Change</td>
											<td>805.898.4065</td>
											<td><a href="mailto:ELCadvisor@fielding.edu">ELCadvisor@fielding.edu</a></td>
										</tr>
										<tr>
											<td>School of Educational Leadership for Change</td>
											<td>805.898.4065</td>
											<td><a href="mailto:ELCadvisor@fielding.edu">ELCadvisor@fielding.edu</a></td>
										</tr>
										<tr>
											<td>School of Educational Leadership for Change</td>
											<td>805.898.4065</td>
											<td><a href="mailto:ELCadvisor@fielding.edu">ELCadvisor@fielding.edu</a></td>
										</tr>
									</tbody>
								</table>
								<!-- END: Table -->
							</div>
							<!-- END: Typography -->

						</div><!-- END: Left Content Area -->
					</div><!-- END: Row -->

					<!-- Full Width Components -->
					<div class="full_width_components">

						@@include('../partials/components/testimonials.html')

						@@include('../partials/components/media-gallery.html', {
							"margin": "",
							"heading": "Infosessions 2015"
						})

					</div>
					<!-- END: Full Width Components -->

				</div><!-- END: Page Content -->

			</main><!-- END: page -->

			<!-- Footer -->
			@@include('../partials/_footer.html')

		</div> <!-- END: page_wrapper -->

		@@include('../partials/_mobile-navigation.html')

		@@include('../partials/_footer-js.html')
	</body>
</html>
