/* ==========================================================================
	Buttons
============================================================================= */

button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

@mixin button() {
	@include u(500);

	position: relative;

	cursor: pointer;
	font-size: 13px;
	letter-spacing: 2px;
	line-height: (20 / 14);
	margin-left: 10px;
	padding: 16px 20px;
	text-transform: uppercase;
	transition:
		background .25s,
		border .25s,
		box-shadow .25s,
		color .25s,
		transform .25s;
}

@mixin button_layout($layout: true) {

	@if $layout {
		
		[class*="icon"] {
			position: relative;
			top: -1px;

			display: inline-block;
			margin-left: 2px;
			vertical-align: middle;

			@media print {
				display: none;
			}
		}

		[class*="label"] {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

@mixin button_text() {}

@mixin button_plain(
	$c: $blue,
	$ic: $blue
) {
	@include button_layout(true);

	display: inline-block;
	padding: 10px 0;

	[class*="label"] {
		@include u(500);
		
		color: $c;
		font-size: 12px;
		letter-spacing: 1.8px;
		text-transform: uppercase;

		@media #{$min_md} {
			font-size: 16px;	
			letter-spacing: 1.4px;
		}
	}

	[class*="icon"]:not(svg) {
		z-index: 2;

		color: $ic;
		transition: 
			color .25s,
			transform .25s;

		&:before {
			height: 26px;
			width: 26px;
	
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: -2;
	
			background: $blue;
			border-radius: 50%;
			content: "";
			margin-top: 1px;
			margin-left: 1px;
			transform: 
				translate(-50%, -50%)
				scale(0);
			transition: transform .25s;
			transform-origin: left center;
		}
	}

	&:focus,
	&:hover {
		
		[class*="icon"]:not(svg) {
			color: #fff;
			stroke-color: #fff;
			transform: translate(5px, 0);
	
			&:before {
				transform: 
					translate(-50%, -50%)
					scale(1);
			}
		}
	}
}

@mixin button_fill(
	$b: $blue,
	$b2: $navy,
	$lc: #fff,
	$ic: #fff,
	$hc: #fff,
	$hic: #fff,
	$h: false
) {

	&:focus,
	&:hover {}

	&:before,
	&:after {
		height: 100%;
		width: 100%;

		position: absolute;

		content: "";
		transition:
			background .25s,
			z-index .25s,
			transform .25s;
	}

	&:before {
		top: 10px;
		right: 10px;
		z-index: -4;

		background: $b2;
	}

	&:after {
		top: 0;
		left: 0;
		z-index: -2;

		background: $b;
	}

	[class*="label"] {
		color: $lc;
		transition: color .25s;
	}

	[class*="icon"] {
		color: $ic;
		transition: 
			color .25s,
			transform .25s;
	}

	@if $h {

		&:focus,
		&:hover {
			
			&:before {
				z-index: -2;

				transform: translate(10px, -10px);
			}

			&:after {
				z-index: -4;

				transform: translate(-10px, 10px);
			}

			[class*="label"] {
				color: $hc;
			}

			[class*="icon"] {
				color: $hic;
			}
		}
	}
}

@mixin button_inline($layout: true) {
	@include button;
	@include button_layout($layout);

	display: inline-block;
	margin-right: 8px;
	margin-bottom: 8px;
}

@mixin button_block($layout: true) {
	@include button;
	@include button_layout($layout);

	display: block;
	margin-bottom: 28px;
	text-align: center;
}

@mixin button_mixed_block($layout: true) {
	@include button_block;
	@include button_layout($layout);

	@media #{$min_sm} {
		display: inline-block;
		margin-right: 8px;
		text-align: left;
	}
}


/* Skip Link
============================================================================= */

.skip_link {
	@include button_inline;
	@include button_fill;

	position: absolute;
	top: 0;
	left: 50%;
	z-index: 100;

	display: block;
	padding: 10px 20px;
	text-align: center;
	transform: translate(-50%, -200%);
	transition:
		top .35s,
		transform .35s;

	&:focus,
	&:active {
		transform: translate(-50%, 40px);
	}

	.no-csstransforms & {
		top: -100%;

		&:focus,
		&:active {
			top: 40px;
		}
	}
}
