/* ==========================================================================
	Site Search
============================================================================= */

.site_search_handle {
	position: relative;
}

.site_search_handle_label {
	@include visually_hide;
}

.site_search_handle_icon {
	pointer-events: none;
}


// Search Form
// =============================================================================

.site_search {
	position: relative;

	&_sm {
		border-bottom: 3px solid $yellow;
		opacity: 0;
		transform: 
			translate(0, -30px)
			scale(.85);
		transition:
			opacity .5s,
			transform .5s;

		@media #{$min_md} {
			border-bottom-width: 5px;
		}

		.fs-swap-active & {
			opacity: 1;
			transform: 
				translate(0, 0)
				scale(1);
		}
	}

	// &_results {
	// 	box-shadow: -10px 10px 0 0 $blue;
	// }
}

.site_search_form {}

.site_search_label {
	@include visually_hide;
}

.site_search_input {
	@include focus_outline_none;

	width: 100%;
	
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	
	.site_search_sm & {
		@include u(400);

		color: #F5F7F9;
		font-size: 16px;
		padding: 18px 50px 18px 0;
	
		@media #{$min_md} {
			font-size: 20px;
			padding: 23px 50px 24px 0;
		}
	}

	// .site_search_results & {
	// 	@include label_text;

	// 	background: #fff;
	// 	border: 0;
	// 	box-shadow: inset 0 0 0 1px rgba(#766F67, .26);
	// 	color: $dark;
	// 	padding: 12px 20px;

	// 	@media #{$min_md} {
	// 		background-position: calc(100% - 30px) 50%;
	// 		padding: 24px 30px;
	// 	}

	// 	&::-ms-clear {
	// 		margin-right: 30px;	
	// 	}

	// 	&::-webkit-search-cancel-button {
	// 		position: relative;
	// 		right: 30px;
	// 	}
	// }
	
	&::placeholder {
		text-overflow: ellipsis;

		.site_search_sm & {
			color: #F5F7F9;
		}
	}

	&[placeholder] {
		text-overflow: ellipsis;
	}
}

.site_search_button {
	height: 100%;
	width: 50px;

	position: absolute;
	top: 0;
	right: 0;

	cursor: pointer;

	&:focus,
	&:hover {}
}

.site_search_button_label {
	@include visually_hide;
}

.site_search_button_icon {
	position: absolute;
	top: 50%;
	right: 0;

	pointer-events: none;
	transform: translate(0, -50%);

	@media #{$min_md} {
		transform-origin: right center;
		transform: 
			translate(0, -50%)
			scale(1.5);
	}

	.site_search_sm & {
		color: $yellow;
	}

	.site_search_results & {
		right: 20px;

		color: $navy;

		@media #{$min_md} {
			right: 30px;
		}
	}
}
