<!DOCTYPE html>
<html class="no-js" lang="en" itemscope="" itemtype="http://schema.org/WebPage">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<title>Search | Kenyon Campaign</title>
	<meta name="description" content="Kenyon College 2018 Campaign">
	<link rel="apple-touch-icon" sizes="x" href="../../favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../favicons/favicon-16x16.png">
	<link rel="manifest" href="../../favicons/site.webmanifest">
	<link rel="mask-icon" href="../../favicons/safari-pinned-tab.svg" color="#4_b2_e84">
	<link rel="shortcut icon" href="../../favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#4_b2_e84">
	<meta name="msapplication-config" content="../../favicons/browserconfig.xml">
	<meta name="theme-color" content="#4_b2_e84">
	<!-- G+ & Facebook -->
	<meta property="og:title" content="Search">
	<meta property="og:type" content="website">
	<meta property="og:image" content="http://kenyon-campaign.dev.fastspot.com/images/social-sq.png">
	<meta property="og:image:width" content="800">
	<meta property="og:image:height" content="800">
	<meta property="og:description" content="Kenyon College 2018 Campaign">
	<meta property="og:site_name" content="Kenyon Campaign">
	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@KenyonCollege">
	<meta name="twitter:creator" content="@KenyonCollege">
	<meta name="twitter:url" content="//twitter.com/KenyonCollege">
	<meta name="twitter:title" content="Search">
	<meta name="twitter:description" content="Kenyon College 2018 Campaign">
	<meta name="twitter:image" content="http://kenyon-campaign.dev.fastspot.com/images/social-sq.png">
	<script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5b841d0b8e496b00101b7350&amp;product=custom-share-buttons"></script>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,700,900" rel="stylesheet">
	<link rel="stylesheet" href="../../css/site.css?1536353686"> </head>

<body class="preload fs-grid page_layout_full">
	<!-- Skip-to-Content Link --><a class="skip_link" id="skip_to_content" href="#main_content">Skip to Main Content</a>
	<!-- Page Wrapper -->
	<div class="page_wrapper">
		<!-- Header -->
		<header class="header" id="header" itemscope itemtype="http://schema.org/WPHeader">
			<div class="header_ribbon">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="header_ribbon_inner">
							<div class="logo logo_header logo_icon" itemscope itemtype="http://schema.org/CollegeOrUniversity"> <a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">Kenyon Campaign</span>
				<span class="logo_link_icon"><svg class="icon icon_logo">
	<use xlink:href="../../../images/icons.svg#logo"></use>
</svg>
</span>
			</a>
								<meta content="http://kenyon-campaign.dev.fastspot.com/images/logo-schema.png" itemprop="logo"> </div>
							<div class="header_navigation">
								<nav class="secondary_nav secondary_nav_lg" aria-label="Secondary" itemscope itemtype="http://schema.org/SiteNavigationElement">
									<ul class="secondary_nav_list">
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">About the Campaign</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Ways to Give</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Stories</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Get Involved</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Attend An Event</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Donate</span>
			</a> </li>
									</ul>
								</nav>
								<nav class="js-main-nav js-main-nav-lg main_nav main_nav_lg" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
									<ul class="main_nav_list">
										<li class="js-main-nav-item-1 main_nav_item">
											<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Extend</span>
				</a> </div>
										</li>
										<li class="js-main-nav-item-2 main_nav_item main_nav_has_children">
											<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true">
					<span class="main_nav_link_label" itemprop="name">Enhance</span>
				</a> <button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav" aria-label="Enhance Submenu">
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button> </div>
											<ul class="js-main-nav-children main_nav_children" aria-label="submenu">
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Library</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">English Cottage</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Interdisciplinary Academic Building</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Admissions Center</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">The Village</span>
					</a> </li>
											</ul>
										</li>
										<li class="js-main-nav-item-3 main_nav_item">
											<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Enrich</span>
				</a> </div>
										</li>
									</ul>
								</nav>
							</div>
							<div class="header_group"> <a class="js-swap js-mobile-sidebar-handle mobile_sidebar_handle mobile_sidebar_handle_primary" href="#mobile_sidebar" data-swap-target=".mobile_sidebar" data-swap-linked="mobile_sidebar" aria-label="Menu/Search">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</a> </div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="home_pillar_nav js-home-pillar-nav">
			<div class="fs-row">
				<div class="fs-cell">
					<div class="home_pillar_nav_inner">
						<nav class="secondary_nav secondary_nav_lg" aria-label="Secondary" itemscope itemtype="http://schema.org/SiteNavigationElement">
							<ul class="secondary_nav_list">
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">About the Campaign</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Ways to Give</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Stories</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Get Involved</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Attend An Event</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Donate</span>
			</a> </li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- END: Header -->
		<!-- Page -->
		<div class="page_inner">
			<!-- Page Header -->
			<div class="page_header">
				<div class="fs-row">
					<div class="fs-cell fs-lg-push-1 fs-lg-9">
						<h1 class="page_title">Search</h1>
					</div>
				</div>
			</div>
			<div class="fs-row">
				<div class="fs-cell fs-lg-push-1 fs-lg-10">
					<div class="page_header_inner"> </div>
				</div>
			</div>
		</div>
		<!-- END: Page Header -->
		<!-- Page Content -->
		<div class="page_content">
			<div class="fs-row">
				<!-- Main Content -->
				<div class="fs-cell fs-lg-12  content_wrapper">
					<main class="main_content" id="main_content" itemprop="mainContentOfPage">
						<!-- WYSIWYG - wrap all WYSIWYG text areas in `.typography` -->
						<div class="typography"> </div>
						<!-- END: WYSIWYG -->
						<!-- In Content Callouts -->
						<div class="in_content_callouts">
							<!-- Site Map Search -->
							<section class="search_results_block">
								<div class="fs-row">
									<div class="fs-cell">
										<div class="search_results_inner">
											<div class="site_search site_search_results" id="site_search_results" itemscope itemtype="http://schema.org/WebSite" role="search">
												<meta itemprop="url" content="http://kenyon-campaign.dev.fastspot.com">
												<form class="site_search_form" action="/static/templates/page-search.html" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
													<meta itemprop="target" content="http://kenyon-campaign.dev.fastspot.com/static/templates/page-search.html?q={search_term_string_results}"> <label class="site_search_label" for="search_term_string_results">Search</label> <input aria-live="polite" class="site_search_input" itemprop="query-input" type="search" id="search_term_string_results" name="search_term_string_results" placeholder="Search">													<button class="site_search_button" type="submit">
			<span class="site_search_button_label">submit</span>			<span class="site_search_button_icon"><svg class="icon icon_search">
	<use xlink:href="../../../images/icons.svg#search"></use>
</svg>
</span>
		</button> </form>
											</div>
										</div>
									</div>
								</div>
							</section>
							<!-- END: Site Map Search -->
						</div>
						<!-- END: In Content Callouts -->
					</main>
				</div>
				<!-- END: Main Content -->
			</div>
			<!-- Full Width Callouts -->
			<div class="full_width_callouts"> </div>
			<!-- END: Full Width Callouts -->
		</div>
		<!-- END: Page Content -->
	</div>
	<!-- END: Page -->
	<!-- Footer -->
	<footer class="footer" id="footer" itemscope itemtype="http://schema.org/WPFooter">
		<div class="footer_ribbon">
			<div class="fs-row">
				<div class="fs-cell">
					<div class="footer_ribbon_inner">
						<div class="logo logo_footer logo_icon" itemscope itemtype="http://schema.org/CollegeOrUniversity"> <a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">Kenyon Campaign</span>
				<span class="logo_link_icon"><svg class="icon icon_logo_footer">
	<use xlink:href="../../../images/icons.svg#logo_footer"></use>
</svg>
</span>
			</a>
							<meta content="http://kenyon-campaign.dev.fastspot.com/images/logo-schema.png" itemprop="logo"> </div>
						<div class="footer_nav_social">
							<nav class="footer_nav" aria-label="Footer" itemscope itemtype="http://schema.org/SiteNavigationElement">
								<ul class="footer_nav_list">
									<li class="footer_nav_item"> <a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Contact Us</span>
			</a> </li>
									<li class="footer_nav_item"> <a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Accessibility</span>
			</a> </li>
									<li class="footer_nav_item"> <a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">For Campaign Volunteers</span>
			</a> </li>
								</ul>
							</nav>
							<div class="footer_copyright_social">
								<div class="footer_copyright">
									<p>&copy; 2018</p>
								</div>
								<div class="social_nav" itemscope itemtype="http://schema.org/CollegeOrUniversity">
									<link itemprop="url" href="//kenyon-campaign.dev.fastspot.com">
									<div class="social_nav_header">
										<h2 class="social_nav_title">Social</h2>
									</div>
									<div class="social_nav_list">
										<div class="social_nav_item"> <a class="social_nav_link" href="//twitter.com/KenyonCollege" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_twitter">
	<use xlink:href="../../../images/icons.svg#twitter"></use>
</svg>
</span>
								<span class="social_nav_label">Twitter</span>
			</a> </div>
										<div class="social_nav_item"> <a class="social_nav_link" href="//www.youtube.com/user/KenyonCollegeVideo" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_youtube">
	<use xlink:href="../../../images/icons.svg#youtube"></use>
</svg>
</span>
								<span class="social_nav_label">Youtube</span>
			</a> </div>
										<div class="social_nav_item"> <a class="social_nav_link" href="//www.facebook.com/kenyoncollege" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_facebook">
	<use xlink:href="../../../images/icons.svg#facebook"></use>
</svg>
</span>
								<span class="social_nav_label">Facebook</span>
			</a> </div>
										<div class="social_nav_item"> <a class="social_nav_link" href="//www.instagram.com/kenyoncollege/" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_instagram">
	<use xlink:href="../../../images/icons.svg#instagram"></use>
</svg>
</span>
								<span class="social_nav_label">Instagram</span>
			</a> </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- END: Footer -->
	</div>
	<!-- END: page_wrapper -->
	<div class="js-mobile-sidebar mobile_sidebar" id="mobile_sidebar" tabindex="-1">
		<nav class="js-main-nav js-main-nav-sm main_nav main_nav_sm" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<ul class="main_nav_list">
				<li class="js-main-nav-item-1 main_nav_item">
					<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Extend</span>
				</a> </div>
				</li>
				<li class="js-main-nav-item-2 main_nav_item main_nav_has_children">
					<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true">
					<span class="main_nav_link_label" itemprop="name">Enhance</span>
				</a> <button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav" aria-label="Enhance Submenu">
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button> </div>
					<ul class="js-main-nav-children main_nav_children" aria-label="submenu">
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Library</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">English Cottage</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Interdisciplinary Academic Building</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Admissions Center</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">The Village</span>
					</a> </li>
					</ul>
				</li>
				<li class="js-main-nav-item-3 main_nav_item">
					<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Enrich</span>
				</a> </div>
				</li>
			</ul>
		</nav>
		<nav class="secondary_nav secondary_nav_sm" aria-label="Secondary" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<ul class="secondary_nav_list">
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">About the Campaign</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Ways to Give</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Stories</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Get Involved</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Attend An Event</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Donate</span>
			</a> </li>
			</ul>
		</nav>
	</div>
	<script>
		var WWW_ROOT = "";
		var STATIC_ROOT = "../../";
	</script>
	<script src="../../js/site.js?1536353686"></script>
	<!-- Grid Bookmarklet -->
	<script>
		(function() {
			if (typeof FSGridBookmarklet === 'undefined') {
				document.body.appendChild(document.createElement('script')).src = '//formstone.it/js/bookmarklet/grid.js';
			} else {
				FSGridBookmarklet();
			}
		})();
	</script>
</body>

</html>