<!DOCTYPE html>
<html class="no-js" lang="en" itemscope="" itemtype="http://schema.org/WebPage">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<title>Here Comes the Sun | Kenyon Campaign</title>
	<meta name="description" content="Kenyon College 2018 Campaign">
	<link rel="apple-touch-icon" sizes="x" href="../../favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../favicons/favicon-16x16.png">
	<link rel="manifest" href="../../favicons/site.webmanifest">
	<link rel="mask-icon" href="../../favicons/safari-pinned-tab.svg" color="#4_b2_e84">
	<link rel="shortcut icon" href="../../favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#4_b2_e84">
	<meta name="msapplication-config" content="../../favicons/browserconfig.xml">
	<meta name="theme-color" content="#4_b2_e84">
	<!-- G+ & Facebook -->
	<meta property="og:title" content="Here Comes the Sun">
	<meta property="og:type" content="website">
	<meta property="og:image" content="/images/temp/social-wide.jpg">
	<meta property="og:image:width" content="1220">
	<meta property="og:image:height" content="686">
	<meta property="og:description" content="Kenyon College 2018 Campaign">
	<meta property="og:site_name" content="Kenyon Campaign">
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@KenyonCollege">
	<meta name="twitter:creator" content="@KenyonCollege">
	<meta name="twitter:url" content="//twitter.com/KenyonCollege">
	<meta name="twitter:title" content="Here Comes the Sun">
	<meta name="twitter:description" content="Kenyon College 2018 Campaign">
	<meta name="twitter:image" content="/images/temp/social-wide.jpg">
	<script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5b841d0b8e496b00101b7350&amp;product=custom-share-buttons"></script>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,700,900" rel="stylesheet">
	<link rel="stylesheet" href="../../css/site.css?1536353686"> </head>

<body class="preload fs-grid page_layout_news_detail">
	<!-- Skip-to-Content Link --><a class="skip_link" id="skip_to_content" href="#main_content">Skip to Main Content</a>
	<!-- Page Wrapper -->
	<div class="page_wrapper">
		<!-- Header -->
		<header class="header" id="header" itemscope itemtype="http://schema.org/WPHeader">
			<div class="header_ribbon">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="header_ribbon_inner">
							<div class="logo logo_header logo_icon" itemscope itemtype="http://schema.org/CollegeOrUniversity"> <a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">Kenyon Campaign</span>
				<span class="logo_link_icon"><svg class="icon icon_logo">
	<use xlink:href="../../../images/icons.svg#logo"></use>
</svg>
</span>
			</a>
								<meta content="http://kenyon-campaign.dev.fastspot.com/images/logo-schema.png" itemprop="logo"> </div>
							<div class="header_navigation">
								<nav class="secondary_nav secondary_nav_lg" aria-label="Secondary" itemscope itemtype="http://schema.org/SiteNavigationElement">
									<ul class="secondary_nav_list">
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">About the Campaign</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Ways to Give</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Stories</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Get Involved</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Attend An Event</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Donate</span>
			</a> </li>
									</ul>
								</nav>
								<nav class="js-main-nav js-main-nav-lg main_nav main_nav_lg" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
									<ul class="main_nav_list">
										<li class="js-main-nav-item-1 main_nav_item">
											<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Extend</span>
				</a> </div>
										</li>
										<li class="js-main-nav-item-2 main_nav_item main_nav_has_children">
											<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true">
					<span class="main_nav_link_label" itemprop="name">Enhance</span>
				</a> <button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav" aria-label="Enhance Submenu">
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button> </div>
											<ul class="js-main-nav-children main_nav_children" aria-label="submenu">
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Library</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">English Cottage</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Interdisciplinary Academic Building</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Admissions Center</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">The Village</span>
					</a> </li>
											</ul>
										</li>
										<li class="js-main-nav-item-3 main_nav_item">
											<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Enrich</span>
				</a> </div>
										</li>
									</ul>
								</nav>
							</div>
							<div class="header_group"> <a class="js-swap js-mobile-sidebar-handle mobile_sidebar_handle mobile_sidebar_handle_primary" href="#mobile_sidebar" data-swap-target=".mobile_sidebar" data-swap-linked="mobile_sidebar" aria-label="Menu/Search">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</a> </div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="home_pillar_nav js-home-pillar-nav">
			<div class="fs-row">
				<div class="fs-cell">
					<div class="home_pillar_nav_inner">
						<nav class="secondary_nav secondary_nav_lg" aria-label="Secondary" itemscope itemtype="http://schema.org/SiteNavigationElement">
							<ul class="secondary_nav_list">
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">About the Campaign</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Ways to Give</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Stories</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Get Involved</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Attend An Event</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Donate</span>
			</a> </li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- END: Header -->
		<!-- Page -->
		<div class="page_inner">
			<!-- Page Feature -->
			<div class="page_feature">
				<div class="news_detail_header theme_green has_image">
					<div class="news_detail_header_content">
						<div class="fs-row">
							<div class="fs-cell fs-lg-10 fs-lg-push-1">
								<header class="news_detail_header_header"> <span class="news_detail_header_tags"><a href='#'>Enhance</a> The West Quad</span>
									<h1 class="news_detail_header_heading">Here Comes the Sun</h1>
									<p class="news_detail_header_description">Travel down Middle Path in the heart of Gambier on a sunny day, and a glistening array of solar panels might catch you eye.</p>
								</header>
							</div>
						</div>
					</div>
					<div class="fs-row">
						<div class="fs-cell fs-lg-12">
							<div class="news_detail_media_inner">
								<div class="news_detail_share_buttons theme_green">
									<div class="share_buttons_label"> <span class="share_buttons_label_text">Share This Story</span> </div>
									<div data-network="twitter" class="st-custom-button"> <span class="custom_social_share twitter">
                            <svg class="icon icon_twitter">
	<use xlink:href="../../../images/icons.svg#twitter"></use>
</svg>

                        </span> </div>
									<div data-network="facebook" class="st-custom-button"> <span class="custom_social_share facebook">
                            <svg class="icon icon_facebook">
	<use xlink:href="../../../images/icons.svg#facebook"></use>
</svg>

                        </span> </div>
									<div data-network="email" class="st-custom-button"> <span class="custom_social_share email">
                            <svg class="icon icon_email">
	<use xlink:href="../../../images/icons.svg#email"></use>
</svg>

                        </span> </div>
								</div>
								<div class="news_detail_image">
									<div class="news_detail_image_inner">
										<picture class="news_detail_image_picture">
											<source media="(min-width: 1220px)" srcset="//images.fastspot.com/kenyon-campaign/1440x617/9">
											<source media="(min-width: 980px)" srcset="//images.fastspot.com/kenyon-campaign/1220x523/9">
											<source media="(min-width: 740px)" srcset="//images.fastspot.com/kenyon-campaign/980x420/9">
											<source media="(min-width: 500px)" srcset="//images.fastspot.com/kenyon-campaign/740x416/9">
											<source media="(min-width: 0px)" srcset="//images.fastspot.com/kenyon-campaign/500x375/9"> <img class="news_detail_image_image" src="../../images/placeholder.png" alt=""> </picture>
										<div class="news_detail_image_caption">
											<div class="fs-cell fs-lg-10 fs-lg-push-1">
												<div class="news_detail_image_caption_inner"> <span class="news_detail_image_caption_text">Curabitur blandit tempus portitor. Maecenas sed diam eget risus varius.</span> </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="news_detail_back"> <a class="news_detail_back_link" href="#">Back To Stories</a> </div>
				</div>
			</div>
			<!-- END: Page Feature -->
			<!-- Page Content -->
			<div class="page_content">
				<div class="fs-row">
					<!-- Main Content -->
					<div class="fs-cell content_wrapper">
						<main class="main_content" id="main_content" itemprop="mainContentOfPage">
							<!-- WYSIWYG - wrap all WYSIWYG text areas in `.typography` -->
							<div class="typography">
								<p>Installations on the Village Inn and, most recently, on the Village Market are advancing Kenyon in its goal of achieving carbon neutrality — all while helping students learn the ins and outs of the solar power industry.</p>
								<p>The solar power installations were designed and implemented by students in <strong>“Solar Power Systems: Science, Policy and Practicum,”</strong> a physics course co-taught by Assistant Professor of Physics and Scientific Computing Eric Holdener
									and veteran solar power consultant Jerry Kelly ’96. The course teaches students about the process of proposing, designing and installing a solar power project, while also raising public awareness of the viability of renewable energy.</p>
								<p>“It’s a good gateway to be introduced to the solar industry,” said Lufeng May Chen ’20, from Shanghai, China, one of 16 students who took the course during the fall 2017 semester.</p>
								<h3>About the Class</h3>
								<p>The class attracts students from all majors and across all class years. Holdener and Kelly guide students through the basic physics of electricity and photovoltaics, as well as basic electrical circuitry. They incorporate fieldwork throughout
									the semester, traveling with the students to visit Knox County residents who already own solar installations. Students also learn from guest speakers in the solar industry — including Zach Sawicki ’16, a political science major who took the original
									version of the course and now works for a renewable energy development company in nearby Columbus.</p>
								<p>“We give the class exposure to people who have gotten into this field by any number of routes, and we show them how it can be done,” Holdener said.</p>
								<p>“A lot of the new hires in most solar companies in the U.S. now are coming in with little technical knowledge of solar,” Kelly added. “Companies are spending a lot of money and effort to train them. This class gets the students over that initial
									learning curve of knowing what the technology is, knowing what it can and can’t do, how systems are best located and how they’re constructed. We think it will give them an advantage if they pursue a career in renewable energy.”</p>
								<figure class="quote">
									<blockquote class="quote_content">
										<p>We give the class exposure to people who have gotten into this field by any number of routes, and we show them how it can be done.</p>
									</blockquote>
									<figcaption class="quote_caption">- Eric Holdener, Assistant Professor of Physics &amp; Scientific Computing</figcaption>
								</figure>
								<p>Students also learn about different financial aspects of the renewable energy field and the factors that people typically weigh when considering whether to install solar panels. For Frances Matthews ’18, an economics major from Bracknell, England,
									the class provided an opportunity to apply lessons from her economics classes and help her classmates analyze the costs and benefits of solar installations.</p>
								<blockquote>
									<p>We give the class exposure to people who have gotten into this field by any number of routes, and we show them how it can be done.</p>
								</blockquote>
								<p>“Analyzing the business side and cost structures in solar has helped demonstrate the complexities of the industry"</p>
								<h3>The Results</h3>
								<p>At the end of the semester, students pitch ideas for future solar installations on Kenyon’s campus to Chief Business Officer Mark Kohlman. To develop their proposals, students conduct site evaluations, measuring a site’s available unshaded space
									as well as its typical electricity usage. They create a preliminary design for their proposed installation and discuss design challenges, including any factors that may increase the cost of the project. The course culminates in a “flip-the-switch”
									ceremony, when the students officially power up the solar installation proposed and designed by their predecessors in the class.</p>
								<p>Enrollment in the course is one of many ways to participate in Kenyon’s green initiatives. “Kenyon is a great place to come if you want more of a hands-on experience in sustainability,” Matthews said. “There’s sustainable agriculture, you can
									get involved at the BFEC and there’s a living cemetery down the road. There are so many ways to get hands-on with the environment because we are fortunate enough to be surrounded by the environment and the countryside.”</p>
							</div>
							<!-- END: WYSIWYG -->
							<!-- In Content Callouts -->
							<div class="in_content_callouts"> </div>
							<!-- END: In Content Callouts -->
						</main>
					</div>
					<!-- END: Main Content -->
				</div>
				<!-- Full Width Callouts -->
				<div class="full_width_callouts">
					<!-- Flex Callout -->
					<section class="flex_callout theme_dark">
						<div class="fs-row">
							<div class="fs-cell fs-lg-4">
								<div class="flex_callout_wrapper">
									<header class="flex_callout_header"> <span class="flex_callout_meta">Enhance</span>
										<h3 class="flex_callout_title"><strong>Updating Our Campus</strong> For a Better Experience</h3>
									</header>
									<div class="flex_callout_body">
										<div class="flex_callout_description">
											<p>Creating more accessibility for all students, leading innovation in education, expanding our libraries - Enhancing our campus is about more than just the aesthetics.</p>
										</div>
									</div>
									<footer class="flex_callout_links"> <a class="flex_callout_link" href="#">
	<span class="flex_callout_link_label">Learn More</span>
	</a> </footer>
								</div>
							</div>
							<div class="js-background flex_callout_background" data-background-options='{"source": {
"0px": "//images.fastspot.com/kenyon-campaign/500x500/8", "500px": "//images.fastspot.com/kenyon-campaign/740x555/8", "740px": "//images.fastspot.com/kenyon-campaign/980x552/8", "980px": "//images.fastspot.com/kenyon-campaign/1220x915/8"}}'></div>
						</div>
					</section>
					<!-- END: Flex Callout -->
				</div>
				<!-- END: Full Width Callouts -->
			</div>
			<!-- END: Page Content -->
		</div>
		<!-- END: Page -->
		<!-- Footer -->
		<footer class="footer" id="footer" itemscope itemtype="http://schema.org/WPFooter">
			<div class="footer_ribbon">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="footer_ribbon_inner">
							<div class="logo logo_footer logo_icon" itemscope itemtype="http://schema.org/CollegeOrUniversity"> <a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">Kenyon Campaign</span>
				<span class="logo_link_icon"><svg class="icon icon_logo_footer">
	<use xlink:href="../../../images/icons.svg#logo_footer"></use>
</svg>
</span>
			</a>
								<meta content="http://kenyon-campaign.dev.fastspot.com/images/logo-schema.png" itemprop="logo"> </div>
							<div class="footer_nav_social">
								<nav class="footer_nav" aria-label="Footer" itemscope itemtype="http://schema.org/SiteNavigationElement">
									<ul class="footer_nav_list">
										<li class="footer_nav_item"> <a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Contact Us</span>
			</a> </li>
										<li class="footer_nav_item"> <a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Accessibility</span>
			</a> </li>
										<li class="footer_nav_item"> <a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">For Campaign Volunteers</span>
			</a> </li>
									</ul>
								</nav>
								<div class="footer_copyright_social">
									<div class="footer_copyright">
										<p>&copy; 2018</p>
									</div>
									<div class="social_nav" itemscope itemtype="http://schema.org/CollegeOrUniversity">
										<link itemprop="url" href="//kenyon-campaign.dev.fastspot.com">
										<div class="social_nav_header">
											<h2 class="social_nav_title">Social</h2>
										</div>
										<div class="social_nav_list">
											<div class="social_nav_item"> <a class="social_nav_link" href="//twitter.com/KenyonCollege" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_twitter">
	<use xlink:href="../../../images/icons.svg#twitter"></use>
</svg>
</span>
								<span class="social_nav_label">Twitter</span>
			</a> </div>
											<div class="social_nav_item"> <a class="social_nav_link" href="//www.youtube.com/user/KenyonCollegeVideo" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_youtube">
	<use xlink:href="../../../images/icons.svg#youtube"></use>
</svg>
</span>
								<span class="social_nav_label">Youtube</span>
			</a> </div>
											<div class="social_nav_item"> <a class="social_nav_link" href="//www.facebook.com/kenyoncollege" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_facebook">
	<use xlink:href="../../../images/icons.svg#facebook"></use>
</svg>
</span>
								<span class="social_nav_label">Facebook</span>
			</a> </div>
											<div class="social_nav_item"> <a class="social_nav_link" href="//www.instagram.com/kenyoncollege/" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_instagram">
	<use xlink:href="../../../images/icons.svg#instagram"></use>
</svg>
</span>
								<span class="social_nav_label">Instagram</span>
			</a> </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- END: Footer -->
	</div>
	<!-- END: page_wrapper -->
	<div class="js-mobile-sidebar mobile_sidebar" id="mobile_sidebar" tabindex="-1">
		<nav class="js-main-nav js-main-nav-sm main_nav main_nav_sm" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<ul class="main_nav_list">
				<li class="js-main-nav-item-1 main_nav_item">
					<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Extend</span>
				</a> </div>
				</li>
				<li class="js-main-nav-item-2 main_nav_item main_nav_has_children">
					<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true">
					<span class="main_nav_link_label" itemprop="name">Enhance</span>
				</a> <button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav" aria-label="Enhance Submenu">
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button> </div>
					<ul class="js-main-nav-children main_nav_children" aria-label="submenu">
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Library</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">English Cottage</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Interdisciplinary Academic Building</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Admissions Center</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">The Village</span>
					</a> </li>
					</ul>
				</li>
				<li class="js-main-nav-item-3 main_nav_item">
					<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Enrich</span>
				</a> </div>
				</li>
			</ul>
		</nav>
		<nav class="secondary_nav secondary_nav_sm" aria-label="Secondary" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<ul class="secondary_nav_list">
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">About the Campaign</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Ways to Give</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Stories</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Get Involved</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Attend An Event</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Donate</span>
			</a> </li>
			</ul>
		</nav>
	</div>
	<script>
		var WWW_ROOT = "";
		var STATIC_ROOT = "../../";
	</script>
	<script src="../../js/site.js?1536353686"></script>
	<!-- Grid Bookmarklet -->
	<script>
		(function() {
			if (typeof FSGridBookmarklet === 'undefined') {
				document.body.appendChild(document.createElement('script')).src = '//formstone.it/js/bookmarklet/grid.js';
			} else {
				FSGridBookmarklet();
			}
		})();
	</script>
</body>

</html>