<!DOCTYPE html>
<html class="no-js" lang="en" itemscope="" itemtype="http://schema.org/WebPage">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<title>Form Builder | Kenyon Campaign</title>
	<meta name="description" content="Kenyon College 2018 Campaign">
	<link rel="apple-touch-icon" sizes="x" href="../../favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../favicons/favicon-16x16.png">
	<link rel="manifest" href="../../favicons/site.webmanifest">
	<link rel="mask-icon" href="../../favicons/safari-pinned-tab.svg" color="#4_b2_e84">
	<link rel="shortcut icon" href="../../favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#4_b2_e84">
	<meta name="msapplication-config" content="../../favicons/browserconfig.xml">
	<meta name="theme-color" content="#4_b2_e84">
	<!-- G+ & Facebook -->
	<meta property="og:title" content="Form Builder">
	<meta property="og:type" content="website">
	<meta property="og:image" content="http://kenyon-campaign.dev.fastspot.com/images/social-sq.png">
	<meta property="og:image:width" content="800">
	<meta property="og:image:height" content="800">
	<meta property="og:description" content="This is the Kitchen Sink form with all available Form Builder fields showing an error message and a required field missing content.">
	<meta property="og:site_name" content="Kenyon Campaign">
	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@KenyonCollege">
	<meta name="twitter:creator" content="@KenyonCollege">
	<meta name="twitter:url" content="//twitter.com/KenyonCollege">
	<meta name="twitter:title" content="Form Builder">
	<meta name="twitter:description" content="This is the Kitchen Sink form with all available Form Builder fields showing an error message and a required field missing content.">
	<meta name="twitter:image" content="http://kenyon-campaign.dev.fastspot.com/images/social-sq.png">
	<script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5b841d0b8e496b00101b7350&amp;product=custom-share-buttons"></script>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,700,900" rel="stylesheet">
	<link rel="stylesheet" href="../../css/site.css?1536353686"> </head>

<body class="preload fs-grid page_layout_default">
	<!-- Skip-to-Content Link --><a class="skip_link" id="skip_to_content" href="#main_content">Skip to Main Content</a>
	<!-- Page Wrapper -->
	<div class="page_wrapper">
		<!-- Header -->
		<header class="header" id="header" itemscope itemtype="http://schema.org/WPHeader">
			<div class="header_ribbon">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="header_ribbon_inner">
							<div class="logo logo_header logo_icon" itemscope itemtype="http://schema.org/CollegeOrUniversity"> <a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">Kenyon Campaign</span>
				<span class="logo_link_icon"><svg class="icon icon_logo">
	<use xlink:href="../../../images/icons.svg#logo"></use>
</svg>
</span>
			</a>
								<meta content="http://kenyon-campaign.dev.fastspot.com/images/logo-schema.png" itemprop="logo"> </div>
							<div class="header_navigation">
								<nav class="secondary_nav secondary_nav_lg" aria-label="Secondary" itemscope itemtype="http://schema.org/SiteNavigationElement">
									<ul class="secondary_nav_list">
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">About the Campaign</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Ways to Give</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Stories</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Get Involved</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Attend An Event</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Donate</span>
			</a> </li>
									</ul>
								</nav>
								<nav class="js-main-nav js-main-nav-lg main_nav main_nav_lg" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
									<ul class="main_nav_list">
										<li class="js-main-nav-item-1 main_nav_item">
											<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Extend</span>
				</a> </div>
										</li>
										<li class="js-main-nav-item-2 main_nav_item main_nav_has_children">
											<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true">
					<span class="main_nav_link_label" itemprop="name">Enhance</span>
				</a> <button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav" aria-label="Enhance Submenu">
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button> </div>
											<ul class="js-main-nav-children main_nav_children" aria-label="submenu">
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Library</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">English Cottage</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Interdisciplinary Academic Building</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Admissions Center</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">The Village</span>
					</a> </li>
											</ul>
										</li>
										<li class="js-main-nav-item-3 main_nav_item">
											<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Enrich</span>
				</a> </div>
										</li>
									</ul>
								</nav>
							</div>
							<div class="header_group"> <a class="js-swap js-mobile-sidebar-handle mobile_sidebar_handle mobile_sidebar_handle_primary" href="#mobile_sidebar" data-swap-target=".mobile_sidebar" data-swap-linked="mobile_sidebar" aria-label="Menu/Search">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</a> </div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="home_pillar_nav js-home-pillar-nav">
			<div class="fs-row">
				<div class="fs-cell">
					<div class="home_pillar_nav_inner">
						<nav class="secondary_nav secondary_nav_lg" aria-label="Secondary" itemscope itemtype="http://schema.org/SiteNavigationElement">
							<ul class="secondary_nav_list">
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">About the Campaign</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Ways to Give</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Stories</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Get Involved</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Attend An Event</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Donate</span>
			</a> </li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- END: Header -->
		<!-- Page -->
		<div class="page_inner">
			<!-- Page Header -->
			<div class="page_header">
				<div class="fs-row">
					<div class="fs-cell fs-lg-push-1 fs-lg-9">
						<h1 class="page_title">Form Builder</h1>
						<p class="page_header_intro">This is the Kitchen Sink form with all available Form Builder fields showing an error message and a required field missing content.</p>
					</div>
				</div>
			</div>
			<div class="fs-row">
				<div class="fs-cell fs-lg-push-1 fs-lg-10">
					<div class="page_header_inner"> </div>
				</div>
			</div>
		</div>
		<!-- END: Page Header -->
		<!-- Page Content -->
		<div class="page_content">
			<div class="fs-row">
				<!-- Main Content -->
				<div class="fs-cell fs-lg-10 fs-lg-push-1 content_wrapper">
					<main class="main_content" id="main_content" itemprop="mainContentOfPage">
						<!-- WYSIWYG - wrap all WYSIWYG text areas in `.typography` -->
						<div class="typography"> </div>
						<!-- END: WYSIWYG -->
						<form method="post" action="#" enctype="multipart/form-data" class="form_builder">
							<div class="form_builder_errors">
								<p>Required fields were missing. Please fill out all required fields and submit again.</p>
							</div>
							<div class="form_builder_required_message">
								<p><span class="form_builder_required_star">*</span> = required field</p>
							</div>
							<div class="form_builder_section_header">
								<h2>Section Break</h2>
								<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
							</div>
							<fieldset> <label for="form_builder_field_2">
				Single Line Text <span class="form_builder_required_star">*</span>
			</label> <input type="text" id="form_builder_field_2" name="form_builder_element_2" class="form_builder_text form_builder_required form_builder_error" value="" placeholder="Placeholder Value" /> </fieldset>
							<fieldset> <label for="form_builder_field_3">Paragraph Text</label> <textarea id="form_builder_field_3" name="form_builder_element_3" placeholder="Placeholder Value"></textarea> </fieldset>
							<fieldset> <label>Checkboxes</label>
								<div class="form_builder_checkbox"> <input type="checkbox" id="form_builder_field_4" name="form_builder_element_4[]" value="val1" data-price="" /> <label class="form_builder_for_checkbox" for="form_builder_field_4">Option 1</label> </div>
								<div class="form_builder_checkbox"> <input type="checkbox" id="form_builder_field_5" name="form_builder_element_4[]" value="val2" data-price="" /> <label class="form_builder_for_checkbox" for="form_builder_field_5">Option 2</label> </div>
								<div class="form_builder_checkbox"> <input type="checkbox" id="form_builder_field_6" name="form_builder_element_4[]" value="val3" data-price="" /> <label class="form_builder_for_checkbox" for="form_builder_field_6">Option 3</label> </div>
							</fieldset>
							<fieldset> <label>Radio Buttons</label>
								<div class="form_builder_radio"> <input type="radio" id="form_builder_field_8" name="form_builder_element_5" value="val1" data-price="" /> <label class="form_builder_for_checkbox" for="form_builder_field_8">Option 1</label> </div>
								<div class="form_builder_radio"> <input type="radio" id="form_builder_field_9" name="form_builder_element_5" value="val2" data-price="" /> <label class="form_builder_for_checkbox" for="form_builder_field_9">Option 2</label> </div>
								<div class="form_builder_radio"> <input type="radio" id="form_builder_field_10" name="form_builder_element_5" value="val3" data-price="" /> <label class="form_builder_for_checkbox" for="form_builder_field_10">Option 3</label> </div>
							</fieldset>
							<fieldset> <label for="form_builder_field_12">Dropdown List</label> <select id="form_builder_field_12" name="form_builder_element_6">
				<option value="val1" selected="selected" data-price="">Option 1</option>
				<option value="val2" data-price="">Option 2</option>
				<option value="val3" data-price="">Option 3</option>
			</select> </fieldset>
							<fieldset> <label for="form_builder_field_13">File Upload</label> <input type="file" id="form_builder_field_13" name="form_builder_element_7" class="form_builder_upload" value="" />
								<div class="form_builder_sublabel"><span id="form_builder_file_size_error_13">Maximum File Size: 1 KB</span></div>
							</fieldset>
							<script>
								document.getElementById("form_builder_field_13").onchange = function() {
									if (this.files[0].size > 1024) {
										this.className = this.className.replace("form_builder_error", "") + " form_builder_error";
										this.value = "";
										document.getElementById('form_builder_file_size_error_13').className = "form_builder_file_size_error";
									} else {
										this.className = this.className.replace("form_builder_error", "");
										document.getElementById('form_builder_file_size_error_13').className = "";
									}
								};
							</script>
							<fieldset> <label for="form_builder_field_14">Name</label>
								<div class="form_builder_wrap">
									<div class="form_builder_firstname"> <input type="text" name="data_18[first]" id="form_builder_field_14" class="form_builder_text" value="" /> <label for="form_builder_field_14" class="form_builder_sublabel">First</label> </div>
									<div class="form_builder_lastname"> <input type="text" name="data_18[last]" id="form_builder_field_15" class="form_builder_text" value="" /> <label for="form_builder_field_15" class="form_builder_sublabel">Last</label> </div>
								</div>
							</fieldset>
							<fieldset> <label for="form_builder_field_16">Date</label>
								<div class="form_builder_date_2"> <input type="text" maxlength="2" name="data_19[month]" id="form_builder_field_16" class="form_builder_text" value="" /> <label for="form_builder_field_16" class="form_builder_sublabel form_builder_centered">MM</label> </div>
								<div class="form_builder_date_2">
								<input type="text" maxlength="2" name="data_19[day]" id="form_builder_field_17" class="form_builder_text" value="" /> <label for="form_builder_field_17" class="form_builder_sublabel form_builder_centered">DD</label> </div>
								<div class="form_builder_date_4">
								<input type="text" maxlength="4" name="data_19[year]" id="form_builder_field_18" class="form_builder_text" value="" /> <label for="form_builder_field_18" class="form_builder_sublabel form_builder_centered">YYYY</label> </div>
							</fieldset>
							<fieldset class="form_builder_address"> <label for="form_builder_field_19">Address</label>
								<div class="form_builder_full"> <input type="text" name="data_20[street]" id="form_builder_field_19" class="form_builder_text" value="" /> <label for="form_builder_field_19" class="form_builder_sublabel">Street Address</label> </div>
								<div class="form_builder_full"> <input type="text" name="data_20[street2]" id="form_builder_field_20" class="form_builder_text" value="" /> <label for="form_builder_field_20" class="form_builder_sublabel">Street Address Line 2</label> </div>
								<div class="form_builder_split">
								<input type="text" name="data_20[city]" id="form_builder_field_21" class="form_builder_text" value="" /> <label for="form_builder_field_21" class="form_builder_sublabel">City</label> </div>
								<div class="form_builder_split form_builder_split_last_col">
								<input type="text" name="data_20[state]" id="form_builder_field_22" class="form_builder_text" value="" /> <label for="form_builder_field_22" class="form_builder_sublabel">State / Province / Region</label> </div>
								<div class="form_builder_split form_builder_split_last_row">
								<input type="text" name="data_20[zip]" id="form_builder_field_23" class="form_builder_text" value="" /> <label for="form_builder_field_23" class="form_builder_sublabel">Postal / Zip Code</label> </div>
								<div class="form_builder_split form_builder_split_last_row form_builder_split_last_col">
								<input type="text" name="data_20[country]" id="form_builder_field_24" class="form_builder_text" value="United States" /> <label for="form_builder_field_24" class="form_builder_sublabel">Country</label> </div>
							</fieldset>
							<fieldset> <label for="form_builder_field_25">Email Address</label> <input type="email" id="form_builder_field_25" name="data_21" class="form_builder_text form_builder_email" value="" /> </fieldset>
							<fieldset> <label for="form_builder_field_26">Website</label> <input type="url" id="form_builder_field_26" name="data_22" class="form_builder_text form_builder_url" value="" /> </fieldset>
							<fieldset> <label for="form_builder_field_27">Phone Number</label>
								<div class="form_builder_wrap">
									<div class="form_builder_phone_3"> <input type="text" maxlength="3" name="data_23[first]" id="form_builder_field_27" class="form_builder_text" value="" /> <label for="form_builder_field_27" class="form_builder_sublabel form_builder_centered">###</label> </div>
									<div class="form_builder_phone_3">
									<input type="text" maxlength="3" name="data_23[second]" id="form_builder_field_28" class="form_builder_text" value="" /> <label for="form_builder_field_28" class="form_builder_sublabel form_builder_centered">###</label> </div>
									<div class="form_builder_phone_4">
									<input type="text" maxlength="4" name="data_23[third]" id="form_builder_field_29" class="form_builder_text" value="" /> <label for="form_builder_field_29" class="form_builder_sublabel form_builder_centered">####</label> </div>
								</div>
							</fieldset>
							<script src='https://www.google.com/recaptcha/api.js'></script>
							<fieldset> <label>
				Spam Prevention
				<span class="form_builder_required_star">*</span>
			</label>
								<p>Please help us prevent spam by using the reCAPTCHA below.</p>
								<div class="form_builder_captcha_error">
									<p>The code you entered was not correct. Please try again.</p>
								</div>
								<div class="g-recaptcha" data-sitekey="6LemekwUAAAAAA7s4TpoMCJXu3rSCa1GvTl8c53N"></div>
							</fieldset> <input type="submit" class="form_builder_submit" value="Submit" /> </form>
						<!-- In Content Callouts -->
						<div class="in_content_callouts"> </div>
						<!-- END: In Content Callouts -->
					</main>
				</div>
				<!-- END: Main Content -->
			</div>
			<!-- Full Width Callouts -->
			<div class="full_width_callouts"> </div>
			<!-- END: Full Width Callouts -->
		</div>
		<!-- END: Page Content -->
	</div>
	<!-- END: Page -->
	<!-- Footer -->
	<footer class="footer" id="footer" itemscope itemtype="http://schema.org/WPFooter">
		<div class="footer_ribbon">
			<div class="fs-row">
				<div class="fs-cell">
					<div class="footer_ribbon_inner">
						<div class="logo logo_footer logo_icon" itemscope itemtype="http://schema.org/CollegeOrUniversity"> <a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">Kenyon Campaign</span>
				<span class="logo_link_icon"><svg class="icon icon_logo_footer">
	<use xlink:href="../../../images/icons.svg#logo_footer"></use>
</svg>
</span>
			</a>
							<meta content="http://kenyon-campaign.dev.fastspot.com/images/logo-schema.png" itemprop="logo"> </div>
						<div class="footer_nav_social">
							<nav class="footer_nav" aria-label="Footer" itemscope itemtype="http://schema.org/SiteNavigationElement">
								<ul class="footer_nav_list">
									<li class="footer_nav_item"> <a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Contact Us</span>
			</a> </li>
									<li class="footer_nav_item"> <a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Accessibility</span>
			</a> </li>
									<li class="footer_nav_item"> <a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">For Campaign Volunteers</span>
			</a> </li>
								</ul>
							</nav>
							<div class="footer_copyright_social">
								<div class="footer_copyright">
									<p>&copy; 2018</p>
								</div>
								<div class="social_nav" itemscope itemtype="http://schema.org/CollegeOrUniversity">
									<link itemprop="url" href="//kenyon-campaign.dev.fastspot.com">
									<div class="social_nav_header">
										<h2 class="social_nav_title">Social</h2>
									</div>
									<div class="social_nav_list">
										<div class="social_nav_item"> <a class="social_nav_link" href="//twitter.com/KenyonCollege" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_twitter">
	<use xlink:href="../../../images/icons.svg#twitter"></use>
</svg>
</span>
								<span class="social_nav_label">Twitter</span>
			</a> </div>
										<div class="social_nav_item"> <a class="social_nav_link" href="//www.youtube.com/user/KenyonCollegeVideo" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_youtube">
	<use xlink:href="../../../images/icons.svg#youtube"></use>
</svg>
</span>
								<span class="social_nav_label">Youtube</span>
			</a> </div>
										<div class="social_nav_item"> <a class="social_nav_link" href="//www.facebook.com/kenyoncollege" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_facebook">
	<use xlink:href="../../../images/icons.svg#facebook"></use>
</svg>
</span>
								<span class="social_nav_label">Facebook</span>
			</a> </div>
										<div class="social_nav_item"> <a class="social_nav_link" href="//www.instagram.com/kenyoncollege/" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_instagram">
	<use xlink:href="../../../images/icons.svg#instagram"></use>
</svg>
</span>
								<span class="social_nav_label">Instagram</span>
			</a> </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- END: Footer -->
	</div>
	<!-- END: page_wrapper -->
	<div class="js-mobile-sidebar mobile_sidebar" id="mobile_sidebar" tabindex="-1">
		<nav class="js-main-nav js-main-nav-sm main_nav main_nav_sm" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<ul class="main_nav_list">
				<li class="js-main-nav-item-1 main_nav_item">
					<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Extend</span>
				</a> </div>
				</li>
				<li class="js-main-nav-item-2 main_nav_item main_nav_has_children">
					<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true">
					<span class="main_nav_link_label" itemprop="name">Enhance</span>
				</a> <button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav" aria-label="Enhance Submenu">
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button> </div>
					<ul class="js-main-nav-children main_nav_children" aria-label="submenu">
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Library</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">English Cottage</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Interdisciplinary Academic Building</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Admissions Center</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">The Village</span>
					</a> </li>
					</ul>
				</li>
				<li class="js-main-nav-item-3 main_nav_item">
					<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Enrich</span>
				</a> </div>
				</li>
			</ul>
		</nav>
		<nav class="secondary_nav secondary_nav_sm" aria-label="Secondary" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<ul class="secondary_nav_list">
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">About the Campaign</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Ways to Give</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Stories</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Get Involved</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Attend An Event</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Donate</span>
			</a> </li>
			</ul>
		</nav>
	</div>
	<script>
		var WWW_ROOT = "";
		var STATIC_ROOT = "../../";
	</script>
	<script src="../../js/site.js?1536353686"></script>
	<!-- Grid Bookmarklet -->
	<script>
		(function() {
			if (typeof FSGridBookmarklet === 'undefined') {
				document.body.appendChild(document.createElement('script')).src = '//formstone.it/js/bookmarklet/grid.js';
			} else {
				FSGridBookmarklet();
			}
		})();
	</script>
</body>

</html>