<!DOCTYPE html>
<html class="no-js" lang="en" itemscope="" itemtype="http://schema.org/WebPage">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<title>Pillar | Kenyon Campaign</title>
	<meta name="description" content="Kenyon College 2018 Campaign">
	<link rel="apple-touch-icon" sizes="x" href="../../favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../favicons/favicon-16x16.png">
	<link rel="manifest" href="../../favicons/site.webmanifest">
	<link rel="mask-icon" href="../../favicons/safari-pinned-tab.svg" color="#4_b2_e84">
	<link rel="shortcut icon" href="../../favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#4_b2_e84">
	<meta name="msapplication-config" content="../../favicons/browserconfig.xml">
	<meta name="theme-color" content="#4_b2_e84">
	<!-- G+ & Facebook -->
	<meta property="og:title" content="Pillar">
	<meta property="og:type" content="website">
	<meta property="og:image" content="/images/temp/social-wide.jpg">
	<meta property="og:image:width" content="1220">
	<meta property="og:image:height" content="686">
	<meta property="og:description" content="Kenyon College 2018 Campaign">
	<meta property="og:site_name" content="Kenyon Campaign">
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@KenyonCollege">
	<meta name="twitter:creator" content="@KenyonCollege">
	<meta name="twitter:url" content="//twitter.com/KenyonCollege">
	<meta name="twitter:title" content="Pillar">
	<meta name="twitter:description" content="Kenyon College 2018 Campaign">
	<meta name="twitter:image" content="/images/temp/social-wide.jpg">
	<script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5b841d0b8e496b00101b7350&amp;product=custom-share-buttons"></script>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,700,900" rel="stylesheet">
	<link rel="stylesheet" href="../../css/site.css?1536353686"> </head>

<body class="preload fs-grid page_layout_pillar">
	<!-- Skip-to-Content Link --><a class="skip_link" id="skip_to_content" href="#main_content">Skip to Main Content</a>
	<!-- Page Wrapper -->
	<div class="page_wrapper">
		<!-- Header -->
		<header class="header" id="header" itemscope itemtype="http://schema.org/WPHeader">
			<div class="header_ribbon">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="header_ribbon_inner">
							<div class="logo logo_header logo_icon" itemscope itemtype="http://schema.org/CollegeOrUniversity"> <a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">Kenyon Campaign</span>
				<span class="logo_link_icon"><svg class="icon icon_logo">
	<use xlink:href="../../../images/icons.svg#logo"></use>
</svg>
</span>
			</a>
								<meta content="http://kenyon-campaign.dev.fastspot.com/images/logo-schema.png" itemprop="logo"> </div>
							<div class="header_navigation">
								<nav class="secondary_nav secondary_nav_lg" aria-label="Secondary" itemscope itemtype="http://schema.org/SiteNavigationElement">
									<ul class="secondary_nav_list">
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">About the Campaign</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Ways to Give</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Stories</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Get Involved</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Attend An Event</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Donate</span>
			</a> </li>
									</ul>
								</nav>
								<nav class="js-main-nav js-main-nav-lg main_nav main_nav_lg" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
									<ul class="main_nav_list">
										<li class="js-main-nav-item-1 main_nav_item">
											<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Extend</span>
				</a> </div>
										</li>
										<li class="js-main-nav-item-2 main_nav_item main_nav_has_children">
											<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true">
					<span class="main_nav_link_label" itemprop="name">Enhance</span>
				</a> <button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav" aria-label="Enhance Submenu">
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button> </div>
											<ul class="js-main-nav-children main_nav_children" aria-label="submenu">
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Library</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">English Cottage</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Interdisciplinary Academic Building</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Admissions Center</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">The Village</span>
					</a> </li>
											</ul>
										</li>
										<li class="js-main-nav-item-3 main_nav_item">
											<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Enrich</span>
				</a> </div>
										</li>
									</ul>
								</nav>
							</div>
							<div class="header_group"> <a class="js-swap js-mobile-sidebar-handle mobile_sidebar_handle mobile_sidebar_handle_primary" href="#mobile_sidebar" data-swap-target=".mobile_sidebar" data-swap-linked="mobile_sidebar" aria-label="Menu/Search">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</a> </div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="home_pillar_nav js-home-pillar-nav">
			<div class="fs-row">
				<div class="fs-cell">
					<div class="home_pillar_nav_inner">
						<nav class="secondary_nav secondary_nav_lg" aria-label="Secondary" itemscope itemtype="http://schema.org/SiteNavigationElement">
							<ul class="secondary_nav_list">
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">About the Campaign</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Ways to Give</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Stories</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Get Involved</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Attend An Event</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Donate</span>
			</a> </li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- END: Header -->
		<!-- Page -->
		<div class="page_inner">
			<!-- Page Feature -->
			<div class="page_feature">
				<div class="pillar_header">
					<div class="pillar_header_media js-background" data-background-options='{"source":{"0px":"//images.fastspot.com/kenyon-campaign/735x980/2", "500px":"//images.fastspot.com/kenyon-campaign/980x735/2", "740px":"//images.fastspot.com/kenyon-campaign/1440x1080/2", "1220px":"//images.fastspot.com/kenyon-campaign/1440x810/2"},"alt":"Enhance Our Path - Adapt our campus to an ever-expanding intellectual frontier."}'>
						<div class="pillar_header_content">
							<div class="fs-row">
								<div class="pillar_header_inner">
									<div class="fs-cell fs-md-5 fs-lg-7 fs-xl-6">
										<header class="pillar_heading">
											<h1 class="pillar_header_headline">Enhance Our Path</h1> <span class="pillar_header_description">Adapt our campus to an ever-expanding intellectual frontier.</span> </header>
										<div class="pillar_header_cta"> <span class="pillar_header_icon">
                                <svg class="icon icon_arrow_down">
	<use xlink:href="../../../images/icons.svg#arrow_down"></use>
</svg>

                            </span> <a class="pillar_header_link" href="#"><span class="pillar_header_cta_label">Explore This Initiative</span></a> </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END: Page Feature -->
			<!-- Page Content -->
			<div class="page_content">
				<div class="fs-row">
					<!-- Main Content -->
					<div class="fs-cell content_wrapper">
						<main class="main_content" id="main_content" itemprop="mainContentOfPage">
							<!-- WYSIWYG - wrap all WYSIWYG text areas in `.typography` -->
							<div class="typography">
								<h2>Where Your Gift Will Make a Difference</h2>
								<p>OEtiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam
									quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
								<table>
									<thead>
										<tr>
											<th>Initiative</th>
											<th>Goal</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Library and parking garage</td>
											<td>$45 million</td>
										</tr>
										<tr>
											<td>Academic facilities</td>
											<td>$12 million</td>
										</tr>
										<tr>
											<td>Admissions center</td>
											<td>$10 million</td>
										</tr>
										<tr>
											<td>Residential experience</td>
											<td>$10 million</td>
										</tr>
										<tr>
											<td>Community engagement</td>
											<td>$3 million</td>
										</tr>
										<tr>
											<td><strong>Total</strong></td>
											<td><strong>$80 million</strong</td>
            </tr>
        </tbody>
    </table>

								</div>
								<!-- END: WYSIWYG -->

																
								<!-- In Content Callouts -->
								<div class="in_content_callouts">
																	</div>
								<!-- END: In Content Callouts -->
							</main>
						</div>
						<!-- END: Main Content -->

					</div>
					
					<!-- Full Width Callouts -->
										<div class="full_width_callouts">
											
    

<!-- timeline Block -->
<section class="timeline_block">

	<div class="fs-row">

		<div class="fs-cell">
	
							<header class="timeline_block_header">
					<h2 class="timeline_block_title">The Timeline</h2>
					<span class="timeline_block_heading">From New Buildings to Updated Technology & Services...</span>					<span class="timeline_block_subheading">We Are Creating Spaces Designed for Innovation</span>				</header>
			
			<div class="timeline_items">
									<div class="timeline_row theme_green">
						<div class="timeline_row_inner">
														<figure class="timeline_figure">
								

<picture class="timeline_picture">
		<source media="(min-width: 740px)" srcset="//images.fastspot.com/kenyon-campaign/980x552/1">
		<source media="(min-width: 0px)" srcset="//images.fastspot.com/kenyon-campaign/740x416/1">
		<img class="timeline_image" src="//images.fastspot.com/kenyon-campaign/980x552/1" alt="">
</picture>
							</figure>
														<div class="timeline_wrapper js-timeline-content">
								<header class="timeline_header">
									<h3 class="timeline_title">The West Quad</h3>
								</header>
								<div class="timeline_body">
									<div class="timeline_description">
										<p>The West Quad enables us to make major strides toward a more accessible Kenyon campus. We estimate that when all of the West Quad projects are complete 90% of classrooms will be accessible, up from 71 percent currently; 100 percent of classrooms with 20 - 99-seat capacity will be accessible.</p>
									</div>
								</div>
															</div>
						</div>
					</div>
									<div class="timeline_row theme_orange">
						<div class="timeline_row_inner">
														<figure class="timeline_figure">
								

<picture class="timeline_picture">
		<source media="(min-width: 740px)" srcset="//images.fastspot.com/kenyon-campaign/980x552/3">
		<source media="(min-width: 0px)" srcset="//images.fastspot.com/kenyon-campaign/740x416/3">
		<img class="timeline_image" src="//images.fastspot.com/kenyon-campaign/980x552/3" alt="">
</picture>
							</figure>
														<div class="timeline_wrapper js-timeline-content">
								<header class="timeline_header">
									<h3 class="timeline_title">A Modern Library</h3>
								</header>
								<div class="timeline_body">
									<div class="timeline_description">
										<p>A state-of-the-art library that is a laboratory for teaching innovation and a hub for undergraduate research, experiential learning and academic and career advising</p>
									</div>
								</div>
																	<footer class="timeline_footer">
										<a class="timeline_link" href="#">
	<span class="timeline_link_label">More on the Library</span>
	</a>

									</footer>
															</div>
						</div>
					</div>
									<div class="timeline_row theme_blue">
						<div class="timeline_row_inner">
														<figure class="timeline_figure">
								

<picture class="timeline_picture">
		<source media="(min-width: 740px)" srcset="//images.fastspot.com/kenyon-campaign/980x552/6">
		<source media="(min-width: 0px)" srcset="//images.fastspot.com/kenyon-campaign/740x416/6">
		<img class="timeline_image" src="//images.fastspot.com/kenyon-campaign/980x552/6" alt="">
</picture>
							</figure>
														<div class="timeline_wrapper js-timeline-content">
								<header class="timeline_header">
									<h3 class="timeline_title">Our Expanding Departments</h3>
								</header>
								<div class="timeline_body">
									<div class="timeline_description">
										<p>The English program at Kenyon is one of the College's proudest traditions and remains one of our most popular majors. It has fostered some of the 20th and 21st centuries most acclaimed writers.</p>
									</div>
								</div>
															</div>
						</div>
					</div>
								<div class="timeline_divider"></div>
			</div>

			

		</div>

	</div>

</section>
<!-- END: timeline Block -->
	

<section class="facts_stats js-facts-stats theme_dark">

    <div class="fs-row">
        <div class="fs-cell fs-lg-12">  

            <header class="facts_stats_header">
                <h3 class="facts_stats_heading">Facts and Stats</h3>
                                    <span class="facts_stats_subheading">The Numbers That Really Matter</span>
                                                    <div class="facts_stats_nav">
                        <span class="nav_prev"></span>
                        <span class="nav_next"></span>
                    </div>
                            </header>

            <div class="facts_stats_inner">
                <div class="facts_stats_display js-facts-stats-display">
                                            <div class="fact_stat_display_item theme_green">
                                                                                        <div class="display_item_image">
                                    <span class="display_item_infonumber">70%</span>
                                </div>
                                                        <div class="display_item_content">
                                <p class="display_item_text">Our Goal for participation from the Kenyon alumni community. <strong>Over 1200</strong> people have supported the campaign so far.</p> <a class="display_item_link" href="#">
	<span class="display_item_link_label">Give Now</span>
	</a> </div>
					</div>
					<div class="fact_stat_display_item theme_blue">
						<div class="display_item_image"> <img src="../../images/chart.png" alt="<strong>75 scholars</strong> received a $4,000 stipend to conduct research with faculty members in the natural science, social sciences, and humanities over the summer of 2017." /> </div>
						<div class="display_item_content">
							<p class="display_item_text"><strong>75 scholars</strong> received a $4,000 stipend to conduct research with faculty members in the natural science, social sciences, and humanities over the summer of 2017.</p>
						</div>
					</div>
					<div class="fact_stat_display_item theme_purple has_image js-background" data-background-options='{"source": "https://images.fastspot.com/kenyon-campaign/12/full-med/"}'>
						<div class="display_item_content">
							<p class="display_item_text"><strong>Financial aid is the fastest growing item in Kenyon's budget.</strong></p> <a class="display_item_link" href="#">
	<span class="display_item_link_label">Give Now</span>
	</a> </div>
					</div>
					<div class="fact_stat_display_item theme_orange">
						<div class="display_item_image"> <img src="../../images/chart.png" alt="Almost all Kenyon classrooms will be accessible when the West Quad and associated work is complete." /> </div>
						<div class="display_item_content">
							<p class="display_item_text">Almost all Kenyon classrooms will be accessible when the West Quad and associated work is complete.</p>
						</div>
					</div>
				</div>
				<div class="facts_stats_items js-facts-stats-items">
					<div class="fact_stat_item theme_green">
						<div class="fact_stat_item_content">
							<p class="fact_stat_item_text">Our Goal for participation from the Kenyon alumni community. <strong>Over 1200</strong> people have supported the campaign so far.</p> <a class="fact_stat_item_link" href="#">
	<span class="fact_stat_item_link_label">Give Now</span>
	</a> </div>
					</div>
					<div class="fact_stat_item theme_blue">
						<div class="fact_stat_item_content">
							<p class="fact_stat_item_text"><strong>75 scholars</strong> received a $4,000 stipend to conduct research with faculty members in the natural science, social sciences, and humanities over the summer of 2017.</p>
						</div>
					</div>
					<div class="fact_stat_item has_image theme_purple">
						<div class="fact_stat_item_content">
							<p class="fact_stat_item_text"><strong>Financial aid is the fastest growing item in Kenyon's budget.</strong></p> <a class="fact_stat_item_link" href="#">
	<span class="fact_stat_item_link_label">Give Now</span>
	</a> </div>
					</div>
					<div class="fact_stat_item theme_orange">
						<div class="fact_stat_item_content">
							<p class="fact_stat_item_text">Almost all Kenyon classrooms will be accessible when the West Quad and associated work is complete.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
	<section class="media_gallery js-media-gallery">
		<div class="fs-row">
			<div class="fs-cell fs-lg-12">
				<div class="media_gallery_inner">
					<header class="media_gallery_header">
						<h2 class="media_gallery_title">Changes on Campus</h2> <span class="media_gallery_subheading">And the People who Made Them Happen</span> </header>
					<div class="media_gallery_items">
						<div class="media_gallery_items_inner js-media-gallery-items">
							<div class="media_gallery_item">
								<div class="media_gallery_item_inner">
									<div class="media_gallery_item_wrapper">
										<picture class="media_gallery_item_media_picture">
											<source media="(min-width: 1220px)" srcset="//images.fastspot.com/kenyon-campaign/1220x686/12">
											<source media="(min-width: 980px)" srcset="//images.fastspot.com/kenyon-campaign/980x552/12">
											<source media="(min-width: 500px)" srcset="//images.fastspot.com/kenyon-campaign/740x416/12">
											<source media="(min-width: 0px)" srcset="//images.fastspot.com/kenyon-campaign/500x282/12"> <img class="media_gallery_item_media_image" src="../../images/placeholder.png" alt=""> </picture>
									</div>
									<div class="media_gallery_item_caption">
										<div class="media_gallery_item_count"> </div>
										<p class="media_gallery_caption_text">The accumsan felis ut dui tempor, eu consectetur dolor vaolupat. Sed dapibus enim at congue ultricies. Vestibolum ante ipsum preimis in faucuibus orci luctus et ultricies posueru cubilia Curae.</p>
									</div>
								</div>
							</div>
							<div class="media_gallery_item">
								<div class="media_gallery_item_inner">
									<div class="media_gallery_item_wrapper">
										<picture class="media_gallery_item_media_picture">
											<source media="(min-width: 1220px)" srcset="//images.fastspot.com/kenyon-campaign/1220x686/8">
											<source media="(min-width: 980px)" srcset="//images.fastspot.com/kenyon-campaign/980x552/8">
											<source media="(min-width: 500px)" srcset="//images.fastspot.com/kenyon-campaign/740x416/8">
											<source media="(min-width: 0px)" srcset="//images.fastspot.com/kenyon-campaign/500x282/8"> <img class="media_gallery_item_media_image" src="../../images/placeholder.png" alt=""> </picture> <a class="js-video-appender video_item_trigger" href="//www.youtube.com/watch?v=UZBrLtuS4ZU" data-video-id="UZBrLtuS4ZU" data-video-service="youtube"
										 aria-label="Watch The Video">
                                                <span class="video_item_trigger_hint">
                                                    <span class="video_item_hint_icon"><svg class="icon icon_caret_right">
	<use xlink:href="../../../images/icons.svg#caret_right"></use>
</svg>
</span>
                                                </span>
                                            </a> </div>
									<div class="media_gallery_item_caption">
										<div class="media_gallery_item_count"> </div>
										<p class="media_gallery_caption_text">The accumsan felis ut dui tempor, eu consectetur dolor vaolupat. Sed dapibus enim at congue ultricies. Vestibolum ante ipsum preimis in faucuibus orci luctus et ultricies posueru cubilia Curae.</p>
									</div>
								</div>
							</div>
							<div class="media_gallery_item">
								<div class="media_gallery_item_inner">
									<div class="media_gallery_item_wrapper">
										<picture class="media_gallery_item_media_picture">
											<source media="(min-width: 1220px)" srcset="//images.fastspot.com/kenyon-campaign/1220x686/4">
											<source media="(min-width: 980px)" srcset="//images.fastspot.com/kenyon-campaign/980x552/4">
											<source media="(min-width: 500px)" srcset="//images.fastspot.com/kenyon-campaign/740x416/4">
											<source media="(min-width: 0px)" srcset="//images.fastspot.com/kenyon-campaign/500x282/4"> <img class="media_gallery_item_media_image" src="../../images/placeholder.png" alt=""> </picture>
									</div>
									<div class="media_gallery_item_caption">
										<div class="media_gallery_item_count"> </div>
										<p class="media_gallery_caption_text">The accumsan felis ut dui tempor, eu consectetur dolor vaolupat. Sed dapibus enim at congue ultricies. Vestibolum ante ipsum preimis in faucuibus orci luctus et ultricies posueru cubilia Curae.</p>
									</div>
								</div>
							</div>
							<div class="media_gallery_item">
								<div class="media_gallery_item_inner">
									<div class="media_gallery_item_wrapper">
										<picture class="media_gallery_item_media_picture">
											<source media="(min-width: 1220px)" srcset="//images.fastspot.com/kenyon-campaign/1220x686/9">
											<source media="(min-width: 980px)" srcset="//images.fastspot.com/kenyon-campaign/980x552/9">
											<source media="(min-width: 500px)" srcset="//images.fastspot.com/kenyon-campaign/740x416/9">
											<source media="(min-width: 0px)" srcset="//images.fastspot.com/kenyon-campaign/500x282/9"> <img class="media_gallery_item_media_image" src="../../images/placeholder.png" alt=""> </picture>
									</div>
									<div class="media_gallery_item_caption">
										<div class="media_gallery_item_count"> </div>
										<p class="media_gallery_caption_text">The accumsan felis ut dui tempor, eu consectetur dolor vaolupat. Sed dapibus enim at congue ultricies. Vestibolum ante ipsum preimis in faucuibus orci luctus et ultricies posueru cubilia Curae.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="media_gallery_nav"> <span class="media_gallery_nav_prev"></span> <span class="media_gallery_nav_next"></span> </div>
				</div>
			</div>
		</div>
	</section>
	</div>
	<!-- END: Full Width Callouts -->
	</div>
	<!-- END: Page Content -->
	</div>
	<!-- END: Page -->
	<!-- Footer -->
	<footer class="footer" id="footer" itemscope itemtype="http://schema.org/WPFooter">
		<div class="footer_ribbon">
			<div class="fs-row">
				<div class="fs-cell">
					<div class="footer_ribbon_inner">
						<div class="logo logo_footer logo_icon" itemscope itemtype="http://schema.org/CollegeOrUniversity"> <a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">Kenyon Campaign</span>
				<span class="logo_link_icon"><svg class="icon icon_logo_footer">
	<use xlink:href="../../../images/icons.svg#logo_footer"></use>
</svg>
</span>
			</a>
							<meta content="http://kenyon-campaign.dev.fastspot.com/images/logo-schema.png" itemprop="logo"> </div>
						<div class="footer_nav_social">
							<nav class="footer_nav" aria-label="Footer" itemscope itemtype="http://schema.org/SiteNavigationElement">
								<ul class="footer_nav_list">
									<li class="footer_nav_item"> <a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Contact Us</span>
			</a> </li>
									<li class="footer_nav_item"> <a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Accessibility</span>
			</a> </li>
									<li class="footer_nav_item"> <a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">For Campaign Volunteers</span>
			</a> </li>
								</ul>
							</nav>
							<div class="footer_copyright_social">
								<div class="footer_copyright">
									<p>&copy; 2018</p>
								</div>
								<div class="social_nav" itemscope itemtype="http://schema.org/CollegeOrUniversity">
									<link itemprop="url" href="//kenyon-campaign.dev.fastspot.com">
									<div class="social_nav_header">
										<h2 class="social_nav_title">Social</h2>
									</div>
									<div class="social_nav_list">
										<div class="social_nav_item"> <a class="social_nav_link" href="//twitter.com/KenyonCollege" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_twitter">
	<use xlink:href="../../../images/icons.svg#twitter"></use>
</svg>
</span>
								<span class="social_nav_label">Twitter</span>
			</a> </div>
										<div class="social_nav_item"> <a class="social_nav_link" href="//www.youtube.com/user/KenyonCollegeVideo" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_youtube">
	<use xlink:href="../../../images/icons.svg#youtube"></use>
</svg>
</span>
								<span class="social_nav_label">Youtube</span>
			</a> </div>
										<div class="social_nav_item"> <a class="social_nav_link" href="//www.facebook.com/kenyoncollege" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_facebook">
	<use xlink:href="../../../images/icons.svg#facebook"></use>
</svg>
</span>
								<span class="social_nav_label">Facebook</span>
			</a> </div>
										<div class="social_nav_item"> <a class="social_nav_link" href="//www.instagram.com/kenyoncollege/" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_instagram">
	<use xlink:href="../../../images/icons.svg#instagram"></use>
</svg>
</span>
								<span class="social_nav_label">Instagram</span>
			</a> </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- END: Footer -->
	</div>
	<!-- END: page_wrapper -->
	<div class="js-mobile-sidebar mobile_sidebar" id="mobile_sidebar" tabindex="-1">
		<nav class="js-main-nav js-main-nav-sm main_nav main_nav_sm" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<ul class="main_nav_list">
				<li class="js-main-nav-item-1 main_nav_item">
					<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Extend</span>
				</a> </div>
				</li>
				<li class="js-main-nav-item-2 main_nav_item main_nav_has_children">
					<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true">
					<span class="main_nav_link_label" itemprop="name">Enhance</span>
				</a> <button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav" aria-label="Enhance Submenu">
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button> </div>
					<ul class="js-main-nav-children main_nav_children" aria-label="submenu">
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Library</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">English Cottage</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Interdisciplinary Academic Building</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Admissions Center</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">The Village</span>
					</a> </li>
					</ul>
				</li>
				<li class="js-main-nav-item-3 main_nav_item">
					<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Enrich</span>
				</a> </div>
				</li>
			</ul>
		</nav>
		<nav class="secondary_nav secondary_nav_sm" aria-label="Secondary" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<ul class="secondary_nav_list">
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">About the Campaign</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Ways to Give</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Stories</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Get Involved</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Attend An Event</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Donate</span>
			</a> </li>
			</ul>
		</nav>
	</div>
	<script>
		var WWW_ROOT = "";
		var STATIC_ROOT = "../../";
	</script>
	<script src="../../js/site.js?1536353686"></script>
	<!-- Grid Bookmarklet -->
	<script>
		(function() {
			if (typeof FSGridBookmarklet === 'undefined') {
				document.body.appendChild(document.createElement('script')).src = '//formstone.it/js/bookmarklet/grid.js';
			} else {
				FSGridBookmarklet();
			}
		})();
	</script>
</body>

</html>