<!DOCTYPE html>
<html class="no-js" lang="en" itemscope="" itemtype="http://schema.org/WebPage">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<title>Home | Kenyon Campaign</title>
	<meta name="description" content="Kenyon College 2018 Campaign">
	<link rel="apple-touch-icon" sizes="x" href="../../favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../favicons/favicon-16x16.png">
	<link rel="manifest" href="../../favicons/site.webmanifest">
	<link rel="mask-icon" href="../../favicons/safari-pinned-tab.svg" color="#4_b2_e84">
	<link rel="shortcut icon" href="../../favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#4_b2_e84">
	<meta name="msapplication-config" content="../../favicons/browserconfig.xml">
	<meta name="theme-color" content="#4_b2_e84">
	<!-- G+ & Facebook -->
	<meta property="og:title" content="Home">
	<meta property="og:type" content="website">
	<meta property="og:image" content="/images/temp/social-wide.jpg">
	<meta property="og:image:width" content="1220">
	<meta property="og:image:height" content="686">
	<meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
	<meta property="og:site_name" content="Kenyon Campaign">
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@KenyonCollege">
	<meta name="twitter:creator" content="@KenyonCollege">
	<meta name="twitter:url" content="//twitter.com/KenyonCollege">
	<meta name="twitter:title" content="Home">
	<meta name="twitter:description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
	<meta name="twitter:image" content="/images/temp/social-wide.jpg">
	<script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5b841d0b8e496b00101b7350&amp;product=custom-share-buttons"></script>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,700,900" rel="stylesheet">
	<link rel="stylesheet" href="../../css/site.css?1536353686"> </head>

<body class="preload fs-grid page_layout_home">
	<!-- Skip-to-Content Link --><a class="skip_link" id="skip_to_content" href="#main_content">Skip to Main Content</a>
	<!-- Page Wrapper -->
	<div class="page_wrapper">
		<!-- Header -->
		<header class="header" id="header" itemscope itemtype="http://schema.org/WPHeader">
			<div class="header_ribbon">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="header_ribbon_inner">
							<div class="logo logo_header logo_icon" itemscope itemtype="http://schema.org/CollegeOrUniversity"> <a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">Kenyon Campaign</span>
				<span class="logo_link_icon"><svg class="icon icon_logo">
	<use xlink:href="../../../images/icons.svg#logo"></use>
</svg>
</span>
			</a>
								<meta content="http://kenyon-campaign.dev.fastspot.com/images/logo-schema.png" itemprop="logo"> </div>
							<div class="header_navigation">
								<nav class="secondary_nav secondary_nav_lg" aria-label="Secondary" itemscope itemtype="http://schema.org/SiteNavigationElement">
									<ul class="secondary_nav_list">
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">About the Campaign</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Ways to Give</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Stories</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Get Involved</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Attend An Event</span>
			</a> </li>
										<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Donate</span>
			</a> </li>
									</ul>
								</nav>
								<nav class="js-main-nav js-main-nav-lg main_nav main_nav_lg" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
									<ul class="main_nav_list">
										<li class="js-main-nav-item-1 main_nav_item">
											<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Extend</span>
				</a> </div>
										</li>
										<li class="js-main-nav-item-2 main_nav_item main_nav_has_children">
											<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true">
					<span class="main_nav_link_label" itemprop="name">Enhance</span>
				</a> <button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav" aria-label="Enhance Submenu">
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button> </div>
											<ul class="js-main-nav-children main_nav_children" aria-label="submenu">
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Library</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">English Cottage</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Interdisciplinary Academic Building</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Admissions Center</span>
					</a> </li>
												<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">The Village</span>
					</a> </li>
											</ul>
										</li>
										<li class="js-main-nav-item-3 main_nav_item">
											<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Enrich</span>
				</a> </div>
										</li>
									</ul>
								</nav>
							</div>
							<div class="header_group"> <a class="js-swap js-mobile-sidebar-handle mobile_sidebar_handle mobile_sidebar_handle_primary" href="#mobile_sidebar" data-swap-target=".mobile_sidebar" data-swap-linked="mobile_sidebar" aria-label="Menu/Search">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</a> </div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="home_pillar_nav js-home-pillar-nav">
			<div class="fs-row">
				<div class="fs-cell">
					<div class="home_pillar_nav_inner">
						<nav class="secondary_nav secondary_nav_lg" aria-label="Secondary" itemscope itemtype="http://schema.org/SiteNavigationElement">
							<ul class="secondary_nav_list">
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">About the Campaign</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Ways to Give</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Stories</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Get Involved</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Attend An Event</span>
			</a> </li>
								<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Donate</span>
			</a> </li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- END: Header -->
		<!-- Page -->
		<div class="page_inner">
			<!-- Page Feature -->
			<div class="page_feature">
				<section class="home_pillars js-home-pillars" data-position="one">
					<div class="home_pillars_media js-background" data-background-options='{"source": {"mp4":"/files/kenyon.mp4", "poster":"https://images.fastspot.com/kenyon-campaign/12/full-xlrg/"}, "alt":"Our Path Forward"}'></div>
					<div class="home_pillars_content">
						<div class="fs-row">
							<div class="fs-cell fs-lg-12">
								<div class="home_pillars_inner js-pillar-content">
									<div class="home_pillars_logo">
										<div class="logo logo_home_pillars logo_icon" itemscope itemtype="http://schema.org/CollegeOrUniversity"> <a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">Kenyon Campaign</span>
				<span class="logo_link_icon"><svg class="icon icon_logo_white">
	<use xlink:href="../../../images/icons.svg#logo_white"></use>
</svg>
</span>
			</a>
											<meta content="http://kenyon-campaign.dev.fastspot.com/images/logo-schema.png" itemprop="logo"> </div>
									</div>
									<div class="home_pillars_sections">
										<div class="home_pillars_sections_inner">
											<div class="home_pillar_section pillar_section_1 js-pillar">
												<h2 class="home_pillar_title"> <a class="pillar_title_link js-pillar-title-link" href="#">Extend</a> <span class="pillar_icon">
											<svg class="icon icon_caret_right">
	<use xlink:href="../../../images/icons.svg#caret_right"></use>
</svg>

										</span> </h2>
												<div class="home_pillar_inner_content">
													<p class="home_pillar_goal">Goal: 150 Million</p>
													<p class="home_pillar_description">A larger endowment will sustain the spirit of discourse that is central to a Kenyon education. We must make Kenyon affordable for promising students regardless of their financial circumstances.</p> <a class="home_pillar_mobile_link" href="#">
											<span class="home_pillar_mobile_link_label">Learn More</span>
											<span class="home_pillar_mobile_link_icon" aria-hidden="true">
												<svg class="icon icon_caret_right">
													<use xlink:href="../../../images/icons.svg#caret_right"></use>
												</svg>
											</span>
										</a> </div>
											</div>
											<div class="home_pillar_section pillar_section_2 js-pillar">
												<h2 class="home_pillar_title"> <a class="pillar_title_link js-pillar-title-link" href="#">Enhance</a> <span class="pillar_icon">
											<svg class="icon icon_caret_right">
	<use xlink:href="../../../images/icons.svg#caret_right"></use>
</svg>

										</span> </h2>
												<div class="home_pillar_inner_content">
													<p class="home_pillar_goal">Goal: 80 Million</p>
													<p class="home_pillar_description">A campus adapted to 21st century teaching and learning is crucial to support a talented and diverse student body and to foster exceptional programs for both students and faculty.</p> <a class="home_pillar_mobile_link" href="#">
											<span class="home_pillar_mobile_link_label">Learn More</span>
											<span class="home_pillar_mobile_link_icon" aria-hidden="true">
												<svg class="icon icon_caret_right">
													<use xlink:href="../../../images/icons.svg#caret_right"></use>
												</svg>
											</span>
										</a> </div>
											</div>
											<div class="home_pillar_section pillar_section_3 js-pillar">
												<h2 class="home_pillar_title"> <a class="pillar_title_link js-pillar-title-link" href="#">Enrich</a> <span class="pillar_icon">
											<svg class="icon icon_caret_right">
	<use xlink:href="../../../images/icons.svg#caret_right"></use>
</svg>

										</span> </h2>
												<div class="home_pillar_inner_content">
													<p class="home_pillar_goal">Goal: 70 Million</p>
													<p class="home_pillar_description">Eqiup students from all backgrounds to thrive in an increasingly complex world through hands-on learning and curricular innovation.</p> <a class="home_pillar_mobile_link" href="#">
											<span class="home_pillar_mobile_link_label">Learn More</span>
											<span class="home_pillar_mobile_link_icon" aria-hidden="true">
												<svg class="icon icon_caret_right">
													<use xlink:href="../../../images/icons.svg#caret_right"></use>
												</svg>
											</span>
										</a> </div>
											</div>
										</div>
									</div>
									<div class="video_cta_pause">
										<div class="mobile_video_cta"> <span class="mobile_video_cta_icon">
								<svg class="icon icon_play">
	<use xlink:href="../../../images/icons.svg#play"></use>
</svg>

							</span> <a class="js-lightboxing" href="https://www.youtube.com/watch?v=10AqBMovKGE"><span class="mobile_video_cta_label">Watch The Campaign Video</span></a> </div>
										<div class="video_pause"> <button class="js-video-play-pause" aria-hidden="true">
								<span class="video_pause_label">Pause</span>
								<svg class="icon icon_pause">
	<use xlink:href="../../../images/icons.svg#pause"></use>
</svg>

							</button> </div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="home_pillars_background js-pillars-background"></div>
				</section>
			</div>
			<!-- END: Page Feature -->
			<!-- Page Content -->
			<div class="page_content">
				<!-- Full Width Callouts -->
				<main class="full_width_callouts" id="main_content" itemprop="mainContentOfPage">
					<div class="js-bar-graph bar_graph theme_dark color_purple">
						<div class="fs-row">
							<div class="fs-cell fs-lg-10 fs-lg-push-1">
								<div class="bar_graph_container">
									<div class="bar_graph_info">
										<p class="bar_graph_heading">Join Our Campaign</p>
										<h3 class="bar_graph_title">Over 1200 People Have Supported the Campaign.</h3>
										<div class="bar_graph_inner has_summary">
											<div class="bar_graph_summary"><span class="bar_graph_summary_label">Join us in Forging our Path Forward.</span></div>
											<div class="bar_graph_button"> <a class="bar_graph_button_link" href="#">
	<span class="bar_graph_button_link_label">Give Now</span>
	</a> </div>
										</div>
									</div>
									<div class="bar_graph_fullwidth js-bargraph-fullwidth">
										<div class="bar_graph_value"> <span class="bar_graph_value_label">$180,800,000</span> </div>
									</div>
									<div class="bar_graph_labels"> <span class="bar_graph_nominator">$0</span> <span class="bar_graph_denominator">$300,000,000</span> </div>
								</div>
							</div>
						</div>
					</div>
					<!-- Flex Callout -->
					<section class="flex_callout emphasized">
						<div class="fs-row">
							<div class="fs-cell fs-lg-12">
								<div class="flex_callout_wrapper">
									<header class="flex_callout_header"> <span class="flex_callout_meta">Endure: $35 Million</span> <span class="flex_callout_title">Power the Activities that make Kenyon Exceptional</span> <span class="flex_callout_subheading">With Annual Giving, We Can Build Kenyon's Future on Our Proud Tradition</span>										</header>
									<footer class="flex_callout_links"> <a class="flex_callout_link" href="#">
	<span class="flex_callout_link_label">The Kenyon Fund</span>
	</a> <a class="flex_callout_link" href="#">
	<span class="flex_callout_link_label">Kenyon Parents Fund</span>
	</a> </footer>
								</div>
							</div>
							<div class="flex_callout_emphasized_overlay"></div>
							<div class="js-background flex_callout_background" data-background-options='{"source": {
"0px": "//images.fastspot.com/kenyon-campaign/494x740/7", "500px": "//images.fastspot.com/kenyon-campaign/740x555/7", "740px": "//images.fastspot.com/kenyon-campaign/980x552/7", "980px": "//images.fastspot.com/kenyon-campaign/1220x523/7"}}'></div>
						</div>
					</section>
					<!-- END: Flex Callout -->
					<!-- Topic Block -->
					<div class="topic_block">
						<div class="fs-row">
							<div class="fs-cell fs-lg-12">
								<header class="topic_block_header">
									<h2 class="topic_block_title">Campaign Impact</h2>
									<p class="topic_block_heading">Learning Experiences That Challenge Students to Go Deeper.</p>
									<p class="topic_block_subheading">Explore How Your Support Transforms our Community.</p>
									<div class="topic_header_button large"> <a class="topic_block_header_link" href="#">
	<span class="topic_block_header_link_label">View All Stories</span>
	</a> </div>
								</header>
								<div class="topic_items">
									<article class="topic_row">
										<div class="topic_row_inner">
											<div class="topic_media">
												<figure class="topic_figure">
													<picture class="topic_picture">
														<source media="(min-width: 740px)" srcset="//images.fastspot.com/kenyon-campaign/980x735/13">
														<source media="(min-width: 0px)" srcset="//images.fastspot.com/kenyon-campaign/740x555/13"> <img class="topic_image" src="//images.fastspot.com/kenyon-campaign/980x735/13" alt=""> </picture>
												</figure>
											</div>
											<div class="topic_wrapper">
												<header class="topic_header"> <span class="topic_tags"><a href='#'>Enhance</a> The West Quad</span>
													<h3 class="topic_title">Here Comes the Sun</h3>
												</header>
												<div class="topic_body">
													<div class="topic_description">
														<p>Travel down Middle Path in the heart of Gambier on a sunny day, and a glistening array of solar panels might catch your eye.</p>
													</div>
												</div>
												<footer class="topic_links"> <a class="topic_link" href="#">
	<span class="topic_link_label">Read The Story</span>
		<span class="topic_link_icon" aria-hidden="true">
		<svg class="icon icon_chevron_right">
			<use xlink:href="../../../images/icons.svg#chevron_right"></use>
		</svg>
	</span>
	</a> </footer>
											</div>
										</div>
									</article>
									<article class="topic_row">
										<div class="topic_row_inner">
											<div class="topic_media">
												<figure class="topic_figure">
													<picture class="topic_picture">
														<source media="(min-width: 740px)" srcset="//images.fastspot.com/kenyon-campaign/980x735/6">
														<source media="(min-width: 0px)" srcset="//images.fastspot.com/kenyon-campaign/740x555/6"> <img class="topic_image" src="//images.fastspot.com/kenyon-campaign/980x735/6" alt=""> </picture>
												</figure>
											</div>
											<div class="topic_wrapper">
												<header class="topic_header"> <span class="topic_tags"><a href='#'>Extend</a> <a href='#'>Link</a> Financial Aid \ Sciences</span>
													<h3 class="topic_title">Breaking Down Barriers</h3>
												</header>
												<div class="topic_body">
													<div class="topic_description">
														<p>Kenyon has been selected as one of 24 schools nationwide to participdate in the Hower Hughes Medical Institute (HHMI) Inclusive Excellence initiative, aimed at helping colleges and universities recruit and advance students in the natural
															sciences.</p>
													</div>
												</div>
												<footer class="topic_links"> <a class="topic_link" href="#">
	<span class="topic_link_label">Read The Story</span>
		<span class="topic_link_icon" aria-hidden="true">
		<svg class="icon icon_chevron_right">
			<use xlink:href="../../../images/icons.svg#chevron_right"></use>
		</svg>
	</span>
	</a> </footer>
											</div>
										</div>
									</article>
								</div>
							</div>
						</div>
					</div>
					<!-- END: Topic Block -->
					<section class="facts_stats js-facts-stats">
						<div class="fs-row">
							<div class="fs-cell fs-lg-12">
								<header class="facts_stats_header">
									<h3 class="facts_stats_heading">Facts and Stats</h3> <span class="facts_stats_subheading">The Numbers That Really Matter</span>
									<div class="facts_stats_nav"> <span class="nav_prev"></span> <span class="nav_next"></span> </div>
								</header>
								<div class="facts_stats_inner">
									<div class="facts_stats_display js-facts-stats-display">
										<div class="fact_stat_display_item theme_green">
											<div class="display_item_image"> <img src="../../images/chart.png" alt="Our Goal for participation from the Kenyon alumni community. <strong>Over 1200</strong> people have supported the campaign so far." /> </div>
											<div class="display_item_content">
												<p class="display_item_text">Our Goal for participation from the Kenyon alumni community. <strong>Over 1200</strong> people have supported the campaign so far.</p> <a class="display_item_link" href="#">
	<span class="display_item_link_label">Give Now</span>
	</a> </div>
										</div>
										<div class="fact_stat_display_item theme_blue">
											<div class="display_item_image"> <img src="../../images/chart.png" alt="<strong>75 scholars</strong> received a $4,000 stipend to conduct research with faculty members in the natural science, social sciences, and humanities over the summer of 2017." /> </div>
											<div class="display_item_content">
												<p class="display_item_text"><strong>75 scholars</strong> received a $4,000 stipend to conduct research with faculty members in the natural science, social sciences, and humanities over the summer of 2017.</p>
											</div>
										</div>
										<div class="fact_stat_display_item theme_purple has_image js-background" data-background-options='{"source": "https://images.fastspot.com/kenyon-campaign/12/full-med/"}'>
											<div class="display_item_content">
												<p class="display_item_text"><strong>Financial aid is the fastest growing item in Kenyon's budget.</strong></p> <a class="display_item_link" href="#">
	<span class="display_item_link_label">Give Now</span>
	</a> </div>
										</div>
										<div class="fact_stat_display_item theme_orange">
											<div class="display_item_image"> <img src="../../images/chart.png" alt="Almost all Kenyon classrooms will be accessible when the West Quad and associated work is complete." /> </div>
											<div class="display_item_content">
												<p class="display_item_text">Almost all Kenyon classrooms will be accessible when the West Quad and associated work is complete.</p>
											</div>
										</div>
									</div>
									<div class="facts_stats_items js-facts-stats-items">
										<div class="fact_stat_item theme_green">
											<div class="fact_stat_item_content">
												<p class="fact_stat_item_text">Our Goal for participation from the Kenyon alumni community. <strong>Over 1200</strong> people have supported the campaign so far.</p> <a class="fact_stat_item_link" href="#">
	<span class="fact_stat_item_link_label">Give Now</span>
	</a> </div>
										</div>
										<div class="fact_stat_item theme_blue">
											<div class="fact_stat_item_content">
												<p class="fact_stat_item_text"><strong>75 scholars</strong> received a $4,000 stipend to conduct research with faculty members in the natural science, social sciences, and humanities over the summer of 2017.</p>
											</div>
										</div>
										<div class="fact_stat_item has_image theme_purple">
											<div class="fact_stat_item_content">
												<p class="fact_stat_item_text"><strong>Financial aid is the fastest growing item in Kenyon's budget.</strong></p> <a class="fact_stat_item_link" href="#">
	<span class="fact_stat_item_link_label">Give Now</span>
	</a> </div>
										</div>
										<div class="fact_stat_item theme_orange">
											<div class="fact_stat_item_content">
												<p class="fact_stat_item_text">Almost all Kenyon classrooms will be accessible when the West Quad and associated work is complete.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- Flex Callout -->
					<section class="flex_callout theme_dark">
						<div class="fs-row">
							<div class="fs-cell fs-lg-4">
								<div class="flex_callout_wrapper">
									<header class="flex_callout_header"> <span class="flex_callout_meta">Monday, May 14</span>
										<h3 class="flex_callout_title"><strong>Annual Senior Student</strong> Art Exhibition</h3>
									</header>
									<div class="flex_callout_body">
										<div class="flex_callout_description">
											<p>Senior art majors share work across all media: painting, photography, printmaking, sculpture, installation, drawing, new and mixed media.</p>
										</div>
									</div>
									<footer class="flex_callout_links"> <a class="flex_callout_link" href="#">
	<span class="flex_callout_link_label">View More Events</span>
	</a> </footer>
								</div>
							</div>
							<div class="js-background flex_callout_background" data-background-options='{"source": {
"0px": "//images.fastspot.com/kenyon-campaign/500x500/8", "500px": "//images.fastspot.com/kenyon-campaign/740x555/8", "740px": "//images.fastspot.com/kenyon-campaign/980x552/8", "980px": "//images.fastspot.com/kenyon-campaign/1220x915/8"}}'></div>
						</div>
					</section>
					<!-- END: Flex Callout -->
				</main>
				<!-- END: Full Width Callouts -->
			</div>
			<!-- END: Page Content -->
		</div>
		<!-- END: Page -->
		<!-- Footer -->
		<footer class="footer" id="footer" itemscope itemtype="http://schema.org/WPFooter">
			<div class="footer_ribbon">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="footer_ribbon_inner">
							<div class="logo logo_footer logo_icon" itemscope itemtype="http://schema.org/CollegeOrUniversity"> <a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">Kenyon Campaign</span>
				<span class="logo_link_icon"><svg class="icon icon_logo_footer">
	<use xlink:href="../../../images/icons.svg#logo_footer"></use>
</svg>
</span>
			</a>
								<meta content="http://kenyon-campaign.dev.fastspot.com/images/logo-schema.png" itemprop="logo"> </div>
							<div class="footer_nav_social">
								<nav class="footer_nav" aria-label="Footer" itemscope itemtype="http://schema.org/SiteNavigationElement">
									<ul class="footer_nav_list">
										<li class="footer_nav_item"> <a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Contact Us</span>
			</a> </li>
										<li class="footer_nav_item"> <a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">Accessibility</span>
			</a> </li>
										<li class="footer_nav_item"> <a class="footer_nav_link" href="#" itemprop="url">
								<span class="footer_nav_link_label" itemprop="name">For Campaign Volunteers</span>
			</a> </li>
									</ul>
								</nav>
								<div class="footer_copyright_social">
									<div class="footer_copyright">
										<p>&copy; 2018</p>
									</div>
									<div class="social_nav" itemscope itemtype="http://schema.org/CollegeOrUniversity">
										<link itemprop="url" href="//kenyon-campaign.dev.fastspot.com">
										<div class="social_nav_header">
											<h2 class="social_nav_title">Social</h2>
										</div>
										<div class="social_nav_list">
											<div class="social_nav_item"> <a class="social_nav_link" href="//twitter.com/KenyonCollege" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_twitter">
	<use xlink:href="../../../images/icons.svg#twitter"></use>
</svg>
</span>
								<span class="social_nav_label">Twitter</span>
			</a> </div>
											<div class="social_nav_item"> <a class="social_nav_link" href="//www.youtube.com/user/KenyonCollegeVideo" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_youtube">
	<use xlink:href="../../../images/icons.svg#youtube"></use>
</svg>
</span>
								<span class="social_nav_label">Youtube</span>
			</a> </div>
											<div class="social_nav_item"> <a class="social_nav_link" href="//www.facebook.com/kenyoncollege" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_facebook">
	<use xlink:href="../../../images/icons.svg#facebook"></use>
</svg>
</span>
								<span class="social_nav_label">Facebook</span>
			</a> </div>
											<div class="social_nav_item"> <a class="social_nav_link" href="//www.instagram.com/kenyoncollege/" target="_blank" itemprop="sameAs">
								<span class="social_nav_icon"><svg class="icon icon_instagram">
	<use xlink:href="../../../images/icons.svg#instagram"></use>
</svg>
</span>
								<span class="social_nav_label">Instagram</span>
			</a> </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- END: Footer -->
	</div>
	<!-- END: page_wrapper -->
	<div class="js-mobile-sidebar mobile_sidebar" id="mobile_sidebar" tabindex="-1">
		<nav class="js-main-nav js-main-nav-sm main_nav main_nav_sm" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<ul class="main_nav_list">
				<li class="js-main-nav-item-1 main_nav_item">
					<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Extend</span>
				</a> </div>
				</li>
				<li class="js-main-nav-item-2 main_nav_item main_nav_has_children">
					<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url" aria-haspopup="true">
					<span class="main_nav_link_label" itemprop="name">Enhance</span>
				</a> <button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-2" data-swap-group="main_nav" aria-label="Enhance Submenu">
					<span class="main_nav_toggle_icon"><svg class="icon icon_caret_down">
	<use xlink:href="../../../images/icons.svg#caret_down"></use>
</svg>
</span>
				</button> </div>
					<ul class="js-main-nav-children main_nav_children" aria-label="submenu">
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Library</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">English Cottage</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Interdisciplinary Academic Building</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">Admissions Center</span>
					</a> </li>
						<li class="main_nav_child_item"> <a class="main_nav_child_link" href="#" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">The Village</span>
					</a> </li>
					</ul>
				</li>
				<li class="js-main-nav-item-3 main_nav_item">
					<div class="main_nav_item_wrapper"> <a class="main_nav_link" href="#" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Enrich</span>
				</a> </div>
				</li>
			</ul>
		</nav>
		<nav class="secondary_nav secondary_nav_sm" aria-label="Secondary" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<ul class="secondary_nav_list">
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">About the Campaign</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Ways to Give</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Stories</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Get Involved</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Attend An Event</span>
			</a> </li>
				<li class="secondary_nav_item"> <a class="secondary_nav_link" href="#" itemprop="url">
								<span class="secondary_nav_link_label" itemprop="name">Donate</span>
			</a> </li>
			</ul>
		</nav>
	</div>
	<script>
		var WWW_ROOT = "";
		var STATIC_ROOT = "../../";
	</script>
	<script src="../../js/site.js?1536353686"></script>
	<!-- Grid Bookmarklet -->
	<script>
		(function() {
			if (typeof FSGridBookmarklet === 'undefined') {
				document.body.appendChild(document.createElement('script')).src = '//formstone.it/js/bookmarklet/grid.js';
			} else {
				FSGridBookmarklet();
			}
		})();
	</script>
</body>

</html>