/* ==========================================================================
	Colors
============================================================================= */

$navy: #003473;
$yellow: #FFD600;

$blue: #1573DD;
$frog: #43FD71;
$leaf: #CAFF00;
$bee: #FFE300;

$sea: #2AC6CA;
$forest: #35C85A;
$mute: #33545C;
$toad: #4F775F;
$fog: #844D5A;
$plum: #44164E;
$jazz: #AD2880;
$fire: #F8485E;
$orange: #FF7E54;

$dark: #0F0F11;
$mist: #766F67;
$beige: #EAE5DF;
$gray: #F5F7F9;

$theme_colors: (
	(navy, $navy),
	(yellow, $yellow),
	(blue, $blue),
	(frog, $frog),
	(leaf, $leaf),
	(bee, $bee),
	(sea, $sea),
	(forest, $forest),
	(mute, $mute),
	(toad, $toad),
	(fog, $fog),
	(plum, $plum),
	(jazz, $jazz),
	(fire, $fire),
	(orange, $orange),
	(dark, $dark),
	(mist, $mist),
	(beige, $beige),
	(gray, $gray)
);

$pair_theme_colors: (
	(yellow, $yellow, #FFFD00, $dark),
	(green, $forest, $frog, $dark)
);

$gray_10: #EAEAEA;
$gray_20: #CCCCCC;
$gray_30: #B2B2B2;
$gray_40: #999999;
$gray_50: #808080;
$gray_60: #666666;
$gray_70: #4D4D4D;
$gray_80: #333333;
$gray_90: #222222;


// Themes
// =============================================================================

@mixin theme(
	$list: $theme_colors,
	$style: "color"
) {

	@each $label, $color in $list {

		.theme_#{$label} & {
			@if($style == "color") {
				color: $color;
			} @else if($style == "background") {
				background: $color;
			} @else if($style == "border") {
				border-color: $color;
			}
		}
	}
}

@mixin theme_direct(
	$list: $theme_colors,
	$style: "color"
) {

	@each $label, $color in $list {

		&.theme_#{$label} {
			@if($style == "color") {
				color: $color;
			} @else if($style == "background") {
				background: $color;
			} @else if($style == "border") {
				border-color: $color;
			}
		}
	}
}
