<article class="contact_info_wrap sidebar_component margined_md"> 
	<div class="contact_info">
		<h4 class="heading_dashed">Contact Info</h4>
		<h5 class="heading_bold">Office of Student Advising</h5>
		<a href="tel:+18058984011" class="ico_phone_white">805.898.4011</a>
		<a href="mailto:advisors@fielding.edu" class="underlined">advisors@fielding.edu</a>
		<p class="gray_italic">The Office of Student Advising is open during Fielding's regular business hours of 9-5 Pacific Time.</p>
	</div>
</article>