<div class="fs-row directory_listing">
	<div class="fs-cell fs-lg-full">
		<h2>@@name</h2>
		<h5>@@title</h5>
	</div>
	<div class="fs-cell fs-xs-full fs-sm-full fs-md-full fs-lg-5">
		<p>@@school</p>
	</div>
	<div class="fs-cell fs-xs-full fs-sm-full fs-md-full fs-lg-4">
		<a href="tel:+1@@urlphone" class="ico_phone">@@phone</a>
		<a href="tel+1@@urlphonetwo" class="dark_link">@@twophone</a>
	</div>
	<div class="fs-cell fs-xs-full fs-sm-full fs-md-full fs-lg-3">
		<a href="mailto:@@urlemail" class="ico_mail">@@email</a>
	</div>
</div>
