<article class="directory_controls_wrap"> 
	<div class="fs-row directory_controls">
		<ul class="fs-cell fs-xs-hide fs-sm-hide">
			<li class="directory_controls_all"><a href="#"><span>All</span></a></li>
			<li><a href="#"><span>A</span></a></li>
			<li><a href="#"><span>B</span></a></li>
			<li><a href="#"><span>C</span></a></li>
			<li><a href="#"><span>D</span></a></li>
			<li><a href="#"><span>E</span></a></li>
			<li><a href="#"><span>F</span></a></li>
			<li><a href="#"><span>G</span></a></li>
			<li><a href="#"><span>H</span></a></li>
			<li><a href="#"><span>I</span></a></li>
			<li><a href="#"><span>J</span></a></li>
			<li><a href="#"><span>K</span></a></li>
			<li><a href="#"><span>L</span></a></li>
			<li><a href="#"><span>M</span></a></li>
			<li><a href="#"><span>N</span></a></li>
			<li><a href="#" class="active"><span>O</span></a></li>
			<li><a href="#"><span>P</span></a></li>
			<li><a href="#"><span>Q</span></a></li>
			<li><a href="#"><span>R</span></a></li>
			<li><a href="#"><span>S</span></a></li>
			<li><a href="#"><span>T</span></a></li>
			<li><a href="#"><span>U</span></a></li>
			<li><a href="#"><span>V</span></a></li>
			<li><a href="#"><span>W</span></a></li>
			<li><span class="disabled">X</span></li>
			<li><a href="#"><span>Y</span></a></li>
			<li><span class="disabled">Z</span></li>
		</ul>
		<div class="fs-cell fs-md-hide fs-lg-hide fs-xl-hide">
			<select class="js-dropdown" data-dropdown-options='{"theme": "base_dropdown gray_dropdown", "label": "All"}'>
				<option value="All">All</option>
				<option value="A">A</option>
				<option value="B">B</option>
				<option value="C">C</option>
				<option value="D">D</option>
				<option value="E">E</option>
				<option value="F">F</option>
				<option value="G">G</option>
				<option value="H">H</option>
				<option value="I">I</option>
				<option value="J">J</option>
				<option value="K">K</option>
				<option value="L">L</option>
				<option value="M">M</option>
				<option value="N">N</option>
				<option value="O">O</option>
				<option value="P">P</option>
				<option disabled=""  value="Q">Q</option>
				<option value="R">R</option>
				<option value="S">S</option>
				<option value="T">T</option>
				<option value="U">U</option>
				<option value="V">V</option>
				<option value="W">W</option>
				<option disabled="" value="X">X</option>
				<option value="Y">Y</option>
				<option disabled=""  value="Z">Z</option>
			</select>
		</div>
		<div class="fs-cell fs-xs-full fs-md-full fs-lg-5">
			<select class="js-dropdown" data-dropdown-options='{"theme": "base_dropdown gray_dropdown", "label": "Filter by Department"}'>
				<option value="All">All</option>
				<option value="A">A</option>
				<option value="B">B</option>
				<option value="C">C</option>
			</select>
		</div>
		<div class="fs-cell-right fs-xs-full fs-md-full fs-lg-6">
			<div class="search_wrap">
				<form action="#" class="search_form">
					<input type="text" class="search_input" placeholder="Search by last name, first name or department/school">
					<input type="hidden" class="search_submit" value="Go">
					<button class="search_submit icon_text" type="submit">Search</button>
				</form>
			</div>
		</div>
	</div>
</article>