<article class="directory_listing_wrap"> 
	
		@@include('directory-listing-item.html', {
			"name": "Adegbile, Isaac",
			"title": "MARKETING MANAGER",
			"school": "School of Psychology",
			"phone": "800.340.1099  ext. 4029",
			"urlphonetwo": "8003401099",
			"urlphone": "8003401099", 
			"twophone": "805.898-4029",
			"email": "cbillings@fielding.edu",
			"urlemail": "cbillings@fielding.edu"
		})
		
		@@include('directory-listing-item.html', {
			"name": "Adegbile, Isaac",
			"title": "MARKETING MANAGER",
			"school": "School of Psychology",
			"phone": "800.340.1099  ext. 4029",
			"urlphonetwo": "8003401099",
			"urlphone": "8003401099", 
			"twophone": "805.898-4029",
			"email": "cbillings@fielding.edu",
			"urlemail": "cbillings@fielding.edu"
		})
		
		@@include('directory-listing-item.html', {
			"name": "Adegbile, Isaac",
			"title": "MARKETING MANAGER",
			"school": "School of Psychology",
			"phone": "800.340.1099  ext. 4029",
			"urlphonetwo": "8003401099",
			"urlphone": "8003401099", 
			"twophone": "805.898-4029",
			"email": "cbillings@fielding.edu",
			"urlemail": "cbillings@fielding.edu"
		})
	
</article>