<!-- Introduction -->
<section class="introduction_section @@margin">
	<div class="fs-row">
		<div class="fs-cell-centered fs-lg-10">
			<div class="introduction_wrapper">
				<header class="introduction_header">
					<h2 class="introduction_label">@@label</h2>
					<h3 class="introduction_title">@@title</h3>
				</header>
				<div class="introduction_description">
					<p>@@description</p>
				</div>
			</div>
		</div>
		<div class="fs-cell fs-lg-full js-equalize" data-equalize-options='{"target":".equalize_child"}'>
			@@include('facts-stats-items.html')
		</div>
	</div>
</section>
<!-- END: Introduction -->
