@@include('facts-stats-item.html', {
	"color": "orange_text",
	"stat": "7:1",
	"desc": "Student to faculty ratio"
})

@@include('facts-stats-item.html', {
	"color": "purple_text",
	"stat": "23:79",
	"desc": "Age Range of Students"
})

@@include('facts-stats-item.html', {
	"color": "red_text",
	"stat": "31",
	"desc": "Tincidunt quis"
})

@@include('facts-stats-item.html', {
	"color": "teal_text",
	"stat": "1986",
	"desc": "Pellentesque Curabitor Curabitor Pellentesque Curabitor Pellentesque Curabitor Curabitor Pellentesque Curabitor"
})
