<div class="js-carousel js-equalize spotlight_carousel" data-carousel-options='{"theme": "controls_circ_lg", "autoHeight": false, "contained": false, "show":{"740px": 2, "980px": 1}}' data-equalize-options='{"target":".equalize_child"}'>

	@@include('spotlight-card.html', {
		"color": "spotlight_card_purple",
		"label": "Faculty Spotlight",
		"image": "8",
		"alt": "",
		"title": "Placida Gallegos, PHD",
		"description": "Gallegos Selected As Keynote Speaker At The 6th Annual STEM* Women of Color Conclave",
		"url": "#"
	})

	@@include('spotlight-card.html', {
		"color": "spotlight_card_gray",
		"label": "Test",
		"image": "8",
		"alt": "",
		"title": "Path to Success",
		"description": "The openness to diversity of people and ideas is the most important aspect for me coming to Fielding.",
		"url": "#"
	})

	@@include('spotlight-card.html', {
		"color": "spotlight_card_red",
		"label": "Faculty Spotlight",
		"image": "7",
		"alt": "",
		"title": "Placida Gallegos, PHD",
		"description": "Lorem ipsum dolor sit amet",
		"url": "#"
	})

	@@include('spotlight-card.html', {
		"color": "spotlight_card_teal",
		"label": "",
		"image": "6",
		"alt": "",
		"title": "Path to Success",
		"description": "The openness to diversity of people and ideas is the most important aspect for me coming to Fielding.",
		"url": "#"
	})

	@@include('spotlight-card.html', {
		"color": "spotlight_card_purple",
		"label": "Faculty Spotlight",
		"image": "5",
		"alt": "",
		"title": "Placida Gallegos, PHD",
		"description": "Lorem ipsum dolor sit amet",
		"url": "#"
	})


</div>
