<!-- Feature Callout -->
<section class="feature_callout">
	<div class="js-background feature_callout_background feature_callout_background_main" data-background-options='{"source":{"0px":"../../images/placeholder.png","980px":"http://spacehold.it/1220x686/@@image","1220px":"http://spacehold.it/1440x810/@@image"}}'></div>
	<div class="feature_callout_content">
		<div class="js-background feature_callout_background feature_callout_background_content" data-background-options='{"source":{"0px":"http://spacehold.it/500x282/@@image","500px":"http://spacehold.it/740x416/@@image","740px":"http://spacehold.it/980x538/@@image","980px":"../../images/placeholder.png"}}'></div>
		<div class="fs-row">
			<div class="fs-cell fs-md-5 fs-lg-6">
				<div class="feature_callout_container">
					<header class="feature_callout_header">
						<h2 class="feature_callout_title">@@title</h2>
					</header>
					<div class="feature_callout_description">
						<p>@@description</p>
					</div>
					<footer class="feature_callout_buttons">
						@@button1
						@@button2
					</footer>
				</div>
			</div>
			<div class="fs-cell fs-md-3 fs-lg-5 fs-lg-push-1">
				<div class="feature_callout_spotlight_large">
				</div>
			</div>
		</div>
	</div>
	<div class="fs-row">
		<div class="fs-cell">
			<div class="feature_callout_spotlight_small">
				<div class="feature_callout_spotlight">
					@@spotlight
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: Feature Callout -->
