<!-- Featured Story -->
<article class="theme_red story_feature @@margin">
	<figure class="responsive_image story_feature_figure_full">
		<img class="story_feature_image_full" src="http://spacehold.it/500x334/@@image" alt="@@alt">
	</figure>
	<div class="fs-row">
		<div class="fs-cell">
			<div class="story_feature_wrapper">
				<div class="fs-row">
					<div class="fs-cell fs-xs-hide fs-sm-1 fs-md-half fs-lg-half fs-xl-half right_sm">
						<figure class="story_feature_figure">
							<picture class="responsive_image story_feature_picture">
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source media="(min-width: 1220px)" srcset="http://spacehold.it/740x555/@@image">
								<source media="(min-width: 740px)" srcset="http://spacehold.it/740x555/@@image">
								<source media="(min-width: 500px)" srcset="http://spacehold.it/740x555/@@image">
								<!--[if IE 9]></video><![endif]-->
								<img class="" src="../../images/placeholder.png" alt="@@alt">
							</picture>
						</figure>
					</div>
					<div class="fs-cell fs-xs-full fs-sm-2 fs-md-half fs-lg-half fs-xl-half">
						<div class="story_feature_content">
							<header class="story_feature_header">
								<h2 class="story_feature_label">Featured Story</h2>
							</header>
							<h3 class="story_feature_title">@@title</h3>
							<a class="btn story_feature_button" href="@@url" aria-label="@@title">Continue Reading</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>
<!-- END: Featured Story -->
