<section class="info_sessions_wrap margined_lg_bottom">
	
	<div class="featured_events">
	
		<div class="info_sessions">
		
			<div class="fs-row">
				<div class="fs-cell-centered fs-lg-10">
					
					<h4 class="heading_dashed">Featured Events</h4>
				</div>
				
				<div class="js-equalize" data-equalize-options='{"target":[".equalize_one",".equalize_two"]}'> 
				
					@@include('homepage-info-sessions-item.html', {
						"xs": "fs-xs-full",
						"sm": "fs-sm-full",
						"month": "nov",
						"day": "28",
						"title": "EdD in Educational Leadership for Change",
						"event": "webinar",
						"buttonlink": "register",
						"linkdetails": "event",
						"details": "details"
					})
					
					@@include('homepage-info-sessions-item.html', {
						"xs": "fs-xs-hide",
						"sm": "fs-sm-hide",
						"month": "nov",
						"day": "29",
						"title": "EdD in Educational Leadership for Change. EdD in Educational Leadership for Change.",
						"event": "webinar",
						"buttonlink": "register",
						"linkdetails": "event",
						"details": "details"
					})
					
					@@include('homepage-info-sessions-item.html', {
						"xs": "fs-xs-hide",
						"sm": "fs-sm-hide",
						"month": "nov",
						"day": "30",
						"title": "EdD in Educational Leadership for Change",
						"event": "webinar",
						"buttonlink": "register",
						"linkdetails": "event",
						"details": "details"
					})
									
				<div class="clear"></div>
				
			</div>
		
		</div>
	</div>
</section>
