<div class="fs-cell @@xs @@sm fs-all-third">
	<div class="event_wrap clearfix js-equalize_child">
		<p class="event_date">@@month<span>@@day</span></p>
		<div class="event_deets equalize_one equalize_group">
			<h3 class="heading_3">@@title</h3>
			<p class="event_type">@@event</p>
		</div>
		<div class="event_btns equalize_two">
			<a href="#" class="btn btn_transparent">@@buttonlink</a>
			<a href="#" class="event_link"><span>@@linkdetails</span> @@details</a>
		</div>
	</div>
</div>
								
				