<section class="full_width_wrap">
	<div class="people_feature_theme @@color">
		<div class="fs-row full_width">
			
			<div class="fs-cell fs-xs-full fs-sm-1 fs-md-half fs-lg-5 image_wrapper">
				<picture>
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					<source media="(min-width: 980px)" srcset="http://spacehold.it/980x735/fielding/7.jpg">
					<source media="(min-width: 740px)" srcset="http://spacehold.it/740x555/fielding/7.jpg">
					<source media="(min-width: 500px)" srcset="http://spacehold.it/500x375/fielding/7.jpg">
					<!--[if IE 9]></video><![endif]-->
					<img src="http://spacehold.it/500x282/fielding/7.jpg" alt="" draggable="false">
				</picture>
			</div>
			<div class="fs-cell fs-xs-full fs-sm-2 fs-md-half fs-lg-7 text_area"> 
				<h5 class="heading_5">@@title</h5>
				<h3 class="heading_3">@@heading</h3>
				<p>@@desc</p>
				<a href="@@url" class="btn btn_transparent_arrow_white">@@link</a>
			</div>
		</div>
	</div>
</section>
