<div class="fs-cell fs-xs-full fs-all-half">
	<div class="image_wrap">
		<picture>
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source media="(min-width: 740px)" srcset="http://spacehold.it/500x282/fielding/7.jpg">
		<source media="(min-width: 500px)" srcset="http://spacehold.it/300x169/fielding/7.jpg">
		<!--[if IE 9]></video><![endif]-->
		<img src="http://spacehold.it/500x282/fielding/7.jpg" alt="" draggable="false">
	</picture>
	</div>
	<h2 class="heading_2 in_image">@@heading</h2>
	<p>@@desc</p>
	<a href="@@url" class="bold_link">@@link</a>
</div>
