@@include('full-width-callout-item.html', {
	"color": "theme_gray",
	"right": "fs-cell-right",
	"title": "Recognizing Our Community",
	"heading": "Program Highlights",
	"desc": "Remain in your local community through a variety of individual and collaborative group learning opportunities. Pursue your degree in ways.",
	"url": "",
	"link": "View Recipients"
})

@@include('full-width-callout-item.html', {
	"color": "theme_red",
	"right": "",
	"title": "Recognizing Our Community",
	"heading": "Program Highlights Program Highlights Program Highlights",
	"desc": "Remain in your local community through a variety of individual and collaborative group learning opportunities. Pursue your degree in ways.",
	"url": "",
	"link": "View Recipients"
})
