<section class="full_width_callout_wrap margined_md"> 
	<div class="fs-row full_width_callout">
		
		@@include('full-width-2x-callout-item.html', {
			"heading": "Program Highlights",
			"desc": "Remain in your local community through a variety of individual and collaborative group learning opportunities. Pursue your degree in ways that best fit with your career, family responsibilities, and study preferences.",
			"url": "",
			"link": "Dive In Deeper"
		})
		
		@@include('full-width-2x-callout-item.html', {
			"heading": "Learning Objectives",
			"desc": "Learn what skills and abilities are expected from students in the Human and Organizational Systems PhD program.",
			"url": "",
			"link": "Get More Information"
		})
		
	</div>
</section>