<article class="program_wrap margined_lg">
    <div class="fs-row">
        <div class="fs-cell fs-all-full inset_small">
            <h2 class="media_carousel_label">Find Your Program</h2>
			<h3 class="media_carousel_heading">Pursue your passion at Fielding</h3>
			<p class="larger">Fielding offers a variety of programs in psychology, educational leadership, and human and organizational development.</p>
      
			<!-- Carousel -->
	        <div class="js-carousel js-equalize program_carousel" data-carousel-options='{"theme": "combo_pager", "matchHeight": "true", "contained": false, "show":{"740px":2,"980px":3}}'  data-equalize-options='{"target": ".js-equalize_child"}'>
		        
		        @@include('homepage-program-finder-item.html', {
					"heading": "Expand Your Practice of Mental Health",
					"link1": "PhD Clinical Psychology",
					"link2": "Neuropsychology Postdoctoral Certificate Neuropsychology Postdoctoral Certificate",
					"link3": "Post-baccalaureate Certificate in Clinical Psychology"
				})
				
				@@include('homepage-program-finder-item.html', {
					"heading": "Expand Your Practice of Mental Health",
					"link1": "PhD Clinical Psychology",
					"link2": "Neuropsychology Postdoctoral",
					"link3": "Post-baccalaureate Certificate in Clinical Psychology"
				})
				
				@@include('homepage-program-finder-item.html', {
					"heading": "Expand Your Practice of Mental Health",
					"link1": "PhD Clinical Psychology",
					"link2": "Neuropsychology",
					"link3": "Post-baccalaureate Certificate in Clinical Psychology"
				})
				
				@@include('homepage-program-finder-item.html', {
					"heading": "Expand Your Practice",
					"link1": "PhD Clinical Psychology",
					"link2": "Neuropsychology Postdoctoral Certificate Neuropsychology Postdoctoral Certificate",
					"link3": "Post-baccalaureate Certificate in Clinical Psychology"
				})
				
				@@include('homepage-program-finder-item.html', {
					"heading": "Expand Your Practice of Mental Health",
					"link1": "PhD Clinical Psychology",
					"link2": "Neuropsychology Postdoctoral Certificate Neuropsychology Postdoctoral Certificate",
					"link3": "Post-baccalaureate Certificate in Clinical Psychology"
				})
				
				@@include('homepage-program-finder-item.html', {
					"heading": "Expand Your Practice of Mental Health",
					"link1": "PhD Clinical Psychology",
					"link2": "Neuropsychology",
					"link3": "Post-baccalaureate Certificate in Clinical Psychology"
				})
				
				@@include('homepage-program-finder-item.html', {
					"heading": "Expand Your Practice",
					"link1": "PhD Clinical Psychology",
					"link2": "Neuropsychology Postdoctoral Certificate Neuropsychology Postdoctoral Certificate",
					"link3": "Post-baccalaureate Certificate in Clinical Psychology"
				})
				
				@@include('homepage-program-finder-item.html', {
					"heading": "Expand Your Practice of Mental Health",
					"link1": "PhD Clinical Psychology",
					"link2": "Neuropsychology Postdoctoral Certificate Neuropsychology Postdoctoral Certificate",
					"link3": "Post-baccalaureate Certificate in Clinical Psychology"
				})
		        
		    </div>
	        <!-- END: Carousel -->
	        
	        <a href="#" class="carousel_link">Full Program List</a>
	        
		</div>
    </div>
</article>

