<!-- Box -->
<div class="education_box">
	<div class="education_inner">
		<div class="education_img">
			<a class="education_link js-lightbox" href="//www.youtube.com/embed/zsJpUCWfyPE?rel=0&autoplay=1&fs=1">
				<picture>
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					<source media="(min-width: 1220px)" srcset="http://spacehold.it/238x238/1.jpg">
					<source media="(min-width: 980px)" srcset="http://spacehold.it/180x180/1.jpg">
					<source media="(min-width: 740px)" srcset="http://spacehold.it/100x100/1.jpg">
					<source media="(min-width: 500px)" srcset="http://spacehold.it/100x100/1.jpg">
					<!--[if IE 9]></video><![endif]-->
					<img src="http://spacehold.it/64x64/1.jpg" alt="" draggable="false">
				</picture>
				<div class="play_icon"></div>
			</a>
		</div>
		<div class="color @@color">
			<div class="education_text">
				<h3 class="heading_3">@@heading</h3>
				<p class="education_desc">@@desc</p>
				<div class="education_hide">
					<p class="education_quote">@@quote</p>
					<p class="education_name">@@name</p>
				</div>
			</div>
		</div>
	</div>
	<div class="slide_time_wrap">
		<p class="hide_lg watch_link">Watch The Video</p>
		<a href="#" class="slide_time"><span class="slide_icon"></span>@@time</a>
	</div> 
	
</div>
<!-- END: Box -->
