<section class="info_sessions_wrap">
	
	<div class="js-background" data-background-options='{"source":{"0px": "http://spacehold.it/500x400/5.jpg", "500px": "http://spacehold.it/740x550/5.jpg", "740px": "http://spacehold.it/980x730/5.jpg", "980px": "http://spacehold.it/1220x910/5.jpg", "1220px": "http://spacehold.it/1440x1070/5.jpg"}}'>
	
		<div class="info_sessions_background" style="background-image: url(http://spacehold.it/1440x1070/5.jpg);"></div>
		
		<div class="info_sessions">
		
			<div class="fs-row">
				<div class="fs-cell-centered fs-lg-10">
					<h2 class="media_carousel_label">Upcoming Information Sessions</h2>
					<h3 class="media_carousel_heading">Talk to one of our faculty members about your educational goals</h3>
				</div>
				
				<div class="js-equalize" data-equalize-options='{"target":[".equalize_one",".equalize_two"]}'> 
				
					@@include('homepage-info-sessions-item.html', {
						"xs": "fs-xs-full",
						"sm": "fs-sm-full",
						"month": "nov",
						"day": "28",
						"title": "EdD in Educational Leadership for Change",
						"event": "webinar",
						"buttonlink": "register",
						"linkdetails": "event",
						"details": "details"
					})
					
					@@include('homepage-info-sessions-item.html', {
						"xs": "fs-xs-hide",
						"sm": "fs-sm-hide",
						"month": "nov",
						"day": "29",
						"title": "EdD in Educational Leadership for Change. EdD in Educational Leadership for Change.",
						"event": "webinar",
						"buttonlink": "register",
						"linkdetails": "event",
						"details": "details"
					})
					
					@@include('homepage-info-sessions-item.html', {
						"xs": "fs-xs-hide",
						"sm": "fs-sm-hide",
						"month": "nov",
						"day": "30",
						"title": "EdD in Educational Leadership for Change",
						"event": "webinar",
						"buttonlink": "register",
						"linkdetails": "event",
						"details": "details"
					})
									
				<div class="clear"></div>
				
				<div class="fs-cell-centered fs-xs-full fs-sm-2 fs-md-4 fs-lg-5 fs-xl-4">
					<a href="#" class="btn btn_transparent_arrow">View Full Calendar</a>
				</div>
			</div>
		
		</div>
	</div>
</section>
