<article class="discover_wrap margined_lg">
    <div class="fs-row">
        <div class="fs-cell fs-all-full">
            <h2 class="media_carousel_label">Our Difference</h2>
			<h3 class="media_carousel_heading">Explore Fielding Graduate University</h3>
        </div>
    </div>

    <div class="fs-row">
		<!-- Mobile: Carousel -->
        <div class="js-carousel js-equalize discover_carousel clearfix" data-carousel-options='{"theme": "combo_pager", "maxWidth": "739px", "matchHeight": "true", "contained": false}' data-equalize-options='{"target":".equalize_child"}'>
            <div class="fs-cell destroy_sm_carousel fs-md-4 fs-lg-8">
                <div class="box_wrap">
	                <div class="gradient bg_photo">
		                <div class="box">
			                <picture>
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source media="(min-width: 1220px)" srcset="http://spacehold.it/980x552/fielding/1.jpg">
								<source media="(min-width: 980px)" srcset="http://spacehold.it/740x416/fielding/1.jpg">
								<source media="(min-width: 740px)" srcset="http://spacehold.it/980x552/fielding/1.jpg">
								<source media="(min-width: 500px)" srcset="http://spacehold.it/740x416/fielding/1.jpg">
								<!--[if IE 9]></video><![endif]-->
								<img src="http://spacehold.it/500x375/fielding/1.jpg" alt="" draggable="false">
							</picture>
			            
							<p class="caption inset_small">Fielding is one of 100 graduate schools selected as a member of the Carnegie Project on the Education Doctorate.</p>
		                </div>
	                </div>
                </div>
            </div>


            <div class="fs-cell destroy_sm_carousel fs-md-2 fs-lg-4 pin_bottom">

                <div class="box_wrap">
					<div class="gradient bg_teal">
                     	<div class="box">
					 		<a href="#" class="btn btn_transparent">Featured News</a>
					 		<h5 class="date">November 4, 2015</h5>
					 		<a href="#" class="link_title">Fielding's Media Psychology Program Leaves an Impression on Digital Hollywood<span class="btn btn_no_border">Read Article</span></a>
					 		
                		</div>
                	</div>
                </div>
            </div>

            @@include('homepage-discover-quote.html', {
	            "size": "fs-lg-6",
	            "equal": "equalize_child",
	            "clear": "",
	            "color": "bg_red",
				"quote": "“Students know that we really care about their professional and intellectual development and want to support that. We recognize them as unique individuals and aren't trying to fit them into a box.”",
				"caption": "– Jeremy Shapiro, PhD, Faculty"
			})


            @@include('homepage-discover-stat.html', {
	            "color": "orange_text",
				"stat": "7:1",
				"desc": "Student-to-faculty ratio"
			})

			@@include('homepage-discover-stat.html', {
				"color": "purple_text",
				"stat": "23-79",
				"desc": "Age Range of Students"
			})

			 @@include('homepage-discover-quote.html', {
				"size": "fs-lg-4",
				"equal": "",
				"clear": "clear",
	            "color": "bg_gray",
				"quote": "“As a student, I was able to bring my own life experiences and learned how to be a scholar practitioner from people who have been living it.”",
				"caption": "-Kathy Kaya, PhD, Alumna, Consultant"
			})

            <div class="fs-cell destroy_sm_carousel fs-md-full fs-lg-8">
                <div class="box_wrap">
                    <div class="gradient bg_video">
	                    <div class="box">
							<a class="js-lightbox" href="//www.youtube.com/embed/zsJpUCWfyPE?rel=0&autoplay=1&fs=1">
								<div class="slide_time_wrap">
				                    <p class="slide_time">1:42</p>
				                </div>
								<div class="play_icon"></div>
								<p class="caption">The Fielding Experience</p>
								<img src="//spacehold.it/774x480/2.jpg" alt="Space"/>
							</a>
	                    </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- END: Mobile: Carousel -->
    </div>
</article>

