<section class="education_wrap margined_lg">
	
	<div class="js-background" data-background-options='{"source":{"0px": "http://spacehold.it/500x400/2.jpg", "500px": "http://spacehold.it/500x282/2.jpg", "740px": "http://spacehold.it/980x735/2.jpg", "980px": "http://spacehold.it/1220x686/2.jpg", "1220px": "http://spacehold.it/1440x810/2.jpg"}}'>
	
		<div class="education_background" style="background-image: url(http://spacehold.it/1440x810/2.jpg);"></div>
		
		<!-- Education Wrapper --> 
		<div class="education_model">
				<div class="fs-row education_header">
					<div class="fs-cell fs-all-full">
						<h2 class="media_carousel_label">Distributed &amp; Connected</h2>
						<h3 class="media_carousel_heading">An educational model that works for you</h3>
						<a href="#" class="btn btn_light">Our Learning Environments</a>
					</div>
				</div>
		</div>
		<!-- END: Education Wrapper --> 
	</div>
	<!-- END: Background Wrapper --> 
			
			<!-- Education Boxes Wrapper --> 		
			<div class="education_box_wrap clearfix">
					
				@@include('homepage-education-model-item.html', {
					"color": "bg_dk_red",
					"heading": "Self-Directed",
					"desc": "Customize and individualize your program",
					"quote": "The independence and cutting edge of the university and faculty appealed to me. Every time I come to a session, I'm validated.",
					"name": "Tammy Dixon, Students",
					"time": "1:03"
				})
				
				@@include('homepage-education-model-item.html', {
					"color": "bg_dk_gray",
					"heading": "Self-Directed",
					"desc": "Join a strong community built on inclusion and respect",
					"quote": "The independence and cutting edge of the university and faculty appealed to me. Every time I come to a session, I'm validated.",
					"name": "Tammy Dixon, Student",
					"time": "1:03"
				})
				
				@@include('homepage-education-model-item.html', {
					"color": "bg_dk_purple",
					"heading": "Self-Directed",
					"desc": "Be challenged and stretch your comfort zone through scholarship, research, and practice",
					"quote": "The independence and cutting edge of the university and faculty appealed to me. Every time I come to a session, I'm validated.",
					"name": "Tammy Dixon, Student",
					"time": "1:03"
				})
				
				@@include('homepage-education-model-item.html', {
					"color": "bg_dk_teal",
					"heading": "Self-Directed",
					"desc": "Connect to a network of diverse, socially responsible leaders effecting meaningful change",
					"quote": "The independence and cutting edge of the university and faculty appealed to me. Every time I come to a session, I'm validated.",
					"name": "Tammy Dixon, Student",
					"time": "1:03"
				})
				
			</div>
			<!-- END: Education Boxes Wrapper --> 
			
</section>