<section class="in_content_callout_wrap margined_md"> 
	<div class="fs-row in_content_callout">
		<div class="fs-cell fs-xs-full fs-sm-full fs-md-2 fs-lg-4">
			<picture>
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source media="(min-width: 980px)" srcset="http://spacehold.it/300x225/fielding/1.jpg">
				<source media="(min-width: 740px)" srcset="http://spacehold.it/740x555/fielding/1.jpg">
				<source media="(min-width: 500px)" srcset="http://spacehold.it/500x282/fielding/1.jpg">
				<!--[if IE 9]></video><![endif]-->
				<img src="http://spacehold.it/500x282/fielding/1.jpg" alt="" draggable="false">
			</picture>
		</div>
		<div class="fs-cell fs-xs-full fs-sm-full fs-md-4 fs-lg-8">
			<h4 class="heading_4">@@heading</h4>
			<p>@@desc</p>
			<a href="@@url" class="bold_link">@@link</a>
		</div>
	</div>
</section>