@@include('in-content-callout-item.html', {
	"heading": "A Closer Look",
	"desc": "See how the PhD in Human Development and Organizational Systems will help you better engage with, and lead change in today’s complex local, national, and global organizations.",
	"url": "",
	"link": "VIEW BROCHURE"
})

@@include('in-content-callout-item.html', {
	"heading": "What do Our Students Study?",
	"desc": "See some of the dissertations our students have written on the path toward earning their PhD.",
	"url": "",
	"link": "VIEW STUDENT DISSERTATION TOPICS"
})
