<div class="event_listing_wrap">
	<div class="fs-row news_listing">
		<div class="fs-cell fs-sm-2 fs-md-4 fs-lg-9 news_detail">
			<p class="news_date">@@date</p>
			<a href="#" class="event_title">@@title</a>
			<div class="news_categories">
				<span class="tag"></span>
				<a href="#" class="bold_link">@@name</a>
			</div>
		</div>
		<div class="fs-cell fs-sm-1 fs-md-2 fs-lg-3 news_image">
			<picture>
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source media="(min-width: 980px)" srcset="http://spacehold.it/300x225/fielding/1.jpg">
				<source media="(min-width: 740px)" srcset="http://spacehold.it/740x555/fielding/1.jpg">
				<source media="(min-width: 500px)" srcset="http://spacehold.it/500x375/fielding/1.jpg">
				<!--[if IE 9]></video><![endif]-->
				<img src="http://spacehold.it/500x375/fielding/1.jpg" alt="" draggable="false">
			</picture>
		</div>
	</div>
</div>