<article class="short_events_wrap clearfix"> 
	<div class="short_events">
		<header class="events_heading clearfix">
			<div class="fs-row">
				<div class="fs-cell fs-xs-full fs-sm-full fs-md-half fs-lg-half">
					@@include('dropdown.html')
				</div>
				<div class="fs-cell fs-xs-full fs-sm-full fs-md-half fs-lg-half">
					<div class="search_wrap">
						<form action="#" class="search_form">
							<input type="text" class="search_input" placeholder="Search News &amp; Media">
							<input type="hidden" class="search_submit" value="Go">
							<button class="search_submit icon_text" type="submit">Search</button>
						</form>
					</div>
				</div>
			</div>
		</header>
		
		@@include('in-content-news-list-item.html', {
			"date": "January 7, 2016",
			"title": "Fielding Launches Marie Fielder Center for Democracy, Leadership, and Education",
			"name": "RESEARCH,  MARIE FIELDER",
			"url": ""
		})
		
		@@include('in-content-news-list-item.html', {
			"date": "January 7, 2016",
			"title": "Fielding Launches Marie Fielder Center for Democracy, Leadership, and Education",
			"name": "RESEARCH,  MARIE FIELDER",
			"url": ""
		})
		
		@@include('in-content-news-list-item.html', {
			"date": "January 7, 2016",
			"title": "Fielding Launches Marie Fielder Center for Democracy, Leadership, and Education",
			"name": "RESEARCH,  MARIE FIELDER",
			"url": ""
		})
		
		<div class="fs-row">
			<div class="fs-cell fs-all-full">
				@@include('pagination.html')
			</div>
		</div>
		
	</div>
</article>