<div class="fs-row">
	<div class="fs-cell">
		<article class="map_wrap margined_md">
			<div class="fs-row">
				<div class="fs-cell fs-all-full">
					<h2 class="media_carousel_label">Fielding Alumni Map</h2>
					<h3 class="media_carousel_heading">Our Alumni Around the World</h3>
					<p class="larger">Explore our global network of smart, caring, and socially-responsible leaders who are creating meaningful change in communities and workplaces worldwide.</p>
				</div>
			</div>
		</article>

		<div class="map_container">

			<div class="alumni_map_container js-map"></div>

			<div class="alumni_map_details_container js-map_info_window">
				<button class="alumni_map_details_close js-map_info_window_close"></button>
				<article class="alumni_map_details js-map_info_window_details"></article>
			</div>

			<div class="add_wrap">
				<h4 class="heading_dashed">ADD YOURSELF TO THE MAP</h4>
				<p>Fielding’s reach spans the globe. Add yourself to the map to stay connected with alumni from your program or region.</p>
				<a href="#" class="btn btn_gray btn_drk">Submit Your Info</a>
			</div>

			<script>
			var MapBrowserData = [
				{
					"id": 1,
					"image": "//spacehold.it/200x200/1.jpg",
					"name": "Ruth Wagner, PHD",
					"location": "Washington, DC, United States",
					"title": "Director of American University’s School of Public Affairs’ Master of Science in Organization Development (MSOD) Program",
					"graduation": "HOD '01",
					"degree": "PhD Human Development",
					"latitude": "38.901052",
					"longitude": "-77.031325"
				},
				{
					"id": 2,
					"image": "//spacehold.it/200x200/1.jpg",
					"name": "John Doe",
					"location": "Baltimore, MD, United Statses",
					"title": "Lorem Ipsum",
					"graduation": "HOD '01",
					"degree": "PhD Human Development",
					"latitude": "39.2903848",
					"longitude": "-76.6121893"
				},
				{
					"id": 3,
					"image": "//spacehold.it/200x200/1.jpg",
					"name": "Ruth Wagner, PHD",
					"location": "Washington, DC, United States",
					"title": "Director of American University’s School of Public Affairs’ Master of Science in Organization Development (MSOD) Program",
					"graduation": "HOD '01",
					"degree": "PhD Human Development",
					"latitude": "27.6648274",
					"longitude": "-81.5157535"
				}
			];
			</script>
		</div>
	</div>
</div>