<div class="media_carousel_item media_carousel_full_item">
	<figure class="media_carousel_full_figure">
		<picture class="responsive_image media_carousel_full_picture">
			<!--[if IE 9]><video style="display: none;"><![endif]-->
			<source media="(min-width: 1220px)" srcset="http://spacehold.it/1440x810/@@image">
			<source media="(min-width: 980px)" srcset="http://spacehold.it/1220x687/@@image">
			<source media="(min-width: 740px)" srcset="http://spacehold.it/980x552/@@image">
			<source media="(min-width: 500px)" srcset="http://spacehold.it/740x417/@@image">
			<!--[if IE 9]></video><![endif]-->
			<img class="media_carousel_full_image" src="http://spacehold.it/500x282/@@image" alt="">
		</picture>
		@@caption
	</figure>
</div>
