<div class="people_feature_content">
	<header class="people_feature_content_header">
		<h4 class="people_feature_content_heading" id="people_feature_content_heading">Leadership Dynamic Analyzed and Assessed through an Autoethnographic Lens</h4>
	</header>
	<div class="people_feature_content_description">
		<p>Leadership is one of the most widely written about topics and has increasingly gained mainstream popularity. Countless leadership practitioners and academics often produce works that give advice on how to be an effective leader. Much of this information attempts to examine and typologize existing leadership theories as well as seeking to provide new insights on this complex and diverse area of inquiry (Northouse, 2012).</p>
	</div>
	<a class="people_feature_content_button" href="#" aria-labelledby="people_feature_content_heading">Read More</a>
</div>
