<section class="js-toggle people_feature_section js-equalize loaded @@margin" data-equalize-options='{"target":".equalize_child", "minWidth":"500px"}'>

	<div class="loading_spinner">
		<div class="loading_line"></div>
	</div>

	<div class="people_feature_theme @@theme">
		<h2 class="people_feature_section_title visually_hidden">@@name</h2>
		<figure class="people_feature_figure people_feature_figure_small">
			<picture class="responsive_image people_feature_picture">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source media="(min-width: 500px)" srcset="http://spacehold.it/740x416/@@image">
				<!--[if IE 9]></video><![endif]-->
				<img class="people_feature_image" src="http://spacehold.it/500x500/@@image" alt="@@alt">
			</picture>
		</figure>
		<div class="fs-row">
			<div class="fs-cell">
				<div class="people_feature_left" aria-live="polite">

					<div class="equalize_child people_feature_left_wrapper">
					<button class="js-toggle_handle people_feature_name_button" aria-label="Return to previous view">
						<span class="people_feature_name">@@name</span>
					</button>
					<div class="people_feature_text">
						<div class="people_feature_view_default">
							<div class="people_feature_description">@@description</div>
							<button class="people_feature_mobile_toggle">@@button</button>
						</div>
						<div class="people_feature_view_toggle" aria-hidden="true">
							<div class="people_feature_links">
								<div class="people_feature_link_list" aria-label="School" role="list">
									<header class="people_feature_link_list_header">
										<h3 class="people_feature_link_list_title">School</h3>
									</header>
									@@include('people-feature-link.html', {
										"url": "#",
										"label": "School of Psychology"
									})
								</div>
								<div class="people_feature_link_list" aria-label="Programs Available" role="list">
									<header class="people_feature_link_list_header">
										<h3 class="people_feature_link_list_title">Programs Available</h3>
									</header>
									@@include('people-feature-link.html', {
										"url": "#",
										"label": "MA Media Psychology"
									})
									@@include('people-feature-link.html', {
										"url": "#",
										"label": "PHD Media Psychology"
									})
								</div>
							</div>
						</div>
					</div>
					</div>



				</div>
				<div class="people_feature_right">
					<div class="people_feature_media">
						<div class="people_feature_view_default">
							<figure class="people_feature_figure people_feature_figure_large">
								<picture class="responsive_image people_feature_picture">
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source media="(min-width: 980px)" srcset="http://spacehold.it/740x740/@@image">
									<source media="(min-width: 740px)" srcset="http://spacehold.it/500x500/@@image">
									<!--[if IE 9]></video><![endif]-->
									<img class="people_feature_image" src="../../images/placeholder.png" alt="@@alt">
								</picture>
							</figure>
							<div class="people_feature_caption">
								<header class="people_feature_caption_header">
									<h3 class="people_feature_caption_label">@@label</h3>
								</header>
								<div class="people_feature_caption_content">@@caption</div>
								<button class="js-toggle_handle people_feature_caption_button">@@button</button>
							</div>
						</div>
						<div class="people_feature_view_toggle equalize_child" aria-hidden="true">
							<header class="people_feature_media_header">
								<h3 class="people_feature_media_title">@@title</h3>
							</header>
							<div class="people_feature_media_body">
								@@media
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="people_feature_overlay @@theme" role="dialog" aria-hidden="true">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="people_feature_overlay_wrapper">
					<button class="people_feature_overlay_close">
						<span class="visually_hidden people_feature_overlay_close_label">close</span>
					</button>
					<div class="people_feature_overlay_caption">
						<header class="people_feature_caption_header">
							<h3 class="people_feature_caption_label">@@label</h3>
						</header>
						<div class="people_feature_caption_content">@@caption</div>
					</div>
					<div class="people_feature_overlay_media">
						<header class="people_feature_media_header">
							<h3 class="people_feature_media_title">@@button</h3>
						</header>
						<div class="people_feature_media_body">
							@@media
						</div>
					</div>
					<div class="people_feature_links">
						<div class="people_feature_link_list" aria-label="Related School" role="list">
							<header class="people_feature_link_list_header">
								<h3 class="people_feature_link_list_title">School</h3>
							</header>
							@@include('people-feature-link.html', {
								"url": "#",
								"label": "School of Psychology"
							})
						</div>
						<div class="people_feature_link_list" aria-label="Related Programs" role="list">
							<header class="people_feature_link_list_header">
								<h3 class="people_feature_link_list_title">Programs Available</h3>
							</header>
							@@include('people-feature-link.html', {
								"url": "#",
								"label": "MA Media Psychology"
							})
							@@include('people-feature-link.html', {
								"url": "#",
								"label": "PHD Media Psychology"
							})
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
