<article class="related_links margined_lg clearfix"> 
	<h3 class="heading_3 heading_line">Related Links</h3>
	<div class="fs-row">
		<div class="fs-cell">
			<a href="#" class="btn btn_gray">Frequently Asked Questions</a>
			<a href="#" class="btn btn_gray">Academic Policies</a>
			<a href="#" class="btn btn_gray">Student Services</a>
			<a href="#" class="btn btn_gray">Scholarship Information</a>
			<a href="#" class="btn btn_gray">People Directory</a>
			<a href="#" class="btn btn_gray">University Catalog</a>
			<a href="#" class="btn btn_gray">National Sessions</a>
		</div>
	</div>
</article>