<div class="event_listing_wrap">
	<div class="event_listing">
		<div class="event_bubble">
			<p class="event_bubble_date">@@month<span>@@day</span></p>
		</div>
		<div class="event_details">
			<p class="event_type">@@type</p>
			<a href="@@detailurl" class="event_title">@@title</a>
		</div>
		<div class="event_locations">
			<span class="bold_link"><span class="map"></span>@@location</span>
			<span class="bold_link"><span class="time"></span>@@time</span>
		</div>
		<div class="clearfix"></div>
		<div class="event_buttons">
			<a href="@@regurl" class="btn btn_drk">Register</a>
			<a href="@@detailurl" class="btn btn_text">Event Details</a>
		</div>
	</div>
</div>
