<article class="short_events_wrap margined_lg clearfix"> 
	<div class="short_events">
		<header class="events_heading clearfix">
			<h2 class="heading_2">Alumni Events</h2>
			<a href="#" class="btn btn_gray">View All Events</a>
		</header>
		
		@@include('short-in-content-event-listing-item.html', {
			"month": "Jan",
			"day": "14",
			"type": "Webinar",
			"title": "HOD Winter Session 2016",
			"location": "FESS PARKER'S DOUBLETREE RESORT",
			"time": "8:00 AM - 9:00 PM",
			"regurl": "",
			"detailurl": ""
		})
		
		@@include('short-in-content-event-listing-item.html', {
			"month": "Jan",
			"day": "14",
			"type": "Webinar",
			"title": "HOD Winter Session 2016",
			"location": "FESS PARKER'S DOUBLETREE RESORT",
			"time": "8:00 AM - 9:00 PM",
			"regurl": "",
			"detailurl": ""
		})
		
		@@include('short-in-content-event-listing-item.html', {
			"month": "Jan",
			"day": "14",
			"type": "Webinar",
			"title": "HOD Winter Session 2016",
			"location": "FESS PARKER'S DOUBLETREE RESORT",
			"time": "8:00 AM - 9:00 PM",
			"regurl": "",
			"detailurl": ""
		})
		
	</div>
</article>