<article class="short_events_wrap margined_lg clearfix"> 
	<div class="short_events">
		<header class="events_heading clearfix">
			<h2 class="heading_2">Alumni News</h2>
			<a href="#" class="btn btn_gray">View All News</a>
		</header>
		
		@@include('short-in-content-news-list-item.html', {
			"date": "January 7, 2016",
			"title": "Fielding Launches Marie Fielder Center for Democracy, Leadership, and Education",
			"name": "RESEARCH",
			"url": ""
		})
		
		@@include('short-in-content-news-list-item.html', {
			"date": "January 7, 2016",
			"title": "Fielding Launches Marie Fielder Center for Democracy, Leadership, and Education",
			"name": "RESEARCH,  MARIE FIELDER",
			"url": ""
		})
		
		@@include('short-in-content-news-list-item.html', {
			"date": "January 7, 2016",
			"title": "Fielding Launches Marie Fielder Center for Democracy, Leadership, and Education",
			"name": "RESEARCH,  MARIE FIELDER",
			"url": ""
		})
		
	</div>
</article>