<article class="sidebar_callout_wrap sidebar_component margined_md"> 
	<div class="sidebar_callout sidebar_img sidebar_gray_light">
		<div class="sidebar_content">
			<h4 class="heading_dashed">Connect With Us</h4>
			<nav class="social_nav clearfix">
				<ul id="menu-social-navigation" class="menu">
					<li class="facebook menu-item">
						<a href="#">Facebook</a>
					</li>
					<li class="twitter menu-item">
						<a href="#">Twitter</a>
					</li>
					<li class="youtube menu-item">
						<a href="#">YouTube</a>
					</li>
					<li class="linkedin menu-item">
						<a href="#">LinkedIn</a>
					</li>
					<li class="pinterest menu-item">
						<a href="#">Pinterest</a>
					</li>
					<li class="flickr menu-item">
						<a href="#">Flickr</a>
					</li>
					<li class="googleplus menu-item">
						<a href="#">Google+</a>
					</li>
					<li class="blog menu-item">
						<a href="#">Blogs</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</article>