<article class="sidebar_events_wrap sidebar_component margined_md clearfix"> 
	<div class="sidebar_events">
		<header class="sidebar_header">
			<h4 class="heading_dashed">Program Info Sessions</h4>
		</header>
		
		@@include('sidebar-event-listing-item.html', {
			"month": "Jan",
			"day": "14",
			"type": "In person",
			"title": "2016 VIP - HOD/ELC/ODL",
			"regurl": "",
			"detailurl": ""
		})
		
		@@include('sidebar-event-listing-item.html', {
			"month": "Jan",
			"day": "26",
			"type": "Webinar",
			"title": "PhD in Human and Organizational Systems",
			"regurl": "",
			"detailurl": ""
		})
			
		<a href="#" class="btn btn_gray">View All Info Sessions</a>
	</div>
</article>