<article class="sidebar_callout_wrap sidebar_component margined_md">
	<picture>
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source media="(min-width: 980px)" srcset="http://spacehold.it/300x225/fielding/3.jpg">
		<source media="(min-width: 740px)" srcset="http://spacehold.it/740x555/fielding/3.jpg">
		<source media="(min-width: 500px)" srcset="http://spacehold.it/500x375/fielding/3.jpg">
		<!--[if IE 9]></video><![endif]-->
		<img src="http://spacehold.it/500x375/fielding/3.jpg" alt="" draggable="false">
	</picture>
	<div class="sidebar_callout sidebar_img sidebar_gray">
		<div class="sidebar_content">
			<h4 class="heading_dashed">Alumni Directory</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu ante vel ex scelerisque interdum.</p>
			<a href="#" class="btn btn_transparent_arrow">More Info</a>
		</div>
	</div>
</article>