<article class="spotlight_card">
	<div class="spotlight_card_inner">
		<figure class="responsive_image spotlight_card_figure">
			<img class="spotlight_card_image" src="http://spacehold.it/500x282/@@image" alt="@@alt">
		</figure>
		<div class="@@color equalize_child spotlight_card_content">
			<header class="spotlight_card_header">
				<div class="spotlight_card_label">@@label</div>
				<h3 class="spotlight_card_title">@@title</h3>
			</header>
			<div class="spotlight_card_description">
				<p>@@description</p>
			</div>
			<div class="spotlight_card_buttons">
				<a class="spotlight_card_button" href="@@url" aria-label="@@title">Learn More</a>
			</div>
		</div>
	</div>
</article>
