<nav class="subnavigation_wrap">
	<h2 class="subnavigation_handle fs-lg-hide">Additional Navigation</h2>
	<div class="subnavigation js-navigation fs-navigation-element fs-navigation-toggle-nav fs-navigation__1 fs-light" data-navigation-handle=".subnavigation_handle" data-navigation-options="{&quot;labels&quot;:{&quot;open&quot;:&quot;Close&quot;,&quot;closed&quot;:&quot;Additional Navigation&quot;}}">
		<ul id="menu-main-navigation-2" class="menu">
			<li class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-41 current_page_item menu-item-48">
				<a rel="page" href="#">Mentoring &amp; Advising</a>
			</li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49">
				<a rel="page" href="#">Academic Technologies</a>
			</li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item menu-item-has-children menu-item-51">
				<a rel="page" href="#">Regional Sessions &amp; Events</a>
				<ul class="sub-menu">
					<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
						<a href="http://dev.fastspot.com/clients/fielding/our-learning-environments/regional-sessions-events/local-clusters/" rel="page">Local Clusters</a>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-115 current_page_item menu-item-117">
						<a href="http://dev.fastspot.com/clients/fielding/our-learning-environments/regional-sessions-events/regional-sessions-events/" rel="page">Regional Sessions & Events</a>
					</li>
					<li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118">
						<a href="http://dev.fastspot.com/clients/fielding/our-learning-environments/regional-sessions-events/national-sessions/" rel="page">National Sessions</a>
					</li>
				</ul>
			</li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52">
				<a rel="page" href="#">Student Services</a>
			</li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53">
				<a rel="page" href="#">University Catalog</a>
			</li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54">
				<a rel="page" href="#">Frequently Asked Questions</a>
			</li>
		</ul>
	</div>
</nav>
