<article class="testimonial_single_wrap">
	<div class="fs-row">
		<div class="fs-cell">
			
			@@include('testimonial-single-item.html', {
				"color": "slide_teal",
				"quote": "Students know that we really care about their professional and intellectual development and want to support that. We recognize them as unique individuals and aren't trying to fit them into a box.",
				"name": "– Deande West, Student",
				"program": "Clinical Psychology/ Respecialization In Clinical Psychology"
			})
			
		</div>
	</div>
</article>
