<article class="testimonial_wrap">
	<div class="fs-row">
		<div class="fs-cell">

			<h2 class="media_carousel_label">Testimonials</h2>
			<h3 class="media_carousel_heading">In Our Students’ Own Words</h3>

			<!-- Carousel Wrap -->
			<div class="js-carousel carousel_video" data-carousel-options='{"theme": "combo_pager", "contained": false, "matchHeight": false}'>

			@@include('testimonials-item.html', {
				"size": "slide_large",
				"color": "slide_teal",
				"time": "1:30",
				"quote": "Students know that we really care about their professional and intellectual development and want to support that. We recognize them as unique individuals and aren't trying to fit them into a box.",
				"name": "– Deande West, Student",
				"program": "Clinical Psychology/ Respecialization In Clinical Psychology"
			})

			@@include('testimonials-item.html', {
				"size": "",
				"color": "slide_gray",
				"time": "1:30",
				"quote": "Students know that we really care about their professional and intellectual development and want to support that. We recognize them as unique individuals and aren't trying to fit them into a box.",
				"name": "– Deande West, Student",
				"program": "Clinical Psychology/ Respecialization In Clinical Psychology"
			})

			@@include('testimonials-item.html', {
				"size": "",
				"color": "slide_red",
				"time": "1:30",
				"quote": "Students know that we really care about their professional and intellectual development and want to support that. We recognize them as unique individuals and aren't trying to fit them into a box.",
				"name": "– Deande West, Student",
				"program": "Clinical Psychology/ Respecialization In Clinical Psychology"
			})

			</div>
			<!-- END: Carousel Wrap -->

		</div>
	</div>

</article>
