<!-- Single Slide -->
<div class="slide_wrap @@color">
	<div class="slide">
		<div class="slide_left fs-cell-contained fs-lg-half fs-md-half fs-sm-full fs-xs-full">
			<!-- Image -->
			<div class="slide_image js-background" data-background-options='{"source":{"0px": "http://spacehold.it/500x375/2.jpg", "500px": "http://spacehold.it/740x555/2.jpg", "740px": "http://spacehold.it/740x555/2.jpg", "980px": "http://spacehold.it/740x555/2.jpg", "1220px": "http://spacehold.it/980x735/2.jpg"}}'>
				<div style="background-image: url(http://spacehold.it/980x735/2.jpg);"></div>
			</div>
		</div>
		<!-- Text -->
		<div class="slide_right fs-cell-contained fs-lg-half fs-md-half fs-sm-full fs-xs-full">
			<div class="slide_text">
				<p class="slide_quote">@@quote</p>
				<p class="slide_bold">@@name</p>
				<p class="slide_caps">@@program</p>
			</div>
		</div> 
	</div>
</div>
<!-- END: Single Slide -->