<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<!-- Page Attributes -->
		<title>Alumni Landing | Client Name</title>
		<meta name="description" content="">

		<!-- Favions / Touch Icons -->
		<link rel="apple-touch-icon" sizes="57x57" href="../images/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="../images/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="../images/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="../images/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="../images/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="../images/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="../images/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="../images/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="../images/favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="../images/favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../images/favicons/favicon-194x194.png" sizes="194x194">
		<link rel="icon" type="image/png" href="../images/favicons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="../images/favicons/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="../images/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="../images/favicons/manifest.json">
		<link rel="mask-icon" href="../images/favicons/safari-pinned-tab.svg" color="#d0021b">
		<meta name="msapplication-TileColor" content="#d0021b">
		<meta name="msapplication-TileImage" content="../images/favicons/mstile-144x144.png">
		<meta name="theme-color" content="#d0021b">


		<!-- G+ & Facebook -->
		<meta property="og:title" content="">
		<meta property="og:url" content="">
		<meta property="og:type" content="website">
		<meta property="og:image" content="">
		<meta property="og:description" content="">
		<meta property="og:site_name" content="">

		<!-- Twitter -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@">
		<meta name="twitter:creator" content="@">
		<meta name="twitter:url" content="">
		<meta name="twitter:title" content="">
		<meta name="twitter:description" content="">
		<meta name="twitter:image" content="">

		<!-- Modernizer -->
		<script src="../../js/modernizr.js"></script>

		<!-- Fonts -->
		<script type="text/javascript" src="http://fast.fonts.net/jsapi/596182cd-25b8-4d66-80e0-b5e49568befb.js"></script>

		<script>
		var templateurl = 'http://fielding.dev/wp-content/themes/fielding/';
		</script>

		<!-- Compiled CSS -->
		<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="../../css/site.css">
		<!--<![endif]-->

		<!--[if IE 8]>
		<script>var IE8 = true;</script>
		<script src="../../js/site-ie8.js"></script>
		<link rel="stylesheet" href="../../css/site-ie8.css">
	<![endif]-->
		<!--[if IE 9]>
		<script>var IE9 = true;</script>
		<script src="../../js/site-ie9.js"></script>
		<link rel="stylesheet" href="../../css/site-ie9.css">
	<![endif]-->
		<!--[if lte IE 9]>
		<link rel="stylesheet" href="../../css/site-ie.css">
	<![endif]-->
	</head>


	<body class="fs-grid">

		<!-- Skip-to-Content Link -->
		<a href="#page" id="skip_to_content" class="skip_link">Skip to Main Content</a>

		<div class="page_wrapper js-navigation_push">

			<!-- Header -->
			<!-- Header -->
			<header id="header" class="header" role="banner">

				<!-- Header Row -->
				<div class="fs-row">

					<!-- Header Cell -->
					<div class="fs-cell fs-all-12 clearfix header_container">

						<!-- Site Logo -->
						<a href="index.html" class="logo_main" itemscope itemtype="http://schema.org/CollegeOrUniversity">
							<h1 class="hide" itemprop="name">Fielding Graduate University</h1>
						</a>
						<!-- END: Site Logo -->

						<a class="live_chat" href="#">Live Chat</a>

						<!-- Mobile Nav Controls -->
						<button class="mobile_navigation_handle js-mobile_handle fs-lg-hide fs-xl-hide"></button>
						<!-- END: Mobile Nav Controls -->

						<!-- Wrap for mobile -->
						<div class="fs-sm-hide fs-md-hide header_wrap">

							<!-- Quick Nav -->
							<div class="quick_nav_wrap">
								<nav class="quick_nav" aria-labelledby="quick_nav_label">
									<h2 class="visually_hidden" id="quick_nav_label">Quick Navigation</h2>
									<div class="quick_nav_list clearfix" role="navigation">
										<ul id="menu-utility-navigation-1" class="menu">
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33 has-dropdown">
												<span>Schools</span>
												<ul>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32 has-dropdown">
												<span>News & Media</span>
												<ul>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
												<a href="#">Fielding Press</a>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
												<a href="#">My Fielding</a>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
												<a href="#">Giving</a>
											</li>
										</ul>
									</div>
								</nav>
							</div>
							<!-- END: Quick Nav -->

							<!-- Secondary Nav -->
							<div class="secondary_nav_wrap">
								<nav class="secondary_nav" aria-labelledby="secondary_nav_label">
									<h2 class="visually_hidden" id="secondary_nav_label">Secondary Navigation</h2>
									<div class="secondary_nav_list clearfix" role="navigation">
										<ul id="menu-utility-navigation-1" class="menu">
											<li class="chat menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
												<a href="#">Live Chat</a>
											</li>
											<li class="phone menu-item menu-item-type-post_type menu-item-object-page menu-item-31">
												<a href="#">800-349-1099</a>
											</li>
											<li class="calendar menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
												<a href="#">Calendar</a>
											</li>
										</ul>
									</div>
								</nav>
							</div>
							<!-- END: Secondary Nav -->

							<!-- Site Search -->
							<div class="search_wrap">
								<form action="#" class="search_form">
									<input type="text" class="search_input" placeholder="Search...">
									<input type="hidden" class="search_submit" value="Go">
									<button class="search_submit icon_text" type="submit">Search</button>
								</form>
							</div>
							<!-- END: Site Search -->

						</div>
						<!-- END: Wrap for mobile -->

					</div>
					<!-- END: Header Cell -->

				</div>
				<!-- END: Header Row -->

				<!-- Main Nav -->
				<div class="main_nav_placeholder"></div>
				<nav class="main_nav clearfix" aria-labelledby="main_nav_label">
					<h2 class="visually_hidden" id="main_nav_label">Main Navigation</h2>
					<div class="fs-row">
						<div class="fs-cell">
							<div class="main_nav_inner">
								<div class="main_nav_group">
									<div class="main_nav_list" role="navigation">
										<ul id="menu-main-navigation" class="menu">
											<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-35">
												<a rel="page" href="#">Degrees</a>
												<div class="sub-menu">
													<ul class="sub-menu-list">
														<li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-41 current_page_item menu-item-48 has-subdropdown">
															<a rel="page" href="#">Doctoral Degrees</a>
															<div class="sub-sub-menu">
																<div class="sub-sub-menu-content">
																	<span class="sub-sub-label">Psychology</span>
																	<ul class="sub-sub-list">
																		<li>
																			<a href="#">PhD in Clinical Psychology</a>
																		</li>
																		<li>
																			<a href="#">PhD in Media Psychology</a>
																		</li>
																	</ul>
																</div>
																<div class="sub-sub-menu-content">
																	<span class="sub-sub-label">Education</span>
																	<ul class="sub-sub-list">
																		<li>
																			<a href="#">PhD in Infant & Early Childhood Development</a>
																		</li>
																		<li>
																			<a href="#">EdD in Leadership for Change</a>
																		</li>
																	</ul>
																</div>
																<div class="sub-sub-menu-content">
																	<span class="sub-sub-label">Leadership</span>
																	<ul class="sub-sub-list">
																		<li>
																			<a href="#">PhD in Organization Development & Change</a>
																		</li>
																		<li>
																			<a href="#">PhD in Human Development</a>
																		</li>
																		<li>
																			<a href="#">PhD in Infant & Early Childhood Development</a>
																		</li>
																	</ul>
																</div>
															</div>
														</li>
														<li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49">
															<a rel="page" href="#">Master's Degrees</a>
														</li>
														<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
															<a rel="page" href="#">Certificates</a>
														</li>
														<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
															<a rel="page" href="#">Individual Courses</a>
														</li>
													</ul>
													<ul class="sub-menu-buttons">
														<li>
															<a href="">View All Programs</a>
														</li>
													</ul>
												</div>
											</li>
											<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
												<a rel="page" href="#">Admissions</a>
											</li>
											<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37">
												<a rel="page" href="#">Financing</a>
											</li>
											<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39">
												<a rel="page" href="#">About</a>
											</li>
											<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38">
												<a rel="page" href="#">Fielding Advantage</a>
											</li>
											<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39">
												<a rel="page" href="#">Alumni</a>
												<div class="sub-menu">
													<ul class="sub-menu-list">
														<li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-41 current_page_item menu-item-48">
															<a rel="page" href="#">Doctoral Degrees</a>
														</li>
														<li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49">
															<a rel="page" href="#">Master's Degrees</a>
														</li>
														<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
															<a rel="page" href="#">Certificates</a>
														</li>
														<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
															<a rel="page" href="#">Individual Courses</a>
														</li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="main_nav_group">
									<!-- Button Nav -->
									<div class="button_nav_wrap">
										<nav class="button_nav" aria-labelledby="button_nav_label">
											<h2 class="visually_hidden" id="button_nav_label">Button Navigation</h2>
											<div class="button_nav_list clearfix" role="navigation">
												<ul id="menu-utility-navigation-1" class="menu">
													<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
														<a href="#">Request Info</a>
													</li>
													<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
														<a href="#">Apply Now</a>
													</li>
												</ul>
											</div>
										</nav>
									</div>
									<!-- END: Secondary Nav -->
								</div>
							</div>
						</div>
				</nav>
				<!-- END: Main Nav -->
			</header>
			<!-- END: Header -->


			<!-- Page : Main Content -->
			<main id="page" class="page_main" tabindex="-1">

				<!-- Breadcrumb w/ Image behind -->

				<div class="fs-row breadcrumb_wrap">
					<div class="fs-cell breadcrumb_overlay">
						<nav class="breadcrumb_nav" aria-labelledby="breadcrumb_nav_label">
							<h2 class="visually_hidden" id="breadcrumb_nav_label">Breadcrumb</h2>
							<ul id="menu-main-navigation-1" class="menu">
								<li id="menu-item-" class="menu-item-">
									<a href="http://dev.fastspot.com/clients/fielding">Home</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item menu-item-35">
									<a rel="page" href="http://dev.fastspot.com/clients/fielding/alumni/">Alumni</a>
								</li>
							</ul>
						</nav>

					</div>
				</div>

				<!-- Page Header -->
				<!-- Feature Callout -->
				<section class="feature_callout">
					<div class="js-background feature_callout_background feature_callout_background_main" data-background-options='{"source":{"0px":"../../images/placeholder.png","980px":"http://spacehold.it/1220x686/4","1220px":"http://spacehold.it/1440x810/4"}}'></div>
					<div class="feature_callout_content">
						<div class="js-background feature_callout_background feature_callout_background_content" data-background-options='{"source":{"0px":"http://spacehold.it/500x282/4","500px":"http://spacehold.it/740x416/4","740px":"http://spacehold.it/980x538/4","980px":"../../images/placeholder.png"}}'></div>
						<div class="fs-row">
							<div class="fs-cell fs-md-5 fs-lg-6">
								<div class="feature_callout_container">
									<header class="feature_callout_header">
										<h2 class="feature_callout_title">PhD Human and Organizational Systems</h2>
									</header>
									<div class="feature_callout_description">
										<p>Develop the knowledge and competencies to help organizations, communities, and businesses develop the structure, behavior, and leadership that will allow them to thrive.</p>
									</div>
									<footer class="feature_callout_buttons">
										<a class="btn feature_callout_button feature_callout_button_arrow" href="#">Apply Now</a>

										<a class="btn feature_callout_button feature_callout_button_write" href="#">Request Information</a>

									</footer>
								</div>
							</div>
							<div class="fs-cell fs-md-3 fs-lg-5 fs-lg-push-1">
								<div class="feature_callout_spotlight_large">
								</div>
							</div>
						</div>
					</div>
					<div class="fs-row">
						<div class="fs-cell">
							<div class="feature_callout_spotlight_small">
								<div class="feature_callout_spotlight">
									<div class="js-carousel js-equalize spotlight_carousel" data-carousel-options='{"theme": "controls_circ_lg", "autoHeight": false, "contained": false, "show":{"740px": 2, "980px": 1}}' data-equalize-options='{"target":".equalize_child"}'>

										<article class="spotlight_card">
											<div class="spotlight_card_inner">
												<figure class="responsive_image spotlight_card_figure">
													<img class="spotlight_card_image" src="http://spacehold.it/500x282/8" alt="">
												</figure>
												<div class="spotlight_card_purple equalize_child spotlight_card_content">
													<header class="spotlight_card_header">
														<div class="spotlight_card_label">Faculty Spotlight</div>
														<h3 class="spotlight_card_title">Placida Gallegos, PHD</h3>
													</header>
													<div class="spotlight_card_description">
														<p>Gallegos Selected As Keynote Speaker At The 6th Annual STEM* Women of Color Conclave</p>
													</div>
													<div class="spotlight_card_buttons">
														<a class="spotlight_card_button" href="#" aria-label="Placida Gallegos, PHD">Learn More</a>
													</div>
												</div>
											</div>
										</article>


										<article class="spotlight_card">
											<div class="spotlight_card_inner">
												<figure class="responsive_image spotlight_card_figure">
													<img class="spotlight_card_image" src="http://spacehold.it/500x282/8" alt="">
												</figure>
												<div class="spotlight_card_gray equalize_child spotlight_card_content">
													<header class="spotlight_card_header">
														<div class="spotlight_card_label">Test</div>
														<h3 class="spotlight_card_title">Path to Success</h3>
													</header>
													<div class="spotlight_card_description">
														<p>The openness to diversity of people and ideas is the most important aspect for me coming to Fielding.</p>
													</div>
													<div class="spotlight_card_buttons">
														<a class="spotlight_card_button" href="#" aria-label="Path to Success">Learn More</a>
													</div>
												</div>
											</div>
										</article>


										<article class="spotlight_card">
											<div class="spotlight_card_inner">
												<figure class="responsive_image spotlight_card_figure">
													<img class="spotlight_card_image" src="http://spacehold.it/500x282/7" alt="">
												</figure>
												<div class="spotlight_card_red equalize_child spotlight_card_content">
													<header class="spotlight_card_header">
														<div class="spotlight_card_label">Faculty Spotlight</div>
														<h3 class="spotlight_card_title">Placida Gallegos, PHD</h3>
													</header>
													<div class="spotlight_card_description">
														<p>Lorem ipsum dolor sit amet</p>
													</div>
													<div class="spotlight_card_buttons">
														<a class="spotlight_card_button" href="#" aria-label="Placida Gallegos, PHD">Learn More</a>
													</div>
												</div>
											</div>
										</article>


										<article class="spotlight_card">
											<div class="spotlight_card_inner">
												<figure class="responsive_image spotlight_card_figure">
													<img class="spotlight_card_image" src="http://spacehold.it/500x282/6" alt="">
												</figure>
												<div class="spotlight_card_teal equalize_child spotlight_card_content">
													<header class="spotlight_card_header">
														<div class="spotlight_card_label"></div>
														<h3 class="spotlight_card_title">Path to Success</h3>
													</header>
													<div class="spotlight_card_description">
														<p>The openness to diversity of people and ideas is the most important aspect for me coming to Fielding.</p>
													</div>
													<div class="spotlight_card_buttons">
														<a class="spotlight_card_button" href="#" aria-label="Path to Success">Learn More</a>
													</div>
												</div>
											</div>
										</article>


										<article class="spotlight_card">
											<div class="spotlight_card_inner">
												<figure class="responsive_image spotlight_card_figure">
													<img class="spotlight_card_image" src="http://spacehold.it/500x282/5" alt="">
												</figure>
												<div class="spotlight_card_purple equalize_child spotlight_card_content">
													<header class="spotlight_card_header">
														<div class="spotlight_card_label">Faculty Spotlight</div>
														<h3 class="spotlight_card_title">Placida Gallegos, PHD</h3>
													</header>
													<div class="spotlight_card_description">
														<p>Lorem ipsum dolor sit amet</p>
													</div>
													<div class="spotlight_card_buttons">
														<a class="spotlight_card_button" href="#" aria-label="Placida Gallegos, PHD">Learn More</a>
													</div>
												</div>
											</div>
										</article>



									</div>

								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- END: Feature Callout -->

				<!-- END: Page Header -->

				<!-- Page Content -->
				<div class="page_content_area">
					<div class="fs-row">

						<!-- Right Sidebar Navigation -->
						<aside class="fs-cell fs-cell-right fs-lg-3">
							<nav class="subnavigation_wrap">
								<h2 class="subnavigation_handle fs-lg-hide">Additional Navigation</h2>
								<div class="subnavigation js-navigation fs-navigation-element fs-navigation-toggle-nav fs-navigation__1 fs-light" data-navigation-handle=".subnavigation_handle" data-navigation-options="{&quot;labels&quot;:{&quot;open&quot;:&quot;Close&quot;,&quot;closed&quot;:&quot;Additional Navigation&quot;}}">
									<ul id="menu-main-navigation-2" class="menu">
										<li class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-41 current_page_item menu-item-48">
											<a rel="page" href="#">Mentoring &amp; Advising</a>
										</li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49">
											<a rel="page" href="#">Academic Technologies</a>
										</li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item menu-item-has-children menu-item-51">
											<a rel="page" href="#">Regional Sessions &amp; Events</a>
											<ul class="sub-menu">
												<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
													<a href="http://dev.fastspot.com/clients/fielding/our-learning-environments/regional-sessions-events/local-clusters/" rel="page">Local Clusters</a>
												</li>
												<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-115 current_page_item menu-item-117">
													<a href="http://dev.fastspot.com/clients/fielding/our-learning-environments/regional-sessions-events/regional-sessions-events/" rel="page">Regional Sessions & Events</a>
												</li>
												<li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118">
													<a href="http://dev.fastspot.com/clients/fielding/our-learning-environments/regional-sessions-events/national-sessions/" rel="page">National Sessions</a>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52">
											<a rel="page" href="#">Student Services</a>
										</li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53">
											<a rel="page" href="#">University Catalog</a>
										</li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54">
											<a rel="page" href="#">Frequently Asked Questions</a>
										</li>
									</ul>
								</div>
							</nav>

							<article class="sidebar_callout_wrap sidebar_component margined_md">
								<picture>
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source media="(min-width: 980px)" srcset="http://spacehold.it/300x225/fielding/3.jpg">
									<source media="(min-width: 740px)" srcset="http://spacehold.it/740x555/fielding/3.jpg">
									<source media="(min-width: 500px)" srcset="http://spacehold.it/500x375/fielding/3.jpg">
									<!--[if IE 9]></video><![endif]-->
									<img src="http://spacehold.it/500x375/fielding/3.jpg" alt="" draggable="false">
								</picture>
								<div class="sidebar_callout sidebar_img sidebar_gray">
									<div class="sidebar_content">
										<h4 class="heading_dashed">Alumni Directory</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu ante vel ex scelerisque interdum.</p>
										<a href="#" class="btn btn_transparent_arrow">More Info</a>
									</div>
								</div>
							</article>
							<article class="sidebar_callout_wrap sidebar_component margined_md">
								<div class="sidebar_callout sidebar_img sidebar_purple">
									<div class="sidebar_content">
										<h4 class="heading_dashed">Newsletter Signup</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu ante vel ex scelerisque interdum.</p>
										<a href="#" class="btn btn_transparent_arrow">Sign Up Today</a>
									</div>
								</div>
							</article>

							<article class="sidebar_callout_wrap sidebar_component margined_md">
								<div class="sidebar_callout sidebar_img sidebar_orange">
									<div class="sidebar_content">
										<h4 class="heading_dashed">Newsletter Signup</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu ante vel ex scelerisque interdum.</p>
										<a href="#" class="btn btn_transparent_arrow">Sign Up Today</a>
									</div>
								</div>
							</article>
							<article class="sidebar_callout_wrap sidebar_component margined_md">
								<div class="sidebar_callout sidebar_img sidebar_gray_light">
									<div class="sidebar_content">
										<h4 class="heading_dashed">Connect With Us</h4>
										<nav class="social_nav clearfix">
											<ul id="menu-social-navigation" class="menu">
												<li class="facebook menu-item">
													<a href="#">Facebook</a>
												</li>
												<li class="twitter menu-item">
													<a href="#">Twitter</a>
												</li>
												<li class="youtube menu-item">
													<a href="#">YouTube</a>
												</li>
												<li class="linkedin menu-item">
													<a href="#">LinkedIn</a>
												</li>
												<li class="pinterest menu-item">
													<a href="#">Pinterest</a>
												</li>
												<li class="flickr menu-item">
													<a href="#">Flickr</a>
												</li>
												<li class="googleplus menu-item">
													<a href="#">Google+</a>
												</li>
												<li class="blog menu-item">
													<a href="#">Blogs</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</article>
						</aside>

						<!-- Left Content Area -->
						<div class="fs-cell fs-lg-8 page_content">

							<!-- WYSIWYG Content -->
							<div class="typography">

								<h2>Greetings Fielding Alumni</h2>
								<p>Our faculty is made up of some of the world’s finest minds. They are senior scholar-practitioners who excel in academia as well as their professions and practices. Many have taught at other leading universities and have been published widely. At the same time, our faculty represent a unique diversity of disciplines, ethnicity, cultures, professions, and academic interests. That's important, because at Fielding, you are in the driver's seat.</p>

								<p>Matching your research to your career goals is a major part of what we do. We believe that you have many valuable things to contribute to your learning process, so what we try to accomplish in our programs is to define that sweet spot, that unique intersection between your professional expertise and academic interests, and the unique theoretical knowledge of our professors. We are dedicated to finding that intersection and nurturing your doctoral competency to make it a reality.</p>

							</div>
							<!-- END: typography -->

							<article class="short_events_wrap margined_lg clearfix">
								<div class="short_events">
									<header class="events_heading clearfix">
										<h2 class="heading_2">Alumni News</h2>
										<a href="#" class="btn btn_gray">View All News</a>
									</header>

									<div class="event_listing_wrap">
										<div class="fs-row news_listing">
											<div class="fs-cell fs-sm-2 fs-md-4 fs-lg-9 news_detail">
												<p class="news_date">January 7, 2016</p>
												<a href="#" class="event_title">Fielding Launches Marie Fielder Center for Democracy, Leadership, and Education</a>
												<div class="news_categories">
													<span class="tag"></span>
													<a href="#" class="bold_link">RESEARCH</a>
												</div>
											</div>
											<div class="fs-cell fs-sm-1 fs-md-2 fs-lg-3 news_image">
												<picture>
													<!--[if IE 9]><video style="display: none;"><![endif]-->
													<source media="(min-width: 980px)" srcset="http://spacehold.it/300x225/fielding/1.jpg">
													<source media="(min-width: 740px)" srcset="http://spacehold.it/740x555/fielding/1.jpg">
													<source media="(min-width: 500px)" srcset="http://spacehold.it/500x375/fielding/1.jpg">
													<!--[if IE 9]></video><![endif]-->
													<img src="http://spacehold.it/500x375/fielding/1.jpg" alt="" draggable="false">
												</picture>
											</div>
										</div>
									</div>

									<div class="event_listing_wrap">
										<div class="fs-row news_listing">
											<div class="fs-cell fs-sm-2 fs-md-4 fs-lg-9 news_detail">
												<p class="news_date">January 7, 2016</p>
												<a href="#" class="event_title">Fielding Launches Marie Fielder Center for Democracy, Leadership, and Education</a>
												<div class="news_categories">
													<span class="tag"></span>
													<a href="#" class="bold_link">RESEARCH, MARIE FIELDER</a>
												</div>
											</div>
											<div class="fs-cell fs-sm-1 fs-md-2 fs-lg-3 news_image">
												<picture>
													<!--[if IE 9]><video style="display: none;"><![endif]-->
													<source media="(min-width: 980px)" srcset="http://spacehold.it/300x225/fielding/1.jpg">
													<source media="(min-width: 740px)" srcset="http://spacehold.it/740x555/fielding/1.jpg">
													<source media="(min-width: 500px)" srcset="http://spacehold.it/500x375/fielding/1.jpg">
													<!--[if IE 9]></video><![endif]-->
													<img src="http://spacehold.it/500x375/fielding/1.jpg" alt="" draggable="false">
												</picture>
											</div>
										</div>
									</div>

									<div class="event_listing_wrap">
										<div class="fs-row news_listing">
											<div class="fs-cell fs-sm-2 fs-md-4 fs-lg-9 news_detail">
												<p class="news_date">January 7, 2016</p>
												<a href="#" class="event_title">Fielding Launches Marie Fielder Center for Democracy, Leadership, and Education</a>
												<div class="news_categories">
													<span class="tag"></span>
													<a href="#" class="bold_link">RESEARCH, MARIE FIELDER</a>
												</div>
											</div>
											<div class="fs-cell fs-sm-1 fs-md-2 fs-lg-3 news_image">
												<picture>
													<!--[if IE 9]><video style="display: none;"><![endif]-->
													<source media="(min-width: 980px)" srcset="http://spacehold.it/300x225/fielding/1.jpg">
													<source media="(min-width: 740px)" srcset="http://spacehold.it/740x555/fielding/1.jpg">
													<source media="(min-width: 500px)" srcset="http://spacehold.it/500x375/fielding/1.jpg">
													<!--[if IE 9]></video><![endif]-->
													<img src="http://spacehold.it/500x375/fielding/1.jpg" alt="" draggable="false">
												</picture>
											</div>
										</div>
									</div>

								</div>
							</article>

							<article class="short_events_wrap margined_lg clearfix">
								<div class="short_events">
									<header class="events_heading clearfix">
										<h2 class="heading_2">Alumni Events</h2>
										<a href="#" class="btn btn_gray">View All Events</a>
									</header>

									<div class="event_listing_wrap">
										<div class="event_listing">
											<div class="event_bubble">
												<p class="event_bubble_date">Jan
													<span>14</span>
												</p>
											</div>
											<div class="event_details">
												<p class="event_type">Webinar</p>
												<a href="" class="event_title">HOD Winter Session 2016</a>
											</div>
											<div class="event_locations">
												<span class="bold_link">
													<span class="map"></span>FESS PARKER'S DOUBLETREE RESORT</span>
												<span class="bold_link">
													<span class="time"></span>8:00 AM - 9:00 PM</span>
											</div>
											<div class="clearfix"></div>
											<div class="event_buttons">
												<a href="" class="btn btn_drk">Register</a>
												<a href="" class="btn btn_text">Event Details</a>
											</div>
										</div>
									</div>


									<div class="event_listing_wrap">
										<div class="event_listing">
											<div class="event_bubble">
												<p class="event_bubble_date">Jan
													<span>14</span>
												</p>
											</div>
											<div class="event_details">
												<p class="event_type">Webinar</p>
												<a href="" class="event_title">HOD Winter Session 2016</a>
											</div>
											<div class="event_locations">
												<span class="bold_link">
													<span class="map"></span>FESS PARKER'S DOUBLETREE RESORT</span>
												<span class="bold_link">
													<span class="time"></span>8:00 AM - 9:00 PM</span>
											</div>
											<div class="clearfix"></div>
											<div class="event_buttons">
												<a href="" class="btn btn_drk">Register</a>
												<a href="" class="btn btn_text">Event Details</a>
											</div>
										</div>
									</div>


									<div class="event_listing_wrap">
										<div class="event_listing">
											<div class="event_bubble">
												<p class="event_bubble_date">Jan
													<span>14</span>
												</p>
											</div>
											<div class="event_details">
												<p class="event_type">Webinar</p>
												<a href="" class="event_title">HOD Winter Session 2016</a>
											</div>
											<div class="event_locations">
												<span class="bold_link">
													<span class="map"></span>FESS PARKER'S DOUBLETREE RESORT</span>
												<span class="bold_link">
													<span class="time"></span>8:00 AM - 9:00 PM</span>
											</div>
											<div class="clearfix"></div>
											<div class="event_buttons">
												<a href="" class="btn btn_drk">Register</a>
												<a href="" class="btn btn_text">Event Details</a>
											</div>
										</div>
									</div>


								</div>
							</article>

						</div>
						<!-- END: Left Content Area -->
					</div>
					<!-- END: Row -->

					<!-- Full Width Components -->
					<div class="full_width_components">

						<div class="fs-row">
							<div class="fs-cell">
								<article class="map_wrap margined_md">
									<div class="fs-row">
										<div class="fs-cell fs-all-full">
											<h2 class="media_carousel_label">Fielding Alumni Map</h2>
											<h3 class="media_carousel_heading">Our Alumni Around the World</h3>
											<p class="larger">Explore our global network of smart, caring, and socially-responsible leaders who are creating meaningful change in communities and workplaces worldwide.</p>
										</div>
									</div>
								</article>

								<div class="map_container">

									<div class="alumni_map_container js-map"></div>

									<div class="alumni_map_details_container js-map_info_window">
										<button class="alumni_map_details_close js-map_info_window_close"></button>
										<article class="alumni_map_details js-map_info_window_details"></article>
									</div>

									<div class="add_wrap">
										<h4 class="heading_dashed">ADD YOURSELF TO THE MAP</h4>
										<p>Fielding’s reach spans the globe. Add yourself to the map to stay connected with alumni from your program or region.</p>
										<a href="#" class="btn btn_gray btn_drk">Submit Your Info</a>
									</div>

									<script>
									var MapBrowserData = [
									{
										"id": 1,
										"image": "//spacehold.it/200x200/1.jpg",
										"name": "Ruth Wagner, PHD",
										"location": "Washington, DC, United States",
										"title": "Director of American University’s School of Public Affairs’ Master of Science in Organization Development (MSOD) Program",
										"graduation": "HOD '01",
										"degree": "PhD Human Development",
										"latitude": "38.901052",
										"longitude": "-77.031325"
									},
									{
										"id": 2,
										"image": "//spacehold.it/200x200/1.jpg",
										"name": "John Doe",
										"location": "Baltimore, MD, United Statses",
										"title": "Lorem Ipsum",
										"graduation": "HOD '01",
										"degree": "PhD Human Development",
										"latitude": "39.2903848",
										"longitude": "-76.6121893"
									},
									{
										"id": 3,
										"image": "//spacehold.it/200x200/1.jpg",
										"name": "Ruth Wagner, PHD",
										"location": "Washington, DC, United States",
										"title": "Director of American University’s School of Public Affairs’ Master of Science in Organization Development (MSOD) Program",
										"graduation": "HOD '01",
										"degree": "PhD Human Development",
										"latitude": "27.6648274",
										"longitude": "-81.5157535"
									}];
									</script>
								</div>
							</div>
						</div>

						<article class="testimonial_wrap">
							<div class="fs-row">
								<div class="fs-cell">

									<h2 class="media_carousel_label">Testimonials</h2>
									<h3 class="media_carousel_heading">In Our Students’ Own Words</h3>

									<!-- Carousel Wrap -->
									<div class="js-carousel carousel_video" data-carousel-options='{"theme": "combo_pager", "contained": false, "matchHeight": false}'>

										<!-- Slide -->
										<div class="slide_wrap slide_large slide_teal">
											<div class="slide clearfix">
												<div class="slide_left fs-cell-contained fs-lg-half fs-md-half fs-sm-full fs-xs-full">

													<!-- Video Link for Lightbox -->
													<a class="slide_image js-lightbox js-background" href="//www.youtube.com/embed/zsJpUCWfyPE?rel=0&autoplay=1&fs=1" data-background-options='{"source":{"0px": "http://spacehold.it/500x375/2.jpg", "500px": "http://spacehold.it/740x555/2.jpg", "740px": "http://spacehold.it/740x555/2.jpg", "980px": "http://spacehold.it/740x555/2.jpg", "1220px": "http://spacehold.it/980x735/2.jpg"}}'>
														<div style="background-image: url(http://spacehold.it/980x735/2.jpg);"></div>
														<!-- Time Stamp -->
														<div class="slide_time_wrap">
															<p class="slide_time">
																<span class="slide_icon"></span>1:30</p>
														</div>
														<!-- Play Button -->
														<div class="play_icon"></div>
													</a>

												</div>
												<!-- Right Slide - Text -->
												<div class="slide_right fs-cell-contained fs-lg-half fs-md-half fs-sm-full fs-xs-full">
													<div class="slide_text">
														<p class="slide_quote">Students know that we really care about their professional and intellectual development and want to support that. We recognize them as unique individuals and aren't trying to fit them into a box.</p>
														<p class="slide_bold">– Deande West, Student</p>
														<p class="slide_caps">Clinical Psychology/ Respecialization In Clinical Psychology</p>
													</div>
												</div>
											</div>
										</div>
										<!-- END: Slide -->

										<!-- Slide -->
										<div class="slide_wrap  slide_gray">
											<div class="slide clearfix">
												<div class="slide_left fs-cell-contained fs-lg-half fs-md-half fs-sm-full fs-xs-full">

													<!-- Video Link for Lightbox -->
													<a class="slide_image js-lightbox js-background" href="//www.youtube.com/embed/zsJpUCWfyPE?rel=0&autoplay=1&fs=1" data-background-options='{"source":{"0px": "http://spacehold.it/500x375/2.jpg", "500px": "http://spacehold.it/740x555/2.jpg", "740px": "http://spacehold.it/740x555/2.jpg", "980px": "http://spacehold.it/740x555/2.jpg", "1220px": "http://spacehold.it/980x735/2.jpg"}}'>
														<div style="background-image: url(http://spacehold.it/980x735/2.jpg);"></div>
														<!-- Time Stamp -->
														<div class="slide_time_wrap">
															<p class="slide_time">
																<span class="slide_icon"></span>1:30</p>
														</div>
														<!-- Play Button -->
														<div class="play_icon"></div>
													</a>

												</div>
												<!-- Right Slide - Text -->
												<div class="slide_right fs-cell-contained fs-lg-half fs-md-half fs-sm-full fs-xs-full">
													<div class="slide_text">
														<p class="slide_quote">Students know that we really care about their professional and intellectual development and want to support that. We recognize them as unique individuals and aren't trying to fit them into a box.</p>
														<p class="slide_bold">– Deande West, Student</p>
														<p class="slide_caps">Clinical Psychology/ Respecialization In Clinical Psychology</p>
													</div>
												</div>
											</div>
										</div>
										<!-- END: Slide -->

										<!-- Slide -->
										<div class="slide_wrap  slide_red">
											<div class="slide clearfix">
												<div class="slide_left fs-cell-contained fs-lg-half fs-md-half fs-sm-full fs-xs-full">

													<!-- Video Link for Lightbox -->
													<a class="slide_image js-lightbox js-background" href="//www.youtube.com/embed/zsJpUCWfyPE?rel=0&autoplay=1&fs=1" data-background-options='{"source":{"0px": "http://spacehold.it/500x375/2.jpg", "500px": "http://spacehold.it/740x555/2.jpg", "740px": "http://spacehold.it/740x555/2.jpg", "980px": "http://spacehold.it/740x555/2.jpg", "1220px": "http://spacehold.it/980x735/2.jpg"}}'>
														<div style="background-image: url(http://spacehold.it/980x735/2.jpg);"></div>
														<!-- Time Stamp -->
														<div class="slide_time_wrap">
															<p class="slide_time">
																<span class="slide_icon"></span>1:30</p>
														</div>
														<!-- Play Button -->
														<div class="play_icon"></div>
													</a>

												</div>
												<!-- Right Slide - Text -->
												<div class="slide_right fs-cell-contained fs-lg-half fs-md-half fs-sm-full fs-xs-full">
													<div class="slide_text">
														<p class="slide_quote">Students know that we really care about their professional and intellectual development and want to support that. We recognize them as unique individuals and aren't trying to fit them into a box.</p>
														<p class="slide_bold">– Deande West, Student</p>
														<p class="slide_caps">Clinical Psychology/ Respecialization In Clinical Psychology</p>
													</div>
												</div>
											</div>
										</div>
										<!-- END: Slide -->

									</div>
									<!-- END: Carousel Wrap -->

								</div>
							</div>

						</article>


					</div>
					<!-- END: Full Width Components -->

				</div>
				<!-- END: Page Content -->

			</main>
			<!-- END: page -->

			<!-- Footer -->
			<!-- Footer -->
			<footer id="footer" class="footer">

				<div class="fs-row">
					<!-- Logo -->
					<div class="fs-cell fs-xs-full fs-md-3 fs-lg-4">
						<a href="index.html" class="logo_footer">Fielding Graduate University</a>
					</div>
					<!-- END: Logo -->

					<!-- Address -->
					<div class="fs-cell fs-xs-full fs-md-3 fs-lg-4 address">
						<p class="compact">2020 De la Vina Street
							<br> Santa Barbara, California 93105-3814 </p>

						<a href="tel:+18003401099" class="ico_phone">800.340.1099</a>
						<a href="#" class="btn btn_white">Contact Us</a>
					</div>
					<!-- END: Address -->

					<!-- Social Nav Desktop -->
					<div class="fs-cell fs-xs-hide fs-sm-hide fs-lg-4">
						<nav class="social_nav clearfix">
							<ul id="menu-social-navigation" class="menu">
								<li id="menu-item-62" class="facebook menu-item menu-item-type-custom menu-item-object-custom menu-item-62">
									<a href="https://www.facebook.com/FieldingUniversity/">Facebook</a>
								</li>
								<li id="menu-item-63" class="twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-63">
									<a href="https://twitter.com/FieldingGradU/">Twitter</a>
								</li>
								<li id="menu-item-64" class="youtube menu-item menu-item-type-custom menu-item-object-custom menu-item-64">
									<a href="https://www.youtube.com/user/FieldingGraduateUniv">YouTube</a>
								</li>
								<li id="menu-item-65" class="linkedin menu-item menu-item-type-custom menu-item-object-custom menu-item-65">
									<a href="https://www.linkedin.com/company/fielding-graduate-university/">LinkedIn</a>
								</li>
								<li id="menu-item-66" class="pinterest menu-item menu-item-type-custom menu-item-object-custom menu-item-66">
									<a href="https://www.pinterest.com/fieldingu/">Pinterest</a>
								</li>
								<li id="menu-item-67" class="flickr menu-item menu-item-type-custom menu-item-object-custom menu-item-67">
									<a href="https://www.flickr.com/photos/fieldinggraduateuniversity/">Flickr</a>
								</li>
								<li id="menu-item-68" class="googleplus menu-item menu-item-type-custom menu-item-object-custom menu-item-68">
									<a href="https://plus.google.com/+FieldingEdu/posts">Google+</a>
								</li>
							</ul>
						</nav>
					</div>
					<!-- END: Social Nav Desktop -->
				</div>

				<div class="footer_nav_wrap">
					<div class="fs-row">
						<!-- Footer Nav -->
						<div class="fs-cell fs-xs-full fs-lg-7 fs-xl-8">
							<nav class="footer_nav">
								<ul id="menu-consistent-navigation" class="menu">
									<li id="menu-item-69" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-69">
										<a href="#">Directory</a>
									</li>
									<li id="menu-item-70" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70">
										<a href="#">Student Consumer Information</a>
									</li>
									<li id="menu-item-71" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-71">
										<a href="#">My Fielding</a>
									</li>
									<li id="menu-item-72" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-72">
										<a href="#">Employment</a>
									</li>
								</ul>
							</nav>
						</div>
						<!-- END: Footer Nav -->

						<!-- Copyright Desktop -->
						<div class="fs-cell fs-xs-hide fs-sm-hide fs-lg-5 fs-xl-4">
							<p class="copyright">Copyright &copy; 2015 Fielding Graduate University</p>
						</div>
						<!-- END: Copyright Desktop -->
					</div>
				</div>

				<div class="social_nav_wrap">
					<div class="fs-row">
						<!-- Social Nav Mobile -->
						<div class="fs-cell">
							<nav class="social_nav clearfix fs-xs-full fs-md-hide fs-lg-hide">
								<ul id="menu-social-navigation-1" class="menu">
									<li id="menu-item-62-1" class="facebook menu-item menu-item-type-custom menu-item-object-custom menu-item-62">
										<a href="#">Facebook</a>
									</li>
									<li id="menu-item-63-1" class="twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-63">
										<a href="#">Twitter</a>
									</li>
									<li id="menu-item-64-1" class="youtube menu-item menu-item-type-custom menu-item-object-custom menu-item-64">
										<a href="#">YouTube</a>
									</li>
									<li id="menu-item-65-1" class="linkedin menu-item menu-item-type-custom menu-item-object-custom menu-item-65">
										<a href="#">LinkedIn</a>
									</li>
									<li id="menu-item-66-1" class="pinterest menu-item menu-item-type-custom menu-item-object-custom menu-item-66">
										<a href="#">Pinterest</a>
									</li>
									<li id="menu-item-67-1" class="flickr menu-item menu-item-type-custom menu-item-object-custom menu-item-67">
										<a href="#">Flickr</a>
									</li>
									<li id="menu-item-68-1" class="googleplus menu-item menu-item-type-custom menu-item-object-custom menu-item-68">
										<a href="#">Google+</a>
									</li>
								</ul>
							</nav>
						</div>
						<!-- END: Social Nav Mobile -->
					</div>
				</div>

				<div class="copyright_wrap">
					<div class="fs-row">
						<!-- Copyright Mobile -->
						<div class="fs-cell fs-xs-full fs-md-hide fs-lg-hide fs-xl-hide">
							<p class="copyright">Copyright &copy; 2015 Fielding Graduate University</p>
						</div>
						<!-- END: Copyright Mobile -->
					</div>
				</div>

			</footer>



			</div>
			<!-- END: page_wrapper -->

			<!-- Mobile Navigation -->

			<div class="mobile_navigation js-mobile_navigation" aria-hidden="true" data-navigation-handle=".js-mobile_handle" data-navigation-content=".js-navigation_push" data-navigation-options='{"gravity":"right","labels":{"open":"","closed":""},"type":"overlay"}'>

				<a href="index.html" class="logo_main" itemscope="" itemtype="http://schema.org/CollegeOrUniversity">
					<span class="hide" itemprop="name">Fielding Graduate University</span>
				</a>

				<!-- Mobile Nav Controls -->
				<button class="mobile_navigation_handle js-mobile_handle close_button"></button>
				<!-- END: Mobile Nav Controls -->

				<!-- Site Search -->
				<div class="search_wrap">
					<form action="#" class="search_form">
						<input type="text" class="search_input" placeholder="Search...">
						<input type="hidden" class="search_submit" value="Go">
						<button class="search_submit icon_text" type="submit">Search</button>
					</form>
				</div>
				<!-- END: Site Search -->

				<!-- Main Nav -->
				<nav class="main_nav clearfix" aria-labelledby="main_nav_label">
					<h2 class="visually_hidden" id="main_nav_label">Main Navigation</h2>
					<div class="main_nav_inner">
						<div class="main_nav_group">
							<div class="main_nav_list" role="navigation">
								<ul id="menu-main-navigation" class="menu">
									<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-35">
										<a rel="page" href="#">Degrees</a>
										<div class="sub-menu">
											<ul class="sub-menu-list">
												<li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-41 current_page_item menu-item-48 has-subdropdown">
													<a rel="page" href="#">Doctoral Degrees</a>
													<div class="sub-sub-menu">
														<span class="sub-sub-label">Psychology</span>
														<ul class="sub-sub-list">
															<li>
																<a href="#">PhD in Clinical Psychology</a>
															</li>
															<li>
																<a href="#">PhD in Media Psychology</a>
															</li>
														</ul>
														<span class="sub-sub-label">Education</span>
														<ul class="sub-sub-list">
															<li>
																<a href="#">PhD in Infant & Early Childhood Development</a>
															</li>
															<li>
																<a href="#">EdD in Leadership for Change</a>
															</li>
														</ul>
														<span class="sub-sub-label">Leadership</span>
														<ul class="sub-sub-list">
															<li>
																<a href="#">PhD in Organization Development & Change</a>
															</li>
															<li>
																<a href="#">PhD in Human Development</a>
															</li>
															<li>
																<a href="#">PhD in Infant & Early Childhood Development</a>
															</li>
														</ul>
													</div>
												</li>
												<li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49">
													<a rel="page" href="#">Master's Degrees</a>
												</li>
												<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
													<a rel="page" href="#">Certificates</a>
												</li>
												<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
													<a rel="page" href="#">Individual Courses</a>
												</li>
											</ul>
											<ul class="sub-menu-buttons">
												<li>
													<a href="">View All Programs</a>
												</li>
											</ul>
										</div>
									</li>
									<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
										<a rel="page" href="#">Admissions</a>
									</li>
									<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37">
										<a rel="page" href="#">Financing</a>
									</li>
									<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39">
										<a rel="page" href="#">About</a>
									</li>
									<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38">
										<a rel="page" href="#">Fielding Advantage</a>
									</li>
									<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39">
										<a rel="page" href="#">Alumni</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
				<!-- END: Main Nav -->

				<!-- Button Nav -->
				<div class="button_nav_wrap">
					<nav class="button_nav" aria-labelledby="button_nav_label">
						<h2 class="visually_hidden" id="button_nav_label">Button Navigation</h2>
						<div class="button_nav_list clearfix" role="navigation">
							<ul id="menu-utility-navigation-1" class="menu">
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
									<a href="#">Request Info</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
									<a href="#">Apply Now</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
				<!-- END: Secondary Nav -->

				<!-- Secondary Nav -->
				<div class="secondary_nav_wrap">
					<nav class="secondary_nav" aria-labelledby="secondary_nav_label">
						<h2 class="visually_hidden" id="secondary_nav_label">Secondary Navigation</h2>
						<div class="secondary_nav_list clearfix" role="navigation">
							<ul id="menu-utility-navigation-1" class="menu">
								<li class="chat menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
									<a href="#">Live Chat</a>
								</li>
								<li class="phone menu-item menu-item-type-post_type menu-item-object-page menu-item-31">
									<a href="#">555-555-5555</a>
								</li>
								<li class="calendar menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
									<a href="#">Calendar</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
				<!-- END: Secondary Nav -->

				<!-- Quick Nav -->
				<div class="quick_nav_wrap">
					<nav class="quick_nav" aria-labelledby="quick_nav_label">
						<h2 class="visually_hidden" id="quick_nav_label">Quick Navigation</h2>
						<div class="quick_nav_list clearfix" role="navigation">
							<ul id="menu-utility-navigation-1" class="menu">
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33 has-dropdown">
									<span>Schools</span>
									<ul>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32 has-dropdown">
									<span>News & Media</span>
									<ul>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
									<a href="#">Fielding Press</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
									<a href="#">My Fielding</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
									<a href="#">Giving</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
				<!-- END: Quick Nav -->

			</div>
			<!-- END: Mobile Navigation -->


			<!-- Compiled JS -->
			<script src="../../components/jquery/dist/jquery.min.js"></script>
			<script src="../../js/site.js"></script>
	</body>

</html>