<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<!-- Page Attributes -->
		<title>Home | Client Name</title>
		<meta name="description" content="">

		<!-- Favions / Touch Icons -->
		<link rel="apple-touch-icon" sizes="57x57" href="../images/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="../images/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="../images/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="../images/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="../images/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="../images/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="../images/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="../images/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="../images/favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="../images/favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../images/favicons/favicon-194x194.png" sizes="194x194">
		<link rel="icon" type="image/png" href="../images/favicons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="../images/favicons/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="../images/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="../images/favicons/manifest.json">
		<link rel="mask-icon" href="../images/favicons/safari-pinned-tab.svg" color="#d0021b">
		<meta name="msapplication-TileColor" content="#d0021b">
		<meta name="msapplication-TileImage" content="../images/favicons/mstile-144x144.png">
		<meta name="theme-color" content="#d0021b">


		<!-- G+ & Facebook -->
		<meta property="og:title" content="">
		<meta property="og:url" content="">
		<meta property="og:type" content="website">
		<meta property="og:image" content="">
		<meta property="og:description" content="">
		<meta property="og:site_name" content="">

		<!-- Twitter -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@">
		<meta name="twitter:creator" content="@">
		<meta name="twitter:url" content="">
		<meta name="twitter:title" content="">
		<meta name="twitter:description" content="">
		<meta name="twitter:image" content="">

		<!-- Modernizer -->
		<script src="../../js/modernizr.js"></script>

		<!-- Fonts -->
		<script type="text/javascript" src="http://fast.fonts.net/jsapi/596182cd-25b8-4d66-80e0-b5e49568befb.js"></script>

		<script>
		var templateurl = 'http://fielding.dev/wp-content/themes/fielding/';
		</script>

		<!-- Compiled CSS -->
		<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="../../css/site.css">
		<!--<![endif]-->

		<!--[if IE 8]>
		<script>var IE8 = true;</script>
		<script src="../../js/site-ie8.js"></script>
		<link rel="stylesheet" href="../../css/site-ie8.css">
	<![endif]-->
		<!--[if IE 9]>
		<script>var IE9 = true;</script>
		<script src="../../js/site-ie9.js"></script>
		<link rel="stylesheet" href="../../css/site-ie9.css">
	<![endif]-->
		<!--[if lte IE 9]>
		<link rel="stylesheet" href="../../css/site-ie.css">
	<![endif]-->
	</head>


	<body class="fs-grid">

		<!-- Skip-to-Content Link -->
		<a href="#page" id="skip_to_content" class="skip_link">Skip to Main Content</a>

		<div class="page_wrapper js-navigation_push">

			<!-- Header -->
			<!-- Header -->
			<header id="header" class="header" role="banner">

				<!-- Header Row -->
				<div class="fs-row">

					<!-- Header Cell -->
					<div class="fs-cell fs-all-12 clearfix header_container">

						<!-- Site Logo -->
						<a href="index.html" class="logo_main" itemscope itemtype="http://schema.org/CollegeOrUniversity">
							<h1 class="hide" itemprop="name">Fielding Graduate University</h1>
						</a>
						<!-- END: Site Logo -->

						<a class="live_chat" href="#">Live Chat</a>

						<!-- Mobile Nav Controls -->
						<button class="mobile_navigation_handle js-mobile_handle fs-lg-hide fs-xl-hide"></button>
						<!-- END: Mobile Nav Controls -->

						<!-- Wrap for mobile -->
						<div class="fs-sm-hide fs-md-hide header_wrap">

							<!-- Quick Nav -->
							<div class="quick_nav_wrap">
								<nav class="quick_nav" aria-labelledby="quick_nav_label">
									<h2 class="visually_hidden" id="quick_nav_label">Quick Navigation</h2>
									<div class="quick_nav_list clearfix" role="navigation">
										<ul id="menu-utility-navigation-1" class="menu">
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33 has-dropdown">
												<span>Schools</span>
												<ul>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32 has-dropdown">
												<span>News & Media</span>
												<ul>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
												<a href="#">Fielding Press</a>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
												<a href="#">My Fielding</a>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
												<a href="#">Giving</a>
											</li>
										</ul>
									</div>
								</nav>
							</div>
							<!-- END: Quick Nav -->

							<!-- Secondary Nav -->
							<div class="secondary_nav_wrap">
								<nav class="secondary_nav" aria-labelledby="secondary_nav_label">
									<h2 class="visually_hidden" id="secondary_nav_label">Secondary Navigation</h2>
									<div class="secondary_nav_list clearfix" role="navigation">
										<ul id="menu-utility-navigation-1" class="menu">
											<li class="chat menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
												<a href="#">Live Chat</a>
											</li>
											<li class="phone menu-item menu-item-type-post_type menu-item-object-page menu-item-31">
												<a href="#">800-349-1099</a>
											</li>
											<li class="calendar menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
												<a href="#">Calendar</a>
											</li>
										</ul>
									</div>
								</nav>
							</div>
							<!-- END: Secondary Nav -->

							<!-- Site Search -->
							<div class="search_wrap">
								<form action="#" class="search_form">
									<input type="text" class="search_input" placeholder="Search...">
									<input type="hidden" class="search_submit" value="Go">
									<button class="search_submit icon_text" type="submit">Search</button>
								</form>
							</div>
							<!-- END: Site Search -->

						</div>
						<!-- END: Wrap for mobile -->

					</div>
					<!-- END: Header Cell -->

				</div>
				<!-- END: Header Row -->

				<!-- Main Nav -->
				<div class="main_nav_placeholder"></div>
				<nav class="main_nav clearfix" aria-labelledby="main_nav_label">
					<h2 class="visually_hidden" id="main_nav_label">Main Navigation</h2>
					<div class="fs-row">
						<div class="fs-cell">
							<div class="main_nav_inner">
								<div class="main_nav_group">
									<div class="main_nav_list" role="navigation">
										<ul id="menu-main-navigation" class="menu">
											<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-35">
												<a rel="page" href="#">Degrees</a>
												<div class="sub-menu">
													<ul class="sub-menu-list">
														<li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-41 current_page_item menu-item-48 has-subdropdown">
															<a rel="page" href="#">Doctoral Degrees</a>
															<div class="sub-sub-menu">
																<div class="sub-sub-menu-content">
																	<span class="sub-sub-label">Psychology</span>
																	<ul class="sub-sub-list">
																		<li>
																			<a href="#">PhD in Clinical Psychology</a>
																		</li>
																		<li>
																			<a href="#">PhD in Media Psychology</a>
																		</li>
																	</ul>
																</div>
																<div class="sub-sub-menu-content">
																	<span class="sub-sub-label">Education</span>
																	<ul class="sub-sub-list">
																		<li>
																			<a href="#">PhD in Infant & Early Childhood Development</a>
																		</li>
																		<li>
																			<a href="#">EdD in Leadership for Change</a>
																		</li>
																	</ul>
																</div>
																<div class="sub-sub-menu-content">
																	<span class="sub-sub-label">Leadership</span>
																	<ul class="sub-sub-list">
																		<li>
																			<a href="#">PhD in Organization Development & Change</a>
																		</li>
																		<li>
																			<a href="#">PhD in Human Development</a>
																		</li>
																		<li>
																			<a href="#">PhD in Infant & Early Childhood Development</a>
																		</li>
																	</ul>
																</div>
															</div>
														</li>
														<li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49">
															<a rel="page" href="#">Master's Degrees</a>
														</li>
														<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
															<a rel="page" href="#">Certificates</a>
														</li>
														<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
															<a rel="page" href="#">Individual Courses</a>
														</li>
													</ul>
													<ul class="sub-menu-buttons">
														<li>
															<a href="">View All Programs</a>
														</li>
													</ul>
												</div>
											</li>
											<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
												<a rel="page" href="#">Admissions</a>
											</li>
											<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37">
												<a rel="page" href="#">Financing</a>
											</li>
											<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39">
												<a rel="page" href="#">About</a>
											</li>
											<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38">
												<a rel="page" href="#">Fielding Advantage</a>
											</li>
											<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39">
												<a rel="page" href="#">Alumni</a>
												<div class="sub-menu">
													<ul class="sub-menu-list">
														<li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-41 current_page_item menu-item-48">
															<a rel="page" href="#">Doctoral Degrees</a>
														</li>
														<li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49">
															<a rel="page" href="#">Master's Degrees</a>
														</li>
														<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
															<a rel="page" href="#">Certificates</a>
														</li>
														<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
															<a rel="page" href="#">Individual Courses</a>
														</li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="main_nav_group">
									<!-- Button Nav -->
									<div class="button_nav_wrap">
										<nav class="button_nav" aria-labelledby="button_nav_label">
											<h2 class="visually_hidden" id="button_nav_label">Button Navigation</h2>
											<div class="button_nav_list clearfix" role="navigation">
												<ul id="menu-utility-navigation-1" class="menu">
													<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
														<a href="#">Request Info</a>
													</li>
													<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
														<a href="#">Apply Now</a>
													</li>
												</ul>
											</div>
										</nav>
									</div>
									<!-- END: Secondary Nav -->
								</div>
							</div>
						</div>
				</nav>
				<!-- END: Main Nav -->
			</header>
			<!-- END: Header -->


			<!-- Page : Main Content -->
			<main id="page" class="page_main" tabindex="-1">

				<section class="js-toggle people_feature_section js-equalize loaded " data-equalize-options='{"target":".equalize_child", "minWidth":"500px"}'>

					<div class="loading_spinner">
						<div class="loading_line"></div>
					</div>

					<div class="people_feature_theme theme_teal">
						<h2 class="people_feature_section_title visually_hidden">Melody Statler</h2>
						<figure class="people_feature_figure people_feature_figure_small">
							<picture class="responsive_image people_feature_picture">
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source media="(min-width: 500px)" srcset="http://spacehold.it/740x416/5">
								<!--[if IE 9]></video><![endif]-->
								<img class="people_feature_image" src="http://spacehold.it/500x500/5" alt="">
							</picture>
						</figure>
						<div class="fs-row">
							<div class="fs-cell">
								<div class="people_feature_left" aria-live="polite">

									<div class="equalize_child people_feature_left_wrapper">
										<button class="js-toggle_handle people_feature_name_button" aria-label="Return to previous view">
											<span class="people_feature_name">Melody Statler</span>
										</button>
										<div class="people_feature_text">
											<div class="people_feature_view_default">
												<div class="people_feature_description">is studying gamer subculture, social media, and micro-aggression effects on LGBT gamers.</div>
												<button class="people_feature_mobile_toggle">Hear from Melody</button>
											</div>
											<div class="people_feature_view_toggle" aria-hidden="true">
												<div class="people_feature_links">
													<div class="people_feature_link_list" aria-label="School" role="list">
														<header class="people_feature_link_list_header">
															<h3 class="people_feature_link_list_title">School</h3>
														</header>
														<div class="people_feature_link_list_item" role="listitem">
															<a class="people_feature_link_list_link" href="#">School of Psychology</a>
														</div>

													</div>
													<div class="people_feature_link_list" aria-label="Programs Available" role="list">
														<header class="people_feature_link_list_header">
															<h3 class="people_feature_link_list_title">Programs Available</h3>
														</header>
														<div class="people_feature_link_list_item" role="listitem">
															<a class="people_feature_link_list_link" href="#">MA Media Psychology</a>
														</div>

														<div class="people_feature_link_list_item" role="listitem">
															<a class="people_feature_link_list_link" href="#">PHD Media Psychology</a>
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>



								</div>
								<div class="people_feature_right">
									<div class="people_feature_media">
										<div class="people_feature_view_default">
											<figure class="people_feature_figure people_feature_figure_large">
												<picture class="responsive_image people_feature_picture">
													<!--[if IE 9]><video style="display: none;"><![endif]-->
													<source media="(min-width: 980px)" srcset="http://spacehold.it/740x740/5">
													<source media="(min-width: 740px)" srcset="http://spacehold.it/500x500/5">
													<!--[if IE 9]></video><![endif]-->
													<img class="people_feature_image" src="../../images/placeholder.png" alt="">
												</picture>
											</figure>
											<div class="people_feature_caption">
												<header class="people_feature_caption_header">
													<h3 class="people_feature_caption_label">Her Passions</h3>
												</header>
												<div class="people_feature_caption_content">are to unify gamers and general society, and to see the end of marginalization between groups. Fielding has enabled the alignment of her passions: gaming and research psychology.</div>
												<button class="js-toggle_handle people_feature_caption_button">Hear from Melody</button>
											</div>
										</div>
										<div class="people_feature_view_toggle equalize_child" aria-hidden="true">
											<header class="people_feature_media_header">
												<h3 class="people_feature_media_title">Hear from Melody</h3>
											</header>
											<div class="people_feature_media_body">
												<a class="js-lightbox people_feature_video_link" href="//www.youtube.com/embed/zsJpUCWfyPE?rel=0&autoplay=1&fs=1">
													<picture class="responsive_image people_feature_video_picture">
														<!--[if IE 9]><video style="display: none;"><![endif]-->
														<source media="(min-width: 980px)" srcset="http://spacehold.it/740x416/8.jpg">
														<source media="(min-width: 740px)" srcset="http://spacehold.it/500x282/8.jpg">
														<source media="(min-width: 500px)" srcset="http://spacehold.it/740x417/8.jpg">
														<!--[if IE 9]></video><![endif]-->
														<img class="people_feature_video_image" src="http://spacehold.it/500x282/8.jpg" alt="">
													</picture>
													<h4 class="people_feature_video_title">
														<span class="people_feature_video_title_text">
															<span class="play_icon"></span> Gaming &amp; Research Psychology
														</span>
													</h4>
													<div class="slide_time_wrap people_feature_video_time">
														<p class="slide_time">
															<span class="slide_icon"></span>1:50</p>
													</div>
												</a>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="people_feature_overlay theme_teal" role="dialog" aria-hidden="true">
						<div class="fs-row">
							<div class="fs-cell">
								<div class="people_feature_overlay_wrapper">
									<button class="people_feature_overlay_close">
										<span class="visually_hidden people_feature_overlay_close_label">close</span>
									</button>
									<div class="people_feature_overlay_caption">
										<header class="people_feature_caption_header">
											<h3 class="people_feature_caption_label">Her Passions</h3>
										</header>
										<div class="people_feature_caption_content">are to unify gamers and general society, and to see the end of marginalization between groups. Fielding has enabled the alignment of her passions: gaming and research psychology.</div>
									</div>
									<div class="people_feature_overlay_media">
										<header class="people_feature_media_header">
											<h3 class="people_feature_media_title">Hear from Melody</h3>
										</header>
										<div class="people_feature_media_body">
											<a class="js-lightbox people_feature_video_link" href="//www.youtube.com/embed/zsJpUCWfyPE?rel=0&autoplay=1&fs=1">
												<picture class="responsive_image people_feature_video_picture">
													<!--[if IE 9]><video style="display: none;"><![endif]-->
													<source media="(min-width: 980px)" srcset="http://spacehold.it/740x416/8.jpg">
													<source media="(min-width: 740px)" srcset="http://spacehold.it/500x282/8.jpg">
													<source media="(min-width: 500px)" srcset="http://spacehold.it/740x417/8.jpg">
													<!--[if IE 9]></video><![endif]-->
													<img class="people_feature_video_image" src="http://spacehold.it/500x282/8.jpg" alt="">
												</picture>
												<h4 class="people_feature_video_title">
													<span class="people_feature_video_title_text">
														<span class="play_icon"></span> Gaming &amp; Research Psychology
													</span>
												</h4>
												<div class="slide_time_wrap people_feature_video_time">
													<p class="slide_time">
														<span class="slide_icon"></span>1:50</p>
												</div>
											</a>

										</div>
									</div>
									<div class="people_feature_links">
										<div class="people_feature_link_list" aria-label="Related School" role="list">
											<header class="people_feature_link_list_header">
												<h3 class="people_feature_link_list_title">School</h3>
											</header>
											<div class="people_feature_link_list_item" role="listitem">
												<a class="people_feature_link_list_link" href="#">School of Psychology</a>
											</div>

										</div>
										<div class="people_feature_link_list" aria-label="Related Programs" role="list">
											<header class="people_feature_link_list_header">
												<h3 class="people_feature_link_list_title">Programs Available</h3>
											</header>
											<div class="people_feature_link_list_item" role="listitem">
												<a class="people_feature_link_list_link" href="#">MA Media Psychology</a>
											</div>

											<div class="people_feature_link_list_item" role="listitem">
												<a class="people_feature_link_list_link" href="#">PHD Media Psychology</a>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</section>


				<!-- Introduction -->
				<section class="introduction_section margined_lg">
					<div class="fs-row">
						<div class="fs-cell-centered fs-lg-10">
							<div class="introduction_wrapper">
								<header class="introduction_header">
									<h2 class="introduction_label">40+ Years of Distributed Learning</h2>
									<h3 class="introduction_title">We are an engaging community of lifelong learners</h3>
								</header>
								<div class="introduction_description">
									<p>Fielding Graduate University is community-based, nonprofit, distributed, and focused on helping you reach your academic goals.</p>
								</div>
								<footer class="introduction_footer">
									<a class="introduction_button" href="#">Request Information</a>
								</footer>
							</div>
						</div>
					</div>
				</section>
				<!-- END: Introduction -->


				<!-- Homepage Education Model -->
				<section class="education_wrap margined_lg">

					<div class="js-background" data-background-options='{"source":{"0px": "http://spacehold.it/500x400/2.jpg", "500px": "http://spacehold.it/500x282/2.jpg", "740px": "http://spacehold.it/980x735/2.jpg", "980px": "http://spacehold.it/1220x686/2.jpg", "1220px": "http://spacehold.it/1440x810/2.jpg"}}'>

						<div class="education_background" style="background-image: url(http://spacehold.it/1440x810/2.jpg);"></div>

						<!-- Education Wrapper -->
						<div class="education_model">
							<div class="fs-row education_header">
								<div class="fs-cell fs-all-full">
									<h2 class="media_carousel_label">Distributed &amp; Connected</h2>
									<h3 class="media_carousel_heading">An educational model that works for you</h3>
									<a href="#" class="btn btn_light">Our Learning Environments</a>
								</div>
							</div>
						</div>
						<!-- END: Education Wrapper -->
					</div>
					<!-- END: Background Wrapper -->

					<!-- Education Boxes Wrapper -->
					<div class="education_box_wrap clearfix">

						<!-- Box -->
						<div class="education_box">
							<div class="education_inner">
								<div class="education_img">
									<a class="education_link js-lightbox" href="//www.youtube.com/embed/zsJpUCWfyPE?rel=0&autoplay=1&fs=1">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source media="(min-width: 1220px)" srcset="http://spacehold.it/238x238/1.jpg">
											<source media="(min-width: 980px)" srcset="http://spacehold.it/180x180/1.jpg">
											<source media="(min-width: 740px)" srcset="http://spacehold.it/100x100/1.jpg">
											<source media="(min-width: 500px)" srcset="http://spacehold.it/100x100/1.jpg">
											<!--[if IE 9]></video><![endif]-->
											<img src="http://spacehold.it/64x64/1.jpg" alt="" draggable="false">
										</picture>
										<div class="play_icon"></div>
									</a>
								</div>
								<div class="color bg_dk_red">
									<div class="education_text">
										<h3 class="heading_3">Self-Directed</h3>
										<p class="education_desc">Customize and individualize your program</p>
										<div class="education_hide">
											<p class="education_quote">The independence and cutting edge of the university and faculty appealed to me. Every time I come to a session, I'm validated.</p>
											<p class="education_name">Tammy Dixon, Students</p>
										</div>
									</div>
								</div>
							</div>
							<div class="slide_time_wrap">
								<p class="hide_lg watch_link">Watch The Video</p>
								<a href="#" class="slide_time">
									<span class="slide_icon"></span>1:03</a>
							</div>

						</div>
						<!-- END: Box -->


						<!-- Box -->
						<div class="education_box">
							<div class="education_inner">
								<div class="education_img">
									<a class="education_link js-lightbox" href="//www.youtube.com/embed/zsJpUCWfyPE?rel=0&autoplay=1&fs=1">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source media="(min-width: 1220px)" srcset="http://spacehold.it/238x238/1.jpg">
											<source media="(min-width: 980px)" srcset="http://spacehold.it/180x180/1.jpg">
											<source media="(min-width: 740px)" srcset="http://spacehold.it/100x100/1.jpg">
											<source media="(min-width: 500px)" srcset="http://spacehold.it/100x100/1.jpg">
											<!--[if IE 9]></video><![endif]-->
											<img src="http://spacehold.it/64x64/1.jpg" alt="" draggable="false">
										</picture>
										<div class="play_icon"></div>
									</a>
								</div>
								<div class="color bg_dk_gray">
									<div class="education_text">
										<h3 class="heading_3">Self-Directed</h3>
										<p class="education_desc">Join a strong community built on inclusion and respect</p>
										<div class="education_hide">
											<p class="education_quote">The independence and cutting edge of the university and faculty appealed to me. Every time I come to a session, I'm validated.</p>
											<p class="education_name">Tammy Dixon, Student</p>
										</div>
									</div>
								</div>
							</div>
							<div class="slide_time_wrap">
								<p class="hide_lg watch_link">Watch The Video</p>
								<a href="#" class="slide_time">
									<span class="slide_icon"></span>1:03</a>
							</div>

						</div>
						<!-- END: Box -->


						<!-- Box -->
						<div class="education_box">
							<div class="education_inner">
								<div class="education_img">
									<a class="education_link js-lightbox" href="//www.youtube.com/embed/zsJpUCWfyPE?rel=0&autoplay=1&fs=1">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source media="(min-width: 1220px)" srcset="http://spacehold.it/238x238/1.jpg">
											<source media="(min-width: 980px)" srcset="http://spacehold.it/180x180/1.jpg">
											<source media="(min-width: 740px)" srcset="http://spacehold.it/100x100/1.jpg">
											<source media="(min-width: 500px)" srcset="http://spacehold.it/100x100/1.jpg">
											<!--[if IE 9]></video><![endif]-->
											<img src="http://spacehold.it/64x64/1.jpg" alt="" draggable="false">
										</picture>
										<div class="play_icon"></div>
									</a>
								</div>
								<div class="color bg_dk_purple">
									<div class="education_text">
										<h3 class="heading_3">Self-Directed</h3>
										<p class="education_desc">Be challenged and stretch your comfort zone through scholarship, research, and practice</p>
										<div class="education_hide">
											<p class="education_quote">The independence and cutting edge of the university and faculty appealed to me. Every time I come to a session, I'm validated.</p>
											<p class="education_name">Tammy Dixon, Student</p>
										</div>
									</div>
								</div>
							</div>
							<div class="slide_time_wrap">
								<p class="hide_lg watch_link">Watch The Video</p>
								<a href="#" class="slide_time">
									<span class="slide_icon"></span>1:03</a>
							</div>

						</div>
						<!-- END: Box -->


						<!-- Box -->
						<div class="education_box">
							<div class="education_inner">
								<div class="education_img">
									<a class="education_link js-lightbox" href="//www.youtube.com/embed/zsJpUCWfyPE?rel=0&autoplay=1&fs=1">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source media="(min-width: 1220px)" srcset="http://spacehold.it/238x238/1.jpg">
											<source media="(min-width: 980px)" srcset="http://spacehold.it/180x180/1.jpg">
											<source media="(min-width: 740px)" srcset="http://spacehold.it/100x100/1.jpg">
											<source media="(min-width: 500px)" srcset="http://spacehold.it/100x100/1.jpg">
											<!--[if IE 9]></video><![endif]-->
											<img src="http://spacehold.it/64x64/1.jpg" alt="" draggable="false">
										</picture>
										<div class="play_icon"></div>
									</a>
								</div>
								<div class="color bg_dk_teal">
									<div class="education_text">
										<h3 class="heading_3">Self-Directed</h3>
										<p class="education_desc">Connect to a network of diverse, socially responsible leaders effecting meaningful change</p>
										<div class="education_hide">
											<p class="education_quote">The independence and cutting edge of the university and faculty appealed to me. Every time I come to a session, I'm validated.</p>
											<p class="education_name">Tammy Dixon, Student</p>
										</div>
									</div>
								</div>
							</div>
							<div class="slide_time_wrap">
								<p class="hide_lg watch_link">Watch The Video</p>
								<a href="#" class="slide_time">
									<span class="slide_icon"></span>1:03</a>
							</div>

						</div>
						<!-- END: Box -->


					</div>
					<!-- END: Education Boxes Wrapper -->

				</section>
				<!-- END: Homepage Education Model -->

				<!-- Homepage Program Finder -->
				<article class="program_wrap margined_lg">
					<div class="fs-row">
						<div class="fs-cell fs-all-full inset_small">
							<h2 class="media_carousel_label">Find Your Program</h2>
							<h3 class="media_carousel_heading">Pursue your passion at Fielding</h3>
							<p class="larger">Fielding offers a variety of programs in psychology, educational leadership, and human and organizational development.</p>

							<!-- Carousel -->
							<div class="js-carousel js-equalize program_carousel" data-carousel-options='{"theme": "combo_pager", "matchHeight": "true", "contained": false, "show":{"740px":2,"980px":3}}' data-equalize-options='{"target": ".js-equalize_child"}'>

								<div class="program_box_wrap">
									<div class="program_box js-equalize_child">
										<h3 class="heading_3">Expand Your Practice of Mental Health</h3>
										<a href="#">PhD Clinical Psychology</a>
										<a href="#">Neuropsychology Postdoctoral Certificate Neuropsychology Postdoctoral Certificate</a>
										<a href="#">Post-baccalaureate Certificate in Clinical Psychology</a>
									</div>
								</div>



								<div class="program_box_wrap">
									<div class="program_box js-equalize_child">
										<h3 class="heading_3">Expand Your Practice of Mental Health</h3>
										<a href="#">PhD Clinical Psychology</a>
										<a href="#">Neuropsychology Postdoctoral</a>
										<a href="#">Post-baccalaureate Certificate in Clinical Psychology</a>
									</div>
								</div>



								<div class="program_box_wrap">
									<div class="program_box js-equalize_child">
										<h3 class="heading_3">Expand Your Practice of Mental Health</h3>
										<a href="#">PhD Clinical Psychology</a>
										<a href="#">Neuropsychology</a>
										<a href="#">Post-baccalaureate Certificate in Clinical Psychology</a>
									</div>
								</div>



								<div class="program_box_wrap">
									<div class="program_box js-equalize_child">
										<h3 class="heading_3">Expand Your Practice</h3>
										<a href="#">PhD Clinical Psychology</a>
										<a href="#">Neuropsychology Postdoctoral Certificate Neuropsychology Postdoctoral Certificate</a>
										<a href="#">Post-baccalaureate Certificate in Clinical Psychology</a>
									</div>
								</div>



								<div class="program_box_wrap">
									<div class="program_box js-equalize_child">
										<h3 class="heading_3">Expand Your Practice of Mental Health</h3>
										<a href="#">PhD Clinical Psychology</a>
										<a href="#">Neuropsychology Postdoctoral Certificate Neuropsychology Postdoctoral Certificate</a>
										<a href="#">Post-baccalaureate Certificate in Clinical Psychology</a>
									</div>
								</div>



								<div class="program_box_wrap">
									<div class="program_box js-equalize_child">
										<h3 class="heading_3">Expand Your Practice of Mental Health</h3>
										<a href="#">PhD Clinical Psychology</a>
										<a href="#">Neuropsychology</a>
										<a href="#">Post-baccalaureate Certificate in Clinical Psychology</a>
									</div>
								</div>



								<div class="program_box_wrap">
									<div class="program_box js-equalize_child">
										<h3 class="heading_3">Expand Your Practice</h3>
										<a href="#">PhD Clinical Psychology</a>
										<a href="#">Neuropsychology Postdoctoral Certificate Neuropsychology Postdoctoral Certificate</a>
										<a href="#">Post-baccalaureate Certificate in Clinical Psychology</a>
									</div>
								</div>



								<div class="program_box_wrap">
									<div class="program_box js-equalize_child">
										<h3 class="heading_3">Expand Your Practice of Mental Health</h3>
										<a href="#">PhD Clinical Psychology</a>
										<a href="#">Neuropsychology Postdoctoral Certificate Neuropsychology Postdoctoral Certificate</a>
										<a href="#">Post-baccalaureate Certificate in Clinical Psychology</a>
									</div>
								</div>



							</div>
							<!-- END: Carousel -->

							<a href="#" class="carousel_link">Full Program List</a>

						</div>
					</div>
				</article>


				<!-- END: Homepage Program Finder -->

				<!-- Homepage Info Sessions -->
				<section class="info_sessions_wrap">

					<div class="js-background" data-background-options='{"source":{"0px": "http://spacehold.it/500x400/5.jpg", "500px": "http://spacehold.it/740x550/5.jpg", "740px": "http://spacehold.it/980x730/5.jpg", "980px": "http://spacehold.it/1220x910/5.jpg", "1220px": "http://spacehold.it/1440x1070/5.jpg"}}'>

						<div class="info_sessions_background" style="background-image: url(http://spacehold.it/1440x1070/5.jpg);"></div>

						<div class="info_sessions">

							<div class="fs-row">
								<div class="fs-cell-centered fs-lg-10">
									<h2 class="media_carousel_label">Upcoming Information Sessions</h2>
									<h3 class="media_carousel_heading">Talk to one of our faculty members about your educational goals</h3>
								</div>

								<div class="js-equalize" data-equalize-options='{"target":[".equalize_one",".equalize_two"]}'>

									<div class="fs-cell fs-xs-full fs-sm-full fs-all-third">
										<div class="event_wrap clearfix js-equalize_child">
											<p class="event_date">nov
												<span>28</span>
											</p>
											<div class="event_deets equalize_one equalize_group">
												<h3 class="heading_3">EdD in Educational Leadership for Change</h3>
												<p class="event_type">webinar</p>
											</div>
											<div class="event_btns equalize_two">
												<a href="#" class="btn btn_transparent">register</a>
												<a href="#" class="event_link">
													<span>event</span> details</a>
											</div>
										</div>
									</div>



									<div class="fs-cell fs-xs-hide fs-sm-hide fs-all-third">
										<div class="event_wrap clearfix js-equalize_child">
											<p class="event_date">nov
												<span>29</span>
											</p>
											<div class="event_deets equalize_one equalize_group">
												<h3 class="heading_3">EdD in Educational Leadership for Change. EdD in Educational Leadership for Change.</h3>
												<p class="event_type">webinar</p>
											</div>
											<div class="event_btns equalize_two">
												<a href="#" class="btn btn_transparent">register</a>
												<a href="#" class="event_link">
													<span>event</span> details</a>
											</div>
										</div>
									</div>



									<div class="fs-cell fs-xs-hide fs-sm-hide fs-all-third">
										<div class="event_wrap clearfix js-equalize_child">
											<p class="event_date">nov
												<span>30</span>
											</p>
											<div class="event_deets equalize_one equalize_group">
												<h3 class="heading_3">EdD in Educational Leadership for Change</h3>
												<p class="event_type">webinar</p>
											</div>
											<div class="event_btns equalize_two">
												<a href="#" class="btn btn_transparent">register</a>
												<a href="#" class="event_link">
													<span>event</span> details</a>
											</div>
										</div>
									</div>



									<div class="clear"></div>

									<div class="fs-cell-centered fs-xs-full fs-sm-2 fs-md-4 fs-lg-5 fs-xl-4">
										<a href="#" class="btn btn_transparent_arrow">View Full Calendar</a>
									</div>
								</div>

							</div>
						</div>
				</section>

				<!-- END: Homepage Info Sessions -->

				<!-- Homepage Discover Fielding -->
				<article class="discover_wrap margined_lg">
					<div class="fs-row">
						<div class="fs-cell fs-all-full">
							<h2 class="media_carousel_label">Our Difference</h2>
							<h3 class="media_carousel_heading">Explore Fielding Graduate University</h3>
						</div>
					</div>

					<div class="fs-row">
						<!-- Mobile: Carousel -->
						<div class="js-carousel js-equalize discover_carousel clearfix" data-carousel-options='{"theme": "combo_pager", "maxWidth": "739px", "matchHeight": "true", "contained": false}' data-equalize-options='{"target":".equalize_child"}'>
							<div class="fs-cell destroy_sm_carousel fs-md-4 fs-lg-8">
								<div class="box_wrap">
									<div class="gradient bg_photo">
										<div class="box">
											<picture>
												<!--[if IE 9]><video style="display: none;"><![endif]-->
												<source media="(min-width: 1220px)" srcset="http://spacehold.it/980x552/fielding/1.jpg">
												<source media="(min-width: 980px)" srcset="http://spacehold.it/740x416/fielding/1.jpg">
												<source media="(min-width: 740px)" srcset="http://spacehold.it/980x552/fielding/1.jpg">
												<source media="(min-width: 500px)" srcset="http://spacehold.it/740x416/fielding/1.jpg">
												<!--[if IE 9]></video><![endif]-->
												<img src="http://spacehold.it/500x375/fielding/1.jpg" alt="" draggable="false">
											</picture>

											<p class="caption inset_small">Fielding is one of 100 graduate schools selected as a member of the Carnegie Project on the Education Doctorate.</p>
										</div>
									</div>
								</div>
							</div>


							<div class="fs-cell destroy_sm_carousel fs-md-2 fs-lg-4 pin_bottom">

								<div class="box_wrap">
									<div class="gradient bg_teal">
										<div class="box">
											<a href="#" class="btn btn_transparent">Featured News</a>
											<h5 class="date">November 4, 2015</h5>
											<a href="#" class="link_title">Fielding's Media Psychology Program Leaves an Impression on Digital Hollywood
												<span class="btn btn_no_border">Read Article</span>
											</a>

										</div>
									</div>
								</div>
							</div>

							<div class="fs-cell destroy_sm_carousel fs-md-full fs-lg-6 ">
								<div class="box_wrap equalize_child">
									<div class="gradient bg_red">
										<div class="box">
											<p class="quote">“Students know that we really care about their professional and intellectual development and want to support that. We recognize them as unique individuals and aren't trying to fit them into a box.”</p>
											<p class="caption">– Jeremy Shapiro, PhD, Faculty</p>
										</div>
									</div>
								</div>
							</div>



							<div class="fs-cell destroy_sm_carousel fs-md-half fs-lg-3">
								<div class="solo_stat_wrap">
									<div class="solo_stat equalize_child">
										<div class="solo_stat_text">
											<h2 class="large_text orange_text">7:1</h2>
											<p class="stat">Student-to-faculty ratio</p>
										</div>
									</div>
								</div>
							</div>


							<div class="fs-cell destroy_sm_carousel fs-md-half fs-lg-3">
								<div class="solo_stat_wrap">
									<div class="solo_stat equalize_child">
										<div class="solo_stat_text">
											<h2 class="large_text purple_text">23-79</h2>
											<p class="stat">Age Range of Students</p>
										</div>
									</div>
								</div>
							</div>


							<div class="fs-cell destroy_sm_carousel fs-md-full fs-lg-4 clear">
								<div class="box_wrap ">
									<div class="gradient bg_gray">
										<div class="box">
											<p class="quote">“As a student, I was able to bring my own life experiences and learned how to be a scholar practitioner from people who have been living it.”</p>
											<p class="caption">-Kathy Kaya, PhD, Alumna, Consultant</p>
										</div>
									</div>
								</div>
							</div>


							<div class="fs-cell destroy_sm_carousel fs-md-full fs-lg-8">
								<div class="box_wrap">
									<div class="gradient bg_video">
										<div class="box">
											<a class="js-lightbox" href="//www.youtube.com/embed/zsJpUCWfyPE?rel=0&autoplay=1&fs=1">
												<div class="slide_time_wrap">
													<p class="slide_time">1:42</p>
												</div>
												<div class="play_icon"></div>
												<p class="caption">The Fielding Experience</p>
												<img src="//spacehold.it/774x480/2.jpg" alt="Space" />
											</a>
										</div>
									</div>
								</div>
							</div>

						</div>
						<!-- END: Mobile: Carousel -->
					</div>
				</article>


				<!-- END: Homepage Discover Fielding -->

			</main>
			<!-- END: page -->

			<!-- Footer -->
			<!-- Footer -->
			<footer id="footer" class="footer">

				<div class="fs-row">
					<!-- Logo -->
					<div class="fs-cell fs-xs-full fs-md-3 fs-lg-4">
						<a href="index.html" class="logo_footer">Fielding Graduate University</a>
					</div>
					<!-- END: Logo -->

					<!-- Address -->
					<div class="fs-cell fs-xs-full fs-md-3 fs-lg-4 address">
						<p class="compact">2020 De la Vina Street
							<br> Santa Barbara, California 93105-3814 </p>

						<a href="tel:+18003401099" class="ico_phone">800.340.1099</a>
						<a href="#" class="btn btn_white">Contact Us</a>
					</div>
					<!-- END: Address -->

					<!-- Social Nav Desktop -->
					<div class="fs-cell fs-xs-hide fs-sm-hide fs-lg-4">
						<nav class="social_nav clearfix">
							<ul id="menu-social-navigation" class="menu">
								<li id="menu-item-62" class="facebook menu-item menu-item-type-custom menu-item-object-custom menu-item-62">
									<a href="https://www.facebook.com/FieldingUniversity/">Facebook</a>
								</li>
								<li id="menu-item-63" class="twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-63">
									<a href="https://twitter.com/FieldingGradU/">Twitter</a>
								</li>
								<li id="menu-item-64" class="youtube menu-item menu-item-type-custom menu-item-object-custom menu-item-64">
									<a href="https://www.youtube.com/user/FieldingGraduateUniv">YouTube</a>
								</li>
								<li id="menu-item-65" class="linkedin menu-item menu-item-type-custom menu-item-object-custom menu-item-65">
									<a href="https://www.linkedin.com/company/fielding-graduate-university/">LinkedIn</a>
								</li>
								<li id="menu-item-66" class="pinterest menu-item menu-item-type-custom menu-item-object-custom menu-item-66">
									<a href="https://www.pinterest.com/fieldingu/">Pinterest</a>
								</li>
								<li id="menu-item-67" class="flickr menu-item menu-item-type-custom menu-item-object-custom menu-item-67">
									<a href="https://www.flickr.com/photos/fieldinggraduateuniversity/">Flickr</a>
								</li>
								<li id="menu-item-68" class="googleplus menu-item menu-item-type-custom menu-item-object-custom menu-item-68">
									<a href="https://plus.google.com/+FieldingEdu/posts">Google+</a>
								</li>
							</ul>
						</nav>
					</div>
					<!-- END: Social Nav Desktop -->
				</div>

				<div class="footer_nav_wrap">
					<div class="fs-row">
						<!-- Footer Nav -->
						<div class="fs-cell fs-xs-full fs-lg-7 fs-xl-8">
							<nav class="footer_nav">
								<ul id="menu-consistent-navigation" class="menu">
									<li id="menu-item-69" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-69">
										<a href="#">Directory</a>
									</li>
									<li id="menu-item-70" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70">
										<a href="#">Student Consumer Information</a>
									</li>
									<li id="menu-item-71" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-71">
										<a href="#">My Fielding</a>
									</li>
									<li id="menu-item-72" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-72">
										<a href="#">Employment</a>
									</li>
								</ul>
							</nav>
						</div>
						<!-- END: Footer Nav -->

						<!-- Copyright Desktop -->
						<div class="fs-cell fs-xs-hide fs-sm-hide fs-lg-5 fs-xl-4">
							<p class="copyright">Copyright &copy; 2015 Fielding Graduate University</p>
						</div>
						<!-- END: Copyright Desktop -->
					</div>
				</div>

				<div class="social_nav_wrap">
					<div class="fs-row">
						<!-- Social Nav Mobile -->
						<div class="fs-cell">
							<nav class="social_nav clearfix fs-xs-full fs-md-hide fs-lg-hide">
								<ul id="menu-social-navigation-1" class="menu">
									<li id="menu-item-62-1" class="facebook menu-item menu-item-type-custom menu-item-object-custom menu-item-62">
										<a href="#">Facebook</a>
									</li>
									<li id="menu-item-63-1" class="twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-63">
										<a href="#">Twitter</a>
									</li>
									<li id="menu-item-64-1" class="youtube menu-item menu-item-type-custom menu-item-object-custom menu-item-64">
										<a href="#">YouTube</a>
									</li>
									<li id="menu-item-65-1" class="linkedin menu-item menu-item-type-custom menu-item-object-custom menu-item-65">
										<a href="#">LinkedIn</a>
									</li>
									<li id="menu-item-66-1" class="pinterest menu-item menu-item-type-custom menu-item-object-custom menu-item-66">
										<a href="#">Pinterest</a>
									</li>
									<li id="menu-item-67-1" class="flickr menu-item menu-item-type-custom menu-item-object-custom menu-item-67">
										<a href="#">Flickr</a>
									</li>
									<li id="menu-item-68-1" class="googleplus menu-item menu-item-type-custom menu-item-object-custom menu-item-68">
										<a href="#">Google+</a>
									</li>
								</ul>
							</nav>
						</div>
						<!-- END: Social Nav Mobile -->
					</div>
				</div>

				<div class="copyright_wrap">
					<div class="fs-row">
						<!-- Copyright Mobile -->
						<div class="fs-cell fs-xs-full fs-md-hide fs-lg-hide fs-xl-hide">
							<p class="copyright">Copyright &copy; 2015 Fielding Graduate University</p>
						</div>
						<!-- END: Copyright Mobile -->
					</div>
				</div>

			</footer>



			</div>
			<!-- END: page_wrapper -->

			<!-- Mobile Navigation -->

			<div class="mobile_navigation js-mobile_navigation" aria-hidden="true" data-navigation-handle=".js-mobile_handle" data-navigation-content=".js-navigation_push" data-navigation-options='{"gravity":"right","labels":{"open":"","closed":""},"type":"overlay"}'>

				<a href="index.html" class="logo_main" itemscope="" itemtype="http://schema.org/CollegeOrUniversity">
					<span class="hide" itemprop="name">Fielding Graduate University</span>
				</a>

				<!-- Mobile Nav Controls -->
				<button class="mobile_navigation_handle js-mobile_handle close_button"></button>
				<!-- END: Mobile Nav Controls -->

				<!-- Site Search -->
				<div class="search_wrap">
					<form action="#" class="search_form">
						<input type="text" class="search_input" placeholder="Search...">
						<input type="hidden" class="search_submit" value="Go">
						<button class="search_submit icon_text" type="submit">Search</button>
					</form>
				</div>
				<!-- END: Site Search -->

				<!-- Main Nav -->
				<nav class="main_nav clearfix" aria-labelledby="main_nav_label">
					<h2 class="visually_hidden" id="main_nav_label">Main Navigation</h2>
					<div class="main_nav_inner">
						<div class="main_nav_group">
							<div class="main_nav_list" role="navigation">
								<ul id="menu-main-navigation" class="menu">
									<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-35">
										<a rel="page" href="#">Degrees</a>
										<div class="sub-menu">
											<ul class="sub-menu-list">
												<li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-41 current_page_item menu-item-48 has-subdropdown">
													<a rel="page" href="#">Doctoral Degrees</a>
													<div class="sub-sub-menu">
														<span class="sub-sub-label">Psychology</span>
														<ul class="sub-sub-list">
															<li>
																<a href="#">PhD in Clinical Psychology</a>
															</li>
															<li>
																<a href="#">PhD in Media Psychology</a>
															</li>
														</ul>
														<span class="sub-sub-label">Education</span>
														<ul class="sub-sub-list">
															<li>
																<a href="#">PhD in Infant & Early Childhood Development</a>
															</li>
															<li>
																<a href="#">EdD in Leadership for Change</a>
															</li>
														</ul>
														<span class="sub-sub-label">Leadership</span>
														<ul class="sub-sub-list">
															<li>
																<a href="#">PhD in Organization Development & Change</a>
															</li>
															<li>
																<a href="#">PhD in Human Development</a>
															</li>
															<li>
																<a href="#">PhD in Infant & Early Childhood Development</a>
															</li>
														</ul>
													</div>
												</li>
												<li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49">
													<a rel="page" href="#">Master's Degrees</a>
												</li>
												<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
													<a rel="page" href="#">Certificates</a>
												</li>
												<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
													<a rel="page" href="#">Individual Courses</a>
												</li>
											</ul>
											<ul class="sub-menu-buttons">
												<li>
													<a href="">View All Programs</a>
												</li>
											</ul>
										</div>
									</li>
									<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
										<a rel="page" href="#">Admissions</a>
									</li>
									<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37">
										<a rel="page" href="#">Financing</a>
									</li>
									<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39">
										<a rel="page" href="#">About</a>
									</li>
									<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38">
										<a rel="page" href="#">Fielding Advantage</a>
									</li>
									<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39">
										<a rel="page" href="#">Alumni</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
				<!-- END: Main Nav -->

				<!-- Button Nav -->
				<div class="button_nav_wrap">
					<nav class="button_nav" aria-labelledby="button_nav_label">
						<h2 class="visually_hidden" id="button_nav_label">Button Navigation</h2>
						<div class="button_nav_list clearfix" role="navigation">
							<ul id="menu-utility-navigation-1" class="menu">
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
									<a href="#">Request Info</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
									<a href="#">Apply Now</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
				<!-- END: Secondary Nav -->

				<!-- Secondary Nav -->
				<div class="secondary_nav_wrap">
					<nav class="secondary_nav" aria-labelledby="secondary_nav_label">
						<h2 class="visually_hidden" id="secondary_nav_label">Secondary Navigation</h2>
						<div class="secondary_nav_list clearfix" role="navigation">
							<ul id="menu-utility-navigation-1" class="menu">
								<li class="chat menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
									<a href="#">Live Chat</a>
								</li>
								<li class="phone menu-item menu-item-type-post_type menu-item-object-page menu-item-31">
									<a href="#">555-555-5555</a>
								</li>
								<li class="calendar menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
									<a href="#">Calendar</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
				<!-- END: Secondary Nav -->

				<!-- Quick Nav -->
				<div class="quick_nav_wrap">
					<nav class="quick_nav" aria-labelledby="quick_nav_label">
						<h2 class="visually_hidden" id="quick_nav_label">Quick Navigation</h2>
						<div class="quick_nav_list clearfix" role="navigation">
							<ul id="menu-utility-navigation-1" class="menu">
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33 has-dropdown">
									<span>Schools</span>
									<ul>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32 has-dropdown">
									<span>News & Media</span>
									<ul>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
									<a href="#">Fielding Press</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
									<a href="#">My Fielding</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
									<a href="#">Giving</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
				<!-- END: Quick Nav -->

			</div>
			<!-- END: Mobile Navigation -->


			<!-- Compiled JS -->
			<script src="../../components/jquery/dist/jquery.min.js"></script>
			<script src="../../js/site.js"></script>
	</body>

</html>