<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<!-- Page Attributes -->
		<title>Master Sub Image | Client Name</title>
		<meta name="description" content="">

		<!-- Favions / Touch Icons -->
		<link rel="apple-touch-icon" sizes="57x57" href="../images/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="../images/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="../images/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="../images/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="../images/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="../images/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="../images/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="../images/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="../images/favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="../images/favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../images/favicons/favicon-194x194.png" sizes="194x194">
		<link rel="icon" type="image/png" href="../images/favicons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="../images/favicons/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="../images/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="../images/favicons/manifest.json">
		<link rel="mask-icon" href="../images/favicons/safari-pinned-tab.svg" color="#d0021b">
		<meta name="msapplication-TileColor" content="#d0021b">
		<meta name="msapplication-TileImage" content="../images/favicons/mstile-144x144.png">
		<meta name="theme-color" content="#d0021b">


		<!-- G+ & Facebook -->
		<meta property="og:title" content="">
		<meta property="og:url" content="">
		<meta property="og:type" content="website">
		<meta property="og:image" content="">
		<meta property="og:description" content="">
		<meta property="og:site_name" content="">

		<!-- Twitter -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@">
		<meta name="twitter:creator" content="@">
		<meta name="twitter:url" content="">
		<meta name="twitter:title" content="">
		<meta name="twitter:description" content="">
		<meta name="twitter:image" content="">

		<!-- Modernizer -->
		<script src="../../js/modernizr.js"></script>

		<!-- Fonts -->
		<script type="text/javascript" src="http://fast.fonts.net/jsapi/596182cd-25b8-4d66-80e0-b5e49568befb.js"></script>

		<script>
		var templateurl = 'http://fielding.dev/wp-content/themes/fielding/';
		</script>

		<!-- Compiled CSS -->
		<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="../../css/site.css">
		<!--<![endif]-->

		<!--[if IE 8]>
		<script>var IE8 = true;</script>
		<script src="../../js/site-ie8.js"></script>
		<link rel="stylesheet" href="../../css/site-ie8.css">
	<![endif]-->
		<!--[if IE 9]>
		<script>var IE9 = true;</script>
		<script src="../../js/site-ie9.js"></script>
		<link rel="stylesheet" href="../../css/site-ie9.css">
	<![endif]-->
		<!--[if lte IE 9]>
		<link rel="stylesheet" href="../../css/site-ie.css">
	<![endif]-->
	</head>


	<body class="fs-grid">

		<!-- Skip-to-Content Link -->
		<a href="#page" id="skip_to_content" class="skip_link">Skip to Main Content</a>

		<div class="page_wrapper js-navigation_push">

			<!-- Header -->
			<!-- Header -->
			<header id="header" class="header" role="banner">

				<!-- Header Row -->
				<div class="fs-row">

					<!-- Header Cell -->
					<div class="fs-cell fs-all-12 clearfix header_container">

						<!-- Site Logo -->
						<a href="index.html" class="logo_main" itemscope itemtype="http://schema.org/CollegeOrUniversity">
							<h1 class="hide" itemprop="name">Fielding Graduate University</h1>
						</a>
						<!-- END: Site Logo -->

						<a class="live_chat" href="#">Live Chat</a>

						<!-- Mobile Nav Controls -->
						<button class="mobile_navigation_handle js-mobile_handle fs-lg-hide fs-xl-hide"></button>
						<!-- END: Mobile Nav Controls -->

						<!-- Wrap for mobile -->
						<div class="fs-sm-hide fs-md-hide header_wrap">

							<!-- Quick Nav -->
							<div class="quick_nav_wrap">
								<nav class="quick_nav" aria-labelledby="quick_nav_label">
									<h2 class="visually_hidden" id="quick_nav_label">Quick Navigation</h2>
									<div class="quick_nav_list clearfix" role="navigation">
										<ul id="menu-utility-navigation-1" class="menu">
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33 has-dropdown">
												<span>Schools</span>
												<ul>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32 has-dropdown">
												<span>News & Media</span>
												<ul>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
													<li>
														<a href="#">Dropdown</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
												<a href="#">Fielding Press</a>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
												<a href="#">My Fielding</a>
											</li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
												<a href="#">Giving</a>
											</li>
										</ul>
									</div>
								</nav>
							</div>
							<!-- END: Quick Nav -->

							<!-- Secondary Nav -->
							<div class="secondary_nav_wrap">
								<nav class="secondary_nav" aria-labelledby="secondary_nav_label">
									<h2 class="visually_hidden" id="secondary_nav_label">Secondary Navigation</h2>
									<div class="secondary_nav_list clearfix" role="navigation">
										<ul id="menu-utility-navigation-1" class="menu">
											<li class="chat menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
												<a href="#">Live Chat</a>
											</li>
											<li class="phone menu-item menu-item-type-post_type menu-item-object-page menu-item-31">
												<a href="#">800-349-1099</a>
											</li>
											<li class="calendar menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
												<a href="#">Calendar</a>
											</li>
										</ul>
									</div>
								</nav>
							</div>
							<!-- END: Secondary Nav -->

							<!-- Site Search -->
							<div class="search_wrap">
								<form action="#" class="search_form">
									<input type="text" class="search_input" placeholder="Search...">
									<input type="hidden" class="search_submit" value="Go">
									<button class="search_submit icon_text" type="submit">Search</button>
								</form>
							</div>
							<!-- END: Site Search -->

						</div>
						<!-- END: Wrap for mobile -->

					</div>
					<!-- END: Header Cell -->

				</div>
				<!-- END: Header Row -->

				<!-- Main Nav -->
				<div class="main_nav_placeholder"></div>
				<nav class="main_nav clearfix" aria-labelledby="main_nav_label">
					<h2 class="visually_hidden" id="main_nav_label">Main Navigation</h2>
					<div class="fs-row">
						<div class="fs-cell">
							<div class="main_nav_inner">
								<div class="main_nav_group">
									<div class="main_nav_list" role="navigation">
										<ul id="menu-main-navigation" class="menu">
											<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-35">
												<a rel="page" href="#">Degrees</a>
												<div class="sub-menu">
													<ul class="sub-menu-list">
														<li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-41 current_page_item menu-item-48 has-subdropdown">
															<a rel="page" href="#">Doctoral Degrees</a>
															<div class="sub-sub-menu">
																<div class="sub-sub-menu-content">
																	<span class="sub-sub-label">Psychology</span>
																	<ul class="sub-sub-list">
																		<li>
																			<a href="#">PhD in Clinical Psychology</a>
																		</li>
																		<li>
																			<a href="#">PhD in Media Psychology</a>
																		</li>
																	</ul>
																</div>
																<div class="sub-sub-menu-content">
																	<span class="sub-sub-label">Education</span>
																	<ul class="sub-sub-list">
																		<li>
																			<a href="#">PhD in Infant & Early Childhood Development</a>
																		</li>
																		<li>
																			<a href="#">EdD in Leadership for Change</a>
																		</li>
																	</ul>
																</div>
																<div class="sub-sub-menu-content">
																	<span class="sub-sub-label">Leadership</span>
																	<ul class="sub-sub-list">
																		<li>
																			<a href="#">PhD in Organization Development & Change</a>
																		</li>
																		<li>
																			<a href="#">PhD in Human Development</a>
																		</li>
																		<li>
																			<a href="#">PhD in Infant & Early Childhood Development</a>
																		</li>
																	</ul>
																</div>
															</div>
														</li>
														<li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49">
															<a rel="page" href="#">Master's Degrees</a>
														</li>
														<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
															<a rel="page" href="#">Certificates</a>
														</li>
														<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
															<a rel="page" href="#">Individual Courses</a>
														</li>
													</ul>
													<ul class="sub-menu-buttons">
														<li>
															<a href="">View All Programs</a>
														</li>
													</ul>
												</div>
											</li>
											<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
												<a rel="page" href="#">Admissions</a>
											</li>
											<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37">
												<a rel="page" href="#">Financing</a>
											</li>
											<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39">
												<a rel="page" href="#">About</a>
											</li>
											<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38">
												<a rel="page" href="#">Fielding Advantage</a>
											</li>
											<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39">
												<a rel="page" href="#">Alumni</a>
												<div class="sub-menu">
													<ul class="sub-menu-list">
														<li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-41 current_page_item menu-item-48">
															<a rel="page" href="#">Doctoral Degrees</a>
														</li>
														<li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49">
															<a rel="page" href="#">Master's Degrees</a>
														</li>
														<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
															<a rel="page" href="#">Certificates</a>
														</li>
														<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
															<a rel="page" href="#">Individual Courses</a>
														</li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="main_nav_group">
									<!-- Button Nav -->
									<div class="button_nav_wrap">
										<nav class="button_nav" aria-labelledby="button_nav_label">
											<h2 class="visually_hidden" id="button_nav_label">Button Navigation</h2>
											<div class="button_nav_list clearfix" role="navigation">
												<ul id="menu-utility-navigation-1" class="menu">
													<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
														<a href="#">Request Info</a>
													</li>
													<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
														<a href="#">Apply Now</a>
													</li>
												</ul>
											</div>
										</nav>
									</div>
									<!-- END: Secondary Nav -->
								</div>
							</div>
						</div>
				</nav>
				<!-- END: Main Nav -->
			</header>
			<!-- END: Header -->


			<!-- Page : Main Content -->
			<main id="page" class="page_main" tabindex="-1">

				<!-- Breadcrumb w/ Image behind -->

				<div class="fs-row breadcrumb_wrap">
					<div class="fs-cell breadcrumb_overlay">
						<nav class="breadcrumb_nav" aria-labelledby="breadcrumb_nav_label">
							<h2 class="visually_hidden" id="breadcrumb_nav_label">Breadcrumb</h2>
							<ul id="menu-main-navigation-1" class="menu">
								<li id="menu-item-" class="menu-item-">
									<a href="http://dev.fastspot.com/clients/fielding">Home</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-35">
									<a rel="page" href="http://dev.fastspot.com/clients/fielding/who-we-are/">Our Learning Enivronments</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-41 current_page_item menu-item-48">
									<a rel="page" href="http://dev.fastspot.com/clients/fielding/who-we-are/mentoring-advising/">Mentoring &amp; Advising</a>
								</li>
							</ul>
						</nav>

					</div>
				</div>


				<!-- Page Header -->
				<header class="page_header page_header_image margined_lg">

					<div class="js-background" data-background-options='{"source":{"0px": "http://spacehold.it/500x400/fielding/1.jpg", "500px": "http://spacehold.it/740x550/fielding/1.jpg", "740px": "http://spacehold.it/980x730/fielding/1.jpg", "980px": "http://spacehold.it/1220x910/fielding/1.jpg", "1220px": "http://spacehold.it/1440x1070/fielding/1.jpg"}}'>

						<div class="page_header_background" style="background-image: url(http://spacehold.it/1440x1070/fielding/1.jpg);"></div>

						<div class="page_header_content">
							<div class="fs-row">
								<div class="typography page_header_copy">
									<h1>Mentoring &amp; Advising</h1>
									<p class="intro">Our accomplished faculty and staff helps tailor your Fielding experience to your personalized interests and career goals.</p>
								</div>
							</div>
						</div>

					</div>

				</header>

				<!-- END: Page Header -->

				<!-- Page Content -->
				<div class="page_content_area">
					<div class="fs-row">

						<!-- Right Sidebar Navigation -->
						<aside class="fs-cell fs-cell-right fs-lg-3">
							<nav class="subnavigation_wrap">
								<h2 class="subnavigation_handle fs-lg-hide">Additional Navigation</h2>
								<div class="subnavigation js-navigation fs-navigation-element fs-navigation-toggle-nav fs-navigation__1 fs-light" data-navigation-handle=".subnavigation_handle" data-navigation-options="{&quot;labels&quot;:{&quot;open&quot;:&quot;Close&quot;,&quot;closed&quot;:&quot;Additional Navigation&quot;}}">
									<ul id="menu-main-navigation-2" class="menu">
										<li class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-41 current_page_item menu-item-48">
											<a rel="page" href="#">Mentoring &amp; Advising</a>
										</li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49">
											<a rel="page" href="#">Academic Technologies</a>
										</li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item menu-item-has-children menu-item-51">
											<a rel="page" href="#">Regional Sessions &amp; Events</a>
											<ul class="sub-menu">
												<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
													<a href="http://dev.fastspot.com/clients/fielding/our-learning-environments/regional-sessions-events/local-clusters/" rel="page">Local Clusters</a>
												</li>
												<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-115 current_page_item menu-item-117">
													<a href="http://dev.fastspot.com/clients/fielding/our-learning-environments/regional-sessions-events/regional-sessions-events/" rel="page">Regional Sessions & Events</a>
												</li>
												<li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118">
													<a href="http://dev.fastspot.com/clients/fielding/our-learning-environments/regional-sessions-events/national-sessions/" rel="page">National Sessions</a>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52">
											<a rel="page" href="#">Student Services</a>
										</li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53">
											<a rel="page" href="#">University Catalog</a>
										</li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54">
											<a rel="page" href="#">Frequently Asked Questions</a>
										</li>
									</ul>
								</div>
							</nav>

							<article class="contact_info_wrap sidebar_component margined_md">
								<div class="contact_info">
									<h4 class="heading_dashed">Contact Info</h4>
									<h5 class="heading_bold">Office of Student Advising</h5>
									<a href="tel:+18058984011" class="ico_phone_white">805.898.4011</a>
									<a href="mailto:advisors@fielding.edu" class="underlined">advisors@fielding.edu</a>
									<p class="gray_italic">The Office of Student Advising is open during Fielding's regular business hours of 9-5 Pacific Time.</p>
								</div>
							</article>
						</aside>

						<!-- Left Content Area -->
						<div class="fs-cell fs-lg-8 page_content">

							<!-- WYSIWYG Content -->
							<div class="typography">

								<h2>Our Faculty</h2>
								<p>Our faculty is made up of some of the world’s finest minds. They are senior scholar-practitioners who excel in academia as well as their professions and practices. Many have taught at other leading universities and have been published widely. At the same time, our faculty represent a unique diversity of disciplines, ethnicity, cultures, professions, and academic interests. That's important, because at Fielding, you are in the driver's seat.</p>
								<div class="block_right">
									<picture>
										<!--[if IE 9]><video style="display: none;"><![endif]-->
										<source media="(min-width: 980px)" srcset="http://spacehold.it/500x375/fielding/3.jpg">
										<source media="(min-width: 740px)" srcset="http://spacehold.it/740x555/fielding/3.jpg">
										<source media="(min-width: 500px)" srcset="http://spacehold.it/500x375/fielding/3.jpg">
										<!--[if IE 9]></video><![endif]-->
										<img src="http://spacehold.it/500x375/fielding/3.jpg" alt="" draggable="false">
									</picture>
									<div class="content_image_caption">Your Graduate Program Advisor works in partnership with your program.</div>
								</div>
								<p>Matching your research to your career goals is a major part of what we do. We believe that you have many valuable things to contribute to your learning process, so what we try to accomplish in our programs is to define that sweet spot, that unique intersection between your professional expertise and academic interests, and the unique theoretical knowledge of our professors. We are dedicated to finding that intersection and nurturing your doctoral competency to make it a reality.</p>
								<blockquote>
									<p>"For more than 140 years, Stevens has made an enormous contribution&ndash;far exceding its size—to technological innovation that has benefited our society. The next decade promises unprecedented change and opportunity. And Stevens is poised to become a major force in this new era."
										<span>&ndash; NARIMAN FARVARDIN, PRESIDENT</span>
									</p>
								</blockquote>
								<h2>Student Advising</h2>
								<p>As a student at Fielding, you may need additional advice in order to continue progressing smoothly through your program. Your administrative resource for answering questions about the program is your Graduate Program Advisor. Among other topics, your Graduate Program Advisor can provide you with resources (or support) for the following:</p>
								<ul>
									<li>Student program planning/scheduling to meet degree and tuition milestones</li>
									<li>Policies and procedures</li>
									<li>Program requirements</li>
									<li>Academic progress requirements and reviews</li>
									<li>Taking time off from your Fielding program</li>
									<li>Services for students with disabilities</li>
								</ul>

								<ol>
									<li>Student program planning/scheduling to meet degree and tuition milestones</li>
									<li>Policies and procedures</li>
									<li>Program requirements</li>
									<li>Academic progress requirements and reviews</li>
									<li>Taking time off from your Fielding program</li>
									<li>Services for students with disabilities</li>
								</ol>

							</div>
							<!-- END: typography -->

							<!-- Related Links Component -->
							<article class="related_links margined_lg clearfix">
								<h3 class="heading_3 heading_line">Related Links</h3>
								<div class="fs-row">
									<div class="fs-cell">
										<a href="#" class="btn btn_gray">Frequently Asked Questions</a>
										<a href="#" class="btn btn_gray">Academic Policies</a>
										<a href="#" class="btn btn_gray">Student Services</a>
										<a href="#" class="btn btn_gray">Scholarship Information</a>
										<a href="#" class="btn btn_gray">People Directory</a>
										<a href="#" class="btn btn_gray">University Catalog</a>
										<a href="#" class="btn btn_gray">National Sessions</a>
									</div>
								</div>
							</article>
							<!-- END: Related Links Component -->

							<div class="typography">
								<h3>Additional Contact Information</h3>
								<!-- Table -->
								<table>
									<thead>
										<tr>
											<th>Department</th>
											<th>Phone Number</th>
											<th>Email Address</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>School of Educational Leadership for Change</td>
											<td>805.898.4065</td>
											<td>
												<a href="mailto:ELCadvisor@fielding.edu">ELCadvisor@fielding.edu</a>
											</td>
										</tr>
										<tr>
											<td>School of Educational Leadership for Change</td>
											<td>805.898.4065</td>
											<td>
												<a href="mailto:ELCadvisor@fielding.edu">ELCadvisor@fielding.edu</a>
											</td>
										</tr>
										<tr>
											<td>School of Educational Leadership for Change</td>
											<td>805.898.4065</td>
											<td>
												<a href="mailto:ELCadvisor@fielding.edu">ELCadvisor@fielding.edu</a>
											</td>
										</tr>
										<tr>
											<td>School of Educational Leadership for Change</td>
											<td>805.898.4065</td>
											<td>
												<a href="mailto:ELCadvisor@fielding.edu">ELCadvisor@fielding.edu</a>
											</td>
										</tr>
										<tr>
											<td>School of Educational Leadership for Change</td>
											<td>805.898.4065</td>
											<td>
												<a href="mailto:ELCadvisor@fielding.edu">ELCadvisor@fielding.edu</a>
											</td>
										</tr>
									</tbody>
								</table>
								<!-- END: Table -->
							</div>
							<!-- END: Typography -->

						</div>
						<!-- END: Left Content Area -->
					</div>
					<!-- END: Row -->

					<!-- Full Width Components -->
					<div class="full_width_components">

						<article class="testimonial_wrap">
							<div class="fs-row">
								<div class="fs-cell">

									<h2 class="media_carousel_label">Testimonials</h2>
									<h3 class="media_carousel_heading">In Our Students’ Own Words</h3>

									<!-- Carousel Wrap -->
									<div class="js-carousel carousel_video" data-carousel-options='{"theme": "combo_pager", "contained": false, "matchHeight": false}'>

										<!-- Slide -->
										<div class="slide_wrap slide_large slide_teal">
											<div class="slide clearfix">
												<div class="slide_left fs-cell-contained fs-lg-half fs-md-half fs-sm-full fs-xs-full">

													<!-- Video Link for Lightbox -->
													<a class="slide_image js-lightbox js-background" href="//www.youtube.com/embed/zsJpUCWfyPE?rel=0&autoplay=1&fs=1" data-background-options='{"source":{"0px": "http://spacehold.it/500x375/2.jpg", "500px": "http://spacehold.it/740x555/2.jpg", "740px": "http://spacehold.it/740x555/2.jpg", "980px": "http://spacehold.it/740x555/2.jpg", "1220px": "http://spacehold.it/980x735/2.jpg"}}'>
														<div style="background-image: url(http://spacehold.it/980x735/2.jpg);"></div>
														<!-- Time Stamp -->
														<div class="slide_time_wrap">
															<p class="slide_time">
																<span class="slide_icon"></span>1:30</p>
														</div>
														<!-- Play Button -->
														<div class="play_icon"></div>
													</a>

												</div>
												<!-- Right Slide - Text -->
												<div class="slide_right fs-cell-contained fs-lg-half fs-md-half fs-sm-full fs-xs-full">
													<div class="slide_text">
														<p class="slide_quote">Students know that we really care about their professional and intellectual development and want to support that. We recognize them as unique individuals and aren't trying to fit them into a box.</p>
														<p class="slide_bold">– Deande West, Student</p>
														<p class="slide_caps">Clinical Psychology/ Respecialization In Clinical Psychology</p>
													</div>
												</div>
											</div>
										</div>
										<!-- END: Slide -->

										<!-- Slide -->
										<div class="slide_wrap  slide_gray">
											<div class="slide clearfix">
												<div class="slide_left fs-cell-contained fs-lg-half fs-md-half fs-sm-full fs-xs-full">

													<!-- Video Link for Lightbox -->
													<a class="slide_image js-lightbox js-background" href="//www.youtube.com/embed/zsJpUCWfyPE?rel=0&autoplay=1&fs=1" data-background-options='{"source":{"0px": "http://spacehold.it/500x375/2.jpg", "500px": "http://spacehold.it/740x555/2.jpg", "740px": "http://spacehold.it/740x555/2.jpg", "980px": "http://spacehold.it/740x555/2.jpg", "1220px": "http://spacehold.it/980x735/2.jpg"}}'>
														<div style="background-image: url(http://spacehold.it/980x735/2.jpg);"></div>
														<!-- Time Stamp -->
														<div class="slide_time_wrap">
															<p class="slide_time">
																<span class="slide_icon"></span>1:30</p>
														</div>
														<!-- Play Button -->
														<div class="play_icon"></div>
													</a>

												</div>
												<!-- Right Slide - Text -->
												<div class="slide_right fs-cell-contained fs-lg-half fs-md-half fs-sm-full fs-xs-full">
													<div class="slide_text">
														<p class="slide_quote">Students know that we really care about their professional and intellectual development and want to support that. We recognize them as unique individuals and aren't trying to fit them into a box.</p>
														<p class="slide_bold">– Deande West, Student</p>
														<p class="slide_caps">Clinical Psychology/ Respecialization In Clinical Psychology</p>
													</div>
												</div>
											</div>
										</div>
										<!-- END: Slide -->

										<!-- Slide -->
										<div class="slide_wrap  slide_red">
											<div class="slide clearfix">
												<div class="slide_left fs-cell-contained fs-lg-half fs-md-half fs-sm-full fs-xs-full">

													<!-- Video Link for Lightbox -->
													<a class="slide_image js-lightbox js-background" href="//www.youtube.com/embed/zsJpUCWfyPE?rel=0&autoplay=1&fs=1" data-background-options='{"source":{"0px": "http://spacehold.it/500x375/2.jpg", "500px": "http://spacehold.it/740x555/2.jpg", "740px": "http://spacehold.it/740x555/2.jpg", "980px": "http://spacehold.it/740x555/2.jpg", "1220px": "http://spacehold.it/980x735/2.jpg"}}'>
														<div style="background-image: url(http://spacehold.it/980x735/2.jpg);"></div>
														<!-- Time Stamp -->
														<div class="slide_time_wrap">
															<p class="slide_time">
																<span class="slide_icon"></span>1:30</p>
														</div>
														<!-- Play Button -->
														<div class="play_icon"></div>
													</a>

												</div>
												<!-- Right Slide - Text -->
												<div class="slide_right fs-cell-contained fs-lg-half fs-md-half fs-sm-full fs-xs-full">
													<div class="slide_text">
														<p class="slide_quote">Students know that we really care about their professional and intellectual development and want to support that. We recognize them as unique individuals and aren't trying to fit them into a box.</p>
														<p class="slide_bold">– Deande West, Student</p>
														<p class="slide_caps">Clinical Psychology/ Respecialization In Clinical Psychology</p>
													</div>
												</div>
											</div>
										</div>
										<!-- END: Slide -->

									</div>
									<!-- END: Carousel Wrap -->

								</div>
							</div>

						</article>


						<section class="media_carousel_section ">

							<header class="media_carousel_header">
								<div class="fs-row destroy_md">
									<div class="fs-cell destroy_md">
										<h2 class="media_carousel_label">Media Gallery</h2>
										<h3 class="media_carousel_heading">Infosessions 2015</h3>
									</div>
								</div>
							</header>

							<div class="media_carousel_body">
								<div class="fs-row destroy_md">
									<div class="fs-cell destroy_md">
										<div class="media_carousel_full">
											<div class="js-carousel js-linked-carousel media_carousel" data-carousel-options='{"theme": "combo_pager", "autoHeight": true, "single": true, "contained": false}'>

												<div class="media_carousel_item media_carousel_full_item">
													<figure class="media_carousel_full_figure">
														<picture class="responsive_image media_carousel_full_picture">
															<!--[if IE 9]><video style="display: none;"><![endif]-->
															<source media="(min-width: 1220px)" srcset="http://spacehold.it/1440x810/1">
															<source media="(min-width: 980px)" srcset="http://spacehold.it/1220x687/1">
															<source media="(min-width: 740px)" srcset="http://spacehold.it/980x552/1">
															<source media="(min-width: 500px)" srcset="http://spacehold.it/740x417/1">
															<!--[if IE 9]></video><![endif]-->
															<img class="media_carousel_full_image" src="http://spacehold.it/500x282/1" alt="">
														</picture>
														<figcaption class="media_carousel_caption media_carousel_full_caption">Future students meeting with members from the School of Educational Leadership for Change to learn about the school's unique programs.</figcaption>
													</figure>
												</div>


												<div class="media_carousel_item media_carousel_full_item">
													<figure class="media_carousel_full_figure">
														<picture class="responsive_image media_carousel_full_picture">
															<!--[if IE 9]><video style="display: none;"><![endif]-->
															<source media="(min-width: 1220px)" srcset="http://spacehold.it/1440x810/2">
															<source media="(min-width: 980px)" srcset="http://spacehold.it/1220x687/2">
															<source media="(min-width: 740px)" srcset="http://spacehold.it/980x552/2">
															<source media="(min-width: 500px)" srcset="http://spacehold.it/740x417/2">
															<!--[if IE 9]></video><![endif]-->
															<img class="media_carousel_full_image" src="http://spacehold.it/500x282/2" alt="">
														</picture>
														<figcaption class="media_carousel_caption media_carousel_full_caption">Future students meeting with members from the School of Educational Leadership for Change to learn about the school's unique programs. Future students meeting with members from the School of Educational Leadership for Change to learn about the school's unique programs.</figcaption>
													</figure>
												</div>


												<div class="media_carousel_item media_carousel_full_item">
													<figure class="media_carousel_full_figure">
														<picture class="responsive_image media_carousel_full_picture">
															<!--[if IE 9]><video style="display: none;"><![endif]-->
															<source media="(min-width: 1220px)" srcset="http://spacehold.it/1440x810/3">
															<source media="(min-width: 980px)" srcset="http://spacehold.it/1220x687/3">
															<source media="(min-width: 740px)" srcset="http://spacehold.it/980x552/3">
															<source media="(min-width: 500px)" srcset="http://spacehold.it/740x417/3">
															<!--[if IE 9]></video><![endif]-->
															<img class="media_carousel_full_image" src="http://spacehold.it/500x282/3" alt="">
														</picture>

													</figure>
												</div>


											</div>
										</div>

										<div class="js-carousel-counter media_carousel_captions" aria-hidden="true">
											<header class="media_carousel_captions_header">
												<div class="carousel_count media_carousel_count">
													<span class="carousel_count_index media_carousel_index"></span> of
													<span class="carousel_count_total media_carousel_total"></span>
												</div>
											</header>
											<div class="js-carousel js-linked-carousel-sibling media_carousel" data-carousel-options='{"theme": "controls_circ_lg", "autoHeight": true, "pagination": false, "single": true, "contained": false}'>

												<div class="media_carousel_item media_carousel_captions_item">
													<p class="media_carousel_caption media_carousel_captions_caption">Future students meeting with members from the School of Educational Leadership for Change to learn about the school's unique programs.</p>
												</div>


												<div class="media_carousel_item media_carousel_captions_item">
													<p class="media_carousel_caption media_carousel_captions_caption">Future students meeting with members from the School of Educational Leadership for Change to learn about the school's unique programs. Future students meeting with members from the School of Educational Leadership for Change to learn about the school's unique programs.</p>
												</div>


												<div class="media_carousel_item media_carousel_captions_item">

												</div>


											</div>
										</div>
									</div>
								</div>
							</div>

						</section>


					</div>
					<!-- END: Full Width Components -->

				</div>
				<!-- END: Page Content -->

			</main>
			<!-- END: page -->

			<!-- Footer -->
			<!-- Footer -->
			<footer id="footer" class="footer">

				<div class="fs-row">
					<!-- Logo -->
					<div class="fs-cell fs-xs-full fs-md-3 fs-lg-4">
						<a href="index.html" class="logo_footer">Fielding Graduate University</a>
					</div>
					<!-- END: Logo -->

					<!-- Address -->
					<div class="fs-cell fs-xs-full fs-md-3 fs-lg-4 address">
						<p class="compact">2020 De la Vina Street
							<br> Santa Barbara, California 93105-3814 </p>

						<a href="tel:+18003401099" class="ico_phone">800.340.1099</a>
						<a href="#" class="btn btn_white">Contact Us</a>
					</div>
					<!-- END: Address -->

					<!-- Social Nav Desktop -->
					<div class="fs-cell fs-xs-hide fs-sm-hide fs-lg-4">
						<nav class="social_nav clearfix">
							<ul id="menu-social-navigation" class="menu">
								<li id="menu-item-62" class="facebook menu-item menu-item-type-custom menu-item-object-custom menu-item-62">
									<a href="https://www.facebook.com/FieldingUniversity/">Facebook</a>
								</li>
								<li id="menu-item-63" class="twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-63">
									<a href="https://twitter.com/FieldingGradU/">Twitter</a>
								</li>
								<li id="menu-item-64" class="youtube menu-item menu-item-type-custom menu-item-object-custom menu-item-64">
									<a href="https://www.youtube.com/user/FieldingGraduateUniv">YouTube</a>
								</li>
								<li id="menu-item-65" class="linkedin menu-item menu-item-type-custom menu-item-object-custom menu-item-65">
									<a href="https://www.linkedin.com/company/fielding-graduate-university/">LinkedIn</a>
								</li>
								<li id="menu-item-66" class="pinterest menu-item menu-item-type-custom menu-item-object-custom menu-item-66">
									<a href="https://www.pinterest.com/fieldingu/">Pinterest</a>
								</li>
								<li id="menu-item-67" class="flickr menu-item menu-item-type-custom menu-item-object-custom menu-item-67">
									<a href="https://www.flickr.com/photos/fieldinggraduateuniversity/">Flickr</a>
								</li>
								<li id="menu-item-68" class="googleplus menu-item menu-item-type-custom menu-item-object-custom menu-item-68">
									<a href="https://plus.google.com/+FieldingEdu/posts">Google+</a>
								</li>
							</ul>
						</nav>
					</div>
					<!-- END: Social Nav Desktop -->
				</div>

				<div class="footer_nav_wrap">
					<div class="fs-row">
						<!-- Footer Nav -->
						<div class="fs-cell fs-xs-full fs-lg-7 fs-xl-8">
							<nav class="footer_nav">
								<ul id="menu-consistent-navigation" class="menu">
									<li id="menu-item-69" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-69">
										<a href="#">Directory</a>
									</li>
									<li id="menu-item-70" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70">
										<a href="#">Student Consumer Information</a>
									</li>
									<li id="menu-item-71" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-71">
										<a href="#">My Fielding</a>
									</li>
									<li id="menu-item-72" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-72">
										<a href="#">Employment</a>
									</li>
								</ul>
							</nav>
						</div>
						<!-- END: Footer Nav -->

						<!-- Copyright Desktop -->
						<div class="fs-cell fs-xs-hide fs-sm-hide fs-lg-5 fs-xl-4">
							<p class="copyright">Copyright &copy; 2015 Fielding Graduate University</p>
						</div>
						<!-- END: Copyright Desktop -->
					</div>
				</div>

				<div class="social_nav_wrap">
					<div class="fs-row">
						<!-- Social Nav Mobile -->
						<div class="fs-cell">
							<nav class="social_nav clearfix fs-xs-full fs-md-hide fs-lg-hide">
								<ul id="menu-social-navigation-1" class="menu">
									<li id="menu-item-62-1" class="facebook menu-item menu-item-type-custom menu-item-object-custom menu-item-62">
										<a href="#">Facebook</a>
									</li>
									<li id="menu-item-63-1" class="twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-63">
										<a href="#">Twitter</a>
									</li>
									<li id="menu-item-64-1" class="youtube menu-item menu-item-type-custom menu-item-object-custom menu-item-64">
										<a href="#">YouTube</a>
									</li>
									<li id="menu-item-65-1" class="linkedin menu-item menu-item-type-custom menu-item-object-custom menu-item-65">
										<a href="#">LinkedIn</a>
									</li>
									<li id="menu-item-66-1" class="pinterest menu-item menu-item-type-custom menu-item-object-custom menu-item-66">
										<a href="#">Pinterest</a>
									</li>
									<li id="menu-item-67-1" class="flickr menu-item menu-item-type-custom menu-item-object-custom menu-item-67">
										<a href="#">Flickr</a>
									</li>
									<li id="menu-item-68-1" class="googleplus menu-item menu-item-type-custom menu-item-object-custom menu-item-68">
										<a href="#">Google+</a>
									</li>
								</ul>
							</nav>
						</div>
						<!-- END: Social Nav Mobile -->
					</div>
				</div>

				<div class="copyright_wrap">
					<div class="fs-row">
						<!-- Copyright Mobile -->
						<div class="fs-cell fs-xs-full fs-md-hide fs-lg-hide fs-xl-hide">
							<p class="copyright">Copyright &copy; 2015 Fielding Graduate University</p>
						</div>
						<!-- END: Copyright Mobile -->
					</div>
				</div>

			</footer>



			</div>
			<!-- END: page_wrapper -->

			<!-- Mobile Navigation -->

			<div class="mobile_navigation js-mobile_navigation" aria-hidden="true" data-navigation-handle=".js-mobile_handle" data-navigation-content=".js-navigation_push" data-navigation-options='{"gravity":"right","labels":{"open":"","closed":""},"type":"overlay"}'>

				<a href="index.html" class="logo_main" itemscope="" itemtype="http://schema.org/CollegeOrUniversity">
					<span class="hide" itemprop="name">Fielding Graduate University</span>
				</a>

				<!-- Mobile Nav Controls -->
				<button class="mobile_navigation_handle js-mobile_handle close_button"></button>
				<!-- END: Mobile Nav Controls -->

				<!-- Site Search -->
				<div class="search_wrap">
					<form action="#" class="search_form">
						<input type="text" class="search_input" placeholder="Search...">
						<input type="hidden" class="search_submit" value="Go">
						<button class="search_submit icon_text" type="submit">Search</button>
					</form>
				</div>
				<!-- END: Site Search -->

				<!-- Main Nav -->
				<nav class="main_nav clearfix" aria-labelledby="main_nav_label">
					<h2 class="visually_hidden" id="main_nav_label">Main Navigation</h2>
					<div class="main_nav_inner">
						<div class="main_nav_group">
							<div class="main_nav_list" role="navigation">
								<ul id="menu-main-navigation" class="menu">
									<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-35">
										<a rel="page" href="#">Degrees</a>
										<div class="sub-menu">
											<ul class="sub-menu-list">
												<li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-41 current_page_item menu-item-48 has-subdropdown">
													<a rel="page" href="#">Doctoral Degrees</a>
													<div class="sub-sub-menu">
														<span class="sub-sub-label">Psychology</span>
														<ul class="sub-sub-list">
															<li>
																<a href="#">PhD in Clinical Psychology</a>
															</li>
															<li>
																<a href="#">PhD in Media Psychology</a>
															</li>
														</ul>
														<span class="sub-sub-label">Education</span>
														<ul class="sub-sub-list">
															<li>
																<a href="#">PhD in Infant & Early Childhood Development</a>
															</li>
															<li>
																<a href="#">EdD in Leadership for Change</a>
															</li>
														</ul>
														<span class="sub-sub-label">Leadership</span>
														<ul class="sub-sub-list">
															<li>
																<a href="#">PhD in Organization Development & Change</a>
															</li>
															<li>
																<a href="#">PhD in Human Development</a>
															</li>
															<li>
																<a href="#">PhD in Infant & Early Childhood Development</a>
															</li>
														</ul>
													</div>
												</li>
												<li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49">
													<a rel="page" href="#">Master's Degrees</a>
												</li>
												<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
													<a rel="page" href="#">Certificates</a>
												</li>
												<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
													<a rel="page" href="#">Individual Courses</a>
												</li>
											</ul>
											<ul class="sub-menu-buttons">
												<li>
													<a href="">View All Programs</a>
												</li>
											</ul>
										</div>
									</li>
									<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
										<a rel="page" href="#">Admissions</a>
									</li>
									<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37">
										<a rel="page" href="#">Financing</a>
									</li>
									<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39">
										<a rel="page" href="#">About</a>
									</li>
									<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38">
										<a rel="page" href="#">Fielding Advantage</a>
									</li>
									<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39">
										<a rel="page" href="#">Alumni</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
				<!-- END: Main Nav -->

				<!-- Button Nav -->
				<div class="button_nav_wrap">
					<nav class="button_nav" aria-labelledby="button_nav_label">
						<h2 class="visually_hidden" id="button_nav_label">Button Navigation</h2>
						<div class="button_nav_list clearfix" role="navigation">
							<ul id="menu-utility-navigation-1" class="menu">
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
									<a href="#">Request Info</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
									<a href="#">Apply Now</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
				<!-- END: Secondary Nav -->

				<!-- Secondary Nav -->
				<div class="secondary_nav_wrap">
					<nav class="secondary_nav" aria-labelledby="secondary_nav_label">
						<h2 class="visually_hidden" id="secondary_nav_label">Secondary Navigation</h2>
						<div class="secondary_nav_list clearfix" role="navigation">
							<ul id="menu-utility-navigation-1" class="menu">
								<li class="chat menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
									<a href="#">Live Chat</a>
								</li>
								<li class="phone menu-item menu-item-type-post_type menu-item-object-page menu-item-31">
									<a href="#">555-555-5555</a>
								</li>
								<li class="calendar menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
									<a href="#">Calendar</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
				<!-- END: Secondary Nav -->

				<!-- Quick Nav -->
				<div class="quick_nav_wrap">
					<nav class="quick_nav" aria-labelledby="quick_nav_label">
						<h2 class="visually_hidden" id="quick_nav_label">Quick Navigation</h2>
						<div class="quick_nav_list clearfix" role="navigation">
							<ul id="menu-utility-navigation-1" class="menu">
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33 has-dropdown">
									<span>Schools</span>
									<ul>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32 has-dropdown">
									<span>News & Media</span>
									<ul>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
										<li>
											<a href="#">Dropdown</a>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
									<a href="#">Fielding Press</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
									<a href="#">My Fielding</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
									<a href="#">Giving</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
				<!-- END: Quick Nav -->

			</div>
			<!-- END: Mobile Navigation -->


			<!-- Compiled JS -->
			<script src="../../components/jquery/dist/jquery.min.js"></script>
			<script src="../../js/site.js"></script>
	</body>

</html>