<!-- Footer -->
<footer id="footer" class="footer">

	<div class="fs-row">
		<!-- Logo -->
		<div class="fs-cell fs-xs-full fs-md-3 fs-lg-4">
			<a href="index.html" class="logo_footer">Fielding Graduate University</a>
		</div>
		<!-- END: Logo -->

		<!-- Address -->
		<div class="fs-cell fs-xs-full fs-md-3 fs-lg-4 address">
			<p class="compact">2020 De la Vina Street<br>
			Santa Barbara, California 93105-3814 </p>

			<a href="tel:+18003401099" class="ico_phone">800.340.1099</a>
			<a href="#" class="btn btn_white">Contact Us</a>
		</div>
		<!-- END: Address -->

		<!-- Social Nav Desktop -->
		<div class="fs-cell fs-xs-hide fs-sm-hide fs-lg-4">
			<nav class="social_nav clearfix">
				<ul id="menu-social-navigation" class="menu">
					<li id="menu-item-62" class="facebook menu-item menu-item-type-custom menu-item-object-custom menu-item-62">
						<a href="https://www.facebook.com/FieldingUniversity/">Facebook</a>
					</li>
					<li id="menu-item-63" class="twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-63">
						<a href="https://twitter.com/FieldingGradU/">Twitter</a>
					</li>
					<li id="menu-item-64" class="youtube menu-item menu-item-type-custom menu-item-object-custom menu-item-64">
						<a href="https://www.youtube.com/user/FieldingGraduateUniv">YouTube</a>
					</li>
					<li id="menu-item-65" class="linkedin menu-item menu-item-type-custom menu-item-object-custom menu-item-65">
						<a href="https://www.linkedin.com/company/fielding-graduate-university/">LinkedIn</a>
					</li>
					<li id="menu-item-66" class="pinterest menu-item menu-item-type-custom menu-item-object-custom menu-item-66">
						<a href="https://www.pinterest.com/fieldingu/">Pinterest</a>
					</li>
					<li id="menu-item-67" class="flickr menu-item menu-item-type-custom menu-item-object-custom menu-item-67">
						<a href="https://www.flickr.com/photos/fieldinggraduateuniversity/">Flickr</a>
					</li>
					<li id="menu-item-68" class="googleplus menu-item menu-item-type-custom menu-item-object-custom menu-item-68">
						<a href="https://plus.google.com/+FieldingEdu/posts">Google+</a>
					</li>
				</ul>
			</nav>
		</div>
		<!-- END: Social Nav Desktop -->
	</div>

	<div class="footer_nav_wrap">
		<div class="fs-row">
			<!-- Footer Nav -->
			<div class="fs-cell fs-xs-full fs-lg-7 fs-xl-8">
				<nav class="footer_nav">
					<ul id="menu-consistent-navigation" class="menu">
						<li id="menu-item-69" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-69">
							<a href="#">Directory</a>
						</li>
						<li id="menu-item-70" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70">
							<a href="#">Student Consumer Information</a>
						</li>
						<li id="menu-item-71" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-71">
							<a href="#">My Fielding</a>
						</li>
						<li id="menu-item-72" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-72">
							<a href="#">Employment</a>
						</li>
					</ul>
				</nav>
			</div>
			<!-- END: Footer Nav -->

			<!-- Copyright Desktop -->
			<div class="fs-cell fs-xs-hide fs-sm-hide fs-lg-5 fs-xl-4">
				<p class="copyright">Copyright &copy; 2015 Fielding Graduate University</p>
			</div>
			<!-- END: Copyright Desktop -->
		</div>
	</div>

	<div class="social_nav_wrap">
		<div class="fs-row">
			<!-- Social Nav Mobile -->
			<div class="fs-cell">
				<nav class="social_nav clearfix fs-xs-full fs-md-hide fs-lg-hide">
					<ul id="menu-social-navigation-1" class="menu">
						<li id="menu-item-62-1" class="facebook menu-item menu-item-type-custom menu-item-object-custom menu-item-62">
							<a href="#">Facebook</a>
						</li>
						<li id="menu-item-63-1" class="twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-63">
							<a href="#">Twitter</a>
						</li>
						<li id="menu-item-64-1" class="youtube menu-item menu-item-type-custom menu-item-object-custom menu-item-64">
							<a href="#">YouTube</a>
						</li>
						<li id="menu-item-65-1" class="linkedin menu-item menu-item-type-custom menu-item-object-custom menu-item-65">
							<a href="#">LinkedIn</a>
						</li>
						<li id="menu-item-66-1" class="pinterest menu-item menu-item-type-custom menu-item-object-custom menu-item-66">
							<a href="#">Pinterest</a>
						</li>
						<li id="menu-item-67-1" class="flickr menu-item menu-item-type-custom menu-item-object-custom menu-item-67">
							<a href="#">Flickr</a>
						</li>
						<li id="menu-item-68-1" class="googleplus menu-item menu-item-type-custom menu-item-object-custom menu-item-68">
							<a href="#">Google+</a>
						</li>
					</ul>
				</nav>
			</div>
			<!-- END: Social Nav Mobile -->
		</div>
	</div>

	<div class="copyright_wrap">
		<div class="fs-row">
			<!-- Copyright Mobile -->
			<div class="fs-cell fs-xs-full fs-md-hide fs-lg-hide fs-xl-hide">
				<p class="copyright">Copyright &copy; 2015 Fielding Graduate University</p>
			</div>
			<!-- END: Copyright Mobile -->
		</div>
	</div>

</footer>

