<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">

	<!-- Page Attributes -->
	<title>@@title | Fielding Graduate University</title>
	<meta name="description" content="">

	<!-- Modernizer -->
	<script src="../../js/modernizr.js"></script>
	
	<!-- Fonts -->
	<script type="text/javascript" src="http://fast.fonts.net/jsapi/596182cd-25b8-4d66-80e0-b5e49568befb.js"></script>

	<!-- Compiled CSS -->
	<!--[if gt IE 8]><!--><link rel="stylesheet" href="../../css/header-footer.css"><!--<![endif]-->

	<!--[if IE 8]>
		<script>var IE8 = true;</script>
		<script src="../js/site-ie8.js"></script>
		<link rel="stylesheet" href="../../css/ie8-header-footer.css">
	<![endif]-->
	<!--[if IE 9]>
		<script>var IE9 = true;</script>
		<script src="../js/site-ie9.js"></script>
		<link rel="stylesheet" href="../../css/site-ie9.css">
	<![endif]-->
</head>
