	<!-- Mobile Navigation -->

	<div class="mobile_navigation js-mobile_navigation" aria-hidden="true" data-navigation-handle=".js-mobile_handle" data-navigation-content=".js-navigation_push" data-navigation-options='{"gravity":"right","labels":{"open":"","closed":""},"type":"overlay"}'>

		<a href="index.html" class="logo_main" itemscope="" itemtype="http://schema.org/CollegeOrUniversity">
			<span class="hide" itemprop="name">Fielding Graduate University</span>
		</a>

		<!-- Mobile Nav Controls -->
		<button class="mobile_navigation_handle js-mobile_handle close_button"></button>
		<!-- END: Mobile Nav Controls -->

		<!-- Site Search -->
		<div class="search_wrap">
			<form action="#" class="search_form">
				<input type="text" class="search_input" placeholder="Search...">
				<input type="hidden" class="search_submit" value="Go">
				<button class="search_submit icon_text" type="submit">Search</button>
			</form>
		</div>
		<!-- END: Site Search -->

		<!-- Main Nav -->
		<nav class="main_nav clearfix" aria-labelledby="main_nav_label">
			<h2 class="visually_hidden" id="main_nav_label">Main Navigation</h2>
			<div class="main_nav_inner">
				<div class="main_nav_group">
					<div class="main_nav_list" role="navigation">
						<ul id="menu-main-navigation" class="menu">
							<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-35">
								<a rel="page" href="#">Degrees</a>
								<div class="sub-menu">
									<ul class="sub-menu-list">
										<li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-41 current_page_item menu-item-48 has-subdropdown">
											<a rel="page" href="#">Doctoral Degrees</a>
											<div class="sub-sub-menu">
												<span class="sub-sub-label">Psychology</span>
												<ul class="sub-sub-list">
													<li>
														<a href="#">PhD in Clinical Psychology</a>
													</li>
													<li>
														<a href="#">PhD in Media Psychology</a>
													</li>
												</ul>
												<span class="sub-sub-label">Education</span>
												<ul class="sub-sub-list">
													<li>
														<a href="#">PhD in Infant & Early Childhood Development</a>
													</li>
													<li>
														<a href="#">EdD in Leadership for Change</a>
													</li>
												</ul>
												<span class="sub-sub-label">Leadership</span>
												<ul class="sub-sub-list">
													<li>
														<a href="#">PhD in Organization Development & Change</a>
													</li>
													<li>
														<a href="#">PhD in Human Development</a>
													</li>
													<li>
														<a href="#">PhD in Infant & Early Childhood Development</a>
													</li>
												</ul>
											</div>
										</li>
										<li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49">
											<a rel="page" href="#">Master's Degrees</a>
										</li>
										<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
											<a rel="page" href="#">Certificates</a>
										</li>
										<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
											<a rel="page" href="#">Individual Courses</a>
										</li>
									</ul>
									<ul class="sub-menu-buttons">
										<li>
											<a href="">View All Programs</a>
										</li>
									</ul>
								</div>
							</li>
							<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
								<a rel="page" href="#">Admissions</a>
							</li>
							<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37">
								<a rel="page" href="#">Financing</a>
							</li>
							<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39">
								<a rel="page" href="#">About</a>
							</li>
							<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38">
								<a rel="page" href="#">Fielding Advantage</a>
							</li>
							<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39">
								<a rel="page" href="#">Alumni</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<!-- END: Main Nav -->

		<!-- Button Nav -->
		<div class="button_nav_wrap">
			<nav class="button_nav" aria-labelledby="button_nav_label">
				<h2 class="visually_hidden" id="button_nav_label">Button Navigation</h2>
				<div class="button_nav_list clearfix" role="navigation">
					<ul id="menu-utility-navigation-1" class="menu">
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
							<a href="#">Request Info</a>
						</li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
							<a href="#">Apply Now</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- END: Secondary Nav -->

		<!-- Secondary Nav -->
		<div class="secondary_nav_wrap">
			<nav class="secondary_nav" aria-labelledby="secondary_nav_label">
				<h2 class="visually_hidden" id="secondary_nav_label">Secondary Navigation</h2>
				<div class="secondary_nav_list clearfix" role="navigation">
					<ul id="menu-utility-navigation-1" class="menu">
						<li class="chat menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
							<a href="#">Live Chat</a>
						</li>
						<li class="phone menu-item menu-item-type-post_type menu-item-object-page menu-item-31">
							<a href="#">555-555-5555</a>
						</li>
						<li class="calendar menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
							<a href="#">Calendar</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- END: Secondary Nav -->

		<!-- Quick Nav -->
		<div class="quick_nav_wrap">
			<nav class="quick_nav" aria-labelledby="quick_nav_label">
				<h2 class="visually_hidden" id="quick_nav_label">Quick Navigation</h2>
				<div class="quick_nav_list clearfix" role="navigation">
					<ul id="menu-utility-navigation-1" class="menu">
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33 has-dropdown">
							<span>Schools</span>
							<ul>
								<li>
									<a href="#">Dropdown</a>
								</li>
								<li>
									<a href="#">Dropdown</a>
								</li>
								<li>
									<a href="#">Dropdown</a>
								</li>
								<li>
									<a href="#">Dropdown</a>
								</li>
								<li>
									<a href="#">Dropdown</a>
								</li>
								<li>
									<a href="#">Dropdown</a>
								</li>
							</ul>
						</li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32 has-dropdown">
							<span>News & Media</span>
							<ul>
								<li>
									<a href="#">Dropdown</a>
								</li>
								<li>
									<a href="#">Dropdown</a>
								</li>
								<li>
									<a href="#">Dropdown</a>
								</li>
								<li>
									<a href="#">Dropdown</a>
								</li>
								<li>
									<a href="#">Dropdown</a>
								</li>
								<li>
									<a href="#">Dropdown</a>
								</li>
							</ul>
						</li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
							<a href="#">Fielding Press</a>
						</li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
							<a href="#">My Fielding</a>
						</li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
							<a href="#">Giving</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- END: Quick Nav -->

	</div>
	<!-- END: Mobile Navigation -->
