<header class="page_header page_header_image margined_lg">

	<div class="js-background" data-background-options='{"source":{"0px": "http://spacehold.it/500x400/fielding/1.jpg", "500px": "http://spacehold.it/740x550/fielding/1.jpg", "740px": "http://spacehold.it/980x730/fielding/1.jpg", "980px": "http://spacehold.it/1220x910/fielding/1.jpg", "1220px": "http://spacehold.it/1440x1070/fielding/1.jpg"}}'>

		<div class="page_header_background" style="background-image: url(http://spacehold.it/1440x1070/fielding/1.jpg);"></div>

		<div class="page_header_content">
			<div class="fs-row">
				<div class="typography page_header_copy">
					<h1>@@heading</h1>
					<p class="intro">@@page_header</p>
				</div>
			</div>
		</div>

	</div>

</header>
