{#
	{% include "../partials/google-search.twig" with {
		items: [
			{
				title: "<strong>The Beatles</strong>",
				caption: "Detailed history with information on their music, movies, news, and latest projects. Images, related links, and a showcase for their albums.ails",
				link: "www.thebeatles.com/"
			},
			{
				title: "<strong>The Beatles</strong> - Wikipedia",
				caption: "The Beatles were an English rock band, formed in Liverpool in 1960. With members John Lennon, Paul McCartney, George Harrison and Ringo Starr, they...",
				link: "https://en.wikipedia.org/wiki/The_Beatles"
			}
		],
		pages: 8
	} %}
#}

<!-- Site Map Search -->
<div class="search_field_block">
	<div class="fs-row">
		<div class="fs-cell fs-xl-10 fs-all-justify-center">
			<div class="search_field_inner">
				{% include "../partials/search.twig" with {
					modifier: "results",
					placeholder: "Search",
					buttonText: "submit"
				} %}
			</div>
		</div>
	</div>
</div>

<!-- END: Site Map Search -->
